<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="frag (headerImg)">
    <div class="header" id="header">
        <div class="head-left">项目管理</div>
        <div class=" header-middle">
            <input type="text"  class="layui-input search-input boxsizing"/>
            <i class="layui-icon layui-icon-search search" style="font-size: 25px; color: #AAAAAA;"></i>
        </div>
        <div class="head-right">
            <span class="layui-breadcrumb" lay-separator="|">
                <a href="">我的</a>
                <a href="">新建</a>
                <a href="">日历</a>
                <a href="">消息</a>
                <a href="">帮助</a>
            </span>
        </div>

        <!--右侧固定的头像与菜单栏-->
        <div class="head-photo-wrap">
            <img th:src="#{IMAGE_SERVER} + ${headerImg}" class="head-photo"/>

            <div class="vertical-nav">
                <ul>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">创建企业</a>
                    </li>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">个人项目</a>
                    </li>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">账号设置</a>
                    </li>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">偏好设置</a>
                    </li>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">切换至国际服务器</a>
                    </li>
                    <li class="boxsizing">
                        <span></span>
                        <a href="">退出登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</html>