/*添加任务界面*/
.new-assignment-wrap{

}
.new-assignment{
    width: 600px;
    padding: 27px 32px;
    background-color: white;
    overflow-y: scroll;
    height: 600px;

}
.new-assignment::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.close-assignment{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.close-assignment:hover{
    color: #017ECA !important;
}
.rw-content{
    width: 100%;
    height: 90px;
    padding: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 20px;
    z-index: 20;
}
.who-create{
    width: 100%;
    height: 25px;
    margin-top: 25px;
}
.who-create img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}
.who-create span{
    line-height: 25px;
    font-size: 14px;
    float: left;
}
.abox{
    width: 100%;
    height: 18px;
    margin-top: 15px;
}
.abox img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 18px;
    float: left;
}
.abox span{
    line-height: 18px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.begin-time input,.over-time input{
    float: left;
    width: 200px;
    height: 18px;
    border: 0 none;
    padding-left: 0;
    cursor: pointer;
}
.begin-time input::placeholder{
    color: black;
}
.over-time input::placeholder{
    color: black;
}
.norepeat select{
    float: left;
    height: 18px;
    width: 200px;
}
.norepeat .layui-unselect,.layui-form-select{
    float: left;
    height: 18px;
    width: 200px;
}
.norepeat .layui-unselect,.layui-form-select input{
    padding-left: 0;
    border: 0 none;
    color: black;
}
.norepeat .layui-unselect,.layui-form-select input::placeholder{
    color: black;
}
.norepeat .layui-edge{
    display: none;
}
.norepeat .layui-form-select dl{
    /*top: 30px;*/
}
.noremand select{
    float: left;
    height: 18px;
    width: 200px;
}
.noremand .layui-unselect,.layui-form-select{
    float: left;
    height: 18px;
    width: 200px;
}
.noremand .layui-unselect,.layui-form-select input{
    padding-left: 0;
    border: 0 none;
    color: black;
}
.noremand .layui-unselect,.layui-form-select input::placeholder{
    color: black;
}
.noremand .layui-edge{
    display: none;
}
.noremand .layui-form-select dl{
    top: 30px;
}
.pri{
    margin-top: 15px;
    height: 36px;
}
.layui-input-block{
    margin-left: 30px;
}
.label{
    float: left;
    width: 200px;
    height: 32px;
    background-color: #F8F8F8;
    border: 0 none;
}
.add-bq{
    height: 32px;
}
.add-bq img{
    margin-top: 5px;
}

.heng-line{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 20px;
}
.cyz{
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
}
.work-people{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.one-work-people{
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin-right: 8px;
    float: left;
    border-radius: 50%;
}
.one-work-people:hover{
    border: 1px solid #3da8f5;
}
.one-work-people:nth-of-type(1):hover{
    border: 0 none;
}
.one-work-people:hover .remove-work-people{
    display: block;
}
.one-work-people:nth-of-type(1):hover .remove-work-people{
    display: none;
}
.work-people img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.remove-work-people{
    position: absolute;
    right: -5px;
    top: -4px;
    cursor: pointer;
    display: none;
}
.add-work-people{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}
.add-work-people img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.secret{
    height: 40px;
    position: relative;
    color: #9F9F9F;
}
.layui-form-switch{
    margin-top: 0;
}
.switch{
    float: right;
}
.who-can-see{
    position: absolute;
    bottom: 0;
    left: 38px;
}
.layui-form-onswitch{
    background-color: #017ECA;
    border-color: #017ECA;
}
.new-assignment-ok{
    background-color: #017ECA;
    width: 195px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 20px;

}
.layui-btn{
    display: block;
}
