
.create-rc{
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 0 16px;
}
.create-rc-title{
    width: 100%;
    height: 48px;
    position: relative;
    font-size: 15px;
    line-height: 48px;
    border-bottom: 1px solid #E5E5E5;
}
.project-names{
    color: gray;
    margin-left: 5px;
}
.create-rc-title .selected{
    opacity: 0;
}
.create-rc-title .layui-unselect.layui-form-select{
    float: left;
    width: 220px;
    height: 48px;
    line-height: 48px;
}
.create-rc-title .layui-form-select .layui-input{
    border: 0 none;
    color: gray;
    margin-top: 4px;
}
.create-rc-title .layui-form-select .layui-input:hover{
    color: #3da8f5;
}
.create-rc-title .layui-form-select .layui-edge{
    display: none;
}
.create-rc-title span{
    float: left;
}
.create-rc-title i{
    position: absolute;
    right: 0;
    cursor: pointer;

}
.create-rc-title i:hover{
    color: #3da8f5 !important;
}
.rc-title{
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    resize: none;
    margin: 16px 0;
}

/*选择时间 部分 开始*/
.who-and-time{
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    position: relative;
}
.allday{
    float: left;
    height: 25px;
    line-height: 25px;
}
.who-wrap,.no-renling{
    float: left;
    padding: 5px 10px;
    height: 25px;
    position: relative;
    border-radius: 15px;
    margin-top: -5px;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 15px;
}
.no-renling span{
    float: left;
}
.who-wrap:hover{
    background-color: #f5f5f5;
}
.who-wrap:hover .remove-who-wrap{
    display: block;
}
.remove-who-wrap{
    position: absolute;
    top: -7px;
    right: -3px;
    display: none;
}
.no-people-img{
    float: left;
    margin-right: 5px;
}
.no-renling{
    display: none;
}
.no-renling:hover span{
    color: #3da8f5;
}
.who-and-time img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}
.who-and-time span{
    line-height: 25px;
    font-size: 14px;
    float: left;
}
.time-wrap{
    width: 130px;
    height: 25px;
    float: left;
}
.time-wrap input{
    height: 25px;
    border: 0 none;
    padding-left: 0;
    cursor: pointer;
    line-height: 25px;
    float: left;
    width: 105px;
}
.time-wrap input::placeholder{
    color: black;
}
.time-wrap>img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.no-repeat>img,.no-remand>img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    position: absolute;
    top: 0px;
    left: 0;
}
.no-repeat,.no-remand{
    float: left;
    width: 30px;
    position: relative;
}
.no-repeat .layui-select-title{
    opacity: 0;
}
.no-remand .layui-select-title{
    opacity: 0;
}
/*选择时间 部分结束*/

.fonts{
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 20px;
}
/*参与者 开始*/
.cyz{
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
}
.work-people{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.one-work-people{
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin-right: 8px;
    float: left;
    border-radius: 50%;
}
.one-work-people:hover{
    border: 1px solid #3da8f5;
}
.one-work-people:nth-of-type(1):hover{
    border: 1px solid white;
}
.one-work-people:hover .remove-work-people{
    display: block;
}
.one-work-people:nth-of-type(1):hover .remove-work-people{
    display: none;
}
.work-people img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.remove-work-people{
    position: absolute;
    right: -5px;
    top: -4px;
    cursor: pointer;
    display: none;
}
.add-work-people{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}
.add-work-people img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/*参与者结束*/

.footer{
    width: 100%;
    height: 70px;
    padding: 15px;

}
.foot-left{
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: gray;
}
.foot-left img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.click-see{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}
.click-see:hover{
    color: #3da8f5;

}
.create-ok{
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #d9d9d9;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}
.create-ok:hover{
    opacity: 0.8;
}