
.clone-project{
    width: 800px;
    height: 541px;
    background-color: #F7F7F7;
}
.clone-project-title{
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.12)
}
.clone-project-title h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.clone-project-content{
    width: 100%;
    height: 410px;
}
.clone-project-left{
    width: 200px;
    height: 410px;
    color: gray;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}
.clone-project-left::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.title-font{
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    line-height: 20px;
    margin: 5px 0;
}
.star-task li,.personal-task li{
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    line-height: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #383838;
}
.star-task li:hover{
    background-color: #eee;
}
.personal-task li:hover{
    background-color: #eee;
}
.personal-task .selected{
    background-color: #3DA8F5;
    color: white;
}
.personal-task .selected:hover{
    background-color: #3DA8F5;
}
.clone-project-right-box{
    float: left;
    width: 600px;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.clone-project-right{
    min-width: 600px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
.clone-project-right::-webkit-scrollbar{

}
.column{
    min-width: 220px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    overflow-x: hidden;
    overflow-y: auto;
}
.column::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.create-wjj-wrap{
    width: 100%;
    line-height: 36px;
}
.create-wjj-wrap i{
    margin-top: 16px;
    margin-left: 16px;
    cursor: pointer;
}
.create-wjj-wrap i:hover{
    color: #3DA8F5 !important;
}
.clone-project-right ul li{
    width: 100%;
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
}
.clone-project-right ul li:hover{
    background-color:  #3DA8F5;
    color: white;
}
.clone-project-right ul li:hover i{
    color: white !important;
}
.new-wjj{
    width: 100%;
    height: 40px;
    padding: 0 12px 8px 16px;
    display: none;
}
.new-wjj input{
    width: 90%;
    height: 100%;
    padding-left: 5%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.clone-project-foot{
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 16px 20px;
}
.clone-project-foot p{
    float: left;
    line-height: 30px;
    color: gray;

}
.clone-ok{
    float: right;
    width: 100px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #3DA8F5;
    color: white;
    cursor: pointer;
}
.clone-ok:hover{
    opacity: 0.8;
}
.clone-no{
    width: 80px;
    height: 38px;
    line-height: 38px;
    float: right;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}