/*头部*/
.header{
    width: 90%;
    height: 50px;
   padding: 0 5%;
    background-color: white;
    line-height: 50px;
    /*position: relative;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.head-left{
    font-size: 16px;
    float: left;
}
.header-middle{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
}
.header-middle .search-input{
    width: 300px;
    height: 35px;
    margin-top: 7px;
    padding-left: 35px;
    background-color: #EEEEEE;
    border-radius: 5px;
}
.search{
    position: absolute;
    left: 5px;
    top: 7px;
    line-height: 35px;
}
.head-right{
    float: right;
    line-height: 50px;
    margin-right: 60px;
}
.head-right .layui-breadcrumb a:hover{
    color: #017ECA !important;
}
/*右侧头像和下拉栏*/
.head-photo-wrap{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 5px;
    right: 5%;
    z-index: 100;

}
.head-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}
.head-photo-wrap:hover .vertical-nav{
    display: block;
}
.vertical-nav{
    width: 230px;
    height: 345px;
    position: fixed;
    top: 45px;
    right: 5%;
    background-color: white;
    display: none;
    z-index: 100;
}
.vertical-nav li{
    width: 100%;
    height: 30px;
    margin-top: 25px;
    padding-left: 60px;
    position: relative;
    line-height: 30px;
    font-size: 12px;
}
.vertical-nav li:hover span{
    display: block;
}
.vertical-nav li span{
    width:0px;
    height:0px;
    border-bottom: 11px solid #4A90E2;
    border-right:6px solid transparent;
    border-top:5px solid transparent;
    border-left:6px solid transparent;
    position: absolute;
    top: 5px;
    left: 26px;
    display: none;
}
/*顶部*/
.toper-wrap{
    width: 100%;
    padding: 0 2.5%;
    height: 50px;
    box-shadow: 0 5px 3px #F1F0F0;
    line-height: 50px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #FEFCFC;
}
.toper-left{
    height: 100%;
    float: left;
    line-height: 50px;
}
.toper-left>a{
    color: #393939;
    font-size: 16px;
    margin: 0 5px;
}
.toper-left>a:hover{
    color: #017ECA;
}
.toper-right{
    float: right;
    height: 100%;
}
.toper-right span{
    cursor: pointer;
    color: #393939;
    font-size: 16px;
}
.toper-right span:nth-of-type(1){
    margin-right: 20px;
}
.toper-right span:hover{
    color: #017ECA;
}
.toper-nav{
    width: 470px;
    height: 100%;
   position: absolute;
    top: 0;
    left: 50%;
    margin-left: -235px;
}
.toper-nav li{
    float: left;
    margin-right: 34px;
    height: 48px;
    font-size: 16px;
}
.toper-nav li:nth-of-type(1){
    margin-right: 10px;
}
.toper-nav li:hover{
   border-bottom: 2px solid #017ECA;
}
.toper-nav li.now{
    border-bottom: 2px solid #017ECA;
}
.toper-nav li.now a{
    color: #017ECA;
}
.toper-nav li:hover a{
    color: #017ECA;
}
.toper-nav ul>div{
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}
.toper-nav ul>div span{
    font-size: 20px;
    color: #C3C2C2;
}
/*点击菜单出现的项目菜单区域*/
.project-menu{
    width: 380px;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
    position: fixed;
    right: 0;
    top: 100px;
    padding: 0 20px;
}
.menu-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #F4F4F4;
    margin-bottom: 15px;
}
.close-menu{
    position: absolute;
    font-size: 14px;
    color: #BCBCBC;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 20;
}
.menu-list{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 24px;
    font-size: 14px;
}
.menu-list img{
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-top: 1px;
}
.menu-list span{
    float: left;
    cursor: pointer;
}
.menu-list span:hover{
    color: #017ECA;
}
.pro-evolve{
    width: 90%;
    height: 115px;
    margin-left: 5%;
    background-color: gray;
}
.pro-trends{
    width: 100%;
    padding: 0 35px;
}
.trends-list{
    width: 100%;
    height: 50px;
    font-size: 12px;
    position: relative;
    line-height: 15px;
    margin-bottom: 20px;

}
.trends-list-left{
    width: 50px;
    height: 100%;
    float: left;
}
.trends-list-left img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
}
.trends-list-right{
    width: 200px;
    height: 100%;
    float: left;
}
.who-trends-name{
    color: #017ECA;
}
.trends-time{
    color: #CDCDCD;
    margin-top: 5px;
}

/*点击 我的 出现的顶部*/
.my-toper{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #EEEEEE;
    line-height: 50px;
}
.my-toper>i{
    position: absolute;
    margin-right: 30px;
    right: 0;
    top: 0;
    cursor: pointer;
}
.my-toper>i:hover{
    color: #3da8f5 !important;
}
.my-nav-wrap{
    width: 380px;
    height: 100%;
    margin: 0 auto;
}
.my-nav-wrap li{
    float: left;
    line-height: 49px;
    font-size: 14px;
    margin-right: 50px;
    cursor: pointer;
}
.my-nav-wrap li:hover{
    color: #017ECA;
    border-bottom: 1px solid #017ECA;
}
.my-nav-wrap li.now{
    color: #017ECA;
    border-bottom: 1px solid #017ECA;
}
.my-nav-wrap li:nth-last-child(1){
    margin-right: 0;
}