html,body,div,h1,h2,h3,h4,h5,h6,ul,li,p{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
img{
    border: 0 none; /*在ie低版本中会有一个默认的1px边框*/
}
a{
    text-decoration: none; /*清除下划线*/
    cursor: pointer;
}
.boxsizing{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*清除浮动*/
.clearfix:after{
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    /*隐藏占位置*/
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}
.sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}
.close-tk{
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.close-tk:hover{
    color: #3da8f5 !important;
}
.over-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}