.file-box{
    width: 60%;
    min-height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 46px;
    position: relative;
}
.file-toper{
    width: 100%;
    height: 55px;
    font-size: 14px;
    border-bottom: 1px solid #D5D5D5;
}
.file-toper span{
    height: 55px;
    line-height: 60px;
    cursor: pointer;
    margin-right: 50px;
}
.file-toper span.now{
    color: #1589CF;
}
.file-title{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #D5D5D5;
    line-height: 60px;
    text-align: center;
}
/*列表模式 新建文件*/
.new-file{
    width: 100%;
    height: 40px;
    margin:10px 0;
}
.new-file input{
    float: left;
}
.new-file img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.new-file .new-file-input{
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #f5f5f5;
    background-color: white;
    margin-top: 5px;
}

/*文件 缩略图模式显示*/
.img-show{
    width: 100%;
    margin-top: 20px;
    text-align: left;
}
.one-file-wrap{
    display: inline-block;
    width: 162px;
    height: 210px;
    margin: 5px 17px 12px 0;
    float: left;

}

.new-file-wrap{
    display: inline-block;
    width: 164px;
    height: 210px;
    margin: 5px 17px 12px 0;
    float: left;
}
.one-file-name{
    height: 46px;
    width: 100%;
    line-height: 46px;
    text-align: center;
}
.one-file-name input{
    width: 100%;
    height: 30px;
    text-align: center;
}
.one-file{
    width: 164px;
    height: 164px;
    border: 1px solid #e5e5e5;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.one-file .layui-form-checkbox[lay-skin=primary]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.one-file:hover .layui-form-checkbox[lay-skin=primary]{
    opacity: 1;
}
.one-file>img{
    width: 64px;
    height: 64px;
    margin: auto;
}
.one-file:hover div{
    opacity: 1;
}
.one-file:hover i{
    opacity: 1;
}
.img-show-download{
    position: absolute;
    bottom: 20px;
    left: 55px;
    opacity: 0;
}
.img-show-download:hover{
    color: #3da8f5 !important;
}
.img-show-more{
    position: absolute;
    bottom: 20px;
    left: 85px;
    opacity: 0;
}
.img-show-more:hover{
    color: #3da8f5 !important;
}
.img-show-operate{
    position: absolute;
    bottom: 23px;
    left: 85px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px;
   border: 1px solid #a6a6a6;
    border-radius: 50%;
    opacity: 0;
}
.img-show-operate:hover i{
    color: #3da8f5 !important;
}
.check-all-file{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #D5D5D5;
}
.check-all-file>div{
    margin-top: 7px;
}
.file-caozuo-wrap{
    float: left;
}
.file-caozuo{
    float: left;
    margin-left: 20px;
    cursor: pointer;
   line-height: 35px;
}
.file-caozuo:hover{
    color:  #3da8f5;
}
.file-caozuo:hover i{
    color:  #3da8f5 !important;
}