html,body{
    background-color: #FEFCFC;
}

.content{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}
.titles{
    width: 100%;
    font-size: 16px;
    line-height: 40px;
}

.complete-wrap,.possess-wrap,.partake-wrap,.recycle-bin-wrap{
    margin-top: 40px;
}
.content-list{
    width: 100%;
}
.recycle-bin-wrap .titles span{
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.recycle-bin-wrap .titles span:hover{
    color: #43A0D8;
}


.content-list ul li{
    height: 180px;
    border-radius: 5px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-origin: content-box;
    position: relative;
    cursor: pointer;
    transition:top 0.5s;
    -webkit-transition:top 0.5s; /* Safari */
    top: 0;
}
.content-list ul li:hover{
    top: -5px;
}
.describe{
    width: 100%;
    height: 100%;
    padding: 8% 8% 8% 10%;
    position: relative;
    overflow: hidden;
}
.describe h3{
    width: 100%;
    height: 30%;
    font-size: 14px;
    color: white;
    font-weight: normal;
}
.describe-title{
    width: 76%;
    float: left;
    color: white;
}
.describe p{
    height: 70%;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: white;

}
.describe h3 .tools{
    float: right;
    display: none;
}
.describe:hover .tools{
    display: block;
}
.describe:hover .newdt{
    margin-right: 5px;
}
.newdt{
    float: right;
   margin-top: 5px;
}
 .special-li{
     width: 100%;
     height: 100%;
    background-color: #EEEEEE;
     padding-top: 40px;
}
.special-li img{
     width: 36px;
     height: 36px;
     display: block;
     margin: 0 auto;
 }
 .add-font{
     width: 100%;
     margin-top: 20px;
     font-size: 16px;
     color: black;
     text-align: center;
     font-weight: 300;
 }
.special-li .addnow{
     display: none;
 }
.special-li:hover .addnow{
    display: block;
}
.special-li:hover .add{
    display: none;
}

.special-li:hover .add-font{
    color: #4A90E2;
}
.kong{
    width: 100px;
    height: 115px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}
/*创建新项目弹出层的样式*/
.newobj{
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 15px;
}
.newobj-title{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    position: relative;
}
.newobj-title .return-select-tpl{
    position: absolute;
    left: 5px;
    cursor: pointer;
}
.newobj-title i:hover{
    color: #3da8f5 !important;
}
.newobj-title .close-tk{
    position: absolute;
    right: 5px;
}
.newobj-title img{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 12px;
    margin-top: 10px;
}
.bigimg{
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #017ECA;
    text-align: center;
}
.obj-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 0 none;
    background-color: #EEEEEE;
    border-radius: 5px;
}
.creat-ok{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #017ECA;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}
@media screen and (max-width: 1920px) {
    .content-list ul li{
        height: 220px;
    }
}
@media screen and (max-width: 1500px) {
    .content-list ul li{
        height: 200px;
    }
}
@media screen and (max-width: 1366px) {
    .content-list ul li{
        height: 180px;
    }
}