html,body{
    background-color: #FEFCFC;

}
body{
    /*overflow-x: scroll;*/
    white-space: nowrap;
}

.content-wrap-wrap{
    /*margin-top: 25px;*/
    /*position: relative;*/
    /*margin-left: 2.5%;*/
    position: fixed;
    top: 125px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}
.content-wrap{
    position: relative;
    height: 100%;
    border: 0 solid #e5e5e5;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.content{
    position: relative;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.content::-webkit-scrollbar{
    width: 1px;
    height: 10px;
    background-color: 	#F8F8FF;
}
.content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ADD8E6;
}
.model{
    width: 280px;
    margin-right: 20px;
    min-height: 500px;
    background-color: #EEEEEE;
   /*display: inline-block;*/
    padding: 15px 10px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    vertical-align: top;
    /*height: 100%;*/
    z-index: 1;

}

.ul-wrap{
    /*overflow: auto;*/
    /*overflow-x: visible;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*width: 270px;*/
}
/*.ul-wrap::-webkit-scrollbar{*/
    /*width: 1px;*/
    /*height: 100%;*/
/*}*/
.model .ul-wrap>ul{
    width: 260px;
    min-height: 20px;

}
.model:nth-of-type(6){
    margin-right: 0;
}
.model-title{
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #B5B5B5;
    position: relative;
}

/*点击下箭头出现的内容 开始*/
.lbmenu{
    width: 250px;
    height: 150px;
    position: absolute;
    right: -120px;
    bottom: -140px;
    background-color: white;
    z-index: 50;
    box-shadow: 0 0 15px #C4C4C4;
    border-radius: 5px;
    display: none;
}
.lbmenu-title{
    width: 210px;
    margin: 0 20px;
    position: relative;
    height: 44px;
}
.lbmenu-title p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #383838;
}
.lbmenu-close{
    position: absolute;
    right: 0px;
    top: 13px;
    font-weight: 800;
    cursor: pointer;
}
.lbmenu-close:hover{
    color: #80BEE4 !important;
}
.lbmenu-add,.lbmenu-remove{
    width: 100%;
    height: 40px;
    border-top: 1px solid #e5e5e5;
    padding: 5px 0;
}
.lbmenu-add-content{
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 14px;
    text-indent: 2em;
    line-height: 40px;
    cursor: pointer;
}
.lbmenu-add-content:hover{
    background-color: #f5f5f5;
}
/*点击下箭头出现的内容 结束*/

/*每一个任务*/
.add-new-model{
    float: right;
    cursor: pointer;
}
.assignment{
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}
.line{
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #a6a6a6;
    opacity: 0;
    transition: all 218ms ease-in;
}
.assignment:hover .line{
    width: 6px;
    opacity: 1;
}
.tags{
    width: 100%;
    padding: 6px 6px 0 7px;
}
.one-tag{
    background-color: #80BEE4;
    color: white;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    width: 10px;
    height: 10px;
    transition: all 0.5s;
    text-indent: 3em;
}
.one-tag:hover{
    width: 60%;
    height: 15px;
    border-radius: 2px;
    text-indent: 0;
}
.assignment-top-box{
    width: 100%;
    padding: 6px 10px 6px 7px;
    overflow: hidden;
}
.assignment-top-box .layui-form-checkbox[lay-skin=primary]{
    float: left;
}
.assignment-top-box .layui-form-checkbox[lay-skin=primary] i{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: 3px;
}
.is-sure{
    width: 14px;
    height: 14px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 3px;
}
.assignment-title{
    font-size: 14px;
    line-height: 24px;
    margin-left: 8px;
    float: left;
    width: 70%;
}
.assignment-tx{
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.assignment-bottom-box{
    width: 100%;
    height: 30px;
    position: relative;
}
.timer{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: #80BEE4;
    padding: 0 5px;
    margin-left: 30px;
    color: white;
    display: inline-block;
    border-radius: 2px;
}
.dates{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 38px;
    height: 15px;
    font-size: 12px;
    background-color: #F8F8F8;
    text-align: center;
    color: #BDBDBD;
}
/*添加任务按钮*/
.add-assignment{
    width: 100%;
    height: 43px;
    background-color: white;
    cursor: pointer;

}

.add-icon{
    margin-left: 12px;
    line-height: 43px;
    float: left;
}
.add-assignment span{
    font-size: 16px;
    color: #80BEE4;
    margin-left: 10px;
    line-height: 43px;
    float: left;
}
/*添加任务界面*/
.new-assignment-wrap{

}
.new-assignment{
    width: 460px;
    padding: 27px 32px;
    background-color: white;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*margin-left: -230px;*/
    box-shadow: 0 0 15px #C4C4C4;
   /*overflow: scroll;*/
    /*height: 100%;*/

}
/*.new-assignment::-webkit-scrollbar{*/
    /*width: 1px;*/
    /*height: 100%;*/
/*}*/
.close-assignment{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.close-assignment:hover{
    color: #017ECA !important;
}
.rw-content{
    width: 100%;
    height: 90px;
    padding: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 20px;
    z-index: 20;
}
.who-create{
    width: 100%;
    height: 25px;
    margin-top: 25px;
}
.who-create img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}
.who-create span{
    line-height: 25px;
    font-size: 14px;
    float: left;
}
.abox{
    width: 100%;
    height: 18px;
    margin-top: 15px;
}
.abox img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 18px;
    float: left;
}
.abox span{
    line-height: 18px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.begin-time input,.over-time input{
    float: left;
    width: 200px;
    height: 18px;
    border: 0 none;
    padding-left: 0;
    cursor: pointer;
}
.begin-time input::placeholder{
    color: black;
}
.over-time input::placeholder{
    color: black;
}
.no-repeat select{
    float: left;
    height: 18px;
    width: 200px;
}
.no-repeat .layui-unselect,.layui-form-select{
    float: left;
    height: 18px;
    width: 200px;
}
.no-repeat .layui-unselect,.layui-form-select input{
    padding-left: 0;
    border: 0 none;
    color: black;
}
.no-repeat .layui-unselect,.layui-form-select input::placeholder{
    color: black;
}
.no-repeat .layui-edge{
    display: none;
}
.no-repeat .layui-form-select dl{
    /*top: 30px;*/
}
.no-remand select{
    float: left;
    height: 18px;
    width: 200px;
}
.no-remand .layui-unselect,.layui-form-select{
    float: left;
    height: 18px;
    width: 200px;
}
.no-remand .layui-unselect,.layui-form-select input{
    padding-left: 0;
    border: 0 none;
    color: black;
}
.no-remand .layui-unselect,.layui-form-select input::placeholder{
    color: black;
}
.no-remand .layui-edge{
    display: none;
}
.no-remand .layui-form-select dl{
    top: 30px;
}
.pri{
    margin-top: 15px;
    height: 36px;
}
.layui-input-block{
    margin-left: 30px;
}
.label{
    float: left;
    width: 200px;
    height: 32px;
    background-color: #F8F8F8;
    border: 0 none;
}
.add-bq{
    height: 32px;
}
.add-bq img{
    margin-top: 5px;
}

.heng-line{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 20px;
}
.cyz{
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
}
.work-people{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.one-work-people{
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin-right: 8px;
    float: left;
    border-radius: 50%;
}
.one-work-people:hover{
    border: 1px solid #3da8f5;
}
.one-work-people:hover .remove-work-people{
   display: block;
}
.work-people img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.remove-work-people{
    position: absolute;
    right: -5px;
    top: -4px;
    cursor: pointer;
    display: none;
}
.add-work-people{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.add-work-people img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.secret{
    height: 40px;
    position: relative;
    color: #9F9F9F;
}
.layui-form-switch{
    margin-top: 0;
}
.switch{
    float: right;
}
.who-can-see{
    position: absolute;
    bottom: 0;
    left: 38px;
}
.layui-form-onswitch{
    background-color: #017ECA;
    border-color: #017ECA;
}
.new-assignment-ok{
    background-color: #017ECA;
    width: 195px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 20px;

}
.layui-btn{
    display: block;
}
/*新建任务列表*/
.creat-model{
    width: 280px;
    min-height: 50px;
    padding: 15px 10px;
    display: inline-block;
    background-color: #EEEEEE;
    margin-right: 20px;
}
.noclick-creat-model{
    width: 100%;
    height: 22px;
}
.noclick-creat-model i{
    float: left;
    margin-right: 10px;
}
.noclick-creat-model span{
    float: left;
    color: #A7A7A7;
    line-height: 22px;
    cursor: pointer;
}
.click-creat-model{
    width: 100%;
}
.creat-model-ok{
    float: right;
    margin-top: 15px;
}
.creat-model-no{
    float: right;
    margin-right: 10px;
    width: 64px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin-top: 15px;
    cursor: pointer;
    color: #383838;
}
.creat-model-no:hover{
    color: #0b84da;
}