body{
    background-color: #FEFCFC;
}
/*顶部*/
.m-toper-wrap{
    width: 100%;
    padding: 0 2.5%;
    height: 50px;
    box-shadow: 0 5px 3px #F1F0F0;
    line-height: 50px;
    z-index: 50;
    background-color: #FEFCFC;
}
.toper-left{
    height: 100%;
    float: left;
    line-height: 50px;
}
.toper-left>a{
    color: #393939;
    font-size: 16px;
    margin: 0 5px;
}
.toper-left>a:hover{
    color: #017ECA;
}

/*内容*/
.member-content{
    width: 960px;
    margin: 25px auto;
}
.member-left{
    width: 250px;
    height: 500px;
    float: left;
    background-color: white;
    padding: 20px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    overflow-y: scroll;
    overflow-x: hidden;
}
.member-left::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.search-box{
    width: 100%;
    height: 40px;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: 1px solid #D5D5D5;
    outline-style: none;
    padding-left: 45px;
}
.search-box i{
    position: absolute;
    line-height: 40px;
    left: 13px;
    top: 0;
}
.member-tab{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #D5D5D5;
    margin-top: 12px;
    padding: 0 8px;
}
.member-tab span{
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
    float: left;
    height: 100%;
}
.member-tab .now{
    color: #3599D5;
    border-bottom: 1px solid #3599D5;
}
.tab-content-box{
    width: 100%;
}
/*组织架构内容*/
.member-left-font{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-indent: 1em;
}
.member-filter{
    width: 100%;
}
.member-filter li{
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 34px;
}
.member-filter .selected{
    background-color: #EEEEEE;
}
.member-filter li:hover{
    background-color: #EEEEEE;
}
.member-filter li img{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.create-bumen{
    width: 100%;
    height: 34px;
    padding: 0 12px;
    line-height: 34px;
    font-size: 14px;
    color: #3599D5;
    cursor: pointer;
}
.create-bumen>img{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.company-list{
    width: 100%;
}
.company-list li{
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 12px;
    cursor: pointer;
}
.company-list li:hover{
    background-color: #EEEEEE;
}
.company-list .selected{
    background-color: #EEEEEE;
}
/*右侧 成员列表*/
.member-right{
    width: 680px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    float: right;
    padding: 20px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.member-right::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.member-right-header{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #D5D5D5;
}
.member-right-title{
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.member-right-title-name{
    float: left;
    width: 30%;
    font-size: 14px;

}
.member-head-style{
    color: #4FA6DB;
    float: right;
    line-height: 25px;
    margin-left: 40px;
    cursor: pointer;
}
.member-head-style img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
   margin-top: -3px;
}
.member-ul{
    width: 100%;
}
.member-ul li{
    width: 100%;
    height: 80px;
    line-height: 34px;
    font-size: 14px;
    padding: 23px 10px;
    border-bottom: 1px solid #D5D5D5;
}
.member-ul li img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.member-ul li .member-ul-name{
    float: left;
}
.member-ul-right{
    float: right;
    color: #C0C0C0;
    cursor: pointer;
}