body{
    background-color: #FEFCFC;
}
/*顶部*/
.m-toper-wrap{
    width: 100%;
    padding: 0 2.5%;
    height: 50px;
    box-shadow: 0 5px 3px #F1F0F0;
    line-height: 50px;
    z-index: 50;
    background-color: #FEFCFC;
}
.toper-left{
    height: 100%;
    float: left;
    line-height: 50px;
}
.toper-left>a{
    color: #393939;
    font-size: 16px;
    margin: 0 5px;
}
.toper-left>a:hover{
    color: #017ECA;
}

/*内容*/
.people-imp-info{
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
}
.imp-info-top{
    width: 100%;
    height: 60px;
}
.imp-info-top>img{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 20px;
}
.name-box{
    float: left;
    width: 300px;
}
.name-box>h3{
    line-height: 30px;
    font-size: 16px;
}
.name-box>p{
    line-height: 20px;
    font-size: 14px;
}
.phone-box{
    float: right;
    text-align: right;
}
.phone-box>p{
    font-size: 14px;
    color: #999999;
    line-height: 25px;
}
.imp-info-bottom{
    width: 790px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.nav-box{
    float: left;
    line-height: 20px;
    font-size: 14px;
}
.nav-box li{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.nav-box li:hover{
    color: #3da8f5;
}
.send-chat{
    float: right;
    color: #3da8f5;
    cursor: pointer;
    line-height: 20px;
}
.send-chat img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/*内容2*/
.detail-info-box{
    width: 900px;
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
}
.detail-info-box>div{
    width: 100%;
}
.xxzl li{
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #D5D5D5;
}
.xxzl li span:nth-of-type(1){
    display: inline-block;
    width: 110px;
}