
.my-collect{
    width: 60%;
    min-height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 46px;
}
.collect-head{
    width: 100%;
    height: 55px;
    font-size: 14px;
    border-bottom: 1px solid #D5D5D5;
}
.collect-head span{
    float: left;
    height: 55px;
    line-height: 60px;
    margin-right: 50px;
    cursor: pointer;
}
.collect-head span:nth-last-child(1){
    margin-right: 0;
}
.collect-head span.now{
    color: #017ECA;
}
.collect-search{
    float: right;
    position: relative;
    margin-top: 10px;
}
.collect-search input{
    width: 310px;
    height: 35px;
    padding-left: 45px;
    background-color: #EEEEEE;
    border: 0 none;
    border-radius: 5px;
}
.collect-search i{
    position: absolute;
    left: 10px;
    top: 8px;

}
/*没有收藏*/
.no-collect img{
    width: 77px;
    height: 77px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
}
.no-collect p{
    font-size: 14px;
    color: #AAAAAA;
    line-height: 40px;
    text-align: center;
}
/*有收藏*/
.has-collect{
    width: 100%;
    height: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}
.has-collect::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.has-collect li{
    padding: 16px 20px 18px;
    cursor: pointer;
    line-height: 20px;
}
.has-collect li:hover{
    background-color: #F7F7F7;
}
.has-collect li:hover .collect-item-top-date{
    display: none;
}
.has-collect li:hover .collect-item-top-remove{
    display: block;
    color: #3da8f5;
}
.collect-item-top-remove{
    display: none;
}
.collect-item-top,.collect-item-bottom{
    padding-left: 38px;
    color: #a6a6a6;
}
.collect-item-middle{
    height: 24px;
    line-height: 24px;
}
.collect-item-middle-img{
   float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #3da8f5;
    margin-right: 14px;
    text-align: center;
}
.collect-item-middle-img img{
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
.collect-item-name{
    float: left;
    line-height: 24px;
    font-size: 14px;
    color: #383838;
}
.collect-item-touxiang{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 14px;
}
.collect-item-right{
    float: right;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
}