
.recycle-bin-wrap{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 3px;
}
.recycle-bin-wrap>header{
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
}
.recycle-bin-wrap>header span{
    font-size: 18px;
    font-weight: bold;
    color: #383838;
}
.recycle-bin-wrap>header i{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}
.recycle-bin-wrap>header i:hover{
    color: #3da8f5 !important;
}
.main-content{
    width: 800px;
    height: 543px;
    display: flex;
    overflow: hidden;
}
.left-nav{
    width: 180px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #E5E5E5;
}
.left-nav li{
    width: 100%;
    height: 44px;
    padding: 12px 16px;
    cursor: pointer;
    line-height: 20px;
    font-size: 16px;
    color: gray;
}
.left-nav li i{
    font-size: 18px;
    margin-right: 5px;
}
.left-nav li:hover{
    background-color: #f7f7f7;
    color: #3da8f5;
}
.right-content{
    width: 619px;
    height: 100%;
    position: relative;
}
.top-div{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #E5E5E5;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-size: 14px;
    color: #a6a6a6;
}
.scroll-ul{
    width: 100%;
    height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
}
.scroll-ul::-webkit-scrollbar
{
    width:10px;
    height:10px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
.scroll-ul::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
.scroll-ul::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#CECECE;
}
.scroll-ul>li{
    width: 100%;
    padding: 0 16px;
    height: 53px;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}
.scroll-ul>li:hover{
    background-color: #f7f7f7;
}
.scroll-ul>li:hover .time{
    display: none;
}
.scroll-ul>li:hover .hover-show-box{
    display: block;
}
.name{
    padding: 16px 0;
    margin-right: 16px;
    cursor: pointer;
    flex: 1 1 auto;
    color: #383838;
    font-size: 14px;
}
.right-time{
    flex-shrink: 0;
    color: #a6a6a6;
    font-weight: 400;
    line-height: 52px;
}
.hover-show-box{
    flex-shrink: 0;
    color: gray;
    cursor: pointer;
    font-size: 14px;
   display: none;
  line-height: 52px;
}
.hover-show-box .box:nth-of-type(1){
    margin-right: 16px;
}
.hover-show-box .box{
    float: left;
}
.hover-show-box .box:hover{
    color: #3da8f5;
}
/*//没有文件*/
.no-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-content>div{
    text-align: center;
}
.no-content img{
    width: 72px;
    height: 72px;
}
.no-content p{
    color: #a6a6a6;
    font-size: 18px;
    margin-top: 12px;
}
/*恢复内容框*/
.recover-box{
    width: 250px;
    height: 263px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 0 15px 15px 15px;
    display: none;
}
.recover-box-head{
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #383838;
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.recover-box-head i{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.recover-box-head i:hover{
    color: #3DA8F5 !important;
}
.xm-lb-box{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.07);
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
}
.xm-lb-box>span{
    font-size: 15px;
    font-weight: 700;
    color: #383838;
}
.xm-name{
    text-align: right;
    margin-left: 8px;
    width: 182px;
    font-size: 14px;
    color: #A6A6A6;
}
.xm-lb-box.lb-box{
    padding: 0;
    line-height: 49px;
}
.lb-box .layui-unselect.layui-form-select{
    top: 5px;
}
.lb-box .layui-form-select .layui-input{
    border: 0 none;
    text-align: right;
    color: #A6A6A6;
}

.lb-box .layui-form-selectup dl{
    text-align: left !important;
}

.font-p{
    padding: 8px 0;
    color: #a6a6a6;
    font-size: 12px;
}
.o-btn{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: white;
    background-color: #3da8f5;
    cursor: pointer;
}
.o-btn:hover{
    opacity: 0.8;
}

/*永久删除 框*/
.forever-delete{
    width: 250px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 0 15px 15px 15px;
   display: none;
}
.forever-delete>p{
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    margin: 15px 0;
}
.forever-delete-btn{
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #FF4F3E;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.forever-delete-btn:hover{
    opacity: 0.8;
}