
.relevance-box{
    width: 800px;
    height: 540px;
    background-color: #f7f7f7;
}
.relevance-top{
    width: 100%;
    height: 50px;
    padding: 8px 15px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    line-height: 34px;
    position: relative;
}
.title{
    font-weight: 700;
    color: gray;
    width: 540px;
    float: left;
}
.search-box{
    width: 205px;
    height: 100%;
    float: left;
    position: relative;
    line-height: 34px;
}
.search-box input{
    width: 100%;
    height: 100%;
    padding: 0 8px 0 30px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}
.search-box i{
    position: absolute;
   left: 8px;
}
.search-box input::placeholder{
    color: #DCDCDC;
}
.relevance-top .close-tk{
    line-height: 34px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}
.relevance-top .close-tk:hover{
    color: #3da8f5;
}

/*中间 内容*/
.relevance-content{
    width: 100%;
    height: 420px;
    overflow: hidden;
}
/*左侧 第一 导航 (任务，分享 日程文件)*/
.one-level-nav{
    width: 180px;
    height: 404px;
    border-right: 1px solid rgba(0,0,0,.12);
    overflow-y: auto;
    padding: 8px 0;
    float: left;
}
.one-level-nav li{
    width: 100%;
    height: 34px;
    padding: 5px 15px;
    line-height: 24px;
    color: gray;
    cursor: pointer
}
.one-level-nav .now{
    color: #3da8f5;
    background-color: #eee;
}
.one-level-nav li:hover{
    background-color: #eee;
}
.one-level-nav li img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/*右侧 变化 的 盒子*/
.body-box{
    width: 619px;
    height: 100%;
    float: left;
    position: relative;
}
.body-box>div{
    width: 100%;
    height: 100%;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.style-ul{
    display: inline-block;
    width: 180px;
    height: 404px;
    border-right: 1px solid rgba(0,0,0,.12);
    overflow-y: auto;
    padding: 8px 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.style-ul::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;
    color: #A6A6A6;
}
.style-ul .group-name:nth-of-type(1){
    margin-top: 2px;
}
.group-name{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 15px;
    color: grey;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 25px;
}
.style-li{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.style-li:hover{
    color: rgb(61, 168, 245);
    background-color: rgb(238, 238, 238);
}
.style-li.selected{
    color: rgb(61, 168, 245);
    background-color: rgb(238, 238, 238);
}
.over-hidden-box{
    display: inline-block;
    width: 432px;
    height: 100%;
    overflow: hidden;
}
.scroll-box-heng{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 24px;
}
.scroll-box-heng::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;

}
.scroll-box-heng::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}
.task-ul{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.task-ul>li:nth-of-type(1){
    border-right: 1px solid #e5e5e5;
}
.task-ul>li{
    display: inline-block;
    width: 250px;
    height: 410px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
}
.task-ul>li::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;

}
.task-ul>li::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}
.title-create-style{
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    line-height: 30px;
}
.title-create-style i{
    float: left;
}
.title-create-style span{
    font-size: 14px;
    color:  #3AA7F5;
    margin-left: 10px;
    float: left;
}
.a-task-box{
    width: 100%;
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}
.a-task-box::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;

}
.a-task-box::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}
.a-task-li{
    width: 100%;
    height: 40px;
    padding: 8px 15px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.a-task-li:hover{
    background-color: #eee;
    color: #3da8f5;
}
.a-task-li.selected{
    background-color: #3da8f5;
    color: #fff;
}
.a-task-li.selected i{
    color: white !important;
}
.a-task-li i{
    float: left;
    margin-right: 13px;
}
.a-task-li>span{
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    background-color: #eee;
    cursor: default;
    margin-right: 13px;
    margin-top: 3px;
}
.a-task-li img{
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 13px;
    border-radius: 50%;
    background-color: white !important;
}
.a-task-li p{
    float: left;
    line-height: 24px;
    font-size: 14px;
    width: 130px;

}


/*分享 页面*/
.a-share-box{
    display: inline-block;
    width: 438px;
    height: 100%;
}
.scroll-box{
    overflow-y: auto;
    overflow-x: hidden;
}
.fx-box .a-task-box img{
    border-radius: 0;
    background-color: transparent !important;
}
.scroll-box::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;
}
.scroll-box::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}

/*日程 页面*/
.coming-rc{
    width: 100%;
}
.rc-box-title{
    padding: 8px 16px;
    font-size: 12px;
    color: gray;
}
.coming-rc-ul li{
    line-height: 24px;
}
.coming-rc-ul li i{
    margin-right: 10px;
}
.coming-rc-ul li p{
    float: left;
    width: 220px;
}
.coming-rc-ul li div{
    float: left;
    width: 155px;
    height: 24px;
    font-size: 14px;
}
.is-show{
    margin-left: 10px;
    cursor: pointer;
    color: #3da8f5;
}

/*文件 页面*/
.paper-file{
    display: inline-block;
    width: 220px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #e5e5e5;
}
.task-ul li .paper-file{
    width: 100%;
}
.paper-file::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;
}
.paper-file::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}
.up-add{
    width: 100px;
    margin-top: 16px;
    margin-left: 16px;
    height: 20px;
    letter-spacing:10px;
}
.up-add i{
    cursor: pointer;
}
.up-add i:hover{
    color: #3DA8F5 !important;
}
.wjj-wrap p{
    margin-top: 8px;
    padding: 4px 16px;
    color: gray;
    font-size: 13px;
}
.wj-li{
    width: 100%;
    height: 32px;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wj-li.selected{
    color: #fff;
    background-color: #3DA8F5;
}
.wj-li.selected:hover{
    color: white;
}
.wj-li:hover{
    color: #3DA8F5;
}
.wj-li img{
    width: 24px;
    height: 24px;
}
.create-wjjs{
    display: block;
    width: 75%;
    height: 24px;
    padding: 3px 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin: 5px auto;
    font-size: 14px;
}
    /*底部*/
.relevance-bottom{
    width: 100%;
    height: 70px;
    padding: 15px 20px;
    border-top: 1px solid rgba(0,0,0,.12);
}
.relevance-bottom p{
    width: 600px;
    line-height: 40px;
    color: #a6a6a6;
    font-size: 14px;
    float: left;
}
.relevance-bottom .go-xq{
    color: #3da8f5;
    margin-left: 15px;
    cursor: pointer;
}
.ok-btn{
    width: 100px;
    height: 40px;
    float: right;
    background-color: #d9d9d9;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 3px;
    cursor: default;
}
.ok-btn.can-click{
    background-color: #3da8f5;
    cursor: pointer;
}