/*修改任务*/
.revise-task-wrap{
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
.revise-task{
    width: 600px;
    padding: 16px;
    background-color: white;
    height: 480px;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
}
.revise-task::-webkit-scrollbar{
    width: 1px;
    height: 10px;
    background-color: 	#F8F8FF;
}
.close-revise-task{
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 5;
    cursor: pointer;
}
.close-revise-task:hover{
    color: #3da8f5 !important;
}
.assignment-menu-show{
    position: absolute;
    right: 42px;
    top: 18px;
    z-index: 5;
    cursor: pointer;
}
.assignment-menu-show:hover{
    color: #3da8f5 !important;
}
.zan{
    position: absolute;
    right: 75px;
    top: 18px;
    z-index: 5;
    cursor: pointer;
}
.zan>img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    transition: all 0.2s;
    float: left;
}
.zan span{
    font-size: 14px;
    color: #B7ACA6;
    line-height: 18px;
    float: left;
    margin-left: 3px;
}
.zan :hover{
    width: 17px;
    height: 17px;
    top: 16px;
    right: 63px;
}
.revise-task-title{
    width: 100%;
    height: 38px;
    font-size: 16px;
    font-weight: bold;
}
.task-name{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
}
.task-name .layui-form-checked[lay-skin=primary] i{
    border-color: #2B93D2;
    background-color: #2B93D2;
}
.task-name .layui-form-checkbox[lay-skin=primary]{
    float: left;
}
.task-name .layui-form-checkbox[lay-skin=primary] i{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: 2px;
}
.is-sure{
    width: 14px;
    height: 14px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.task-name span{
    float: left;
    font-size: 14px;
    margin-left: 15px;
}
.who-and-time{
    width: 100%;
    height: 25px;
    margin-top: 25px;
    position: relative;
}
.who-wrap,.no-renling{
    float: left;
    padding: 5px 10px;
    height: 25px;
    position: relative;
    border-radius: 15px;
    margin-top: -5px;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 15px;
}
.no-renling span{
    float: left;
}
.who-wrap:hover{
    background-color: #f5f5f5;
}
.who-wrap:hover .remove-who-wrap{
    display: block;
}
 .remove-who-wrap{
    position: absolute;
    top: -7px;
    right: -3px;
    display: none;
}
 .no-people-img{
    float: left;
    margin-right: 5px;
}
.no-renling{
    display: none;
}
.no-renling:hover span{
    color: #3da8f5;
}
.who-and-time img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
}
.who-and-time span{
    line-height: 25px;
    font-size: 14px;
    float: left;
}
.time-wrap{
    width: 130px;
    height: 25px;
    float: left;
}
.time-wrap input{
    height: 25px;
    border: 0 none;
    padding-left: 0;
    cursor: pointer;
    line-height: 25px;
    float: left;
    width: 105px;
}
.time-wrap input::placeholder{
    color: black;
}
.time-wrap>img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.no-repeat>img,.no-remand>img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    position: absolute;
    top: 0px;
    left: 0;
}
.no-repeat,.no-remand{
    float: left;
    width: 30px;
    position: relative;
}
.no-repeat .layui-select-title{
    opacity: 0;
}
.no-remand .layui-select-title{
    opacity: 0;
}
.combox{
     width: 100%;
     height: 30px;
     margin-top: 20px;
     line-height: 30px;
     font-size: 14px;
 }
.combox img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}
.combox span{
    float: left;
    margin-right: 15px;
}
.tag-box{
    width: 100%;
    margin-top: 20px;
    line-height: 30px;
    font-size: 14px;
}
.tag-box img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}
.tag-box span{
    float: left;
    margin-right: 15px;
}
.tag{
    margin-top: 3px;
}
.add-bz .label{
    width: 300px;
}
.yxj.combox{
    height: 36px;
}
.yxj.combox span{
    line-height: 40px;
}
.yxj.combox img{
    margin-top: 10px;
}
/*标签 搜索框   新建标签*/
.tags-search-build{
    width: 250px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 30px;
    left:0;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    z-index: 100;
}
.add-tag{
    position: relative;
}
.no-tags{
    cursor: pointer;
}
.no-tags:hover{
    color: #2B93D2;
}
.has-tags{

}

.tag{
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: #A1D5FA;
}
.tag:hover i{
    display: block;
}
.tag i{
    position: absolute;
    top: -6px;
    right: -6px;
    display: none;
}
.tag-search{
    width: 100%;
    height: 100%;
    position: relative;
}
.tag-search-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 15px;
}
.tag-search-input{
    width: 80%;
    height: 100%;
    border: 0 none;
    float: left;
}
.tag-search-title img{
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 0;
    margin-top: 10px;
    cursor: pointer;
}
.tags-ul{
    width: 100%;
    height: 200px;
    padding-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tags-list{
    width: 230px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.tags-ul::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.tags-list:hover{
    background-color: #f5f5f5;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3DA8F5;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}
.tag-font{
    font-size: 14px;
    float: left;
}
/*新建标签*/
.build-tags{
    width: 100%;
    height: 100%;
}
.build-tags-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 15px;
    text-align: center;
}
.go-return{
    float: left;
    cursor: pointer;
}
.close-tag{
    float: right;
    cursor: pointer;
}
.build-tags-con{
    width: 100%;
    padding: 20px 15px;
}
.tag-name{
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    outline-style: none;
}
.color-pick{
    width: 100%;
    height: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.color-pick li{
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.color-pick li i{
    display: none;
}
.color-pick li:nth-of-type(1){
    background-color: #3DA8F5;
}
.color-pick li:nth-of-type(2){
    background-color: #75C940;
}
.color-pick li:nth-of-type(3){
    background-color: #2FBDB3;
}
.color-pick li:nth-of-type(4){
    background-color: #797EC9;
}
.color-pick li:nth-of-type(5){
    background-color: #FFAF38;
}
.color-pick li:nth-of-type(6){
    background-color: #FF4F3E;
}
.tag-ok{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color: #ccc;
    border: 0 none;
    outline-style: none;
    color: white;
    cursor: not-allowed;
}
.add-tag .label{
    width: 300px;
}
.add-child-task span{
    color: #2B93D2;
    cursor: pointer;
}
.add-guanlian span{
    color: #2B93D2;
    cursor: pointer;
}
/*具体子任务*/
.child-task-list{
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.child-task-list .layui-form-checkbox[lay-skin=primary]{
    float: left;
    margin-top: 7px;
}
.child-task-con{
    float: left;
    margin-left: 10px;
    width: 80%;
}
.child-task-con:hover{
    background-color: #f7f7f7;
}
.child-task-con>span{
    float: left;
    font-size: 12px;
}
.child-task-con .dt{
    float: left;
    width: 40px;
    height: 20px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 20px;
    margin-top: 7px;
    margin-left: 15px;
}
.go-detail{
    float: right;
    line-height: 32px;
    cursor: pointer;
}
.go-detail:hover{
    color: #3da8f5 !important;
}
.child-task-who{
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 4px;
}
.common-add-style{
    width: 90%;
}
.common-ok-style{
    float: right;
    margin-top: 15px;
}
.common-no-style{
    float: right;
    margin-right: 10px;
    width: 64px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin-top: 15px;
    cursor: pointer;
    color: #383838;
}
.common-no-style:hover{
    color: #0b84da;
}
.state{
    width: 100%;
    color: #A5A5A5;
}
.state .combox{
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
}
.state .combox img{
    margin-top: 1px;
}
.combox .in-what-time{
    float: right;
}
/*底部发布*/
.publish{
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EEEEEE;
    padding: 10px 15px;
}
.publish-input{
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    min-height: 60px;
    resize: none;
    border: 0 none;

}
.fenge-line{
    width: 100%;
    height: 2px;
    background-color: #E2E2E2;
}
.publish-bottom{
    width: 100%;
    height: 40px;
    position: relative;
}
.publish-bottom>img{
    float: left;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.publish-btn{
    width: 60px;
    height: 30px;
    float: right;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    background-color: #1E9FFF;
    color: white;
    cursor: pointer;
}
.publish-btn:hover{
    opacity: 0.8;
}
/*上传附件框*/
.fujian-box{
    width: 250px;
    height: 210px;
    position: absolute;
    background-color: white;
    top: -140px;
    left: -100px;
    padding: 5px;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    border-radius: 3px;
}
.fujian-box-title{
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.close-fujian{
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}
.close-fujian:hover{
    color: #3da8f5 !important;
}
.zj-up,.select-up{
    width: 100%;
    height: 34px;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
    line-height: 34px;
    font-size: 14px;
}
.zj-up:hover{
    background-color: #f7f7f7;
}
.select-up:hover{
    background-color: #f7f7f7;
}
.zj-up i,.select-up i{
    float: left;
    margin-right: 15px;
    margin-left: 10px;
}
.zj-up span,.select-up span{
    float: left;
}
.xian{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.fujian-box-bottom{
    width: 100%;
    height: 50px;
    padding: 10px 5px;
}
.lianjie{
    width: 150px;
    height: 28px;
    float: left;
}
.add-fujian{
    width: 54px;
    height: 28px;
    float: right;
    text-align: center;
    line-height: 28px;
    background-color: #1E9FFF;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.add-fujian:hover{
    opacity: 0.8;
}
/*任务菜单框*/

.renwu-menu{
    width: 200px;
    padding: 0 20px 1px 20px;
    background-color: white;
    position: absolute;
    top: 35px;
    right: 0px;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    color: #9F9F9F;
}
.scheduling-menu-title{
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #D5D5D5;
    margin-bottom: 22px;
}
.scheduling-menu-title img{
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 20px;
    cursor: pointer;

}
.menu-box{
    width: 100%;
    height: 22px;
    margin-bottom: 22px;
    line-height: 22px;
    cursor: pointer;
}
.menu-box img{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 20px;
}
.menu-box span{
    float: left;
    font-size: 14px;
}
.secret.menu-box{
    height: 45px;
    position: relative;
    color: #9F9F9F;
    margin-top: 10px;
}
.layui-form-switch{
    margin-top: 0;
}
.switch{
    float: right;
}
.who-can-see{
    position: absolute;
    bottom: 0;
    left: 38px;
}
.layui-form-onswitch{
    background-color: #017ECA;
    border-color: #017ECA;
}

/*参与者  人员 弹框*/
.people{
    width: 252px;
    height: 360px;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    position: absolute;
    top: 70px;
    left: 95px;
    background-color: white;
    padding: 15px ;
    z-index: 100;
}
.peoples{
    width: 100%;
    height: 210px;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #E5E5E5;
}
.peoples::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.peoples>p{
    font-size: 12px;
    color: #a6a6a6;
}
.one-people{
    width: 100%;
    height: 32px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}
.one-people:hover{
    background-color: #f5f5f5;
}
.one-people img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
}
.one-people span{
    float: left;
    margin-left: 15px;
}

#executor.special-executor i{
    display: block;
}
.one-people i{
    float: right;
    margin-right: 5px;
    display: none;
}
.add-new-people{
    width: 100%;
    height: 32px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}
#members.yougou i{
    display: block;
}
.add-new-people img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
}
.add-new-people span{
    float: left;
    margin-left: 15px;
    color: #3da8f5;
}


.people-ok{
    width: 220px;
    height: 40px;
    margin: 15px auto;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #3696DC;
    cursor: pointer;
}
.people-ok:hover{
    opacity: 0.8;
}


/*关联 部分*/
.related-box{
    width: 100%;
}
.related-box li:hover{
    background-color: #F5F5F5;
}
.flex-box{
    display: flex;
    align-items: center;
    color: #a6a6a6;
    font-size: 12px;
    padding: 16px 4px 12px;
}
.flex-box span{
    flex: 1;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-left: 12px;
}
.related-rw li{
    width: 100%;
    height: 40px;
    padding: 8px 4px;
    position: relative;
}
.check-box{
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 3px;
}
.related-rw-info{
    float: left;
    width: 320px;
    height: 24px;
    line-height: 24px;
    margin-left: 15px;
    cursor: pointer;
}
.related-rw-info img{
    width: 24px;
    height: 24px;
}
.related-rw-info span{
    font-size: 14px;
}
.related-rw-describe{
    width: 170px;
    line-height: 24px;
    color: #a6a6a6;
    font-size: 12px;
    text-align: right;
    float: left;
    cursor: pointer;
}
.show-cancel-related{
    float: right;
    line-height: 24px;
    cursor: pointer;
}
.show-cancel-related:hover{
    color: #3da8f5 !important;
}
.related-menu{
    position: absolute;
    right: -15px;
    top: 30px;
    width: 250px;
    background-color: white;
    z-index: 200;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    border-radius: 3px;
    padding-bottom: 10px;
}
.related-menu-title{
    width: 220px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.close-related-menu{
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}
.close-related-menu:hover{
    color: #3da8f5 !important;
}
.related-menu li{
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 5px 15px;
    line-height: 30px;
    color: gray;
}
.related-menu li:hover{
    background-color: #f7f7f7;
}
.related-menu li i{
    margin-right: 15px;
}

.related-wj li{
    width: 100%;
    height: 48px;
    padding: 4px;
    position: relative;
    line-height: 40px;
    margin-bottom: 5px;
}
.related-wj-info{
    width: 353px;
    float: left;
    cursor: pointer;
}
.related-wj-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.related-wj-info span{
    font-size: 14px;
}
.related-wj .related-rw-describe{
    line-height: 40px;
}
.related-wj .show-cancel-related{
    line-height: 40px;
}
.related-rc li{
    width: 100%;
    height: 70px;
    padding: 8px 4px;
    position: relative;
}
.related-rc-top{
    width: 100%;
    height: 24px;
    line-height: 24px;

}
.related-rc-info{
    width: 353px;
    float: left;
    cursor: pointer;
}
.img-i{
    float: left;
    margin-right: 15px;
}
.related-rc-info img{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 15px;
}
.related-rc-info span{
   font-size: 14px;
    float: left;
}
.related-rc-down{
    line-height: 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #a6a6a6;
    width: 520px;
    margin-left: 32px;
}