
.tj-details{
    width: 100%;
    background-color: #FEFCFC;
    padding-bottom: 50px;
    margin-top: 50px;
}
.tj-details-title{
    width: 100%;
    height: 50px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    line-height: 50px;
}
.tj-details-title>i{
   position: absolute;
    right: 15px;
    top: 0;
}
.tj-details-title>i:hover{
    color: #3da8f5 !important;
}
.title-content{
    width: 300px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.title-content span:nth-of-type(1){
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
}
.title-content span:nth-of-type(2){
    font-size: 14px;
   color: #BCBBBB;
}

.top-box{
    width: 900px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
}
.filter-box{
    height: 64px;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
}
.filter-box>i{
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 64px;
    cursor: pointer;
}
.filter-box>i:hover{
    color: #3da8f5 !important;
}
.filter-box>div{
    float: left;
    height: 100%;
    width: 140px;
    margin-right: 5px;
}
.img-box{
    width: 100%;
    height: 240px;
    background-color: white;
    padding-top: 40px;
}
.circle{
    margin: 0 auto;
}
.img-box-p{
    text-align: center;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
}

.table-box{
    width: 900px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
}
.table-box>h3{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #D5D5D5;
    font-size: 16px;
    text-align: center;
}
.table-box-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #D5D5D5;
}
.table-box-title>div{
    width: 15%;
    float: left;
    text-align: center;
}
.table-box-title>div:nth-of-type(1){
    width: 25%;
}
.table-box-title>div:nth-of-type(2){
    width: 30%;
}
.table-row{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #D5D5D5;
    text-align: center;
    cursor: pointer;
}
.table-row li{
    float: left;
    width: 15%;
    position: relative;
}
.table-row:hover{
    background-color: #F8F8F8;
}
.table-row li:nth-of-type(1):before{
    content: attr(num);
    position: absolute;
    left: 8px;
}
.table-row li:nth-of-type(1){
    width: 25%;
}
.table-row li:nth-of-type(2){
    width: 30%;
}