/*选择 文件 类型 页面*/
.select-file-type-box{
    width: 200px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    border-radius: 3px;
    padding-bottom: 10px;
}
.select-file-type-box header{
    width: 100%;
    height: 50px;
  line-height: 50px;
    position: relative;
    text-align: center;
    font-size: 16px;
    padding: 0 10px;

}
.select-file-type-box header div{
    border-bottom: 1px solid #D5D5D5;
}
.close-tk {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}
.close-tk:hover{
    color: #3DA8F5;
}
.select-file-type-box li{
    padding: 0 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #A6A6A6;
    cursor: pointer;
}
.select-file-type-box li:hover{
    background-color: #F7F7F7;
}
.select-file-type-box li:nth-of-type(1){
    margin-top: 8px;
}

/*模型文件框*/
.no-file>img{
    width: 120px;
    height: 120px;
}
.model-file-up-box{
    width: 500px;
    height: 395px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    overflow: hidden;
}
.model-file-up-box header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    position: relative;
    padding: 0 10px;
    background-color: #f7f7f7;
}
.flex-content{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.mx-box-wrap,.slt-box-wrap{
    width: 150px;
}
.mx-box,.slt-box{
    width: 150px;
    height: 150px;
    border: 1px solid #D5D5D5;
    position: relative;
}
.mx-box>div,.slt-box>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-div{
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
}
.has-file{
    font-size: 16px;
    text-align: center;
}
.no-img>img{
    width: 120px;
    height: 120px;
}
.has-img img{
    width: 130px;
    height: 130px;
}
.ok-btn,.up-btn{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: #3DA8F5;
    color: white;
    font-size: 14px;
    cursor: pointer;
   margin-left: 20px;
    float: right;

}
.up-btn:hover{
    opacity:0.8 ;
}
.ok-btn:hover{
    opacity:0.8 ;
}
.tips-p{
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
.btn-box{
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    padding: 10px;
}

/*普通文件框*/
.select-all-file-box{
    width: 100%;
    padding: 10px 20px;
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;
}
.select-all-file-box::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
.add-file-box{
    width: 120px;
    height: 120px;
    border: 1px solid #D5D5D5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
}

.all-file-ul li{
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 40px;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid #D5D5D5;
    cursor: pointer;
    margin-bottom: 20px;
}
.all-file-ul li:nth-of-type(3n){
    margin-right: 0;
}
.all-file-ul li img{
    width: 60px;
    height: 60px;
    margin-top: 10px;


}
.all-file-ul li p{
    width: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
}
.layui-progress{
    width: 100%;
    display: none;
}
.remove-it{
    position: absolute;
    width: 16px;
    height: 16px;
    right: -8px;
    top: -8px;
    border-radius: 50%;
   text-align: center;
    line-height: 16px;
    display: none;
}
.remove-it i{
 font-size: 18px;
    color: #3DA8F5;
    cursor: pointer;
}
.all-file-ul li:hover .remove-it{
    display: block;
}