<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/addtask.css}" href="../static/css/addtask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
</head>

<body>
<!--添加任务界面-->
<form class="new-assignment boxsizing layui-form">
    <textarea th:name="taskName" required lay-verify="required" placeholder="任务内容" id="taskName"
              class="layui-textarea rw-content boxsizing"></textarea>
    <div class="who-and-time">
        <input type="hidden" id="have-executor" th:value="${user.id}">
        <div class="who-wrap">
            <input th:name="userId" th:value="${user.id}" type="hidden"/>
            <img th:src="#{IMAGE_SERVER} + ${user.userInfo.image}" th:id="executorImg"/>
            <input type="hidden" th:id="executorId" th:value="${user.id}"/>
            <input type="hidden" th:id="executorName" th:value="${user.userName}"/>
            <span th:text="${user.userName}" id = "showExecutor">谁谁谁</span>
            <i class="layui-icon layui-icon-close-fill remove-who-wrap" style="font-size: 16px; color: #1E9FFF;"></i>
        </div>
        <div class="no-renling">
            <i class="layui-icon layui-icon-username no-people-img" style="font-size: 20px; color: #A6A6A6;"></i>
            <span>待认领</span>
        </div>
    </div>
    <div class="begin-time abox">
        <img th:src="@{/image/begintime.png}"/>
        <input type="text" class="layui-input" id="beginTime"th:name="startTime"  placeholder="设置开始时间">
    </div>
    <div class="over-time abox">
        <img th:src="@{/image/begintime.png}"/>
        <input type="text" class="layui-input" id="overTime" th:name="endTime" placeholder="设置截止时间">
    </div>
    <div class="norepeat abox">
        <img th:src="@{/image/norepeat.png}">
        <select name="repeat" lay-verify="" id = "repeat">
            <option value="不重复">不重复</option>
            <option value="每天重复">每天重复</option>
            <option value="每周重复">每周重复</option>
            <option value="每月重复">每月重复</option>
            <option value="每年重复">每年重复</option>
            <option value="工作日重复">工作日重复</option>
        </select>
    </div>
    <div class="noremand abox">
        <img th:src="@{/image/noremand.png}">
        <select name="remand" lay-verify="" id = "remand">
            <option value="不提醒">不提醒</option>
            <option value="任务开始时提醒">任务开始时提醒</option>
            <option value="任务截止时提醒">任务截止时提醒</option>
        </select>
    </div>
    <div class="pri layui-form">
        <div class="layui-input-block">
            <input type="radio" name="state" value="普通" title="普通" checked = "checked">
            <input type="radio" name="state" value="紧急" title="紧急">
            <input type="radio" name="state" value="非常紧急" title="非常紧急">
        </div>
    </div>
    <div class="add-tag combox">
        <img th:src="@{/image/biaoqian.png}">
        <span>标签</span>
        <span class="no-tags">添加标签</span>
        <!--新建  搜索标签框-->
        <div class="tags-search-build" style="display: none">
            <!--搜索标签-->
            <div class="tag-search" style="display: none">
                <div class="tag-search-title boxsizing">
                    <input class="tag-search-input" type="text" placeholder="搜索标签">
                    <img th:src="@{/image/adds.png}">
                </div>
                <ul class="tags-ul boxsizing" id = "tags">
                    <li class="tags-list">
                        <span class="dot"></span>
                        <span class="tag-font">标签标签</span>
                    </li>
                    <li class="tags-list">
                        <span class="dot"></span>
                        <span class="tag-font">标签标签</span>
                    </li>
                    <li class="tags-list">
                        <span class="dot"></span>
                        <span class="tag-font">标签标签</span>
                    </li>
                </ul>
            </div>
            <!--新建标签-->
            <div class="build-tags" style="display: none">
                <div class="build-tags-title boxsizing">
                    <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                    新建标签
                    <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                </div>
                <div class="build-tags-con boxsizing">
                    <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                    <ul class="color-pick">
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                        <li>
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                        </li>
                    </ul>
                    <button class="tag-ok" disabled>创建</button>
                </div>

            </div>
        </div>
        <div class="has-tags" style="display:none;">
            <i class="layui-icon layui-icon-add-circle" style="font-size: 16px; color: #a6a6a6;"></i>
        </div>

    </div>
    <div class="heng-line"></div>
    <p class="cyz">参与者</p>
    <div class="work-people boxsizing clearfix">
        <div class="one-work-people" th:value="${user.id}">
            <img th:src="#{IMAGE_SERVER} + ${user.userInfo.image}">
            <input type="hidden" th:value="${user.userName}" />
            <i class="layui-icon layui-icon-close-fill remove-work-people "
               style="font-size: 15px; color: #3da8f5;"></i>
        </div>
        <div class="add-work-people ">
            <img th:src="@{/image/adds.png}">
        </div>
    </div>
    <!--人员 参与者 弹框-->
    <div>
        <input type="hidden" id = "memberId" />
        <div class="people boxsizing" style="display: none" >
            <input type="text" name="" placeholder="搜索" class="layui-input">
            <div class="peoples">
                <p id = "identity">参与者</p>
                <div id = "members" >

                </div>
                <p>推荐</p>
                <div id = "executor">
                    <!--项目成员列表-->
                </div>
            </div>
            <div id="people-ok" class="people-ok">确定</div>
        </div>
    </div>
    <div class="heng-line"></div>
    <div class="secret abox layui-form">
        <img th:src="@{/image/suo.png}">
        <span>隐私模式</span>
        <div class="switch">
            <input type="checkbox" id="privacyPattern" lay-skin="switch">
        </div>
        <div class="who-can-see">所有成员可见</div>
    </div>
    <div class="layui-btn layui-btn-normal new-assignment-ok" lay-submit lay-filter="createTask">创建</div>

</form>

</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/Sortable.min.js}" src="../static/js/Sortable.min.js"></script>
<script th:src="@{/js/mainpage.js}" src="../static/js/mainpage.js"></script>

<script th:inline="javascript">
    //当前项目id
    var projectId = [[${projectId}]];
    //当前任务所在菜单id
    var taskMenuId = [[${taskMenuId}]];
    //当前任务执行者id
    var executorId = $("span[name = 'executor']").attr("value");
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];

</script>
<script  th:src="@{/js/addandchangetask.js}" src="../static/js/addandchangetask.js"></script>
</html>
