<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/applyplugin.css}" href="../static/css/applyplugin.css">
</head>
<body>
<div class="apply-plugin-wrap boxsizing">
    <div class="apply-plugin-title clearfix">
        应用与插件
        <img src="../static/image/close.png" th:src="@{/image/close.png}" />
    </div>
    <!--左侧 导航栏-->
    <div class="left-nav boxsizing clearfix">
        <ul>
            <li class="boxsizing now">
                <img src="../static/image/yingyong.png" th:src="@{/image/yingyong.png}" />
                <span>应用</span>
            </li>
            <li class="boxsizing">
                <img src="../static/image/chajian.png" th:src="@{/image/chajian.png}" />
                <span>插件</span>
            </li>
        </ul>

    </div>

    <!--右侧内容 区域-->
    <div class="right-content boxsizing">
        <!--应用-->
        <div class="apply">
            <ul>
                <li class="boxsizing apply-list">
                   <div class="apply-img" style="background-color: #00A9FB"> <img src="../static/image/rw-white.png" th:src="@{/image/rw-white.png}" /></div>
                    <div class="apply-info">
                      <h3>任务</h3>
                      <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #00C929"> <img src="../static/image/fx-white.png" th:src="@{/image/fx-white.png}" /></div>
                    <div class="apply-info">
                        <h3>分享</h3>
                        <p>在分享中书写想法，分享经验，与项目成员共同讨论。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #FBA000"> <img src="../static/image/rc-white.png" th:src="@{/image/rc-white.png}" /></div>
                    <div class="apply-info">
                        <h3>日程</h3>
                        <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #D71518"> <img src="../static/image/wj-white.png" th:src="@{/image/wj-white.png}" /></div>
                    <div class="apply-info">
                        <h3>文件</h3>
                        <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #9200FB"> <img src="../static/image/ql-white.png" th:src="@{/image/ql-white.png}" /></div>
                    <div class="apply-info">
                        <h3>群聊</h3>
                        <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #8B572A"> <img src="../static/image/tj-white.png" th:src="@{/image/tj-white.png}" /></div>
                    <div class="apply-info">
                        <h3>统计</h3>
                        <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #0174F5"> <img src="../static/image/xmxx-white.png" th:src="@{/image/xmxx-white.png}" /></div>
                    <div class="apply-info">
                        <h3>项目信息</h3>
                        <p>用任务规划工作，直观的了解每一个人的工作进展。</p>
                    </div>
                </li>
            </ul>
        </div>

        <!--插件-->
        <div class="plugin" style="display: none">
            <ul>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #00A9FB"> <img src="../static/image/rw-white.png" th:src="@{/image/rw-white.png}" /></div>
                    <div class="apply-info">
                        <h3>任务开始时间</h3>
                        <p>为任务设置开始时间，更科学的规划工作。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #00C929"> <img src="../static/image/fx-white.png" th:src="@{/image/fx-white.png}" /></div>
                    <div class="apply-info">
                        <h3>任务分组</h3>
                        <p>开启任务分组插件，对任务进行分类管理。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #FBA000"> <img src="../static/image/rc-white.png" th:src="@{/image/rc-white.png}" /></div>
                    <div class="apply-info">
                        <h3>任务ID</h3>
                        <p>为项目中每个任务生成唯一编号，查找任务更便捷。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #D71518"> <img src="../static/image/wj-white.png" th:src="@{/image/wj-white.png}" /></div>
                    <div class="apply-info">
                        <h3>任务时间视图</h3>
                        <p>将任务以时间的方式呈现，便于项目统筹和计划。</p>
                    </div>
                </li>
                <li class="boxsizing apply-list">
                    <div class="apply-img" style="background-color: #9200FB"> <img src="../static/image/ql-white.png" th:src="@{/image/ql-white.png}" /></div>
                    <div class="apply-info">
                        <h3>任务表格视图</h3>
                        <p>将任务以表格的方式呈现，便于项目统筹和计划。</p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    layui.use('element', function(){
        var element = layui.element;
    });
    $(function () {
        // 点击左侧导航 ，右侧内容切换
        $(".left-nav li").click(function () {
            var i=$(this).index();
            $(this).addClass("now").siblings().removeClass("now");
            $(".right-content>div").eq(i).show().siblings().hide()
        })
    })


</script>
</html>