<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}" href="../static/css/share.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myscheduling.css}" href="../static/css/myscheduling.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}" href="../static/css/file.css">

    <!-- 表情样式 -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/expression/css/bootstrap.css}" href="../static/expression/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/jquery.mCustomScrollbar.min.css}" href="../static/expression/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/jquery.emoji.css}" href="../static/expression/dist/css/jquery.emoji.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/railscasts.css}" href="../static/expression/css/railscasts.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/index.css}" href="../static/expression/dist/css/index.css"/>

</head>
<body>
<header th:include="common/header::frag (${user.userInfo.image},${user.id})"></header>
<div th:include="toper::toper (${project})"></div>

<div class="chat-box-wrap">
    <div class="chat-box boxsizing">
        <header class="chat-header boxsizing">bim5d过程管理</header>
        <section class="chat-content">
            <ul class="section-ul boxsizing" th:style="'display:' + (${logs != null or logs.size() > 0} ? 'block' : 'none') + ''">
                <div th:each="log:${logs}">
                    <!--撤回消息-->
                    <li class="msg-li recall-li boxsizing" th:if="${log.logIsWithdraw == 1 and log.memberId == user.id}">
                        <div class="message-recall">你撤回了一条消息</div>
                    </li>
                    <li class="msg-li recall-li boxsizing" th:if="${log.logIsWithdraw == 1 and log.memberId != user.id}">
                        <div class="message-recall" th:text="${log.userEntity.userName}+撤回了一条消息"></div>
                    </li>

                    <!--敌方消息-->
                    <li class="msg-li boxsizing their-msg" th:data-id = "${log.id}" th:if="${log.fileList == null and log.userEntity.id != user.id and log.logIsWithdraw == 0}">
                        <input type="hidden" th:value="${log.createTime}" class="createTime"/>
                        <img th:src="#{IMAGE_SERVER}+${log.userEntity.userInfo.image}">
                        <div class="message-body">
                            <div class="message-content boxsizing"><p th:utext="${log.content}"></p></div>
                            <div class="msg-timer clearfix boxsizing">
                                <span th:text="${log.userEntity.userName}"></span>
                                <span th:text="${#dates.format(log.createTime,'MM月-dd日 hh:mm:ss')}"></span>
                            </div>
                        </div>
                    </li>
                    <!--敌方文件-->
                    <li class="msg-li boxsizing their-msg have-file-li" th:data-id = "${log.id}" th:if="${log.fileList != null and log.userEntity.id != user.id and log.logIsWithdraw == 0}">
                        <input type="hidden" th:value="${log.createTime}" class="createTime"/>
                        <img src="../static/image/adds.png" th:src="#{IMAGE_SERVER} + ${log.userEntity.userInfo.image}">
                        <div class="message-body">
                            <div class="message-content boxsizing" th:if="${log.content != null}"><p th:utext="${log.content}"></p></div>
                            <ul class="chat-file-ul boxsizing">
                                <li class="clearfix" th:each="file:${log.fileList}" th:data-id = "${file.fileId}">
                                    <div class="file-flex-box">
                                        <img src="../static/image/excel.png" th:if="${exts.contains(file.ext)}" th:src="#{IMAGE_SERVER}+${file.fileUrl}">
                                        <img src="../static/image/chatDefault.png" th:if="${!exts.contains(file.ext)}" th:src="@{/image/chatDefault.png}">
                                        <p class="chat-file-name over-hidden" th:text="${file.fileName}"></p>
                                        <p class="chat-file-size" th:text="${file.size}"></p>
                                    </div>
                                    <!--<img class="chat-file-img" src="../static/image/adds.png" alt="">-->
                                </li>
                            </ul>
                            <div class="msg-timer clearfix boxsizing">
                                <span th:text="${log.userEntity.userName}"></span>
                                <span th:text="${#dates.format(log.createTime,'MM月-dd日 hh:mm:ss')}"></span>
                                <span class="download-chat-file">下载附件</span>
                            </div>
                        </div>
                    </li>

                    <!--我方 消息-->
                    <li class="msg-li boxsizing my-msg" th:data-id = "${log.id}" th:if="${log.fileList == null and log.userEntity.id == user.id and log.logIsWithdraw == 0}">
                        <input type="hidden" th:value="${log.createTime}" class="createTime"/>
                        <div class="message-body">
                            <div class="message-content boxsizing"><p th:utext="${log.content}"></p></div>
                            <div class="msg-timer clearfix boxsizing">
                                <span th:text="${#dates.format(log.createTime,'MM月-dd日 hh:mm:ss')}"></span>
                                <span class="recall">撤回</span>
                            </div>
                        </div>
                    </li>
                    <!--我方文件-->
                    <li class="msg-li boxsizing my-msg have-file-li" th:data-id = "${log.id}" th:if="${log.fileList != null and log.userEntity.id == user.id and log.logIsWithdraw == 0}">
                        <input type="hidden" th:value="${log.createTime}" class="createTime"/>
                        <div class="message-body">
                            <div class="message-content boxsizing" th:if="${log.content != null}"><p th:utext="${log.content}"></p></div>
                            <ul class="chat-file-ul boxsizing">
                                <li class="clearfix" th:each="file:${log.fileList}" th:data-id = "${file.fileId}">
                                    <div class="file-flex-box">
                                        <img  th:if="${exts.contains(file.ext)}" th:src="#{IMAGE_SERVER}+${file.fileUrl}">
                                        <img  th:if="${!exts.contains(file.ext)}" th:src="@{/image/chatDefault.png}">
                                        <p class="chat-file-name over-hidden" th:text="${file.fileName}"></p>
                                        <p class="chat-file-size" th:text="${file.size}"></p>
                                    </div>
                                </li>
                            </ul>

                            <div class="msg-timer clearfix boxsizing">
                                <span th:text="${#dates.format(log.createTime,'MM月-dd日 hh:mm:ss')}"></span>
                                <span class="download-chat-file">下载附件</span>
                                <span class="recall">撤回</span>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <div class="no-msg" th:if="${logs == null or logs.size() == 0}">
                <div>
                    <div>
                        <img src="/image/no-message.png">
                        <h3>还没有项目群聊消息</h3>
                        <p>项目中的成员都可以在这里参与群聊</p>
                    </div>

                </div>

            </div>
            <div class="place-box"></div>
        </section>
        <footer class="chat-footer-wrap">
            <div class="chat-footer boxsizing">
                <div class="chat-footer-content">
                    <div class="message-box boxsizing">
                        <ul class="fileList boxsizing" style="background-color: #fff;padding-bottom: 5px">
                            <!--<li class="file-list-li boxsizing">-->
                                <!--<div class="file-list-li-con">-->
                                    <!--<img src="../static/image/file_1.png">-->
                                    <!--<p class="file-con-name over-hidden">asdasdasdasdas.lkl</p>-->
                                    <!--<i class="layui-icon layui-icon-close" style="font-size: 16px; color: gray;float: right;cursor: pointer"></i>-->
                                    <!--<p class="file-con-size over-hidden">135.3kb</p>-->
                                <!--</div>-->
                                <!--<div class="layui-progress">-->
                                    <!--<div class="layui-progress-bar" lay-percent="10%"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>
                        <div  id = "chat" contenteditable="true" style="height: 50px;"></div>
                        <!--<textarea class="boxsizing"  rows="1" id = "chat"></textarea>-->
                    </div>
                    <div class="message-bottom">
                        <!--添加 附件-->
                        <div class="fujian-box boxsizing" id="container" >
                            <div class="fujian-box-title boxsizing">
                                添加附件
                                <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                            </div>
                            <div class="zj-up" id="selectfiles">
                                <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                                <span>直接上传</span>
                            </div>
                        </div>
                        <i class="layui-icon layui-icon-upload-drag upload-files" style="font-size: 18px; color: #a6a6a6;"></i>
                        <i class="layui-icon layui-icon-face-smile-b" id = "bq" style="font-size: 18px; color: #a6a6a6;"></i>
                        <div class="btn-box">
                            <span class="send-msg" id="postfiles">发送</span>
                            <span class="shuxian"></span>
                            <div class="reply-switch">
                                <i class="layui-icon layui-icon-down " style="font-size: 12px; color: #fff;"></i>
                                <ul class="how-to-send boxsizing">
                                    <li class="boxsizing on">
                                        <span>按 Enter 发送消息</span>
                                        <i class="layui-icon layui-icon-ok " style="font-size: 16px; color: gray;"></i>
                                    </li>
                                    <li class="boxsizing">
                                        <span>按 Ctrl+Enter 发送消息</span>
                                        <i class="layui-icon layui-icon-ok " style="font-size: 16px; color: gray;"></i>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/expression/js/jquery.mousewheel-3.0.6.min.js}" src="../static/expression/js/jquery.mousewheel-3.0.6.min.js"></script>
<script th:src="@{/expression/js/jquery.mCustomScrollbar.min.js}" src="../static/expression/js/jquery.mCustomScrollbar.min.js"></script>
<script th:src="@{/expression/js/jquery.emoji.js}" src="../static/expression/js/jquery.emoji.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/ajaxfileupload.js}" src="../static/js/ajaxfileupload.js"></script>
<script th:inline="javascript">
    var projectId = [[${project.projectId}]];
    var userId = [[${user.id}]];
    var exts = [[${exts}]];
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    layui.use(['element','form'], function() {});
    layui.use('layer', function(){
        var layer = layui.layer;

    });
    $(function () {
            var hei=parseInt($(".section-ul").css("height"));
            $(".chat-content").scrollTop(hei);




        var url = window.location.href;
        if(url.indexOf("chat") > 0){
            $(".toper-nav ul li:nth-of-type(5)").addClass("now").siblings().removeClass("now");
        }


        // 发送方式
        $(".reply-switch").click(function () {
            $(".how-to-send").slideToggle();
        });
        $(".how-to-send li").click(function (e) {
            $(this).addClass("on").siblings().removeClass("on");
            $(".how-to-send").slideUp();
            e.stopPropagation()
        });

        // 点击上传文件 图标
        $(".upload-files").click(function () {
           $(".fujian-box").slideToggle();
        });
        $(".close-fujian").click(function () {
            $(".fujian-box").slideUp()
        });


        //底部 展开收起
        $(document).click(function(event){
           if ($(".message-box textarea").val()==""){
               var _con = $('.chat-footer-wrap');   // 设置目标区域
               if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
                   $('.message-bottom').slideUp();   //滑动消失
               }
           }
        });
        $(".message-box textarea").focus(function () {
            $('.message-bottom').slideDown();
        })
    });

    /**
     * 表情
     */
    $("#chat").emoji({
        button: "#bq",
        showTab: false,
        animation: 'slide',
        position: 'topRight',
        icons: [{
            name: "表情1",
            path: "/expression/dist/img/qq/",
            maxNum: 91,
            excludeNums: [41, 45, 54],
            file: ".gif"
        },{
            name: "表情2",
            path: "/expression/dist/img/tieba/",
            maxNum: 50,
            excludeNums: [41, 45, 54],
            file: ".jpg",
            placeholder: "#qq_{alias}#"
        }, {
            name: "表情3",
            path: "/expression/dist/img/emoji/",
            maxNum: 84,
            file: ".png",
            placeholder: "#emoji_{alias}#"
        }]
    });
    $('.emoji_container').css('width','278px');
</script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/crypto/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/hmac/hmac.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/sha1/sha1.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/plupload-2.1.2/js/plupload.full.min.js}"></script>
<script th:src="@{/js/datautil.js}" src="../static/js/datautil.js"></script>
<script th:src="@{/js/file_upload.js}" src="../static/js/file_upload.js"></script>
<script th:src="@{/js/chat.js}" src="../static/js/chat.js"></script>
</html>
