<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}" href="../static/css/share.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myscheduling.css}" href="../static/css/myscheduling.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}" href="../static/css/file.css">
</head>

<body>
<header th:include="common/header::frag (${user.userInfo.image}, ${user.id})"></header>

<div th:include="toper::toper (${project},${groups},${currentGroup},${user})"></div>

<div class="content-wrap-wrap boxsizing">
    <input type="hidden" th:value="${projectId}" id="projectId">
    <input type="hidden" th:value="${parentId}" id="parentId">
    <div class="content boxsizing">
        <div class="file-box boxsizing layui-form">
            <div class="file-toper" id="container">
                <span><a href="javascript: void(0)"
                         onclick="location.href='/file/list.html?projectId=' + projectId">文件库</a></span>
                <div class="add-share" id="selectfiles"><img th:src="@{/image/upload.png}">上传</div>
                <div class="add-share" id="createFolder"><img th:src="@{/image/add.png}">创建文件夹</div>
            </div>
            <div class="check-all-file">
                <div class="file-names">
                    <input class=" " type="checkbox" name="" title="" lay-skin="primary" lay-filter="check-all">
                    <span>全选</span>
                </div>
                <div class="file-caozuo-wrap" style="display: none">
                    <div class="file-caozuo moveFile">
                        <i class="layui-icon layui-icon-spread-left " style="font-size: 16px; color: #ADADAD;"></i> 移动
                    </div>
                    <div class="file-caozuo copyFile">
                        <i class="layui-icon layui-icon-template " style="font-size: 16px; color: #ADADAD;"></i> 复制
                    </div>
                    <!--<div class="file-caozuo">-->
                        <!--<i class="layui-icon layui-icon-star-fill " style="font-size: 16px; color: #ADADAD;"></i> 收藏-->
                    <!--</div>-->
                    <div class="file-caozuo deleteFile">
                        <i class="layui-icon layui-icon-delete " style="font-size: 16px; color: #ADADAD;"></i> 移到回收站
                    </div>
                </div>
            </div>
            <!--没有文件-->
            <div class="no-file" style="display: none">
                <img th:src="@{/image/nofile.png}" src="../static/image/nofile.png">
                <p>目前还没有文件～</p>
            </div>
            <!--有文件-->
            <div class="have-file">

                <!--缩略图模式-->
                <div class="img-show-wrap">
                    <ul class="img-show clearfix" id="fileListUl">
                        <li class="boxsizing new-file-wrap" style="display: none">
                            <div class="one-file">
                                <img src="../static/image/nofile.png" th:src="@{/image/nofile.png}">
                            </div>
                            <div class="one-file-name"><input class="boxsizing" type="text" placeholder="按 Enter 新建文件夹"/></div>
                        </li>
                        <li class="boxsizing one-file-wrap" th:each="file:${fileList}" th:data-id = "${file.fileId}">
                            <div class="one-file boxsizing fileList" th:data="${file.fileId}" th:data-id="${file.catalog}">
                                <input class="pick-it" type="checkbox" name="fileCheck" th:value="${file.fileId}" title="" lay-skin="primary" lay-filter="checks">
                                <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0} and ${exts.get('images').contains(file.ext)}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.doc'} or ${file.ext eq '.docx'})"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.xls'} or ${file.ext eq '.xlsx'})"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.pptx'} or ${file.ext eq '.ppt'})"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/txt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.txt'}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/duomeiti.png}" th:if="${file.catalog eq 0} and ${exts.get('medias').contains(file.ext)}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="#{IMAGE_SERVER} + ${file.fileThumbnail}" th:if="${file.catalog eq 0} and ${exts.get('model').contains(file.ext)}"/>
                                <img class="folderFile" th:data-id="${file.fileId}+${file.ext}" th:src="@{/image/file_1.png}" th:if="${file.catalog eq 0} and ${!exts.get('flashs').contains(file.ext)} and ${!exts.get('medias').contains(file.ext)} and ${!exts.get('files').contains(file.ext)} and ${!exts.get('model').contains(file.ext)} and ${!exts.get('sensitive').contains(file.ext)} and ${!exts.get('images').contains(file.ext)} and ${exts.get('compress').contains(file.ext)}"/>
                                <i class="layui-icon layui-icon-download-circle img-show-download" style="font-size: 20px; color: #ADADAD;" th:if="${file.catalog eq 0}"></i>
                                <i class="iconfont icon-suo" th:style="'display:' + @{(${file.filePrivacy}==0? 'none' : 'block')} + ''"></i>
                                <i class="layui-icon layui-icon-down img-show-operate" style="font-size: 12px; color: #ADADAD;" ></i>
                                <p th:if="${file.catalog eq 0}" class="p-download" style="width: 0;height: 0;border-top: 30px solid transparent; border-left: 30px solid #3da8f5;border-bottom: 30px solid transparent;position: absolute;right: -4px; bottom: -19px;box-sizing: border-box;transform: rotate(45deg);">
                                    <span style="position: absolute; top: -7px;left: -38px;transform: rotate(-90deg); font-size: 10px; color: white;">已下载</span>
                                </p>
                            </div>
                            <div class="one-file-name" th:if="${file.catalog eq 0}" th:text="${#strings.length(file.fileName) gt 30 ? #strings.substring(file.fileName,0,25)+file.ext:file.fileName+file.ext}" th:classappend="filename+${file.fileId}" th:data="${file.fileId}"></div>
                            <div class="one-file-name" th:if="${file.catalog eq 1}" th:text="${file.fileName}" th:classappend="filename+${file.fileId}" th:data="${file.fileId}"></div>
                            <input type="text" name="title" autocomplete="off" th:data="${file.fileId}" th:value="${file.fileName}" class="layui-input change-file-name" th:classappend="namechange+${file.fileId}" style="width: 164px;display: none;margin-top: 15px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var groupId = [[${currentGroup}]];
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    layui.use('element', function(){
        var element = layui.element;
    });

    $('.one-file-name').click(function (e) {
        e.stopPropagation();
        $(this).css('display','none');
        $('.namechange'+$(this).attr('data')).show();
    });

    $('.change-file-name').blur(function (e) {
        e.stopPropagation();
        $(this).hide();
        $('.filename'+$(this).attr('data')).show();
        $.post('/file/changeFileName',{"fileName":$(this).val(),"fileId":$(this).attr('data')},function (data) {
            if(data.result===1){
                window.location.reload();
            }
        });
    });
    $('.change-file-name').keyup(function(event){
        if(event.keyCode ===13){
            $(this).hide();
            $('.filename'+$(this).attr('data')).show();
            $.post('/file/changeFileName',{"fileName":$(this).val(),"fileId":$(this).attr('data')},function (data) {
                if(data.result===1){
                    window.location.reload();
                }
            });
        }
    });

</script>

<script th:src="@{/js/fileSockJs.js}" src="../static/js/fileSockJs.js"></script>
<script th:src="@{/js/file.js}" src="../static/js/file.js"></script>

</html>
