<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}" href="../static/css/share.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myscheduling.css}" href="../static/css/myscheduling.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}" href="../static/css/file.css">

</head>

<body>
<header th:include="common/header::frag (${user.userInfo.image}, ${user.id})"></header>

<div th:include="toper::toper (${project})"></div>

<div class="content-wrap-wrap boxsizing">
    <input type="hidden" th:value="${projectId}" id="projectId">
    <input type="hidden" th:value="${parentId}" id="parentId">
    <div class="content boxsizing">
        <div class="file-box boxsizing layui-form">
            <div class="file-toper" id="container">
                <span><a href="javascript: void(0)"
                         onclick="location.href='/file/list.html?projectId=' + projectId">文件库</a></span>
                <div class="add-share" id="selectfiles"><img th:src="@{/image/upload.png}" src="../static/image/upload.png">上传
                </div>
                <div class="add-share" id="createFolder"><img th:src="@{/image/add.png}" src="../static/image/add.png">创建文件夹
                </div>
            </div>
            <div class="check-all-file">
                <div class="file-names">
                    <input class=" " type="checkbox" name="" title="" lay-skin="primary" lay-filter="check-all">
                    <span>全选</span>
                </div>
                <div class="file-caozuo-wrap" style="display: none">
                    <div class="file-caozuo">
                        <i class="layui-icon layui-icon-download-circle " style="font-size: 16px; color: #ADADAD;"></i>
                        下载
                    </div>
                    <div class="file-caozuo moveFile">
                        <i class="layui-icon layui-icon-spread-left " style="font-size: 16px; color: #ADADAD;"></i> 移动
                    </div>
                    <div class="file-caozuo copyFile">
                        <i class="layui-icon layui-icon-template " style="font-size: 16px; color: #ADADAD;"></i> 复制
                    </div>
                    <!--<div class="file-caozuo">-->
                        <!--<i class="layui-icon layui-icon-star-fill " style="font-size: 16px; color: #ADADAD;"></i> 收藏-->
                    <!--</div>-->
                    <div class="file-caozuo deleteFile">
                        <i class="layui-icon layui-icon-delete " style="font-size: 16px; color: #ADADAD;"></i> 移到回收站
                    </div>
                </div>
            </div>
            <!--没有文件-->
            <div class="no-file" style="display: none">
                <img th:src="@{/image/nofile.png}" src="../static/image/nofile.png">
                <p>目前还没有文件～</p>
            </div>
            <!--有文件-->
            <div class="have-file">

                <!--缩略图模式-->
                <div class="img-show-wrap">
                    <ul class="img-show clearfix" id="fileListUl">
                        <li class="boxsizing new-file-wrap" style="display: none">
                            <div class="one-file">
                                <img src="../static/image/nofile.png" th:src="@{/image/nofile.png}">
                            </div>
                            <div class="one-file-name"><input class="boxsizing" type="text" placeholder="按 Enter 新建文件夹"/></div>
                        </li>
                        <li class="boxsizing one-file-wrap" th:each="file:${fileList}" th:data-id = "${file.fileId}">
                            <div class="one-file boxsizing fileList" th:data="${file.fileId}">
                                <input class="pick-it" type="checkbox" name="fileCheck" th:value="${file.fileId}" title="" lay-skin="primary" lay-filter="checks">
                                <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0} and ${exts.get('images').contains(file.ext)}"/>
                                <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.doc'} or ${file.ext eq '.docx'})"/>
                                <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.xls'} or ${file.ext eq '.xlsx'})"/>
                                <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and (${file.ext eq '.pptx'} or ${file.ext eq '.ppt'})"/>
                                <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                <img class="folderFile" th:src="@{/image/txt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.txt'}"/>
                                <img class="folderFile" th:src="@{/image/duomeiti.png}" th:if="${file.catalog eq 0} and ${exts.get('medias').contains(file.ext)}"/>
                                <img class="folderFile" th:src="@{/image/file_1.png}" th:if="${file.catalog eq 0} and ${exts.get('model').contains(file.ext)}"/>
                                <img class="folderFile" th:src="@{/image/file_1.png}" th:if="${file.catalog eq 0} and ${!exts.get('flashs').contains(file.ext)} and ${!exts.get('medias').contains(file.ext)} and ${!exts.get('files').contains(file.ext)} and ${!exts.get('model').contains(file.ext)} and ${!exts.get('sensitive').contains(file.ext)} and ${!exts.get('images').contains(file.ext)}"/>
                                <i class="layui-icon layui-icon-download-circle img-show-download" style="font-size: 20px; color: #ADADAD;"></i>
                                <div class="img-show-operate">
                                    <i class="layui-icon layui-icon-down" style="font-size: 12px; color: #ADADAD;"></i>
                                </div>
                            </div>
                            <div class="one-file-name" th:text="${#strings.length(file.fileName) gt 15 ? #strings.substring(file.fileName,0,10)+file.ext:file.fileName}" th:data="${file.fileId}">图片222.zip</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--上传 进度 框-->
<div class="upload-box" style="display: none;">
    <div class="upload-box-head boxsizing">
        <span class="jindu">上传中</span>
        <i class="layui-icon layui-icon-close" style="font-size: 20px; color: #A6A6A6;"></i>
    </div>
    <ul class="file-scroll-ul file boxsizing">
        <!--<li class="boxsizing">-->
            <!--<p class="files-names over-hidden"></p>-->
            <!--<span class="files-szies over-hidden"></span>-->
            <!--<div class="layui-progress" lay-filter = "demo">-->
                <!--<div class="layui-progress-bar" lay-percent="10%"></div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
</div>
</body>
<script th:inline="javascript">
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    var projectId = [[${projectId}]];
    layui.use(['element','form'], function() {
        var form = layui.form;
    });

    layui.use('element', function(){
        var element = layui.element;
    });
</script>

<script type="text/javascript" th:src="@{/js/lib/crypto1/crypto/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/hmac/hmac.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/sha1/sha1.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/plupload-2.1.2/js/plupload.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fileupload.js}"></script>

<script th:src="@{/js/fileSockJs.js}" src="../static/js/fileSockJs.js"></script>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/Sortable.min.js}" src="../static/js/Sortable.min.js"></script>
<script th:src="@{/js/file.js}" src="../static/js/file.js"></script>

</html>
