<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css">
</head>
<body>
<!--头部-->
<div class="header">
    <div class="layui-row">

        <div class="layui-col-md4 layui-col-lg5 header-left">5D管理系统</div>
        <div class="layui-col-md4 layui-col-lg4 header-middle">
            <input type="text" class="layui-input search-input boxsizing">
            <i class="layui-icon layui-icon-search search" style="font-size: 25px; color: #AAAAAA;"></i>
        </div>

        <div class="layui-col-md4 layui-col-lg3 header-right">
            <span class="layui-breadcrumb" lay-separator="|">
                <a href="">我的</a>
                <a href="">新建</a>
                <a href="">日历</a>
                <a href="">消息</a>
                <a href="">帮助</a>
            </span>
        </div>
    </div>
    <!--右侧固定的头像与菜单栏-->
    <div class="head-photo-wrap">
        <img src="" class="head-photo">

        <div class="vertical-nav">
            <ul>
                <li class="boxsizing">
                    <span></span>
                    <a href="">创建企业</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">个人项目</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">账号设置</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">偏好设置</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-nav">
        <ul class="layui-row" >
            <li class=" layui-col-md3"><a class="selected" href="#">我拥有的项目</a></li>
            <li class=" layui-col-md3"><a href="#">我参与的项目</a></li>
            <li class=" layui-col-md3"><a href="#">我收藏的项目</a></li>
            <li class=" layui-col-md3"><a href="#">项目回收站</a></li>
        </ul>
    </div>
    <!--我拥有的项目-->
    <div class="content-list possess" >
        <ul class="layui-row layui-col-space30" >
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring"
                th:style="'background-image:url(' + @{/image/bj.jpg} + ');'"
                th:each="project : ${projects}"
                th:onclick="'javascript:projectClick(\''+${project.projectId}+'\')'">
                <div class="describe boxsizing">
                    <div>
                        <span class="describe-title" th:text="${project.projectName}">测试新手引导，完成项目 </span>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit project-set" style="font-size: 15px; color: #fff;" title="打开项目设置"
                           th:onclick="'javascript:setting(\''+${project.projectId}+'\')'"></i>

                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #fff;" title="星标"
                           th:onclick="'javascript:projectCollect(\''+${project.projectId}+'\')'"></i>

                        </span>
                        <!--<span class="layui-badge-dot layui-bg-gray newdt" title="有新项目动态"></span>-->
                    </div>
                    <p th:text="${project.projectDes}">描述描述</p>
                </div>
            </li>

            <li class="layui-col-md3 layui-anim layui-anim-scaleSpring " id="create-obj" >
                <div class="special-li boxsizing">
                    <img class="add" src="../static/image/add.png" th:src="@{/image/add.png}">
                    <img class="addnow" src="../static/image/adds.png" th:src="@{/image/adds.png}">
                    <div class="add-font">创建新项目</div>
                </div>
            </li>
        </ul>
    </div>
    <!--我参与的项目-->
    <div class="content-list partake" style="display: none">
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring"
                th:style="'background-image:url(' + @{/image/bj.jpg} + ');'"
                th:each="project : ${joinInproject}"
                th:onclick="'javascript:projectClick(\''+${project.projectId}+'\')'">
                <div class="describe boxsizing">
                    <div>
                        <div class="describe-title" th:text="${project.projectName}">测试新手引导，完成项目 </div>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #fff;" title="打开项目设置" th:onclick="'javascript:setting(\''+${project.projectId}+'\')'"></i>
                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #fff;" title="星标" th:onclick="'javascript:projectCollect(\''+${project.projectId}+'\')'"></i>
                        </span>
                        <!--<span class="layui-badge-dot layui-bg-gray newdt" title="有新项目动态"></span>-->
                    </div>
                    <p th:text="${project.projectDes}">描述描述</p>
                </div>
            </li>

        </ul>
    </div>
    <!--我收藏的项目-->
    <div class="content-list complete" style="display: none" >
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring"
                th:each="project : ${collectrojects}"
                th:style="'background-image:url(' + @{/image/bj.jpg} + ');'"
                th:onclick="'javascript:projectClick(\''+${project.projectId}+'\')'">
                <div class="describe boxsizing">
                    <div>
                        <div class="describe-title" th:text="${project.projectName}">测试新手引导，完成项目 </div>
                        <!--<span class="tools">-->
                        <!--<i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #fff;" title="打开项目设置"></i>-->
                        <!--<i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #fff;" title="星标"></i>-->
                        <!--</span>-->
                    </div>
                    <p th:text="${project.projectDes}">描述描述</p>
                </div>
            </li>
        </ul>
    </div>
    <!--项目回收站-->
    <div class="content-list recycle-bin " style="display: none">
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring" th:style="'background-image:url(' + @{/image/bj.jpg} + ');'" th:each="project : ${delProjects}">
                <div class="describe boxsizing">
                    <div>
                        <div class="describe-title" th:text="${project.projectName}">测试新手引导，完成项目 </div>
                        <!--<span class="tools">-->
                        <!--<i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #fff;" title="打开项目设置"></i>-->
                        <!--</span>-->
                    </div>
                    <p th:text="${project.projectDes}">描述描述</p>
                </div>
            </li>
        </ul>
        <img class="kong" src="../static/image/kong.png" th:src="@{/image/kong.png}">
    </div>
</div>
</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script type="text/javascript">
    //点击项目设置的弹出框
    function setting(projectId){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                area:['800px','600px'],
                shadeClose: true, //点击遮罩关闭
                anim: 1,  //动画 0-6
                content: '/project/projectSetting?projectId='+projectId
            });
        });
    }
    layui.use('element', function(){
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });

    //点击项目进入任务界面
    function projectClick(projectId){
        console.log(projectId);
        window.location.href = "/project/task?projectId="+projectId;
    }

    //点击收藏项目
    function projectCollect(projectId){

        console.log(projectId);
        // $.post("/project/collectProject",projectId,function (data) {
        //     if(data.result===1){
        //         layer.msg(data.msg,{icon:1});
        //     }else{
        //         layer.msg(data.msg,{icon:5});
        //     }
        // });
    }


    $(function () {
        console.log($(".content-list li").css("width"));
        // 高度随屏幕大小变化
        $(".content-list li").css("height",parseInt($(".content-list li").css("width"))*0.68 +'px' );
        //点击导航条显示对应内容
        $(".content-nav li").click(function () {
            var i=$(this).index();
            $(".content-nav li a").removeClass("selected");
            $(".content-nav li a").eq(i).addClass("selected");
            $(".content-list").hide();
            $(".content-list").eq(i).show()
        });
        //点击创建新项目
        $(".special-li").click(function () {
            newWork();
        })
    });

    //点击创建新项目的弹出框
    function newWork(){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                area:['400px','420px'],
                shadeClose: true, //点击遮罩关闭
                anim: 1,  //动画 0-6
                content: mydiv
            });
        });
    }
    //点击完成创建按钮
    $(function () {
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(Project)', function(){
                var params = $("#projectForm").serialize();
                console.log(params);
                $.post("/project/addProject",params,function (data) {
                    console.log(data);
                    if(data.result===1){
                       //创建项目成功之后进入任务主界面
                        window.location.href = "/project/task?projectId="+data.projectId;
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                });

                return false;
            });
        });
    });




    var mydiv='<div class="newobj boxsizing">\n' +
        '    <div class="newobj-title">\n' +
        '        创建项目\n' +
        '    </div>\n' +
        '    <img class="bigimg" src="/image/creatobj.png" >\n' +
        '    <p class="p">为不同的事业创建项目吧</p>\n' +
        '    <form class="obj-form layui-form" action="" id="projectForm">\n' +
        '        <input class="layui-input" name="projectName" required lay-verify="required" type="text" placeholder="项目名称">\n' +
        '        <input class="layui-input" name="projectDes" required lay-verify="required" type="text" placeholder="项目简介">\n' +
        '        <button id="project" lay-submit class="layui-btn layui-btn-fluid" lay-filter="Project" style="background-color: #017ECA">完成创建</button>\n' +
        '    </form>\n' +
        '</div>'
</script>
</html>
