<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui/css/layui.css}" href="../static/lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css">
</head>
<body>
<!--头部-->
<div class="header">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-lg5 header-left">5D管理系统-项目协同管理</div>
        <div class="layui-col-md4 layui-col-lg4 header-middle">
            <input type="text"    class="layui-input search-input boxsizing">
            <i class="layui-icon layui-icon-search search" style="font-size: 25px; color: #AAAAAA;"></i>
        </div>
        <div class="layui-col-md4 layui-col-lg3 header-right">
            <span class="layui-breadcrumb" lay-separator="|">
                <a href="">我的</a>
                <a href="">新建</a>
                <a href="">日历</a>
                <a href="">消息</a>
                <a href="">帮助</a>
            </span>
        </div>
    </div>
    <!--右侧固定的头像与菜单栏-->
    <div class="head-photo-wrap">
        <img src="" class="head-photo">

        <div class="vertical-nav">
            <ul>
                <li class="boxsizing">
                    <span></span>
                    <a href="">创建企业</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">个人项目</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">账号设置</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">偏好设置</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">切换至国际服务器</a>
                </li>
                <li class="boxsizing">
                    <span></span>
                    <a href="">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-nav">
        <ul class="layui-row" >
            <li class=" layui-col-md3 "><a class="selected" href="#">我拥有的项目</a></li>
            <li class=" layui-col-md3"><a href="#">我参与的项目</a></li>
            <li class=" layui-col-md3"><a href="#">已完成的项目</a></li>
            <li class=" layui-col-md3"><a href="#">项目回收站</a></li>
        </ul>
    </div>
    <!--我拥有的项目-->
    <div class="content-list possess" >
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring" style="background-image: url('../static/image/bj.jpg')"  th:style="'background:url(' + @{/image/bj.jpg} + ');'">
                <div class="describe boxsizing">
                    <h3>
                        <div class="describe-title" th:text="${}">测试新手引导，完成项目 </div>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #C6C7C7;" title="打开项目设置"></i>
                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #C6C7C7;" title="星标"></i>
                        </span>
                    </h3>
                    <p th:text="${}">描述描述</p>
                </div>
            </li>
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring  ">
                <div class="special-li boxsizing">
                    <img class="add" src="../static/image/add.png" th:src="@{/image/add.png}">
                    <img class="addnow" src="../static/image/adds.png" th:src="@{/image/adds.png}">
                    <div class="add-font">创建新项目</div>
                </div>
            </li>

        </ul>
    </div>
    <!--我参与的项目-->
    <div class="content-list partake" style="display: none">
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring" style="background-image: url('../static/image/bj.jpg')"  th:style="'background:url(' + @{/image/bj.jpg} + ');'">
                <div class="describe boxsizing">
                    <h3>
                        <div class="describe-title" th:text="${}">测试新手引导，完成项目 </div>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #C6C7C7;" title="打开项目设置"></i>
                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #C6C7C7;" title="星标"></i>
                        </span>
                        <span class="layui-badge-dot layui-bg-gray newdt" title="有新项目动态"></span>
                    </h3>
                    <p th:text="${}">描述描述</p>
                </div>
            </li>

        </ul>
    </div>
    <!--我完成的项目-->
    <div class="content-list complete" style="display: none">
        <ul class="layui-row layui-col-space30">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring" style="background-image: url('../static/image/bj.jpg')"  th:style="'background:url(' + @{/image/bj.jpg} + ');'">
                <div class="describe boxsizing">
                    <h3>
                        <div class="describe-title" th:text="${}">测试新手引导，完成项目 </div>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #C6C7C7;" title="打开项目设置"></i>
                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #C6C7C7;" title="星标"></i>
                        </span>
                    </h3>
                    <p th:text="${}">描述描述</p>
                </div>
            </li>

        </ul>
    </div>
    <!--项目回收站-->
    <div class="content-list recycle-bin " style="display: none">
        <ul class="layui-row layui-col-space30" style="display: none" th:if=" ${} lt '0'">
            <li class=" layui-col-md3 layui-anim layui-anim-scaleSpring" style="background-image: url('../static/image/bj.jpg')"  th:style="'background:url(' + @{/image/bj.jpg} + ');'">
                <div class="describe boxsizing">
                    <h3>
                        <div class="describe-title" th:text="${}">测试新手引导，完成项目 </div>
                        <span class="tools">
                        <i class="layui-icon layui-icon-edit " style="font-size: 15px; color: #C6C7C7;" title="打开项目设置"></i>
                        <i class="layui-icon layui-icon-rate-solid star" style="font-size: 15px; color: #C6C7C7;" title="星标"></i>
                        </span>
                    </h3>
                    <p th:text="${}">描述描述</p>
                </div>
            </li>
        </ul>
        <img class="kong" src="../static/image/kong.png" th:src="@{/image/kong.png}" th:if=" ${} equal '0'">
    </div>
</div>
</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/lib/layui/layui.js}" src="../static/lib/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });


    $(function () {
        console.log($(".content-list li").css("width"));
        // 高度随屏幕大小变化
         $(".content-list li").css("height",parseInt($(".content-list li").css("width"))*0.68 +'px' );
        //点击导航条显示对应内容
        $(".content-nav li").click(function () {
            var i=$(this).index();
            $(".content-nav li a").removeClass("selected");
            $(".content-nav li a").eq(i).addClass("selected");
           $(".content-list").hide();
           $(".content-list").eq(i).show()
        })
    })
</script>
</html>
