<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}" href="../static/css/share.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myscheduling.css}" href="../static/css/myscheduling.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}" href="../static/css/file.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/group.css}" href="../static/css/group.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/addtask.css}" href="../static/css/addtask.css">
</head>
<body>
<!--头部-->
<header th:include="common/header::frag (${user.userInfo.image},${user.id})"></header>
<div th:include="toper::toper (${project.projectName},${project.projectId})"></div>
<!--内容区域-->
<div class="content-wrap-wrap boxsizing">
   <div class="content boxsizing">
       <input type="hidden" th:value="${project.projectId}" id="projectId">
        <!--产品设计任务页面-->
        <div class="view boxsizing">
             <div class="board-scrum-view boxsizing">
               <ul class="board-scrum-stages boxsizing sortable">
                   <!--待处理-->
                   <li class="model tile boxsizing" th:each="taskMenu:${taskMenus}" th:id="${taskMenu.relationId}">
                       <div class="model-title boxsizing">
                           <span th:text="${taskMenu.relationName}" th:class="relationName">待处理</span>
                           <i class="layui-icon layui-icon-down add-new-model xjt" style="font-size: 15px; color: #B5B5B5;" title="添加或编辑任务列表"
                              th:id="${taskMenu.relationId}" th:data="${taskMenu.relationName}"></i>
                           <!--点击下箭头出现的内容-->
                       </div>
                       <!--任务列表-->
                       <div class="ul-wrap layui-form">
                           <ul th:id="${taskMenu.relationId}" class="taskList" th:classappend="tasklist+${taskMenu.relationId}">
                               <li class="task-card-mode clearfix"
                                   th:each="task:${taskMenu.taskList}"
                                   th:id="${task.taskId}">
                                  <div class="task-card">
                                      <!--//左边框线-->
                                      <div class="task-priority" th:if="${task.priority=='普通'}" th:classappend="bg-priority-0"></div>
                                      <div class="task-priority" th:if="${task.priority=='紧急'}" th:classappend="bg-priority-1"></div>
                                      <div class="task-priority" th:if="${task.priority=='非常紧急'}" th:classappend="bg-priority-2"></div>
                                      <div class="task-check-box">
                                          <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" lay-filter="finish_task"/>
                                      </div>
                                      <div class="task-content-set" th:onclick="'javascript:updateTask(\''+ ${task.taskId} +'\',\''+ ${task.projectId} +'\')'">
                                          <header class="assignment-top-box boxsizing clearfix">
                                              <span class="assignment-title" th:text="${task.taskName}">设计修改任务界面</span>
                                              <img class="assignment-tx" th:if="${task.taskMember != null}" th:src="#{IMAGE_SERVER}+${task.taskMember.memberImg}" />
                                          </header>
                                          <section class="assignment-bottom-box clearfix">
                                                  <span class="how-repeat" th:if="${task.repeat != '不重复'}" th:text="${task.repeat}">每天重复</span>
                                                  <img  th:if="${task.remind!='不提醒'}" th:src="@{/image/zhong.png}"/>
                                                  <img  th:if="${task.remarks!=null}" src="../static/image/file.png" th:src="@{/image/file.png}">
                                                  <!--<span class="span-img">-->
                                                    <!--<img src="../static/image/hpl.png" th:src="@{/image/hpl.png}">-->
                                                      <!--<span class="over-hidden">0/2</span>-->
                                                  <!--</span>-->
                                                  <!--<img  src="../static/image/fujian.png" th:src="@{/image/fujian.png}">-->
                                          </section>
                                      </div>
                                  </div>
                               </li>
                           </ul>
                           <!--添加任务框-->
                           <div class="add-task-box boxsizing" style="display: none" >
                               <div class="new-assignment boxsizing layui-form">
                                    <textarea placeholder="任务内容" th:id="taskName+${taskMenu.relationId}" class="layui-textarea rw-content boxsizing"></textarea>
                                   <div class="who-and-time">
                                       <input type="hidden" id="have-executor" th:value="${user.id}">
                                       <div class="who-wrap">
                                           <input th:name="userId" th:value="${user.id}" type="hidden"/>
                                           <img th:src="#{IMAGE_SERVER} + ${user.userInfo.image}" th:id="executorImg"/>
                                           <input type="hidden" th:id="executorId" th:value="${user.id}"/>
                                           <input type="hidden" th:id="executorName" th:value="${user.userName}"/>
                                           <span th:text="${user.userName}" id = "showExecutor">谁谁谁</span>
                                           <i class="layui-icon layui-icon-close-fill remove-who-wrap" style="font-size: 16px; color: #1E9FFF;"></i>
                                       </div>
                                       <div class="no-renling">
                                           <i class="layui-icon layui-icon-username no-people-img" style="font-size: 20px; color: #A6A6A6;"></i>
                                           <span>待认领</span>
                                       </div>
                                   </div>
                                   <div class="show-develop">
                                       <i class="layui-icon layui-icon-more" style="font-size: 20px; color: #a6a6a6;"></i>
                                       <span>更多</span>
                                   </div>
                                   <div class="develop" style="display: none">
                                       <div class="begin-time abox">
                                           <img th:src="@{/image/begintime.png}"/>
                                           <input type="text" class="layui-input" id="beginTime"th:name="startTime"  placeholder="开始时间">
                                       </div>
                                       <div class="over-time abox">
                                           <img th:src="@{/image/begintime.png}"/>
                                           <input type="text" class="layui-input" id="overTime" th:name="endTime" placeholder="截止时间">
                                       </div>
                                       <div class="norepeat abox">
                                           <img th:src="@{/image/norepeat.png}">
                                           <select name="repeat" lay-verify="" id = "repeat">
                                               <option value="不重复">不重复</option>
                                               <option value="每天重复">每天重复</option>
                                               <option value="每周重复">每周重复</option>
                                               <option value="每月重复">每月重复</option>
                                               <option value="每年重复">每年重复</option>
                                               <option value="工作日重复">工作日重复</option>
                                           </select>
                                       </div>
                                       <div class="noremand abox">
                                           <img th:src="@{/image/noremand.png}">
                                           <select name="remand" lay-verify="" id = "remand">
                                               <option value="不提醒">不提醒</option>
                                               <option value="任务开始时提醒">任务开始时提醒</option>
                                               <option value="任务截止时提醒">任务截止时提醒</option>
                                           </select>
                                       </div>
                                       <div class="pri layui-form">
                                           <div class="layui-input-block">
                                               <input type="radio" name="state" value="普通" title="普通" checked = "checked">
                                               <input type="radio" name="state" value="紧急" title="紧急">
                                               <input type="radio" name="state" value="非常紧急" title="非常紧急">
                                           </div>
                                       </div>
                                       <div class="add-tag tag-box clearfix">
                                           <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                                           <span>标签</span>
                                           <span class="no-tags">添加标签</span>
                                           <div class="has-tags">

                                           </div>
                                           <!--新建  搜索标签框-->
                                           <div class="tags-search-build" style="display: none">
                                               <!--搜索标签-->
                                               <div class="tag-search" >
                                                   <div class="tag-search-title boxsizing">
                                                       <input class="tag-search-input" type="text" placeholder="搜索标签">
                                                       <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                                                   </div>
                                                   <ul class="tags-ul boxsizing" id = "tags">
                                                       <!--这里是标签-->
                                                       <li class="tags-list">
                                                           <span class="dot"></span>
                                                           <span class="tag-font">aaa</span>
                                                       </li>
                                                   </ul>
                                               </div>
                                               <!--新建标签-->
                                               <div class="build-tags" style="display: none">
                                                   <div class="build-tags-title boxsizing">
                                                       <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                                                       新建标签
                                                       <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                                                   </div>
                                                   <div class="build-tags-con boxsizing">
                                                       <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                                                       <ul class="color-pick">
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                                                           </li>
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                                           </li>
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                                           </li>
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                                           </li>
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                                           </li>
                                                           <li>
                                                               <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                                           </li>
                                                       </ul>
                                                       <div class="tag-ok" disabled>创建</div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="heng-line"></div>
                                   <p class="cyz">参与者</p>
                                   <div class="work-people boxsizing clearfix">
                                       <div class="one-work-people" th:classappend="work-people+${taskMenu.relationId}" th:value="${user.id}">
                                           <img th:src="#{IMAGE_SERVER} + ${user.userInfo.image}">
                                           <input type="hidden" th:value="${user.userName}" />
                                           <i class="layui-icon layui-icon-close-fill remove-work-people "
                                              style="font-size: 15px; color: #3da8f5;"></i>
                                       </div>
                                       <div class="add-work-people ">
                                           <img th:src="@{/image/adds.png}">
                                       </div>
                                   </div>
                                   <!--人员 参与者 弹框-->
                                   <div>
                                       <input type="hidden" id = "memberId" />
                                       <div class="people boxsizing" style="display: none" >
                                           <input type="text" name="" placeholder="搜索" class="layui-input">
                                           <div class="peoples">
                                               <p id = "identity">参与者</p>
                                               <div id = "members" >

                                               </div>
                                               <p>推荐</p>
                                               <div id = "executor">
                                                   <!--项目成员列表-->
                                               </div>
                                           </div>
                                           <div id="people-ok" class="people-ok">确定</div>
                                       </div>
                                   </div>
                                   <div class="heng-line"></div>
                                   <div class="secret abox layui-form">
                                       <img th:src="@{/image/suo.png}">
                                       <span>隐私模式</span>
                                       <div class="who-can-see">所有成员可见</div>
                                       <div class="layui-btn layui-btn-normal new-assignment-ok"
                                            th:onclick="'javascript:addTask(\''+ ${taskMenu.relationId} +'\')'"
                                       >创建</div>
                                   </div>
                               </div>
                           </div>
                       </div>


                       <!--添加任务按钮-->
                       <div class="add-assignment" th:data="${project.projectId}">
                           <i class="layui-icon layui-icon-add-circle add-icon"></i>
                           <span>添加任务</span>
                       </div>
                   </li>

                   <!--新建任务列表-->
                   <li class="creat-model boxsizing">
                       <div class="noclick-creat-model">
                           <i class="layui-icon layui-icon-add-circle" style="font-size: 22px; color: #AEAEAE;"></i>
                           <span>新建任务列表</span>
                       </div>
                       <div class="click-creat-model" style="display: none">
                           <input type="text" name="title"  placeholder="新建任务列表..." autocomplete="off" class="layui-input creat-model-input">
                           <div class="clearfix">
                               <div class="creat-model-ok layui-btn layui-btn-normal">保存</div>
                               <div class="creat-model-no">取消</div>
                           </div>
                       </div>
                   </li>
               </ul>
             </div>
          </div>
   </div>
 </div>
<!--点击群组 出现的弹框-->
<div class="group-box">
    <div class="group-title boxsizing">
        <h3>项目成员</h3>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <!--<div class="search-box">-->
    <!--<input class="boxsizing" type="text" placeholder="搜索成员，或输入邮箱直接邀请">-->
    <!--</div>-->
    <div class="add-new-member boxsizing" style="margin-top: 15px">
        <img src="../static/image/adds.png" th:src="@{/image/adds.png}">
        <span>邀请新成员</span>
    </div>
    <ul class="group-people">
        <li class="boxsizing" th:each="projectMember:${projectMembers}">
            <img th:src="#{IMAGE_SERVER}+${projectMember.memberImg}">
            <div class="group-people-info">
                <p class="people-info-name" th:text="${projectMember.memberName}">名字</p>
                <p class="people-info-email"></p>
            </div>
            <i class="layui-icon layui-icon-down" style="font-size: 20px; color: #a6a6a6;" th:if="${projectMember.memberLable==0}" th:id="${projectMember.id}"></i>
        </li>
    </ul>
</div>
<!--邀请新成员-->
<div class="search_prople fuzhi-lianjie boxsizing" style="display: none">
    <input type="text" name="keyword"  placeholder="输入手机号/邮箱查找" autocomplete="off" class="layui-input keyword">
    <div class="people-box">
        <ul class="invitation"></ul>
    </div>
</div>
<script th:inline="javascript">

    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    var groupId = [[${currentGroup}]];
    var projectId = [[${project.projectId}]];

    //当前任务所在菜单id
    var taskMenuId = [[${taskMenuId}]];
    //当前任务执行者id
    var executorId = $("span[name = 'executor']").attr("value");

    layui.use(['element','form'], function(){
        var element = layui.element;
        var form = layui.form;
        form.on('checkbox(finish_task)', function(data){
            console.log(data);
        });

    });

    $('.creat-model-ok').click()

    $("#fileButton").click(function () {
        var projectId = getQueryString("projectId");
        $("#file").load("/file/list.html?projectId=" + projectId);
    });


    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]);
        return null;
    }

    function changeExecutor(taskId,image){
        var div = $('#'+taskId + ' div').first();
        $(div).children('img:eq(0)').attr('src',image);
    }

    function clearExecutor(taskId){
        var div = $('#'+taskId + ' div').first();
        $(div).children('img:eq(0)').attr('src','/image/add.png');
    }


    $('.remove-he').click(function (e) {
        $.post("");


    });

    $('.keyword').keyup(function (e) {
        $('.invitation').html('');
        var index = layer.load(1, {shade: [0.1,'#fff']});
        $.post('/project/searchMember',{"keyword":$('.keyword').val()},function (data) {
            parent.layer.close(index);
            if(data.result===1){
                for(var i=0;i<data.data.length;i++){
                    var user = data.data[i];
                    var li = '<li>\n' +
                        '            <img src="'+IMAGE_SERVER+user.userInfo.image+'" >\n' +
                        '            <span class="people-name">'+user.userName+'</span>\n' +
                        '            <span class="people-state no-join" data="'+user.id+'">添加</span>\n' +
                        '        </li>';
                    $('.invitation').append(li);
                }
            }else{

            }
        });
    });



    $("html").on("click",".people-box .people-state",function () {
        var id = $(this).attr('data');
        console.log($(this).attr('data'));
        console.log($(this).siblings('img').attr('src'));
        console.log($(this).siblings('span').text());

        $.post('/project/addProjectMember',{"projectId":projectId,"memberIds":id},function (data) {
            if(data.result===1){
                $('.group-people').html('');
                for(var i=0;i<data.data.length;i++) {
                    var projectMember = data.data[i];
                    var li = '<li class="boxsizing">\n' +
                        '            <img src="'+IMAGE_SERVER + projectMember.memberImg+'">\n' +
                        '            <div class="group-people-info">\n' +
                        '                <p class="people-info-name">'+projectMember.memberName+'</p>\n' +
                        '                <p class="people-info-email"></p></div>';
                    if(projectMember.memberLable===0){
                        li += '<i class="layui-icon layui-icon-down" style="font-size: 20px; color: #a6a6a6;" id="'+projectMember.id+'"></i></li>';
                    }else{
                        li += '</li>';
                    }

                    $('.group-people').append(li);
                }
            }
            $(this).removeClass("no-join")
        });
    });


    function addTask(taskMenuId) {
        //获取选中的参与者信息
        var members = [];
        $('.work-people .work-people'+taskMenuId).each(function () {
            members.push($(this).attr('value'));
        });

        //获取标签信息
        var tags = [];
        $('.tag').each(function () {
            tags.push($(this).attr('value'));
        });
        //设置任务的执行者
        var executor = $('#executorId').val();
        //设置任务开始时间
        var beginTime = $('#beginTime').val();
        if(beginTime != null && beginTime != ''){
            var startTime = new Date(beginTime.toString()).getTime();
        } else {
            startTime = null;
        }
        //设置任务结束时间
        var overTime = $('#overTime').val();
        if(overTime != null && overTime != ''){
            var endTime = new Date(overTime.toString()).getTime();
        } else{
            endTime = null;
        }
        //设置任务的内容
        var taskName = $("#taskName"+taskMenuId).val();
        //设置重复模式
        var repeat = $('#repeat').val();
        //设置任务提醒
        var remind = $('#remand').val();
        //设置任务优先级
        var priority = $('input[name="state"]:checked').val();
        //设置隐私模式
        var privacyPattern = "";
        if($('#privacyPattern').prop('checked')) {
            privacyPattern = "1";
        } else{
            privacyPattern = "0";
        }

        var url = "/task/saveTask";
        var args = {"startTime":startTime ,"endTime":endTime,"taskName":taskName,"repeat":repeat,"remind":remind,"priority":priority,"privacyPattern":privacyPattern,"taskMenuId":taskMenuId,"projectId" : projectId,"members":members.toString(),"executor":executor,"tagId":tags.toString()};
        $.post(url,args,function(data){
            if(data.result === 1){
                layer.msg("任务创建成功!");
                close();
            } else{
                layer.msg("任务创建失败!");
            }
        },"json");
    }
</script>
<script th:src="@{/js/addandchangetask.js}" src="../static/js/addandchangetask.js"></script>
<script th:src="@{/js/mainpage.js}" src="../static/js/mainpage.js"></script>
<script th:src="@{/js/file.js}" src="../static/js/file.js"></script>
<script th:src="@{/js/mainPageSocket.js}" src="../static/js/mainPageSocket.js"></script>
</body>

</html>
