<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/group.css}" href="../static/css/group.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/addtask.css}" href="../static/css/addtask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/search-people.css}" href="../static/css/search-people.css">
</head>
<body>
<!--头部-->
<header th:include="common/header::frag (${user.userInfo.image},${user.id})"></header>
<div th:include="toper::toper (${project})"></div>
<!--内容区域-->
<div class="content-wrap-wrap boxsizing">
   <div class="content boxsizing">
       <input type="hidden" th:value="${project.projectId}" id="projectId">
        <!--产品设计任务页面-->
        <div class="view boxsizing">
             <div class="board-scrum-view boxsizing">
               <ul class="board-scrum-stages boxsizing sortable">
                   <!--待处理-->
                   <li class="model tile boxsizing" th:each="taskMenu:${taskMenus}" th:id="${taskMenu.relationId}">
                       <header class="model-title boxsizing">
                           <span th:text="${taskMenu.relationName}" th:class="relationName">待处理</span>
                           <i class="layui-icon layui-icon-down add-new-model xjt" style="font-size: 15px; color: #B5B5B5;" title="添加或编辑任务列表"
                              th:id="${taskMenu.relationId}" th:data="${taskMenu.relationName}"></i>
                           <!--点击下箭头出现的内容-->
                       </header>
                       <!--任务列表-->
                       <div class="ul-wrap layui-form">
                           <ul th:id="${taskMenu.relationId}" class="taskList" th:classappend="taskList+${taskMenu.relationId}">
                               <li class="task-card-mode clearfix"
                                   th:each="task:${taskMenu.taskList}"
                                   th:id="${task.taskId}">
                                  <div class="task-card">
                                      <!--//左边框线-->
                                      <div class="task-priority bg-priority-0" th:if="${task.priority=='普通'}" th:classappend="priority+${task.taskId}"></div>
                                      <div class="task-priority bg-priority-1" th:if="${task.priority=='紧急'}" th:classappend="priority+${task.taskId}"></div>
                                      <div class="task-priority bg-priority-2" th:if="${task.priority=='非常紧急'}" th:classappend="priority+${task.taskId}"></div>
                                      <div class="task-check-box">
                                          <input type="checkbox" name="" th:checked="${task.taskStatus == '完成'}" title="" th:value="${task.taskId}" lay-skin="primary" class="is-sure" lay-filter="finish_task"/>
                                      </div>
                                      <div class="task-content-set" th:data="${task.taskId}" th:data-value="${task.projectId}" >
                                          <header class="assignment-top-box boxsizing clearfix">
                                              <span class="assignment-title" th:text="${task.taskName}" th:classappend="title+${task.taskId}">设计修改任务界面</span>
                                              <img class="assignment-tx" th:classappend="tx+${task.taskId}" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+${task.executorInfo.userInfo.image}" />
                                          </header>
                                          <section class="assignment-bottom-box clearfix" th:classappend="box+${task.taskId}">
                                                  <span class="how-repeat" th:if="${task.repeat != '不重复'}" th:text="${task.repeat}">每天重复</span>
                                                  <img  class="remind" th:src="@{/image/zhong.png}" th:style="'opacity:' + @{(${task.remind=='不提醒'} ? '0':'1')}"/>
                                                  <img  th:style="'opacity:' + @{(${task.remarks!=null and task.remarks!=''} ? '1':'0')}" th:src="@{/image/file.png}"/>
                                                  <!--<span class="span-img">-->
                                                    <!--<img src="../static/image/hpl.png" th:src="@{/image/hpl.png}">-->
                                                      <!--<span class="over-hidden">0/2</span>-->
                                                  <!--</span>-->
                                                  <!--<img  src="../static/image/fujian.png" th:src="@{/image/fujian.png}">-->
                                          </section>
                                      </div>
                                  </div>
                               </li>
                           </ul>
                           <!--添加任务框-->
                           <div class="add-task-box boxsizing" style="display: none" th:data="${taskMenu.relationId}"></div>
                       </div>

                       <!--添加任务按钮-->
                       <div class="add-assignment" th:data="${project.projectId}">
                           <i class="layui-icon layui-icon-add-circle add-icon"></i>
                           <span>添加任务</span>
                       </div>
                   </li>

                   <!--新建任务列表-->
                   <li class="creat-model boxsizing">
                       <div class="noclick-creat-model">
                           <i class="layui-icon layui-icon-add-circle" style="font-size: 22px; color: #AEAEAE;"></i>
                           <span>新建任务列表</span>
                       </div>
                       <div class="click-creat-model" style="display: none">
                           <input type="text" name="title"  placeholder="新建任务列表..." autocomplete="off" class="layui-input creat-model-input">
                           <div class="clearfix">
                               <div class="creat-model-ok layui-btn layui-btn-normal">保存</div>
                               <div class="creat-model-no">取消</div>
                           </div>
                       </div>
                   </li>
               </ul>
             </div>
          </div>
   </div>
 </div>

<script th:inline="javascript">
    var member = [[${user}]]
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    var groupId = [[${currentGroup}]];
    var projectId = [[${project.projectId}]];

    layui.use(['element','form'], function(){
        var element = layui.element;
        var form = layui.form;
    });

    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]);
        return null;
    }

</script>
<script th:src="@{/js/addandchangetask.js}" src="../static/js/addandchangetask.js"></script>
<script th:src="@{/js/mainpage.js}" src="../static/js/mainpage.js"></script>
<script th:src="@{/js/mainPageSocket.js}" src="../static/js/mainPageSocket.js"></script>
<script th:src="@{/js/add_task.js}" src="../static/js/add_task.js"></script>

</body>

</html>
