<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myscheduling.css}" href="../static/css/myscheduling.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mynearthing.css}" href="../static/css/mynearthing.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mycollect.css}" href="../static/css/mycollect.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}" href="../static/css/file.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mytask.css}" href="../static/css/mytask.css">
</head>
<body>
<!--点击 ‘我的’ 出现的顶部内容-->
<div class="my-toper" >
    <div class="my-nav-wrap">
        <ul>
            <li id="click-near-thing" class="now">近期的事</li>
            <li id="click-my-task">任务</li>
            <li id="click-my-scheduling">日程</li>
            <li id="click-my-file">文件</li>
            <li id="click-my-collect">收藏</li>
        </ul>
    </div>
    <i class="layui-icon layui-icon-close" style="font-size: 20px; color: gray;"></i>
</div>
<!--我的页面内容部分-->
<div class="mypage-content" style="margin-top: 50px">
  <!--近期的事-->
    <div id="near-thing" style="display: none" >
        <div class="near-thing-box boxsizing">
            <div class="thing-title boxsizing">
               <div> <span>近期的事  + </span><span th:text="${#lists.size(taskList)}">1</span></div>
            </div>
            <div class="things layui-form">
                <!--任务-->
                <ul class="rw">
                    <li class="thing-list" th:each="task : ${taskList}">
                       <div class="urgent-state"></div>
                        <div class="things-info boxsizing">
                            <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                            <div class="rw-span-wrap">
                                <span class="what-thing" th:text="${task.taskName}">项目名称</span>
                                <span class="what-thing" >属于5d管理系统</span>
                            </div>
                            <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                            <span class="thing-what-date">—</span>
                            <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                           </div>

                    </li>
                </ul>
                <!--日程-->
                <ul class="rc">
                    <li class="thing-list" th:each="task : ${taskList}">
                        <div class="things-info boxsizing">
                            <img src="../static/image/rc.png" th:src="@{/image/rc.png}">
                            <div class="rc-span-wrap">
                                <span class="what-thing" th:text="${task.taskName}">项目名称</span>
                                <span class="what-thing" >属于5d管理系统</span>
                            </div>
                            <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                            <span class="thing-what-date">—</span>
                            <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div style="display: none" class="state-tk">
            <ul>
                <li class="boxsizing putong">
                    <span>普通</span>
                    <i class="layui-icon layui-icon-ok" style="font-size: 18px; color: #a6a6a6;"></i>
                </li>
                <li class="boxsizing jinji">
                    <span>紧急</span>
                    <i class="layui-icon layui-icon-ok" style="font-size: 18px; color: #a6a6a6;"></i>
                </li>
                <li class="boxsizing very-jinji">
                    <span>非常紧急</span>
                    <i class="layui-icon layui-icon-ok" style="font-size: 18px; color: #a6a6a6;"></i>
                </li>
            </ul>
        </div>
    </div>
    <!--任务 页面-->
    <div id="my-task"  style="display: none" >
        <div class="my-task-box  layui-form">
            <div class="my-task-title boxsizing">
                <div class="my-task-title-left">
                    <span class="now">我执行的</span>
                    <span>我创建的</span>
                    <span>我参与的</span>
                </div>
                <div class="my-task-title-right">
                    <i class="layui-icon layui-icon-down" style="font-size: 16px; color: #D0D0D0;float: right"></i>
                    <select name="" lay-verify="">
                        <option value="" selected>按优先级排序</option>
                        <option value="">按截止时间排序</option>
                        <option value="" >按创建时间最近排序</option>
                        <option value="">按项目名称排序</option>
                    </select>
                    <i class="layui-icon layui-icon-down" style="font-size: 16px; color: #D0D0D0;float: right"></i>
                    <select name="" lay-verify="">
                        <option value="" selected>未完成</option>
                        <option value="">已完成</option>
                    </select>

                </div>
            </div>

            <div class="things layui-form">
            <div class="things-wrap">
                <div class="things layui-form">
                    <ul>
                        <li class="thing-list" th:each="task : ${taskList}">
                            <div class="urgent-state"></div>
                            <div class="things-info boxsizing">
                                <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                                <div class="rw-span-wrap">
                                    <span class="what-thing" th:text="${task.taskName}">项目名称</span>
                                    <span class="what-thing" >属于5d管理系统</span>
                                </div>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                                <span class="thing-what-date">—</span>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="things layui-form" style="display: none">
                    <ul>
                        <li class="thing-list" th:each="task : ${taskList}">
                            <div class="urgent-state"></div>
                            <div class="things-info boxsizing">
                                <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                                <div class="rw-span-wrap">
                                    <span class="what-thing" th:text="${task.taskName}">项目名称</span>
                                    <span class="what-thing" >属于5d管理系统</span>
                                </div>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                                <span class="thing-what-date">—</span>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                            </div>

                        </li>
                    </ul>

                </div >
                <div class="things layui-form" style="display: none">
                    <ul>
                        <li class="thing-list" th:each="task : ${taskList}">
                            <div class="urgent-state"></div>
                            <div class="things-info boxsizing">
                                <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                                <div class="rw-span-wrap">
                                    <span class="what-thing" th:text="${task.taskName}">项目名称</span>
                                    <span class="what-thing" >属于5d管理系统</span>
                                </div>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                                <span class="thing-what-date">—</span>
                                <span class="thing-what-date" th:text="${#calendars.format(task.endTime,'M月d日 HH:ss')}">6月10日 14:14</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>




        </div>
    </div>
    </div>
    <!--日程页面-->
    <div id="my-scheduling"  style="display: none" >
        <div class="add-scheduling">
            <div class="middle-box">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                添加日程
            </div>
        </div>
        <!--//每一个折叠区域-->
        <div class="my-scheduling-box boxsizing layui-form">
            <div class="scheduling-title">
                <span class="now">未来的日程</span><span>过去的日程</span>
            </div>
            <div class="my-scheduling-wrap">
                <div class="layui-collapse my-scheduling">
                    <div class="layui-colla-item">
                        <div class="layui-colla-title">
                            <span class="scheduling-date">今天</span><span class="scheduling-num">+2</span>
                        </div>
                        <div class="layui-colla-content layui-show scheduling-list">
                            <ul>
                                <li>
                                    <div class="scheduling-time">
                                        <span>8:15</span><span>——</span><span>16:15</span>
                                    </div>
                                    <div class="scheduling-name">
                                        <span>设计项目主机</span><span>——</span><span>项目名称</span>
                                    </div>
                                    <div class="scheduling-dt">dt-12</div>
                                </li>
                                <li>
                                    <div class="scheduling-time">
                                        <span>8:15</span><span>——</span><span>16:15</span>
                                    </div>
                                    <div class="scheduling-name">
                                        <span>设计项目主机</span><span>——</span><span>项目名称</span>
                                    </div>
                                    <div class="scheduling-dt">dt-12</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-collapse my-scheduling" style="display: none">
                    <div class="layui-colla-item">
                        <div class="layui-colla-title">
                            <span class="scheduling-date">昨天</span><span class="scheduling-num">+2</span>
                        </div>
                        <div class="layui-colla-content layui-show scheduling-list">
                            <ul>
                                <li>
                                    <div class="scheduling-time">
                                        <span>8:15</span><span>——</span><span>16:15</span>
                                    </div>
                                    <div class="scheduling-name">
                                        <span>设计项目主机</span><span>——</span><span>项目名称</span>
                                    </div>
                                    <div class="scheduling-dt">dt-12</div>
                                </li>
                                <li>
                                    <div class="scheduling-time">
                                        <span>8:15</span><span>——</span><span>16:15</span>
                                    </div>
                                    <div class="scheduling-name">
                                        <span>设计项目主机</span><span>——</span><span>项目名称</span>
                                    </div>
                                    <div class="scheduling-dt">dt-12</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--日程菜单 弹框-->
        <div style="display: none" class="scheduling-menu boxsizing layui-form">
            <div class="scheduling-menu-title">日程菜单</div>
            <div class="menu-box edit-rc">
                <img src="../static/image/bjrc.png" th:src="@{/image/bjrc.png}" />
                <span>编辑日程</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/fzrc.png" th:src="@{/image/fzrc.png}" />
                <span>复制日程</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/fzrclj.png" th:src="@{/image/fzrclj.png}" />
                <span>复制日程链接</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/gxrc.png" th:src="@{/image/gxrc.png}" />
                <span>共享日程</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/scrc.png" th:src="@{/image/scrc.png}" />
                <span>收藏日程</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/ydrc.png" th:src="@{/image/ydrc.png}" />
                <span>移动日程</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
                <span>移到回收站</span>
            </div>
            <div class="heng-line"></div>
            <div class="secret menu-box layui-form">
                <img src="../static/image/suo.png" th:src="@{/image/suo.png}" />
                <span>隐私模式</span>
                <div class="switch">
                    <input type="checkbox" name="" lay-skin="switch" lay-filter="switch-filter">
                </div>
                <div class="who-can-see">所有成员可见</div>
            </div>

        </div>
    </div>
    <!--文件页面-->
    <div id="my-file"  style="display: none" >
        <div class="file-box boxsizing layui-form">
            <div class="file-toper">
                <span class="now icreated">我创建的</span><span class="ipartin">我参与的</span>
            </div>
            <!--没有文件-->
            <div class="no-file" style="display: none">
                <img src="../static/image/nofile.png" th:src="@{/image/nofile.png}" />
                <p>目前还没有文件～</p>
            </div>
            <!--有文件-->
            <div class="have-file">

                <!--缩略图模式-->
                <div class="img-show-wrap">
                    <ul class="img-show clearfix" id="fileListUl">
                        <li class="boxsizing new-file-wrap" style="display: none">
                            <div class="one-file">
                                <img src="../static/image/nofile.png" th:src="@{/image/nofile.png}">
                            </div>
                            <div class="one-file-name"><input class="boxsizing" type="text" placeholder="按 Enter 新建文件夹"/></div>
                        </li>
                        <li class="boxsizing one-file-wrap" th:each="file:${fileList}">
                            <div class="one-file boxsizing fileList">
                                <input class="pick-it" type="checkbox" name="fileCheck" th:value="${file.fileId}" title="" lay-skin="primary" lay-filter="checks">
                                <img src="../static/image/nofile.png" th:class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                <i class="layui-icon layui-icon-download-circle img-show-download" style="font-size: 20px; color: #ADADAD;"></i>
                                <i class="layui-icon layui-icon-about img-show-more" style="font-size: 20px; color: #ADADAD;"></i>
                                <!--<div class="img-show-operate">-->
                                <!--<i class="layui-icon layui-icon-down" style="font-size: 12px; color: #ADADAD;"></i>-->
                                <!--</div>-->
                            </div>
                            <div class="one-file-name" th:text="${file.fileName}" th:data="${file.fileId}">图片222.zip</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--文件菜单 弹框-->
            <div class="scheduling-menu boxsizing layui-form" style="display:none;">
                <div class="scheduling-menu-title">文件菜单
                    <img src="../static/image/close.png" th:src="@{/image/close.png}" />
                </div>
                <div class="menu-box edit-rc">
                    <img src="../static/image/fzrc.png" th:src="@{/image/fzrc.png}" />
                    <span>复制文件</span>
                </div>
                <div class="menu-box edit-rc">
                    <img src="../static/image/fzrclj.png" th:src="@{/image/fzrclj.png}" />
                    <span>复制文件链接</span>
                </div>
                <div class="menu-box edit-rc">
                    <img src="../static/image/gxrc.png" th:src="@{/image/gxrc.png}" />
                    <span>共享文件</span>
                </div>
                <div class="menu-box edit-rc">
                    <img src="../static/image/scrc.png" th:src="@{/image/scrc.png}" />
                    <span>收藏文件</span>
                </div>
                <div class="menu-box edit-rc">
                    <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
                    <span>移到回收站</span>
                </div>
                <div class="heng-line"></div>
                <div class="secret menu-box layui-form">
                    <img src="../static/image/suo.png" th:src="@{/image/suo.png}" />
                    <span>隐私模式</span>
                    <div class="switch">
                        <input type="checkbox" name="" lay-skin="switch" lay-filter="switch-filter">
                    </div>
                    <div class="who-can-see">所有成员可见</div>
                </div>

            </div>
        </div>
    </div>
    <!--收藏页面-->
    <div id="my-collect"  style="display: block" >
        <div class="my-collect">
            <div class="collect-head">
                <span class="now">所有收藏</span> <span>任务</span> <span>分享</span>
                <span>文件</span> <span>日程</span>
            </div>
            <!--没有收藏-->
            <div class="no-collect" style="display: none">
                <img src="../static/image/nocollect.png" th:src="@{/image/nocollect.png}" />
                <p>还没有任何收藏</p>
                <p>你可以收藏有价值的任务、分享、文件、日程和有关账册！</p>
            </div>
            <!--有收藏-->
            <div class="has-collect">
                <ul class="rc-collect">
                    <li>
                        <div class="collect-item-top">
                            <span class="collect-item-top-date">7月10日</span>
                            <span class="collect-item-top-remove">取消收藏</span>
                        </div>
                        <div class="collect-item-middle clearfix">
                            <div class="collect-item-middle-img">
                                <img src="../static/image/rcwhite.png" th:src="@{/image/rcwhite.png}">
                            </div>
                            <p class="collect-item-name">收藏日程名称</p>
                        </div>
                        <div class="collect-item-bottom">
                            <span>1月8日 12:00</span>
                            <span>—</span>
                            <span>2月8日 12:00</span>
                        </div>
                    </li>
                </ul>
                <ul class="rw-collect">
                    <li>
                        <div class="collect-item-top">
                            <span class="collect-item-top-date">7月10日</span>
                            <span class="collect-item-top-remove">取消收藏</span>
                        </div>
                        <div class="collect-item-middle clearfix">
                            <div class="collect-item-middle-img">
                                <img src="../static/image/rcwhite.png" th:src="@{/image/rcwhite.png}">
                            </div>
                            <img class="collect-item-touxiang" src="../static/image/lpb.png" th:src="@{/image/lpb.png}">
                            <p class="collect-item-name">收藏任务名称</p>
                            <div class="collect-item-right">昨天18:00</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script id="myTask" type="text/html">
    <ul>
        {{#  layui.each(d.list, function(index, item){ }}
        <li class="thing-list">
            <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
            <span class="what-thing">{{}}</span>
            <span class="thing-what-date">{{}}</span>
        </li>
        {{#  }); }}
        {{#  if(d.list.length === 0){ }}
        无数据
        {{#  } }}
    </ul>
</script>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/Sortable.min.js}" src="../static/js/Sortable.min.js"></script>
<script th:src="@{/js/mypage.js}" src="../static/js/mypage.js"></script>

</html>