<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css"  href="../static/css/common.css">
    <link rel="stylesheet" type="text/css"  href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/myscheduling.css">
    <link rel="stylesheet" href="../static/css/mynearthing.css">
</head>
<body>
<div class="add-scheduling">
    <div class="middle-box">
        <img src="../static/image/adds.png" >
        添加日程
    </div>
</div>
<!--//每一个折叠区域-->
<div class="my-scheduling-box boxsizing layui-form">
    <div class="scheduling-title">
        <span class="now">未来的日程</span><span>过去的日程</span>
    </div>
    <div class="layui-collapse my-scheduling">
        <div class="layui-colla-item">
            <div class="layui-colla-title">
                <span class="scheduling-date">今天</span><span class="scheduling-num">+2</span>
            </div>
            <div class="layui-colla-content layui-show scheduling-list">
               <ul>
                   <li>
                       <div class="scheduling-time">
                           <span>8:15</span><span>——</span><span>16:15</span>
                       </div>
                       <div class="scheduling-name">
                           <span>设计项目主机</span><span>——</span><span>项目名称</span>
                       </div>
                       <div class="scheduling-dt">dt-12</div>
                   </li>
                   <li>
                       <div class="scheduling-time">
                           <span>8:15</span><span>——</span><span>16:15</span>
                       </div>
                       <div class="scheduling-name">
                           <span>设计项目主机</span><span>——</span><span>项目名称</span>
                       </div>
                       <div class="scheduling-dt">dt-12</div>
                   </li>
               </ul>
            </div>
        </div>
    </div>
</div>


<!--编辑日程 弹框-->
<div class="edit-scheduling boxsizing layui-form">
    <div class="edit-scheduling-title">编辑日程</div>
    <textarea name=""  placeholder="设计修改任务界面" class="layui-textarea"></textarea>
    <div class="begin-time abox">
        <img src="../static/image/begintime.png" >
        <input type="text" class="layui-input" id="beginTime" placeholder="设置开始时间">
    </div>
    <div class="over-time abox">
        <img src="../static/image/begintime.png" >
        <input type="text" class="layui-input" id="overTime" placeholder="设置截止时间">
    </div>
    <div class="no-repeat abox">
        <img src="../static/image/norepeat.png" >
        <select name="repeat" lay-verify="">
            <option value="repeat-no">不重复</option>
            <option value="repeat-day">每天重复</option>
            <option value="repeat-week">每周重复</option>
            <option value="repeat-mouth">每月重复</option>
            <option value="repeat-year">每年重复</option>
            <option value="repeat-workday">工作日重复</option>
        </select>
    </div>
    <div class="no-remand abox">
        <img src="../static/image/noremand.png" >
        <select name="remand" lay-verify="">
            <option value="remand-no">不提醒</option>
            <option value="remand-over">任务截止时提醒</option>
            <option value="remand-begin">任务开始时提醒</option>
        </select>
    </div>
    <div class="heng-line"></div>
    <p class="cyz">参与者</p>
    <div class="work-people boxsizing clearfix">
        <div class="one-work-people">
            <img src="../static/image/add.png" >
            <i class="layui-icon layui-icon-close-fill remove-work-people " style="font-size: 15px; color: #3da8f5;"></i>
        </div>
        <div class="add-work-people">
            <img src="../static/image/adds.png" >
        </div>
    </div>
    <div class="heng-line"></div>
    <div class="edit-scheduling-ok">保存</div>
</div>

<!--日程菜单 弹框-->
<div class="scheduling-menu boxsizing layui-form">
    <div class="scheduling-menu-title">日程菜单</div>
    <div class="menu-box edit-rc">
        <img src="../static/image/bjrc.png" >
        <span>编辑日程</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/fzrc.png" >
        <span>复制日程</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/fzrclj.png" >
        <span>复制日程链接</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/gxrc.png" >
        <span>共享日程</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/scrc.png" >
        <span>收藏日程</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/ydrc.png" >
        <span>移动日程</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/hsz.png" >
        <span>移到回收站</span>
    </div>
    <div class="heng-line"></div>
    <div class="secret menu-box layui-form">
        <img src="../static/image/suo.png" >
        <span>隐私模式</span>
        <div class="switch">
            <input type="checkbox" name="" lay-skin="switch" lay-filter="switch-filter">
        </div>
        <div class="who-can-see">所有成员可见</div>
    </div>

</div>
</body>
<script  src="../static/js/jquery-2.2.4.min.js"></script>
<script  src="../static/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        form.on('switch(switch-filter)', function(data){
            console.log(data.elem.checked); //开关是否开启，true或者false
            if (data.elem.checked) {
                $(".who-can-see").text("仅自己可见")
            }else {
                $(".who-can-see").text("所有成员可见")
            }
        });



    });
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#beginTime', //指定元素
            type:'datetime',
            format:'yyyy年MM月dd日 HH时mm分ss秒'
        });
        laydate.render({
            elem: '#overTime', //指定元素
            type:'datetime',
            format:'yyyy年MM月dd日 HH时mm分ss秒'
        });
    });
</script>
</html>
