<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form id="loginForm">
    <input type="text" name="username" title="用户名"><br>
    <input type="password" name="password" title="密码">
    <a href="javascript:void(0)" id="loginBtn">登陆</a>
</form>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script>
    $(function () {
        $("#loginBtn").click(function () {
            var params = $("#loginForm").serialize();
            $.post("/login", params, function (data) {
                console.log(data);
            })
        });
    })
</script>
</body>
</html>