<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>修改任务</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recycle-bin.css}" href="../static/css/recycle-bin.css">

    <!-- 表情样式 -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/expression/css/bootstrap.css}" href="../static/expression/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/jquery.mCustomScrollbar.min.css}" href="../static/expression/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/jquery.emoji.css}" href="../static/expression/dist/css/jquery.emoji.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/railscasts.css}" href="../static/expression/css/railscasts.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/index.css}" href="../static/expression/dist/css/index.css"/>
</head>
<body style="background-color: white;border-radius: 5px">
<!--设计修改任务界面-->
<input type="hidden" th:value="${task.taskId}" id = "taskId" />
<input type="hidden" th:value="${projectId}" id = "projectId" />
<div id="revise-task" class="revise-task-wrap layui-form" >
   <div class="delete-box boxsizing">
       <p>
           <i class="iconfont icon-lajixiang "></i>
           <span>任务已在回收站中，不可修改</span>
       </p>
       <i class="layui-icon layui-icon-close " style="font-size: 18px; color: #a6a6a6;"></i>
       <div class="box delete-btn">
           <i class="iconfont icon-lajixiang"></i>
           <span>彻底删除</span>
       </div>
       <div class="box huifu-btn">
           <i class="iconfont icon-iconhuifu"></i>
           <span>恢复内容</span>
       </div>


   </div>

    <div class="revise-task boxsizing "  th:date-ids="${task.taskDel}">
        <div class="hide-zan-x">
            <i class="layui-icon layui-icon-close close-revise-task" style="font-size: 18px; color: #a6a6a6;"></i>
            <i class="layui-icon layui-icon-down assignment-menu-show" style="font-size: 18px; color: #a6a6a6;"></i>
            <div class="zan">
                <img class = "nozan"  th:style="'display:' + (${isFabulous} ? 'block' : 'none') + ''" src="../static/image/zan.png" th:src="@{/image/zan.png}" />
                <img class="cancel"  th:style="'display:' + (${isFabulous} ? 'none' : 'block') + ''" src="../static/image/zan-blue.png" th:src="@{/image/zan-blue.png}" />
                <span th:if="${task.fabulousCount > 0}" th:text="${task.fabulousCount}"></span>
                <span th:if="${task.fabulousCount == 0}"></span>
            </div>
        </div>

        <!--<div class="revise-task-title" th:text="${taskMenuVo.projectName}"><span class="what-task" th:text="${taskMenuVo.taskGroupName}"></span><span class="what-test" th:text="${menuRelation.relationName}"></span></div>-->
        <div class="task-name">
            <input type="checkbox" lay-filter = "taskComplete" lay-skin="primary" th:checked="${task.taskStatus == '完成'}" class="is-sure"  th:id="taskComplete">
            <input type="text" th:value="${task.taskName}" class="task_name boxsizing layui-input"/>
        </div>
        <div class="who-and-time">

            <div class="who-wrap" th:if="${task.executorInfo != null}">
                <input type="hidden" th:value="${task.executor}" id = "executorId"/>
                <img th:src="#{IMAGE_SERVER}+${task.executorInfo.userInfo.image}" id = "executorImg" />
                <span th:text="${task.executorInfo.userName}" id = "executorName"></span>
                <i class="layui-icon layui-icon-close-fill remove-who-wrap" style="font-size: 16px; color: #1E9FFF;"></i>
            </div>
            <div class="no-renling" th:if="${task.executorInfo == null}">
                <i class="layui-icon layui-icon-username no-people-img" style="font-size: 20px; color: #A6A6A6;"></i>
                <span>待认领</span>
            </div>
            <div class="time-wrap">
                <img src="../static/image/begintime.png" th:src="@{/image/begintime.png}"/>
                <input type="text" class="layui-input kaishi-time" id="beginTimes" placeholder="设置开始时间" th:value = "${#dates.format(task.startTime,'yyyy-MM-dd HH:mm:ss')}"/>
            </div>
            <div class="time-wrap">
                <img src="../static/image/overtime.png" th:src="@{/image/overtime.png}" />
                <input type="text" class="layui-input jieshu-time" id="overTimes" placeholder="设置截止时间" th:value="${#dates.format(task.endTime,'yyyy-MM-dd HH:mm:ss')}" />
            </div>

            <div class="no-repeat">
                <input type="hidden" th:value="${task.repeat}" id = "oldRepeat"/>
                <i class="iconfont icon-repeat" style="font-size: 18px;line-height: 24px;color: #a6a6a6;" th:if="${task.repeat=='不重复'}"></i>
                <i class="iconfont icon-repeat" style="font-size: 18px;line-height: 24px;color: #3DA8F5;"  th:if="${task.repeat!='不重复'}"></i>
                <select name="repeat" lay-verify="" lay-filter = "repeat">
                    <option value="不重复" th:selected="${task.repeat == '不重复'}">不重复</option>
                    <option value="每天重复" th:selected ="${task.repeat == '每天重复'}">每天重复</option>
                    <option value="每周重复" th:selected ="${task.repeat == '每周重复'}" >每周重复</option>
                    <option value="每月重复" th:selected="${task.repeat == '每月重复'}">每月重复</option>
                    <option value="每年重复" th:selected="${task.repeat == '每年重复'}" >每年重复</option>
                    <option value="工作日重复" th:selected="${task.repeat == '工作日重复'}" >工作日重复</option>
                </select>
            </div>
            <div class="no-remand">
                <i class="iconfont icon-tixing" style="font-size: 18px;line-height: 24px;color: #a6a6a6;" th:if="${task.remind=='不提醒'}"></i>
                <i class="iconfont icon-tixing" style="font-size: 18px;line-height: 24px;color: #3DA8F5;" th:if="${task.remind!='不提醒'}"></i>
                <input type="hidden" th:value="${task.remind}" id = "oldRemind"/>
                <select name="remand" lay-verify="" lay-filter = "remind">
                    <option value="不提醒" th:selected="${task.remind == '不提醒'}" >不提醒</option>
                    <option value="任务开始时提醒" th:selected="${task.remind == '任务开始时提醒'}">任务开始时提醒</option>
                    <option value="任务截止时提醒" th:selected="${task.remind == '任务截止时提醒'}" >任务截止时提醒</option>
                </select>
            </div>
        </div>

        <div class="heng-line"></div>

        <div class="add-bz combox">
            <img src="../static/image/beizhu.png" th:src="@{/image/beizhu.png}" />
            <span>备注</span>
            <div style="float: left;width: 300px;height: 30px;line-height: 30px" id = "remarks">待添加</div>
        </div>
        <div class="add-beizhu-box" style="display: none;margin-top: 10px">
            <!-- 富文本框 -->
             <div>
                 <div id="editor1" class="toolbar" style="background-color: #EEEEEE;"></div>
                <div style="padding: 5px 0; color: #ccc"></div>

                 <div id="editor2" style="background-color: #FFFFFF;" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
                     <p></p>
                </div>
            </div>
            <div class="clearfix">
                <div class="remark-task-ok layui-btn layui-btn-normal common-ok-style">保存</div>
                <div class="child-remarks-no common-no-style">取消</div>
            </div>
        </div>
        <div class="yxj combox">
            <img src="../static/image/yxj.png" th:src="@{/image/yxj.png}" />
            <span>优先级</span>
            <div class="layui-input-block">
                <input type="hidden" th:value="${task.priority}" id = "oldPriority"/>
                <input type="radio" lay-filter = "priority" name="state" value="普通" title="普通" th:checked="${task.priority == '普通'}">
                <input type="radio" lay-filter = "priority" name="state" value="紧急" title="紧急" th:checked="${task.priority == '紧急'}">
                <input type="radio" lay-filter = "priority" name="state" value="非常紧急" title="非常紧急" th:checked="${task.priority == '非常紧急'}">
            </div>
        </div>
        <div class="add-tag tag-box clearfix">
            <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
            <span>标签</span>
            <div class="has-tags" th:if="${task.tagList != null}">
                <span class="tag" th:each="tag:${task.tagList}"  th:id="${tag.tagId}"  th:style="'background-color:'+${tag.bgColor}+''">
                    <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                    <i class="layui-icon layui-icon-close-fill remove-tag" style="font-size: 14px; color: #1E9FFF;"></i>
                </span>
            </div>
            <i class="layui-icon layui-icon-add-circle no-tags" style="font-size: 20px; color: #1E9FFF;"></i>
        </div>
        <div class="heng-line"></div>
        <div class="child-task combox" th:if="${task.parentId == '0'}">
            <img src="../static/image/zrw.png" th:src="@{/image/zrw.png}" />
            <span>子任务</span>
        </div>

        <!--具体子任务-->
        <div th:id="subTask">
            <div class="child-task-list" th:each="subTask:${task.taskList}">
                <input type="checkbox" name="subTask" title="" lay-skin="primary" lay-filter = "subTask" th:value="${subTask.taskId}" th:checked="${subTask.taskStatus == '完成'}">
                <input type="hidden" th:value="${subTask.taskName}" th:id="${subTask.taskId}" />
                <div class="child-task-con">
                    <span th:text="${subTask.taskName}"></span>
                </div>
                <i class="layui-icon layui-icon-right go-detail" style="font-size: 16px; color: #a6a6a6;"></i>
                <img class="child-task-who" src="../static/image/lpb.png" th:src="@{/image/lpb.png}">
            </div>
        </div>

        <div id = "addSubTask" th:style="'display:' + @{(${task.taskStatus != '完成'} ? 'block':'none')}">
            <!--添加子任务-->
            <div class="add-child-task combox" th:if="${task.parentId == '0'}">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                <span>添加子任务</span>
            </div>
            <div class="click-add-child-task common-add-style" style="display: none">
                <input type="text" name="title"  placeholder="子任务名称..." autocomplete="off" class="layui-input creat-model-input">
                <div class="clearfix">
                    <div class="child-task-ok layui-btn layui-btn-normal common-ok-style child">保存</div>
                    <div class="child-task-no common-no-style">取消</div>
                </div>
            </div>
        </div>
        <div class="guanlian combox">
            <img src="../static/image/guanlian.png" th:src="@{/image/guanlian.png}" />
            <span>关联内容</span>
        </div>
        <div class="add-guanlian combox">
            <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
            <span>添加关联</span>
        </div>

        <div class="file-queue-box">
            <ul th:class="task-file+${task.taskId}" >
                <li class="boxsizing" th:each="taskFile:${task.taskFileList}" >
                    <img th:src="#{IMAGE_SERVER}+${taskFile.fileThumbnail}" th:if="${taskFile.fileThumbnail!=null}"/>
                    <img src="/image/file_1.png" th:if="${taskFile.fileThumbnail==null}"/>
                    <p class="file-name" th:text="${#strings.length(taskFile.fileName) gt 10 ? #strings.substring(taskFile.fileName,0,9)+taskFile.fileExt:taskFile.fileName}">文件</p>
                    <span th:id="${taskFile.id}" class="download">下载文件</span>
                </li>
            </ul>
        </div>
        <div class="add-file-btn-box combox task-upload-file">
            <img th:src="@{/image/adds.png}" />
            <span>添加附件</span>
            <div class="file-upload">
                <div class="task-fujian-box boxsizing" id="container">
                    <div class="fujian-box-title boxsizing">
                        添加附件
                        <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                    </div>
                    <div class="zj-up model-file">
                        <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>上传模型文件</span>
                    </div>
                    <div class="zj-up common-file">
                        <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>上传普通文件</span>
                    </div>
                    <div class="xian"></div>
                    <div class="select-up">
                        <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>从文件库选择</span>
                    </div>
                </div>
            </div>

        </div>

        <div id = "bind">
            <!--关联 部分-->
            <div class="related-box">
                <div class="flex-box related-rw-wrap" th:style="'display:' + @{(${bindingVo.taskList!=null} ? 'block':'none')}">任务 <span></span></div>
                <ul class="related-rw">
                    <li class="boxsizing data-info"  th:each="task:${bindingVo.taskList}"  th:data-id="${task.taskId}">
                        <div class="check-box" th:value="${task.taskName}">
                            <input type="checkbox" disabled="disabled" th:value = "${task.taskId}" lay-filter="bindTask" name="" th:checked="${task.taskStatus == '完成'}" lay-skin="primary">
                        </div>
                        <div class="related-rw-info">
                            <img src="../static/image/begintime.png" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+ ${task.executorInfo.userInfo.image}">
                            <img th:if="${task.executor == ''}" th:src="@{/image/person.png}">
                            <span th:text="${task.taskName}"></span>
                        </div>
                        <div class="related-rw-describe over-hidden" th:text = "${task.project.projectName}"></div>
                        <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                        <!--取消关联框-->
                        <div class="related-menu" style="display: none">
                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                            <div class="related-menu-title">关联菜单</div>
                            <ul>
                                <!--<li class="boxsizing">-->
                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                <!--<span>复制链接</span>-->
                                <!--</li>-->
                                <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${task.taskId}">
                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                    <span>取消关联</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--文件-->
                <div class="related-wj-wrap" th:style="'display:' + @{(${bindingVo.fileList != null} ? 'block':'none')}">
                    <div class="flex-box">文件 <span></span></div>
                    <ul class="related-wj">
                        <li class="boxsizing data-info" th:each="file:${bindingVo.fileList}" th:data-id = "${file.fileId}">
                            <div class="related-wj-info">
                                <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0}and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'})"/>
                                <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '..doc'}"/>
                                <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.docx'}"/>
                                <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xls'}"/>
                                <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xlsx'}"/>
                                <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pptx'}"/>
                                <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.ppt'}"/>
                                <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                <img class="folderFile" th:src="@{/image/defaultFile.png}" th:th:unless="${file.ext eq '.rar'} or ${file.ext eq '.png'} or ${file.ext eq '.jpg'} or ${file.ext eq '.jpeg'} or ${file.ext eq '..doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'} or ${file.ext eq '.xlsx'} or ${file.ext eq '.pptx'} or ${file.ext eq '.ppt'} or ${file.ext eq '.zip'} or ${file.ext eq '.rar'} or ${file.ext eq '.pdf'}"/>
                                <span th:text = "${file.fileName}"></span>
                            </div>
                            <div class="related-rw-describe over-hidden" th:text="${file.project.projectName}"></div>
                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            <!--取消关联框-->
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${file.fileId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--日程-->
                <div class="related-rc-wrap" th:style="'display:' + @{(${bindingVo.scheduleList != null} ? 'block':'none')}">
                    <div class="flex-box">日程 <span></span></div>
                    <ul class="related-rc">
                        <li class="boxsizing data-info" th:data-id = "${schedule.scheduleId}"  th:each="schedule:${bindingVo.scheduleList}" >
                            <div class="related-rc-top">
                                <div class="related-rc-info">
                                    <i class="layui-icon layui-icon-date img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                    <span th:text="${schedule.scheduleName}"></span>
                                </div>
                                <div class="related-rw-describe over-hidden" th:text="${schedule.project.projectName}"></div>
                                <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            </div>
                            <div class="related-rc-down">
                                <span th:text="${#dates.format(schedule.startTime,'yyyy-MM-dd')}"></span>
                                <span>—</span>
                                <span th:text="${#dates.format(schedule.endTime,'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${schedule.scheduleId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--分享-->
                <div class="related-fx-wrap" th:style="'display:' + @{(${bindingVo.shareList != null} ? 'block':'none')}">
                    <div class="flex-box" >分享 <span></span></div>
                    <ul class="related-fx">
                        <li class="boxsizing data-info" th:each="share:${bindingVo.shareList}" th:data-id = "${share.id}">
                            <div class="related-rc-top">
                                <div class="related-rc-info">
                                    <i class="layui-icon layui-icon-list img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                    <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}">
                                    <span th:text="${share.title}"></span>
                                </div>
                                <div class="related-rw-describe over-hidden" th:text="${share.project.projectName}"></div>
                                <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            </div>
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${share.id}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="heng-line"></div>
        <p class="cyz">参与者</p>
        <div class="work-people boxsizing clearfix" id = "participate" >
            <div class="one-work-people" th:each="joininfo,index:${task.joinInfo}" th:data-id="${joininfo.id}">
                <img src="../static/image/add.png" th:value="${joininfo.id}" th:src="#{IMAGE_SERVER}+${joininfo.userInfo.image}" />
                <i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;" th:data="${index}"></i>
            </div>

            <div class="add-work-people">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
            </div>
        </div>
        <div class="heng-line"></div>
        <div class="state">
            <ul class="log">
                <li class="combox clearfix" th:each="tasklog:${taskLogs}">
                    <div th:if="${tasklog.logType eq 0}">
                        <img th:src="#{IMAGE_SERVER}+${tasklog.userEntity.userInfo.image}" />
                        <span th:utext="${tasklog.content}"></span>
                        <div class="in-what-time" th:text = "${#dates.format(tasklog.createTime,'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div th:if="${tasklog.logType eq 1}">
                        <div class="touxiang-img">
                            <img th:src="#{IMAGE_SERVER}+${tasklog.userEntity.userInfo.image}">
                        </div>
                        <div class="file-con-box">
                            <div class="file-con-box-header boxsizing">
                                <span class="file-con-box-name" th:text="${tasklog.userEntity.userName}">谁谁谁</span>
                                <span class="file-con-box-time" th:text = "${#dates.format(tasklog.createTime,'yyyy-MM-dd HH:mm')}">3月24日12:00</span>
                            </div>
                            <p class="publish-con boxsizing" th:utext="${tasklog.content}">啊啊啊啊啊</p>
                            <ul class="up-file-ul clearfix">
                                <li class="boxsizing" th:each="file:${tasklog.fileList}">
                                    <a target="_blank" th:href="@{/file/fileDetail.html(fileId=${file.fileId})}" class="file-content">
                                        <img th:src="@{/image/defaultFile.png}"/>
                                        <span class="up-file-ul-name" th:text="${file.fileName}">啥啥啥文件</span>
                                    </a>
                                    <div style="float: right">
                                        <span class="up-file-ul-size" th:text="${file.size}">13.2kb</span>
                                        <span class="download" style="cursor: pointer;float: right" th:id="${file.fileId}">下载文件</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="showView"></div>
        </div>
    </div>

    <div class="publish boxsizing">
        <!--<textarea id="chat" name=""  placeholder="请输入内容，点击发布按钮" class="layui-textarea publish-input" ></textarea>-->
        <div class="publish-input text-div" contenteditable="true" id = "chat"></div>
        <div class="fenge-line"></div>
        <div class="publish-bottom">
            <i class="layui-icon layui-icon-face-smile-fine" id = "bq" style="font-size: 20px; color: #B5B5B5;margin: 10px;display: inline-block;cursor: pointer;"></i>
            <div class="publish-btn" id="fileListAction">发布</div>
        </div>



    </div>
    <!--任务菜单 框-->
    <div class="renwu-menu boxsizing layui-form" style="display: none">
        <div class="task-menu-box" >
            <div class="scheduling-menu-title">任务菜单
                <img src="../static/image/close.png" th:src="@{/image/close.png}" />
            </div>
            <div class="menu-box edit-rc fz-rw">
                <img src="../static/image/fzrc.png" th:src="@{/image/fzrc.png}" />
                <span>复制任务</span>
            </div>
            <div class="menu-box edit-rc">
                <img src="../static/image/fzrclj.png" th:src="@{/image/fzrclj.png}" />
                <span>复制任务链接</span>
            </div>
            <div class="menu-box edit-rc yd-rw">
                <img src="../static/image/ydrc.png" th:src="@{/image/ydrc.png}" />
                <span>移动任务</span>
            </div>
            <div class="menu-box edit-rc sc">
                <img src="../static/image/scrc.png" th:src="@{/image/scrc.png}" />
                <span th:if="${isCollect}">收藏任务</span>
                <span th:if="${!isCollect}">取消收藏</span>
            </div>
            <div class="menu-box edit-rc gx-rw">
                <img src="../static/image/gxrc.png" th:src="@{/image/gxrc.png}" />
                <span>共享任务</span>
            </div>
            <div class="menu-box edit-rc recycle-bin">
                <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
                <span>移到回收站</span>
            </div>
            <div class="heng-line"></div>
            <div class="secret menu-box layui-form">
                <img src="../static/image/suo.png" th:src="@{/image/suo.png}" />
                <span>隐私模式</span>
                <div class="switch">
                    <input type="checkbox" name="" th:checked="${task.privacyPattern == '0'}" lay-skin="switch" lay-filter="switch-filter" />
                </div>
                <div class="who-can-see">所有成员可见</div>
            </div>
        </div>
        <div style="display: none" class="clone-task-box">
            <header class="style-header">
                <i class="layui-icon layui-icon-left go-return" style="font-size: 18px; color: #a6a6a6;"></i>
                复制到
                <i class="layui-icon layui-icon-close close-menu" style="font-size: 18px; color: #a6a6a6;"></i>
            </header>
            <p class="gray-font"> 复制到</p>
            <div class="boxsizing select-wrap-box">
                <span>项目</span>
                <div class="select-boxs">
                    <select name="copy-project" lay-verify="" lay-filter="project">
                        <option th:each="project,p:${projectByMemberId}" th:if="${!p.first}" th:value="${project.projectId}" th:text="${project.projectName}"></option>
                        <option th:each="project,p:${projectByMemberId}" th:if="${p.first}" selected="selected" th:value="${project.projectId}" th:text="${project.projectName}"></option>
                    </select>
                </div>
            </div>
            <div class="boxsizing select-wrap-box">
                <span>分组</span>
                <div class="select-boxs">
                    <select name="groups" lay-verify="" lay-filter="groups">
                        <!--<option value="010">北京</option>-->
                        <!--<option value="021">上海</option>-->
                        <!--<option value="0571">杭州</option>-->
                    </select>
                </div>
            </div>
            <div class="boxsizing select-wrap-box">
                <span>列表</span>
                <div class="select-boxs">
                    <select name="menu" lay-verify="">
                        <!--<option value="010">北京</option>-->
                        <!--<option value="021">上海</option>-->
                        <!--<option value="0571">杭州</option>-->
                    </select>
                </div>
            </div>
            <div class="update-alert-box">
                <div class="checkbox-wrap">
                    <input type="checkbox" name="old-new"  lay-skin="primary">
                </div>
                <p>原任务接受新任务的更新提醒</p>
            </div>
            <div class="update-alert-box">
                <div class="checkbox-wrap">
                    <input type="checkbox" name="new-old"  lay-skin="primary">
                </div>
                <p>新任务接收原任务的更新提醒</p>
            </div>
            <p class="tips-p">标题、子任务、备注将被复制</p>
            <div class="style-btn copy-task">确定</div>
        </div>
        <div style="display: none" class="remove-task-box">
            <header class="style-header">
                <i class="layui-icon layui-icon-left go-return" style="font-size: 18px; color: #a6a6a6;"></i>
                移动到
                <i class="layui-icon layui-icon-close close-menu" style="font-size: 18px; color: #a6a6a6;"></i>
            </header>
            <p class="gray-font"> 移动到</p>
            <div class="boxsizing select-wrap-box">
                <span>项目</span>
                <div class="select-boxs">
                    <select name="project" lay-verify="" lay-filter="project">
                        <option th:each="project:${projectByMemberId}" th:value="${project.projectId}" th:text="${project.projectName}"></option>
                    </select>
                </div>
            </div>
            <div class="boxsizing select-wrap-box">
                <span>分组</span>
                <div class="select-boxs">
                    <select name="groups" lay-filter="groups">
                        <!--<option value="010">北京</option>-->
                        <!--<option value="021">上海</option>-->
                        <!--<option value="0571">杭州</option>-->
                    </select>
                </div>
            </div>
            <div class="boxsizing select-wrap-box">
                <span>列表</span>
                <div class="select-boxs">
                    <select name="menu" lay-verify="">
                        <!--<option value="010">北京</option>-->
                        <!--<option value="021">上海</option>-->
                        <!--<option value="0571">杭州</option>-->
                    </select>
                </div>
            </div>
            <p class="tips-p">跨项目移动时，部分参与者信息不会保留</p>
            <div class="style-btn moveTask">确定</div>
        </div>
        <div style="display: none" class="recycle">
            <p class="gray-font"> 您确定把任务移动到回收站吗?</p>
            <div class="style-btn move-recycle" style="background-color:#FF4F3E;">确定</div>
        </div>
        <div style="display: none" class="share-task-box">
            <header class="style-header">
                <i class="layui-icon layui-icon-left go-return" style="font-size: 18px; color: #a6a6a6;"></i>
                共享任务
                <i class="layui-icon layui-icon-close close-menu" style="font-size: 18px; color: #a6a6a6;"></i>
            </header>
            <div class="menu-box edit-rc">
                <i class="layui-icon layui-icon-share" style="font-size: 18px; color: #a6a6a6;"></i>
                <span>只读任务</span>
            </div>
            <div class="menu-box edit-rc ">
                <i class="layui-icon layui-icon-group" style="font-size: 18px; color: #a6a6a6;"></i>
                <span>邀请加入项目</span>
            </div>
        </div>

    </div>
    <!--人员 参与者 弹框-->
    <div style="display: none;" class="join-people">
        <div class="people boxsizing" >
            <input type="text" name="" placeholder="搜索" class="layui-input">
            <div class="peoples">
                <p class="tk_name">参与者</p>
                <div class = "joinInfo">

                </div>
                <p>推荐</p>
                <div class = "Recommend">

                </div>
                <!--<div class="add-new-people">-->
                    <!--<img src="../static/image/adds.png" th:src="@{/image/adds.png}"/>-->
                    <!--<span>邀请新成员</span>-->
                <!--</div>-->
            </div>
            <div class="people-ok">确定</div>
        </div>
    </div>

</div>
<!--恢复任务 框-->
<div class="recover-box recover-task boxsizing">
    <div class="recover-box-head">
        选择位置
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <div class="xm-lb-box boxsizing">
        <span>项目</span>
        <p class="xm-name" th:data-id = "${projectId}" th:text = "${task.project.projectName}"></p>
    </div>
    <div class="xm-lb-box lb-box boxsizing">
        <span>列表</span>
        <div class="xm-name layui-form">
            <select name="menus" lay-verify="">
                <option th:each="menu:${menus}" th:value="${menu.relationId}" th:text="${menu.relationName}"></option>
            </select>
        </div>
    </div>
    <p class="font-p">你可以在任务板中添加和修改任务分组及任务列表。</p>
    <div class="o-btn o-task-btn">确定</div>
</div>

<!--彻底删除任务 框-->
<div class="forever-delete delete-task boxsizing">
    <div class="recover-box-head">
        彻底删除
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p>彻底删除任务后，该任务及其子任务将会被永久被删除。</p>
    <div class="forever-delete-btn">删除</div>
</div>
</body>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="../static/js/wangEditor.min.js" th:src="@{/js/wangEditor.min.js}"></script>

<script th:src="@{/expression/js/jquery.mousewheel-3.0.6.min.js}" src="../static/expression/js/jquery.mousewheel-3.0.6.min.js"></script>
<script th:src="@{/expression/js/jquery.mCustomScrollbar.min.js}" src="../static/expression/js/jquery.mCustomScrollbar.min.js"></script>
<script th:src="@{/expression/js/jquery.emoji.js}" src="../static/expression/js/jquery.emoji.js"></script>

<script th:inline="javascript">
    $(function () {

        $(".publish-input").focus(function () {
           $(this).removeClass("text-div");
        });
        $(".publish-input").blur(function () {
            if ($(this).text()==''){
                $(this).addClass("text-div")
            }else {

            }
        });
        if ($(".revise-task").attr("date-ids")==0){
            $(".revise-task *").removeAttr("disabled")
        } else {
            $(".detele-box").show()
            $(".revise-task *").attr("disabled","true");
            $(".revise-task *").css("cursor"," not-allowed");

            $(".hide-zan-x").hide();
            $(".revise-task *").unbind();
            $(".no-renling").click(function (e) {
                return false
            });
        }
    });

    $("html").on("click",".huifu-btn",function (e) {
        var top=$(this).offset().top+50+'px';
        var left=$(this).offset().left-100+'px';
        layui.use('layer', function(){

            var layer = layui.layer;
            layer.open({
                type: 1,
                title: false,
                offset: [top, left],
                closeBtn: 0,
                shade: [0.1, '#fff'],
                // shade: 0,
                shadeClose:true,
                content: $('.recover-task')
            });
        });
    });

    // $(".recycle.revise-task").attr("disabled","true")

    //文本编辑器
    var E = window.wangEditor;
    var editor = new E('#editor1','#editor2');
    editor.customConfig.zIndex = 1
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',
        'bold',
        'italic',
        'image',
        'link',
        'list',
        'quote',
        'strikeThrough',
        'table'
    ]
    editor.customConfig.debug=true;

    editor.customConfig.uploadImgShowBase64 = true
    editor.customConfig.uploadFileName = 'mf';
    // 隐藏“网络图片”tab
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgParams = {
        // 如果版本 <=v3.1.0 ，属性值会自动进行 encode ，此处无需 encode
        // 如果版本 >=v3.1.1 ，属性值不会自动 encode ，如有需要自己手动 encode
        taskId: taskId
    }
    editor.create();
    editor.txt.html([[${task.remarks}]]);
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };
    var remarks = [[${task.remarks}]];
    if(remarks != null && remarks != ''){
        $('.add-bz.combox').show();
        $('#remarks').hide();
        $('.toolbar.w-e-toolbar').hide();
        $(".add-beizhu-box").show();
        $('.remark-task-ok').hide();
        $('.child-remarks-no').hide();
    } else{
        $('.add-bz.combox').show();
        $(".add-beizhu-box").hide();
    }

    $('.add-beizhu-box').click(function () {
        $('.remark-task-ok').show();
        $('.child-remarks-no').show();
        $('.toolbar.w-e-toolbar').show();
    });

    //确定备注
    $('.remark-task-ok').click(function () {
        var obj = editor.txt.html();
        var newobj = obj.replaceAll(/<p><br><\/p>/, "");
        newobj = newobj.replace('<p></p>','');
        var taskId = $('#taskId').val();
        if(newobj === remarks){
            $('.add-bz.combox').show();
            $('.toolbar.w-e-toolbar').hide();
            $(".add-beizhu-box").show();
            $('.remark-task-ok').hide();
            $('.child-remarks-no').hide();
            $('#remarks').hide();
            if(newobj == '' && newobj == null){
                $('#remarks').show();
            }
            return false;
        }
        var args = {"taskId":taskId,"remarks":newobj};
        if(newobj == null || newobj == ''){
            args = {"taskId":taskId,"remarks":""};
        }
        var url = "/task/upateTaskRemarks";
        $.post(url,args,function(data){
            $('.toolbar.w-e-toolbar').hide();
            $('.add-bz.combox').hide();
            $(".add-beizhu-box").show();
            $('.remark-task-ok').hide();
            $('.child-remarks-no').hide();
            $('#remarks').hide();
            if(newobj == '' && newobj == null){
                $('#remarks').show();
            }
        },"json");
    });

    $(".child-remarks-no").click(function () {
        $('.toolbar.w-e-toolbar').hide();
        $('.add-bz.combox').hide();
        $(".add-beizhu-box").show();
        $('.remark-task-ok').hide();
        $('.child-remarks-no').hide();
        $('#remarks').hide();
        return false;
    });


    $(".go-return").click(function () {
        $(".renwu-menu>div").hide();
        $(".task-menu-box").show()
    });
    $(".close-menu").click(function () {
        $(".renwu-menu").hide()
    });


    $(".fz-rw").click(function () {
        $(".clone-task-box").show().siblings().hide()
    });
    layui.use('form', function() {
        var form = layui.form;

        /**
         * 当选中了项目时 根据选中的项目获取分组信息
         */
        form.on('select(project)', function (data) {
            $('select[name="groups"]').html('');
            $('select[name="menu"]').html('');
            var project = data.value;
            if (project == '') {
                return false;
            }
            var url = "/relation/projectAllGroup";
            var args = {"projectId": project};
            var content = '';
            $.post(url, args, function (data) {
                var group = data.data;
                for (var i = 0; i < group.length; i++) {
                    content += '<option value="' + group[i].relationId + '">' + group[i].relationName + '</option>'
                }
                $('select[name="groups"]').append(content);
                form.render('select');
            }, "json");
        });

        /**
         * 当选中了分组的时候触发事件
         */
        form.on('select(groups)', function (data) {
            $('select[name="menu"]').html('')
            console.log(data.value); //得到被选中的值
            groups = data.value;
            if (groups == '') {
                return false;
            }
            var url = "/relation/groupAllMenu";
            var args = {"groupId": groups};
            var content = '';
            $.post(url, args, function (data) {
                var menu = data.data;
                for (var i = 0; i < menu.length; i++) {
                    content += '<option value="' + menu[i].relationId + '">' + menu[i].relationName + '</option>'
                }
                $('select[name="menu"]').append(content);
                form.render('select');
            }, "json");
        });

    });

    /**
     * 移动任务到回收站 确定按钮
     */
    $('.move-recycle').click(function () {
        var url = "/task/moveToRecycleBin";
        var args = {"taskId":taskId,"projectId":projectId};
        $.post(url,args,function (data) {
            if(data.result == 1){
                $(".renwu-menu").slideUp();
                parent.taskId = data.taskId;
                parent.layer.msg('任务已经移入回收站:'+ $('.task_name').val(), {
                    offset:'lb',
                    icon:1,
                    time: 4000 //2秒关闭（如果不配置，默认是3秒）
                });
            } else{
                layer.msg("系统异常!");
            }
        });
    });

    /**
     * 点击彻底删除按钮
     */
    $("html").on("click",".delete-btn",function (e) {
        var top=$(this).offset().top+50+'px';
        var left=$(this).offset().left-180+'px';
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: false,
                offset: [top, left],
                closeBtn: 0,
                shade: [0.1, '#fff'],
                // shade: 0,
                shadeClose:true,
                content: $('.delete-task')
            });
        });
        e.stopPropagation();
    });


    $('.delete-task').click(function () {
        url = '/task/delTask';
        args = {"taskId":taskId,"projectId":projectId}
        $.post(url,args,function (data) {
            if(data.result == 0){
                layer.msg(data.msg);
            } else{
                layer.close(layer.index);
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        });
    });

    /**
     * 恢复任务的确定按钮
     */
    $('.o-task-btn').click(function () {
        var url = "/task/recoveryTask";
        var args = {"projectId":projectId,"taskId":taskId,"menuId":$('select[name = "menus"]').val()};
        $.post(url,args,function (data) {
            if(data.result < 1){
                layer.msg("系统异常,操作失败!");
            } else{
                layer.close(layer.index);
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        });
    });

    /**
     * 表情
     */
    $("#chat").emoji({
        button: "#bq",
        showTab: false,
        animation: 'slide',
        position: 'topRight',
        icons: [{
            name: "表情1",
            path: "/expression/dist/img/qq/",
            maxNum: 91,
            excludeNums: [41, 45, 54],
            file: ".gif"
        },{
            name: "表情2",
            path: "/expression/dist/img/tieba/",
            maxNum: 50,
            excludeNums: [41, 45, 54],
            file: ".jpg",
            placeholder: "#qq_{alias}#"
        }, {
            name: "表情3",
            path: "/expression/dist/img/emoji/",
            maxNum: 84,
            file: ".png",
            placeholder: "#emoji_{alias}#"
        }]
    });

    $('.emoji_container').css('width','278px');

    $(".yd-rw").click(function () {
        $(".remove-task-box").show().siblings().hide()
    });
    $(".gx-rw").click(function () {
        $(".share-task-box").show().siblings().hide()
    })

    $('.recycle-bin').click(function () {
        $(".recycle").show().siblings().hide()
    })
</script>
<script th:inline="javascript">
    //当前项目id
    var projectId = [[${projectId}]];
    //当前任务的父级id
    var parentId = [[${task.parentId}]];
    //当前任务id
    var taskId = [[${task.taskId}]];
    //当前任务所在菜单id
    var taskMenuId = [[${task.taskMenuId}]];
    //当前任务的状态
    var taskStatus = [[${task.taskStatus}]];
    //当前任务的名称
    var taskName = [[${task.taskName}]];
    //当前任务执行者id
    var executor = [[${task.executor}]];
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];

    /**
     * 点击复制的确定的时候
     */
    $('.copy-task').click(function () {
        var menuId = $('select[name="menu"]').val();
        var projectId = $('select[name="copy-project"]').val();
       if($('select[name="menu"]').val() == ''){
           layer.msg("必须选择一个菜单!");
           return false;
       }

       var old_new = $('input[name = "old-new"]').prop('checked');
       var new_old = $('input[name = "new-old"]').prop('checked');
       var url = "/task/copyTask";
       var args = {"taskId":taskId,"projectId":projectId,"menuId":menuId,"old_new":old_new,"new_old":new_old};
       $.post(url,args,function (data) {
           $(".renwu-menu").slideUp();
           parent.taskId = data.taskId;
           parent.layer.msg('<div  onclick="changeRenwu(taskId,projectId)">'+ '复制成功:'+ $('.task_name').val() +'</div>', {
               offset:'lb',
               icon:1,
               time: 4000 //2秒关闭（如果不配置，默认是3秒）
           });
       });
    });


</script>

<script th:src="@{/js/datautil.js}" src="../static/js/datautil.js"></script>
<script th:src="@{/js/task-detail-socket.js}" src="../static/js/task-detail-socket.js"></script>
<script th:src="@{/js/taskinfo.js}" src="../static/js/taskinfo.js"></script>

</html>
