<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>修改任务</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
</head>
<body style="background-color: white;border-radius: 5px">
<!--设计修改任务界面-->
<input type="hidden" th:value="${task.taskId}" id = "taskId" />
<div id="revise-task" class="revise-task-wrap layui-form" >
    <i class="layui-icon layui-icon-close close-revise-task" style="font-size: 18px; color: #a6a6a6;"></i>
    <i class="layui-icon layui-icon-down assignment-menu-show" style="font-size: 18px; color: #a6a6a6;"></i>
    <div class="zan">
        <img class = "nozan"  th:style="'display:' + (${isFabulous} ? 'block' : 'none') + ''" src="../static/image/zan.png" th:src="@{/image/zan.png}" />
        <img class="cancel"  th:style="'display:' + (${isFabulous} ? 'none' : 'block') + ''" src="../static/image/zan-blue.png" th:src="@{/image/zan-blue.png}" />
        <span th:if="${task.fabulousCount > 0}" th:text="${task.fabulousCount}"></span>
        <span th:if="${task.fabulousCount == 0}"></span>
    </div>

    <div class="revise-task boxsizing ">
        <!--<div class="revise-task-title" th:text="${taskMenuVo.projectName}"><span class="what-task" th:text="${taskMenuVo.taskGroupName}"></span><span class="what-test" th:text="${menuRelation.relationName}"></span></div>-->
        <div class="task-name">
            <input type="checkbox" lay-filter = "taskComplete" lay-skin="primary" th:checked="${task.taskStatus == '完成'}" class="is-sure"  th:id="taskComplete">
            <input type="text" th:value="${task.taskName}" class="task_name boxsizing layui-input"/>
        </div>
        <div class="who-and-time">
            <input type="hidden" id="have-executor" th:value="${task.executor}">
            <div class="who-wrap" th:if="${task.executorInfo != null}">
                <input type="hidden" th:value="${task.executor}" id = "executorId"/>
                <img th:src="#{IMAGE_SERVER}+${task.executorInfo.userInfo.image}" id = "executorImg" />
                <span th:text="${task.executorInfo.userName}" id = "executorName"></span>
                <i class="layui-icon layui-icon-close-fill remove-who-wrap" style="font-size: 16px; color: #1E9FFF;"></i>
            </div>
            <div class="no-renling" th:if="${task.executorInfo == null}">
                <i class="layui-icon layui-icon-username no-people-img" style="font-size: 20px; color: #A6A6A6;"></i>
                <span>待认领</span>
            </div>
            <div class="time-wrap">
                <img src="../static/image/begintime.png" th:src="@{/image/begintime.png}"/>
                <input type="text" class="layui-input kaishi-time" id="beginTimes" placeholder="设置开始时间" th:value = "${#dates.format(task.startTime,'yyyy-MM-dd HH:mm')}"/>
            </div>
            <div class="time-wrap">
                <img src="../static/image/overtime.png" th:src="@{/image/overtime.png}" />
                <input type="text" class="layui-input jieshu-time" id="overTimes" placeholder="设置截止时间" th:value="${#dates.format(task.endTime,'yyyy-MM-dd HH:mm')}" />
            </div>

            <div class="no-repeat">
                <input type="hidden" th:value="${task.repeat}" id = "oldRepeat"/>
                <img src="../static/image/norepeat.png" th:src="@{/image/norepeat.png}" />
                <select name="repeat" lay-verify="" lay-filter = "repeat">
                    <option value="不重复" th:selected="${task.repeat == '不重复'}" th:text="${task.repeat}">不重复</option>
                    <option value="每天重复" th:selected ="${task.repeat == '每天重复'}">每天重复</option>
                    <option value="每周重复" th:selected ="${task.repeat == '每周重复'}" >每周重复</option>
                    <option value="每月重复" th:selected="${task.repeat == '每月重复'}">每月重复</option>
                    <option value="每年重复" th:selected="${task.repeat == '每年重复'}" >每年重复</option>
                    <option value="工作日重复" th:selected="${task.repeat == '工作日重复'}" >工作日重复</option>
                </select>
            </div>
            <div class="no-remand ">
                <img src="../static/image/noremand.png" th:src="@{/image/noremand.png}" />
                <input type="hidden" th:value="${task.remind}" id = "oldRemind"/>
                <select name="remand" lay-verify="" lay-filter = "remind">
                    <option value="不提醒" th:selected="${task.remind == '不提醒'}" >不提醒</option>
                    <option value="任务开始时提醒" th:selected="${task.remind == '任务开始时提醒'}">任务开始时提醒</option>
                    <option value="任务截止时提醒" th:selected="${task.remind == '任务截止时提醒'}" >任务截止时提醒</option>
                </select>
            </div>
        </div>

        <div class="heng-line"></div>


        <div class="add-bz combox">
            <img src="../static/image/beizhu.png" th:src="@{/image/beizhu.png}" />
            <span>备注</span>
            <input type="hidden" th:value="${task.remarks}" id = "oldRemarks"/>
            <input type="text" name="title" th:value="${task.remarks}" id = "remarks" placeholder="待添加"  class="layui-input label" autocomplete="false" />
        </div>
        <div class="yxj combox">
            <img src="../static/image/yxj.png" th:src="@{/image/yxj.png}" />
            <span>优先级</span>
            <div class="layui-input-block">
                <input type="hidden" th:value="${task.priority}" id = "oldPriority"/>
                <input type="radio" lay-filter = "priority" name="state" value="普通" title="普通" th:checked="${task.priority == '普通'}">
                <input type="radio" lay-filter = "priority" name="state" value="紧急" title="紧急" th:checked="${task.priority == '紧急'}">
                <input type="radio" lay-filter = "priority" name="state" value="非常紧急" title="非常紧急" th:checked="${task.priority == '非常紧急'}">
            </div>
        </div>
        <div class="add-tag tag-box clearfix">
            <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
            <span>标签</span>
            <span class="no-tags">添加标签</span>
                <div class="has-tags" th:if="${task.tagList != null}">
                    <span class="tag" th:each="tag:${task.tagList}"  th:value="${tag.tagId}"  th:style="'background-color:'+${tag.bgColor}+''">
                        <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                        <i class="layui-icon layui-icon-close-fill" style="font-size: 14px; color: #1E9FFF;"></i>
                    </span>
                    <i class="layui-icon layui-icon-add-circle add-fuhao" style="font-size: 20px; color: #1E9FFF;cursor: pointer"></i>
                </div>
            <!--新建  搜索标签框-->
            <div class="tags-search-build" style="display: none">
                <!--搜索标签-->
                <div class="tag-search" >
                    <div class="tag-search-title boxsizing">
                    <input class="tag-search-input" type="text" placeholder="搜索标签">
                    <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                </div>
                <ul class="tags-ul boxsizing" id = "tags">
                    <!--这里是标签-->
                    <li class="tags-list">
                        <span class="dot"></span>
                        <span class="tag-font">aaa</span>
                    </li>
                </ul>
            </div>
            <!--新建标签-->
            <div class="build-tags" style="display: none">
                <div class="build-tags-title boxsizing">
                    <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                    新建标签
                    <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                </div>
                <div class="build-tags-con boxsizing">
                <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                <ul class="color-pick">
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                    </li>
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                </ul>
                <div class="tag-ok" disabled>创建</div>
            </div>
            </div>
            </div>

        </div>
        <div class="heng-line"></div>
        <div class="child-task combox" th:if="${task.parentId == '0'}">
            <img src="../static/image/zrw.png" th:src="@{/image/zrw.png}" />
            <span>子任务</span>
        </div>

        <!--具体子任务-->
        <div th:id="subTask">
            <div class="child-task-list" th:each="subTask:${task.taskList}">
                <input type="checkbox" name="subTask" title="" lay-skin="primary" lay-filter = "subTask" th:value="${subTask.taskId}" th:checked="${subTask.taskStatus == '完成'}">
                <input type="hidden" th:value="${subTask.taskName}" th:id="${subTask.taskId}" />
                <div class="child-task-con">
                    <span th:text="${subTask.taskName}"></span>
                </div>
                <i class="layui-icon layui-icon-right go-detail" style="font-size: 16px; color: #a6a6a6;"></i>
                <img class="child-task-who" src="../static/image/lpb.png" th:src="@{/image/lpb.png}">
            </div>
        </div>

        <div id = "addSubTask" th:style="'display:' + @{(${task.taskStatus != '完成'} ? 'block':'none')}">
            <!--添加子任务-->
            <div class="add-child-task combox" th:if="${task.parentId == '0'}">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                <span>添加子任务</span>
            </div>
            <div class="click-add-child-task common-add-style" style="display: none">
                <input type="text" name="title"  placeholder="子任务名称..." autocomplete="off" class="layui-input creat-model-input">
                <div class="clearfix">
                    <div class="child-task-ok layui-btn layui-btn-normal common-ok-style">保存</div>
                    <div class="child-task-no common-no-style">取消</div>
                </div>
            </div>
        </div>
            <div class="guanlian combox">
                <img src="../static/image/guanlian.png" th:src="@{/image/guanlian.png}" />
                <span>关联内容</span>
            </div>
            <div class="add-guanlian combox">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                <span>添加关联</span>
            </div>

        <div id = "bind">
            <!--关联 部分-->
            <div class="related-box">
                    <div class="flex-box related-rw-wrap" th:style="'display:' + @{(${bindingVo.taskList!=null} ? 'block':'none')}">任务 <span></span></div>
                 <ul class="related-rw">
                    <li class="boxsizing data-info"  th:each="task:${bindingVo.taskList}"  th:data-id="${task.taskId}">
                        <div class="check-box" th:value="${task.taskName}">
                            <input type="checkbox" disabled="disabled" th:value = "${task.taskId}" lay-filter="bindTask" name="" th:checked="${task.taskStatus == '完成'}" lay-skin="primary">
                        </div>
                        <div class="related-rw-info">
                            <img src="../static/image/begintime.png" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+ ${task.executorInfo.userInfo.image}">
                            <img th:if="${task.executor == ''}" th:src="@{/image/add.png}">
                            <span th:text="${task.taskName}"></span>
                        </div>
                        <div class="related-rw-describe over-hidden" th:text = "${task.project.projectName}"></div>
                        <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                        <!--取消关联框-->
                        <div class="related-menu" style="display: none">
                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                            <div class="related-menu-title">关联菜单</div>
                            <ul>
                                <!--<li class="boxsizing">-->
                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                <!--<span>复制链接</span>-->
                                <!--</li>-->
                                <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${task.taskId}">
                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                    <span>取消关联</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--文件-->
                <div class="related-wj-wrap" th:style="'display:' + @{(${bindingVo.fileList != null} ? 'block':'none')}">
                    <div class="flex-box">文件 <span></span></div>
                    <ul class="related-wj">
                        <li class="boxsizing data-info" th:each="file:${bindingVo.fileList}" th:data-id = "${file.fileId}">
                            <div class="related-wj-info">
                                <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0}and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'})"/>
                                <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '..doc'}"/>
                                <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.docx'}"/>
                                <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xls'}"/>
                                <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xlsx'}"/>
                                <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pptx'}"/>
                                <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.ppt'}"/>
                                <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                <img class="folderFile" th:src="@{/image/defaultFile.png}" th:th:unless="${file.ext eq '.rar'} or ${file.ext eq '.png'} or ${file.ext eq '.jpg'} or ${file.ext eq '.jpeg'} or ${file.ext eq '..doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'} or ${file.ext eq '.xlsx'} or ${file.ext eq '.pptx'} or ${file.ext eq '.ppt'} or ${file.ext eq '.zip'} or ${file.ext eq '.rar'} or ${file.ext eq '.pdf'}"/>
                                <span th:text = "${file.fileName}"></span>
                            </div>
                            <div class="related-rw-describe over-hidden" th:text="${file.project.projectName}"></div>
                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            <!--取消关联框-->
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${file.fileId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--日程-->
                <div class="related-rc-wrap" th:style="'display:' + @{(${bindingVo.scheduleList != null} ? 'block':'none')}">
                    <div class="flex-box">日程 <span></span></div>
                    <ul class="related-rc">
                        <li class="boxsizing data-info" th:data-id = "${schedule.scheduleId}"  th:each="schedule:${bindingVo.scheduleList}" >
                            <div class="related-rc-top">
                                <div class="related-rc-info">
                                    <i class="layui-icon layui-icon-date img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                    <span th:text="${schedule.scheduleName}"></span>
                                </div>
                                <div class="related-rw-describe over-hidden" th:text="${schedule.project.projectName}"></div>
                                <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            </div>
                            <div class="related-rc-down">
                            <span th:text="${#dates.format(schedule.startTime,'yyyy-MM-dd')}"></span>
                            <span>—</span>
                            <span th:text="${#dates.format(schedule.endTime,'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${schedule.scheduleId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--分享-->
                <div class="related-fx-wrap" th:style="'display:' + @{(${bindingVo.shareList != null} ? 'block':'none')}">
                    <div class="flex-box" >分享 <span></span></div>
                    <ul class="related-fx">
                    <li class="boxsizing data-info"  th:each="share:${bindingVo.shareList}">
                        <div class="related-rc-top">
                            <div class="related-rc-info">
                                <i class="layui-icon layui-icon-list img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}">
                                <span th:text="${share.title}"></span>
                            </div>
                            <div class="related-rw-describe over-hidden" th:text="${share.project.projectName}"></div>
                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                        </div>
                        <!--<div class="related-rc-down">-->
                            <!--<span>2018-12-25 12:00</span>-->
                            <!--<span>—</span>-->
                            <!--<span>2018-12-25 12:00</span>-->
                        <!--</div>-->
                        <div class="related-menu" style="display: none">
                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                            <div class="related-menu-title">关联菜单</div>
                            <ul>
                                <!--<li class="boxsizing">-->
                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                <!--<span>复制链接</span>-->
                                <!--</li>-->
                                <li class="boxsizing cancle" th:data-id="${taskId}" th:data-binding-id="${share.id}">
                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                    <span>取消关联</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>


        <div class="heng-line"></div>
        <p class="cyz">参与者</p>
        <div class="work-people boxsizing clearfix" id = "participate" >
            <!--<div class="one-work-people" th:if="${task.executor != ''}">-->
                <!--<img src="../static/image/add.png" th:value="${task.executor}"  th:src="#{IMAGE_SERVER}+${task.executorInfo.userInfo.image}" />-->
                <!--<i class="layui-icon layui-icon-close-fill remove-work-people " style="font-size: 15px; color: #3da8f5;"></i>-->
            <!--</div>-->
            <div class="one-work-people" th:each="joininfo:${task.joinInfo}" th:id="${joininfo.id}">
                <img src="../static/image/add.png" th:value="${joininfo.id}" th:src="#{IMAGE_SERVER}+${joininfo.userInfo.image}" />
                <i class="layui-icon layui-icon-close-fill remove-work-people " style="font-size: 15px; color: #3da8f5;"></i>
            </div>

            <div class="add-work-people">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
            </div>
        </div>
        <div class="heng-line"></div>
        <div class="state">
            <ul id = "log">
                <li class="combox" th:each="tasklog:${taskLog}">
                    <img src="../static/image/dongtai.png" th:src="#{IMAGE_SERVER}+${tasklog.userEntity.userInfo.image}" />
                    <span th:text="${tasklog.content}"></span>
                    <div class="in-what-time" th:text = "${#dates.format(tasklog.createTime,'yyyy-MM-dd HH:mm')}"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="publish boxsizing">
        <textarea id="chat" name=""  placeholder="@快速提及他人，enter快速发布" class="layui-textarea publish-input" ></textarea>
        <div class="fenge-line"></div>
        <div class="publish-bottom">
            <img src="../static/image/fujian.png" th:src="@{/image/fujian.png}" />
            <div class="publish-btn">发布</div>
        </div>
        <!--上传文件框-->
        <div class="fujian-box boxsizing" style="display: none">
            <div class="fujian-box-title boxsizing">
                添加附件
                <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
            </div>
            <div class="zj-up">
                <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                <span>直接上传</span>
            </div>
            <div class="xian"></div>
            <div class="select-up">
                <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                <span>从文件库选择</span>
            </div>
            <div class="xian"></div>
            <div class="fujian-box-bottom boxsizing">
                <input type="text"  placeholder="粘贴下载链接..." class="layui-input lianjie">
                <div class="add-fujian">添加</div>
            </div>
        </div>

    </div>
    <!--任务菜单 框-->
    <div class="renwu-menu boxsizing layui-form" style="display: none">
        <div class="scheduling-menu-title">任务菜单
            <img src="../static/image/close.png" th:src="@{/image/close.png}" />
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/fzrc.png" th:src="@{/image/fzrc.png}" />
            <span>复制任务</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/fzrclj.png" th:src="@{/image/fzrclj.png}" />
            <span>复制任务链接</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/ydrc.png" th:src="@{/image/ydrc.png}" />
            <span>移动任务</span>
        </div>
        <div class="menu-box edit-rc sc">
            <img src="../static/image/scrc.png" th:src="@{/image/scrc.png}" />
            <span>收藏任务</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/gxrc.png" th:src="@{/image/gxrc.png}" />
            <span>共享任务</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
            <span>移到回收站</span>
        </div>
        <div class="heng-line"></div>
        <div class="secret menu-box layui-form">
            <img src="../static/image/suo.png" th:src="@{/image/suo.png}" />
            <span>隐私模式</span>
            <div class="switch">
                <input type="checkbox" name="" th:checked="${task.privacyPattern == '0'}" lay-skin="switch" lay-filter="switch-filter" />
            </div>
            <div class="who-can-see">所有成员可见</div>
        </div>

    </div>
    <!--人员 参与者 弹框-->
    <div class="people boxsizing" style="display: none">
        <input type="text" name="" placeholder="搜索" class="layui-input">
        <div class="peoples">
            <p id = "titles">参与者</p>
            <div id = "executor" class="special-executor">

            </div>
            <p>推荐</p>
            <div id = "noExecutor">

            </div>
            <div class="add-new-people">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                <span>邀请新成员</span>
            </div>
        </div>
        <div class="people-ok">确定</div>
    </div>

</div>
</body>
<script th:inline="javascript">
    //当前项目id
    var projectId = [[${projectId}]];
    //当前任务的父级id
    var parentId = [[${task.parentId}]]
    //当前任务id
    var taskId = [[${task.taskId}]];
    //当前任务所在菜单id
    var taskMenuId = [[${task.taskMenuId}]];
    //当前任务的状态
    var taskStatus = [[${task.taskStatus}]]
    //当前任务的名称
    var taskName = [[${task.taskName}]]
    //当前任务执行者id
    var executor = [[${task.executor}]];
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
</script>
<script th:src="@{/js/taskinfo.js}" src="../static/js/taskinfo.js"></script>
<script>
    // if(taskStatus == '完成'){
    //     $('.add-child-task').css('display','none');
    // } else if(taskStatus == '未完成'){
    //     $('.add-child-task').css('display','block');
    // }

    $("body").on("click",".show-cancel-related",function (e) {
        $(this).parents("li").find(".related-menu").slideToggle();

        e.stopPropagation();
    });
    $("body").on("click",".close-related-menu",function () {
        $(this).parents(".related-menu").slideUp();
    });

    $('.add-guanlian').click(function (e) {
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            area:['800px','540px'],
            fixed: true,
            shadeClose: true,
            closeBtn: 0,
            shade:  [0.1, 'black'],
            anim: 1,  //动画 0-6
            content: ['/binding/relevance.html?taskId='+taskId,'no']
        });
    });

</script>
<script th:inline="javascript">
    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );
    //发送消息
    $('.publish-btn').click(function (e) {
        var chat = $('#chat').val();
        var args = {"publicId":taskId,"content":chat}
        $.post("/task/chat",args,function (data) {
        },"json");
        var messageJson = JSON.stringify({ "name": chat });
        stompClient.send("/app/sendTest",{"taskId":taskId}, messageJson);
        $('#chat').val('');
        $('#chat').focus();
        var scrollHeight = $('.revise-task').prop("scrollHeight");
        $('.revise-task').animate({scrollTop:scrollHeight}, 400);
    });



    //订阅消息
    function subscribe() {
        stompClient.subscribe('/topic/'+taskId, function (response) {
            var returnData = JSON.parse(response.body);
            var taskLog = JSON.parse(returnData.responseMessage);
            if(taskLog.type == '把任务执行者指派给了'){
                parent.changeExecutor(taskId,IMAGE_SERVER+taskLog.userInfo.image);
                $('#executorId').val(taskLog.userInfo.id);
                $('#executorName').html(taskLog.uName);
                $('#executorImg').attr("src",IMAGE_SERVER+taskLog.userInfo.image);
                getLog(taskLog.taskLog);
            }
            if(taskLog.type == '发送消息'){
                getLog(taskLog.object.taskLog);
                var scrollHeight = $('.revise-task').prop("scrollHeight");
                $('.revise-task').animate({scrollTop:scrollHeight}, 400);
            }
            if(taskLog.type == '关联'){
                addBindingStr(taskLog.object.bindingInfo,taskLog.object.publicType,taskLog.object.bId);
            }
            if(taskLog.type == '更新任务名称为'){
                $('.task_name').val(taskLog.object.taskName);
                getLog(taskLog.object.taskLog);
            }
            if(taskLog.type == '取消了关联'){
                $('#bind li.data-info ').each(function(){
                    if($(this).attr('data-id') == taskLog.object.bId){
                        $(this).remove();
                        if($('.related-rw li.data-info').length == 0){
                            $('.related-rw-wrap').hide();
                        }
                        if($('.related-rc li.data-info').length == 0){
                            $('.related-rc-wrap').hide();
                        }
                        if($('.related-wj li.data-info').length == 0){
                            $('.related-wj-wrap').hide();
                        }
                        if($('.related-fx li.data-info').length == 0){
                            $('.related-fx-wrap').hide();
                        }
                    }
                });
            }
            // if(taskLog.type == '取消了关联'){
            //     getLog(taskLog.object.taskLog);
            //
            // }
            // if(taskLog.type == '完成了任务'){
            //     if(taskLog.object.Status == '完成'){
            //         $("#taskComplete").attr("checked",true);
            //         $('.add-child-task').show();
            //         form.render();
            //     } else{
            //         $("#taskComplete").attr("checked",false);
            //         $('.add-child-task').hide();
            //         form.render();
            //     }
            // }
        });
    }

</script>
</html>
