<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/upload-file.css}" href="../static/css/upload-file.css">
</head>
<body>
<div class="model-file-up-box">
    <header class="boxsizing">
        <div>选择文件</div>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 18px; color: #A6A6A6;"></i>
    </header>

    <div class="select-all-file-box boxsizing clearfix" id="container">
        <ul class="all-file-ul clearfix">
        </ul>
    </div>
    <div class="btn-box boxsizing">
        <div class="up-btn" id="postfiles">开始上传</div>
        <div class="up-btn" id="upload">选择文件</div>
    </div>
</div>

</body>

<script th:inline="javascript">
    var projectId = [[${projectId}]];
    var parentId = [[${parentId}]];

    $(".close-tk").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    });
    $(document).on("click",".remove-it i",function () {
        $(this).parents("li").remove();
    })

</script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/crypto/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/hmac/hmac.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/sha1/sha1.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/plupload-2.1.2/js/plupload.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fileModelUpload.js}"></script>

</html>
