<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/set-myinfo.css}" href="../static/css/set-myinfo.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cropper.min.css}" href="../static/css/cropper.min.css">
</head>
<body>
<header>
    <div class="head-left">
        <a href="#"><img src="../static/image/logo.png" th:src="@{/image/logo.png}"></a>
        <span>个人账号中心</span>
    </div>
    <div class="header-right">
        <a href="#" class="boxsizing">
            <img  th:src="#{IMAGE_SERVER}+${user.userInfo.image}" class="headerImg">
            <span th:text="${user.userName}" class="userName">名字</span>
        </a>
    </div>
</header>

<div class="container clearfix">
    <div class="container-left">
        <div class="sidebar-user boxsizing clearfix">
            <img th:src="#{IMAGE_SERVER}+${user.userInfo.image}" class="headerImg">
            <div class="sidebar-user-con">
                <h3 th:text="${user.userName}" class="userName">名字</h3>
                <p class="over-hidden" th:text="${user.userInfo.email}">2439676969@qq.com</p>
            </div>
        </div>

        <nav>
            <ul>
                <li class="boxsizing now">个人信息</li>
                <li class="boxsizing">修改密码</li>
            </ul>

        </nav>
    </div>

    <div class="container-right">
        <!--个人信息 部分-->
        <div  class="user-info-box boxsizing">
            <h4 class="title">个人信息</h4>
            <div class="information">
                <form action="" class="layui-form personal-form">
                    <div class="style-box head-img">
                        <div class="style-box-left" >头像</div>
                        <div class="style-box-right">
                            <input type="hidden" th:value="${user.id}" name="userId" class="userId"/>
                            <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER}+${user.userInfo.image}" class="headerImg">
                            <button type="button" class="layui-btn" id="upload" style="background-color: #1E9FFF">
                                <i class="layui-icon">&#xe67c;</i>更换头像
                            </button>
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left" >姓名</div>
                        <div class="style-box-right">
                            <input class="boxsizing layui-input" type="text" th:value="${user.userName}" name="userName" required lay-verify="required">
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left">邮箱</div>
                        <div class="style-box-right">
                            <input class="boxsizing layui-input" type="text" th:value="${user.userInfo.email}" name="email">
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left">职位</div>
                        <div class="style-box-right">
                            <input class="boxsizing layui-input" type="text" th:value="${user.userInfo.job}" name="job">
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left" >联系电话</div>
                        <div class="style-box-right">
                            <input class="boxsizing layui-input" type="text" th:value="${user.userInfo.telephone}" name="telephone">
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left">生日</div>
                        <div class="style-box-right">
                            <input type="text" class="layui-input" id="birthday" readonly name="birthday">
                        </div>
                    </div>
                    <div class="style-box">
                        <div class="style-box-left">所在地</div>
                        <div class="style-box-right">
                            <input class="boxsizing layui-input" type="text" th:text="${user.userInfo.address}" name="address">
                        </div>
                    </div>

                    <div class="style-box">
                        <div class="style-box-left"></div>
                        <div class="style-box-right">
                           <div class="save-btn">保存</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--账号密码 部分-->
        <div class="account-pwd-box boxsizing" style="display: none">
            <!--<div class="login-account">-->
                <!--<div class="account-pwd-header boxsizing">-->
                    <!--<h3 class="title">登录账号</h3>-->
                    <!--<p class="tips">所有登录帐号都可用于登录，主邮箱帐号可收取通知。</p>-->
                <!--</div>-->
                <!--<div class="email-box boxsizing clearfix">-->
                    <!--<span class="left-span">邮箱账号</span>-->
                    <!--<div class="right-div">-->
                        <!--<div class="zhu-email">-->
                            <!--<span>2439676969@qq.com</span>-->
                            <!--<span>主邮箱</span>-->
                        <!--</div>-->
                        <!--<div class="bd-email">-->
                            <!--<input type="text" class="boxsizing">-->
                            <!--<div class="sure-to-binding">确认绑定</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="phone-box boxsizing clearfix">-->
                    <!--<span class="left-span">手机账号</span>-->
                    <!--<div class="right-div">-->
                        <!--<p class="phone-num">13256456123</p>-->
                        <!--<div class="remove-bind-phone boxsizing">解除绑定</div>-->
                        <!--<div class="proving-box" style="display: none">-->
                            <!--<input type="text" class="boxsizing" placeholder="输入短信验证码">-->
                            <!--<div class="sure-remove-bind-phone">确认解绑</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="login-pwd boxsizing">
                <h3 class="title" style="margin-bottom: 15px">登录密码</h3>
                <div class="style-box">
                    <div class="style-box-left">旧密码</div>
                    <div class="style-box-right">
                        <input class="old_password boxsizing" type="text"/>
                    </div>
                </div>
                <div class="style-box">
                    <div class="style-box-left">新密码</div>
                    <div class="style-box-right">
                        <input class="new_password boxsizing" type="text"/>
                    </div>
                </div>
                <div class="style-box">
                    <div class="style-box-left">确认新密码</div>
                    <div class="style-box-right">
                        <input class="sure_password boxsizing" type="text" />
                    </div>
                </div>
                <div class="style-box">
                    <div class="style-box-left"></div>
                    <div class="style-box-right">
                       <div class="pwd-save-btn">保存</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--更换 头像 弹框-->
<div class="change-head-img" style="display: none">
    <div class="change-head-img-title">
        <span>更换头像</span>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; "></i>
    </div>
    <ul>
        <li class="up-img-wrap"><span>上传新头像</span>
            <input  type="file" class="up-img" id="file" >
        </li>
        <li class="use-moren-img">使用默认头像</li>
    </ul>
</div>
<!--// 头像剪裁 盒子-->
<div class="jc-bj-box" style="display: none">
    <div class="jc-box boxsizing">
        <div class="jc-box-title">
            <span>编辑个人头像</span>
            <i class="layui-icon layui-icon-close" style="font-size: 18px; color: #a6a6a6;"></i>
        </div>
        <div class="jc-body">
            <div class="jc-body-left">
                <div class="img-contain">
                    <img src="" alt="">
                </div>
                <div class="crop-hint">
                    <div class="up-img-again-box">
                        <i class="layui-icon layui-icon-picture" style="font-size: 16px; color: #03A9F4;"></i>
                        <span>选择图片</span>
                        <input type="file" class="up-img-again">
                        <span>(最佳尺寸 100×100，可以上传高质量图片进行裁切)</span>
                    </div>
                </div>
            </div>

            <div class="jc-body-right">
                <p class="jc-body-right-title">图片预览</p>
                <div class=" preview-picture"></div>
                <p class="nums">100×100</p>
                <div class=" preview-picture"></div>
                <p class="nums">64×64</p>
                <div class=" preview-picture"></div>
                <p class="nums">24×24</p>

            </div>
        </div>

        <div class="jc-bottom boxsizing">
            <div class="jc-ok-btn">保存</div>
            <div class="jc-cancel-btn">取消</div>

        </div>
    </div>

</div>

</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/js/cropper.min.js}" src="../static/js/cropper.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:inline="javascript">
    var userId = $('.userId').val();
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#birthday'
            ,type: 'date', //默认，可不填
            format: 'yyyy年MM月dd日', //可任意组合
            done: function(value, date, endDate){
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
    });


    //点击 个人信息 账号密码 切换 页面
    $("nav li").click(function () {
        var i=$(this).index();
        $(this).addClass("now").siblings().removeClass("now");
        $(".container-right>div").eq(i).show().siblings().hide()
    });
    //点击 解除绑定 手机号
    $(".remove-bind-phone").click(function () {
        $(".proving-box").show();
        $(this).hide()
    });
    //点击 更换 头像 弹出框
    $("#upload").click(function () {
        var top=$(this).offset().top+40+'px';
        var left=$(this).offset().left-100+'px';
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area: ['305px','143px'],
                fixed: false,
                shadeClose: true,
                closeBtn: 0,
                shade: 0,
                anim: 1,  //动画 0-6
                content: $(".change-head-img")
            });
        });
    });
    $(".close-tk").click(function () {
        layer.closeAll('page');
    });

    $('.save-btn').click(function () {
        var params = $('.personal-form').serialize();
        $.post('/public/saveMy',params,function (data) {
            if(data.result===1){
                $('.userName').html(data.data);
                layer.msg("更新成功",{icon:1});
            }else{
                layer.msg("更新失败",{icon:2});
            }
        });
    });

//点击 使用 默认 头像
    $(".use-moren-img").click(function () {
        $.post('/public/setDefaultImg',{"userId":userId},function (data) {
            if(data.result===1){
                $('.headerImg').attr("src", IMAGE_SERVER + data.url);
                layer.msg("更新成功",{icon:1});
            }else{
                layer.msg("更新失败",{icon:5});
            }

        });
        layer.closeAll('page');
    })

</script>
<script>
    var file=document.getElementById("file");
    $(".up-img").change(function(){
        var file = this.files[0];
        if (window.FileReader) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件
            reader.onloadend = function (e) {
                layer.closeAll('page');
                $(".jc-bj-box").show();
                $(".img-contain>img").attr("src",e.target.result);
                //e.target.result就是最后的路径地址
                fn(e.target.result);
                file.outerHTML = file.outerHTML;
            };
        }
    });
    $(".jc-box-title i").click(function () {
        $(".jc-bj-box").hide();
    });
    $(".jc-cancel-btn").click(function () {
        $(".jc-bj-box").hide();
    });
    $(".jc-ok-btn").click(function () {
        var cas=$('.img-contain>img').cropper('getCroppedCanvas');
        var base64url=cas.toDataURL('image/jpg');
        $(".jc-bj-box").hide();
        $.post('/public/upload',{"userId":userId,"base64url":base64url},function (data) {
            if(data.result===1){
                $('.headerImg').attr("src", IMAGE_SERVER + data.url);
                layer.msg("更新成功",{icon:1});
            }else{
                layer.msg("更新失败",{icon:5});
            }
        });
    });
    function fn(url) {
        $('.img-contain>img').cropper({
            aspectRatio: 1,  //剪裁框宽高比
            viewMode:1,
            preview:".preview-picture",
            autoCropArea:0.8,
            crop: function (e) {
            }
        });
         $('.img-contain>img').cropper('replace',url,false );

    }
    // 点击重新上传图片
    $(".up-img-again").change(function(){
        var file = this.files[0];
        if (window.FileReader) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件
            reader.onloadend = function (e) {
                $('.img-contain>img').cropper('replace',e.target.result,false );
            };
        }
    });

    $('.pwd-save-btn').click(function () {

        var oldPwd = $('.old_password').val();
        var newPwd = $('.new_password').val();
        var surePwd = $('.sure_password').val();
        if(oldPwd==null||oldPwd===''){
            layer.msg("请输入原密码",{icon:5});
        }

        if(newPwd==null||newPwd===''){
            layer.msg("请输入新密码",{icon:5});
        }

        if(surePwd==null||surePwd===''){
            layer.msg("请输入确认密码",{icon:5});
        }

















    });

</script>
</html>