<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>分享</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-share.css}" href="../static/css/new-share.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">

    <!-- 表情样式 -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" th:href="@{/expression/css/bootstrap.css}" href="../static/expression/css/bootstrap.css"/>-->
    <link rel="stylesheet" th:href="@{/expression/css/jquery.mCustomScrollbar.min.css}" href="../static/expression/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/jquery.emoji.css}" href="../static/expression/dist/css/jquery.emoji.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/railscasts.css}" href="../static/expression/css/railscasts.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/index.css}" href="../static/expression/dist/css/index.css"/>

</head>
<body>
<header th:include="common/header::frag (${user.userInfo.image},${user.id})"></header>
<div th:include="toper::toper (${project},${currentGroup},${user})"></div>

<div class="share-wrap" style="margin-top: 100px">
    <!--左侧内容-->
    <div class="share-left">
        <div class="share-left-title boxsizing">
            <div class="all-share">
                <h2><span>所有分享</span> <i class="layui-icon layui-icon-down" style="font-size: 18px; color: #3da8f5;"></i>  </h2>
                <div class="select-who-share" style="display: none">
                    <ul>
                        <li>所有分享</li>
                        <li>我的分享</li>
                    </ul>
                    <div class="xian"></div>
                    <ul class="sorting-mode">
                        <li>安发布时间排序 <i class="layui-icon layui-icon-ok" style="font-size: 16px; color: gray;"></i> </li>
                        <li>按回复时间排序 <i class="layui-icon layui-icon-ok" style="font-size: 16px; color: gray;display: none"></i></li>
                    </ul>
                </div>
            </div>
            <div class="add-share">
                <h2><span>
                    <i class="layui-icon layui-icon-add-circle add-icon"></i>
                    <a th:href="@{/share/toAddShare.html(projectId=${project.projectId})}" style="color:#3da8f5;font-size: 14px;line-height: 43px;margin-left: 5px">添加分享</a></span>
                    <!--<i class="layui-icon layui-icon-down" style="font-size: 18px; color: gray;"></i>--></h2>
                <!--<div class="select-doc" style="display: none">-->
                    <!--<ul>-->
                        <!--<li>普通文档</li>-->
                        <!--<li>Markdown文档</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
        <div class="share-list-wrap">
            <ul id="shareList">
                <li class="boxsizing share-list" th:each="share: ${shareList}" th:data="${share.id}">
                    <img th:src="#{IMAGE_SERVER}+${share.memberImg}"/>
                    <div class="share-people-time">
                        <h3 class="over-hidden" th:text="${share.title}"></h3>
                        <p><span th:text="${share.memberName}"></span> 发布于 <span th:text="${#dates.format(share.createTime,'yyyy-MM-dd HH:mm')}"></span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--右侧内容-->
    <div class="share-right-wrap">
        <div class="share-right" th:each="share: ${shareList}" th:data = "${share.id}">
            <div class="share-right-scroll">
                <div class="white-box boxsizing">
                    <div class="share-right-title boxsizing clearfix">
                        <h3 th:text="${share.title}"></h3>
                        <i class="layui-icon layui-icon-down show-share-menu" style="font-size: 20px; color: #a6a6a6;" th:data="${share.id}"></i>
                        <!--<div class="zan">-->
                            <!--<img src="../static/image/zan.png" th:src="@{/image/zan.png}" />-->
                            <!--<span>+12</span>-->
                        <!--</div>-->
                    </div>
                    <div class="describtion" th:utext="${share.content}"></div>
                    <div class="heng-line"></div>
                    <div class="add-tag tag-box clearfix">
                        <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                        <span>标签</span>
                        <div class="has-tags">
                    <span class="tag" th:each="tag : ${share.tagList}" th:id = "${tag.tagId}" th:style="'background-color:'+${tag.bgColor}+''">
                        <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                        <i class="layui-icon layui-icon-close-fill remove-tag" style="font-size: 14px; color: #1E9FFF;"></i>
                    </span>
                        </div>
                        <i class="layui-icon layui-icon-add-circle add-fuhao" style="font-size: 20px; color: #1E9FFF;cursor: pointer"></i>
                        <!--新建  搜索标签框-->
                        <div class="tags-search-build" style="display: none;left: 0">
                            <!--搜索标签-->
                            <div class="tag-search" >
                                <div class="tag-search-title boxsizing">
                                    <input class="tag-search-input" type="text" placeholder="搜索标签">
                                    <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                                </div>
                                <ul class="tags-ul boxsizing" id = "tags">
                                    <!--&lt;!&ndash;这里是标签&ndash;&gt;-->
                                    <!--<li class="tags-list" th:each="tag:${tags}">-->
                                        <!--<i class="dot" th:style="'background-color:'+${tag.bgColor}+''"></i>-->
                                        <!--<span class="tag-font" th:text="${tag.tagName}" th:data="${tag.tagId}"></span>-->
                                    <!--</li>-->
                                </ul>
                            </div>

                            <!--新建标签-->
                            <div class="build-tags" style="display: none">
                                <div class="build-tags-title boxsizing">
                                    <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                                    新建标签
                                    <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                                </div>
                                <div class="build-tags-con boxsizing">
                                    <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                                    <ul class="color-pick">
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                    </ul>
                                    <div class="tag-ok" disabled>创建</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="heng-line"></div>
                    <div class="guanlian combox">
                        <img src="../static/image/guanlian.png" th:src="@{/image/guanlian.png}" />
                        <span>关联内容</span>
                    </div>
                    <div class="add-guanlian combox">
                        <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                        <span>添加关联</span>
                    </div>

                    <div id = "bind">
                        <!--关联 部分-->
                        <div class="related-box">
                            <div class="flex-box related-rw-wrap" th:style="'display:' + @{(${share.bindingVo.taskList != null} ? 'block':'none')}" th:data-id = "${share.id}">任务 <span></span></div>
                            <ul class="related-rw" th:data-id = "${share.id}">
                                <li class="boxsizing data-info"  th:each="task:${share.bindingVo.taskList}"  th:data-id="${task.taskId}">
                                    <div class="check-box" th:value="${task.taskName}">
                                        <input type="checkbox" disabled="disabled" th:value = "${task.taskId}" lay-filter="bindTask" name="" th:checked="${task.taskStatus == '完成'}" lay-skin="primary">
                                    </div>
                                    <div class="related-rw-info">
                                        <img src="../static/image/begintime.png" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+ ${task.executorInfo.userInfo.image}">
                                        <img th:if="${task.executor == ''}" th:src="@{/image/add.png}">
                                        <span th:text="${task.taskName}"></span>
                                    </div>
                                    <div class="related-rw-describe over-hidden" th:text = "${task.project.projectName}"></div>
                                    <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                    <!--取消关联框-->
                                    <div class="related-menu" style="display: none">
                                        <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                        <div class="related-menu-title">关联菜单</div>
                                        <ul>
                                            <!--<li class="boxsizing">-->
                                            <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                            <!--<span>复制链接</span>-->
                                            <!--</li>-->
                                            <li class="boxsizing cancle" th:data-id="${share.id}" th:data-binding-id="${task.taskId}">
                                                <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                                <span>取消关联</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <!--文件-->
                            <div class="related-wj-wrap" th:style="'display:' + @{(${share.bindingVo.fileList != null} ? 'block':'none')}" th:data-id = "${share.id}">
                                <div class="flex-box">文件 <span></span></div>
                                <ul class="related-wj" th:data-id = "${share.id}">
                                    <li class="boxsizing data-info" th:each="file:${share.bindingVo.fileList}" th:data-id = "${file.fileId}">
                                        <div class="related-wj-info">
                                            <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                            <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0}and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'})"/>
                                            <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '..doc'}"/>
                                            <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.docx'}"/>
                                            <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xls'}"/>
                                            <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xlsx'}"/>
                                            <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pptx'}"/>
                                            <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.ppt'}"/>
                                            <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                            <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                            <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                            <img class="folderFile" th:src="@{/image/defaultFile.png}" th:th:unless="${file.ext eq '.rar'} or ${file.ext eq '.png'} or ${file.ext eq '.jpg'} or ${file.ext eq '.jpeg'} or ${file.ext eq '..doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'} or ${file.ext eq '.xlsx'} or ${file.ext eq '.pptx'} or ${file.ext eq '.ppt'} or ${file.ext eq '.zip'} or ${file.ext eq '.rar'} or ${file.ext eq '.pdf'}"/>
                                            <span th:text = "${file.fileName}"></span>
                                        </div>
                                        <div class="related-rw-describe over-hidden" th:text="${file.project.projectName}"></div>
                                        <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                        <!--取消关联框-->
                                        <div class="related-menu" style="display: none">
                                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                            <div class="related-menu-title">关联菜单</div>
                                            <ul>
                                                <!--<li class="boxsizing">-->
                                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                                <!--<span>复制链接</span>-->
                                                <!--</li>-->
                                                <li class="boxsizing cancle" th:data-id="${share.id}" th:data-binding-id="${file.fileId}">
                                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                                    <span>取消关联</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--日程-->
                            <div class="related-rc-wrap" th:style="'display:' + @{(${share.bindingVo.scheduleList != null} ? 'block':'none')}" th:data-id = "${share.id}">
                                <div class="flex-box">日程 <span></span></div>
                                <ul class="related-rc" th:data-id = "${share.id}">
                                    <li class="boxsizing data-info"  th:each="schedule:${share.bindingVo.scheduleList}" th:data-id = "${schedule.scheduleId}">
                                        <div class="related-rc-top">
                                            <div class="related-rc-info">
                                                <i class="layui-icon layui-icon-date img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                                <span th:text="${schedule.scheduleName}"></span>
                                            </div>
                                            <div class="related-rw-describe over-hidden" th:text="${schedule.project.projectName}"></div>
                                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                        </div>
                                        <div class="related-rc-down">
                                            <span th:text="${#dates.format(schedule.startTime,'yyyy-MM-dd')}"></span>
                                            <span>—</span>
                                            <span th:text="${#dates.format(schedule.endTime,'yyyy-MM-dd')}"></span>
                                        </div>
                                        <div class="related-menu" style="display: none">
                                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                            <div class="related-menu-title">关联菜单</div>
                                            <ul>
                                                <!--<li class="boxsizing">-->
                                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                                <!--<span>复制链接</span>-->
                                                <!--</li>-->
                                                <li class="boxsizing cancle" th:data-id="${share.id}" th:data-binding-id="${schedule.scheduleId}">
                                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                                    <span>取消关联</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <!--分享-->
                            <div class="related-fx-wrap" th:style="'display:' + @{(${share.bindingVo.shareList != null} ? 'block':'none')}" th:data-id = "${share.id}">
                                <div class="flex-box" >分享 <span></span></div>
                                <ul class="related-fx" th:data-id = "${share.id}">
                                    <li class="boxsizing data-info"  th:each="share:${share.bindingVo.shareList}" th:data-id="${share.id}">
                                        <div class="related-rc-top">
                                            <div class="related-rc-info">
                                                <i class="layui-icon layui-icon-list img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                                <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}">
                                                <span th:text="${share.title}"></span>
                                            </div>
                                            <div class="related-rw-describe over-hidden" th:text="${share.project.projectName}"></div>
                                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                        </div>
                                        <!--<div class="related-rc-down">-->
                                        <!--<span>2018-12-25 12:00</span>-->
                                        <!--<span>—</span>-->
                                        <!--<span>2018-12-25 12:00</span>-->
                                        <!--</div>-->
                                        <div class="related-menu" style="display: none">
                                            <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                            <div class="related-menu-title">关联菜单</div>
                                            <ul>
                                                <!--<li class="boxsizing">-->
                                                <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                                <!--<span>复制链接</span>-->
                                                <!--</li>-->
                                                <li class="boxsizing cancle"  th:data-id="${share.id}" th:data-binding-id="${share.id}">
                                                    <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                                    <span>取消关联</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="gray-box boxsizing">
                    <div class="boxsizing">
                        <p class="cyz">参与者</p>
                        <div class="work-people boxsizing clearfix">
                            <div class="one-work-people" th:data-id = "${share.userEntity.id}">
                                <img src="../static/image/add.png" th:src="#{IMAGE_SERVER} + ${share.userEntity.userInfo.image}" />
                                <i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>
                            </div>
                            <div class="one-work-people" th:each="join:${share.joinInfo}" th:data-id = "${join.id}">
                                <img src="../static/image/adds.png" th:src="#{IMAGE_SERVER} + ${join.userInfo.image}" th:data= "${join.userName}"/>
                                <i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>
                            </div>
                            <div class="add-work-people">
                                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                            </div>
                        </div>

                        <div class="heng-line"></div>
                        <!--谁谁 干了 什么-->
                        <div class="state">
                            <ul class = "log" th:data-id = "${share.id}">
                                <li class="combox clearfix"  th:each="log:${share.logs}">
                                    <img src="../static/image/dongtai.png" th:src="#{IMAGE_SERVER}+${log.userEntity.userInfo.image}" />
                                    <span th:utext="${log.content}"></span>
                                    <div class="in-what-time" th:text = "${#dates.format(log.createTime,'yyyy-MM-dd HH:mm')}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--发布消息 框-->
            <div class="publish boxsizing">
                <!--<textarea name="" placeholder="@快速提及他人，enter快速发布" class="layui-textarea publish-input chat" ></textarea>-->
                <div class="publish-input text-div" contenteditable="true" id = "chat"></div>
                <div class="fenge-line"></div>
                <div class="publish-bottom">
                    <i class="layui-icon layui-icon-face-smile-fine bq" style="font-size: 20px; color: #B5B5B5;"></i>
                    <div class="publish-btn" th:data-id = "${share.id}">发布</div>
                </div>
                <!--上传文件框-->
                <div class="fujian-box boxsizing" style="display: none">
                    <div class="fujian-box-title boxsizing">
                        添加附件
                        <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                    </div>
                    <div class="zj-up">
                        <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>直接上传</span>
                    </div>
                    <div class="xian"></div>
                    <div class="select-up">
                        <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>从文件库选择</span>
                    </div>
                    <div class="xian"></div>
                    <div class="fujian-box-bottom boxsizing">
                        <input type="text"  placeholder="粘贴下载链接..." class="layui-input lianjie">
                        <div class="add-fujian">添加</div>
                    </div>
                </div>

            </div>

            <!--分享菜单 弹框-->
            <div class="share-menu boxsizing layui-form" th:datas-id = "${share.id}" style="position: relative;top: 0;left: 0;display: none">
                <div class="scheduling-menu-title">分享菜单
                    <i class="layui-icon layui-icon-close close-tk" style="font-size: 16px; color: #a6a6a6;"></i>
                </div>
                <div class="menu-box edit-rc edit_share">
                    <img th:src="@{/image/fzrc.png}" >
                    <span>编辑分享</span>
                </div>
                <!--<div class="menu-box edit-rc share_copy">-->
                <!--<img th:src="@{/image/fzrclj.png}" >-->
                <!--<span>复制分享链接</span>-->
                <!--</div>-->
                <div class="menu-box edit-rc share_collect">
                    <img th:src="@{/image/scrc.png}" >
                    <span th:if="${share.isCollect}">收藏分享</span>
                    <span th:if="${!share.isCollect}">取消收藏</span>
                </div>
                <div class="menu-box edit-rc delete_share">
                    <img th:src="@{/image/gxrc.png}" >
                    <span>移到回收站</span>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
<script type="text/javascript" src="../static/js/wangEditor.min.js" th:src="@{/js/wangEditor.min.js}"></script>
<script th:src="@{/expression/js/jquery.mousewheel-3.0.6.min.js}" src="../static/expression/js/jquery.mousewheel-3.0.6.min.js"></script>
<script th:src="@{/expression/js/jquery.mCustomScrollbar.min.js}" src="../static/expression/js/jquery.mCustomScrollbar.min.js"></script>
<script th:src="@{/expression/js/jquery.emoji.js}" src="../static/expression/js/jquery.emoji.js"></script>
<script th:src="@{/js/share.js}" src="../static/js/share.js"></script>
<script th:inline="javascript">
    var groupId = [[${currentGroup}]];
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );

    $('.text-div').focus(function () {
        $(this).removeClass('text-div');
    });
    $('.publish-input').blur(function () {
       $(this).addClass('text-div');
    });

    //发送消息
    $('.publish-btn').click(function (e) {
        var sId = $('.share-list.selected').attr('data');
        var chat = '';
        var that;
        $('.publish-btn').each(function () {
           if($(this).attr("data-id") === $('.share-list.selected').attr('data')) {
               that = $(this).parent().siblings('.text-div');
               chat = $(this).parent().siblings('.text-div').html();
           }
        });
        var args = {"publicId":shareId,"publicType":"分享","content":chat,"projectId":projectId}
        $.post("/public/chat",args,function (data) {
            that.html('');
        },"json");
    });

    //订阅项目消息
    function subscribe() {
        stompClient.subscribe('/topic/'+projectId, function (response) {
            var returnData = JSON.parse(response.body);
            var share = JSON.parse(returnData.responseMessage);
            if(share.type === '关联'){
                addBindingStr(share.object.bindingInfo,share.object.publicType,share.object.bId);
            }
            if(share.type === "发送消息"){
                getLog(share.object.shareLog,share.object.shareId);
            }
            if(share.type === '恢复了信息'){
                var share = share.share;
                var content = '';
                var content2 = '';
                content += '<li class="boxsizing share-list" th:data="' + share.id + '">'+
                    '<img th:src="' + IMAGE_SERVER+share.userEntity.userInfo.image + '"/>'+
                    '<div class="share-people-time">'+
                    '<h3 class="over-hidden">' + share.title + '</h3>'+
                    '<p><span>' + share.userEntity.userName + '</span> 发布于 <span>' + new Date(share.createTime).format('yyyy-MM-dd HH:mm:ss') + '</span></p>'+
                '</div>'+
                '</li>';

                content2 += ''
                $('#shareList').append(content);

            }

            if(share.type === '更新了参与者'){
                getLog(share.object.log,share.object.shareId);
                updatePeopel(share);
            }
            if(share.type === '将分享移入了回收站'){
                $('.share-list').each(function () {
                   if($(this).attr('data') === share.shareId){
                       $(this).remove();
                   }
                });
                $('.share-right').each(function () {
                   if($(this).attr('data') === share.shareId){
                       $(this).remove();
                   }
                });
            }
            //添加标签
            if(share.object.type === 12){
                var content = '<span class="tag" id="' + share.object.tag.tagId + '" style="background-color:'+ share.object.tag.bgColor +'">'+
                    '<b style="font-weight: 400">' + share.object.tag.tagName + '</b>'+
                    '<i class="layui-icon layui-icon-close-fill remove-tag" style="font-size: 14px; color:#1E9FFF;"></i>'+
                    '</span>';
                $('.share-right').each(function () {
                    if($(this).attr('data') === share.object.publicId){
                        $(this).find('.has-tags').prepend(content)
                    }
                });
            }

            //移除标签
            if(share.object.type === 13){
                $('.share-right').each(function () {
                    $('.has-tags span').each(function () {
                        if($(this).attr('id') === share.object.tag){
                            $(this).remove();
                        }
                    });
                });
            }

            if(share.type == '取消了关联'){
                $('#bind li.data-info ').each(function(){
                    if($(this).attr('data-id') == share.object.bId){
                        $(this).remove();
                        if($('.related-rw li.data-info').length == 0){
                            $('.related-rw-wrap').hide();
                        }
                        if($('.related-rc li.data-info').length == 0){
                            $('.related-rc-wrap').hide();
                        }
                        if($('.related-wj li.data-info').length == 0){
                            $('.related-wj-wrap').hide();
                        }
                        if($('.related-fx li.data-info').length == 0){
                            $('.related-fx-wrap').hide();
                        }
                    }
                });
            }

        })
    };

    layui.use('element', function(){
        var element = layui.element;
    });

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return "";
    }

    var shareId = "";
    var projectId = getQueryString("projectId");

    $(function () {
        $("html").on("click",".deleteTag",function () {
            $(this).parent("span").remove();
        });

        layui.use(['form', 'layer'], function() {
            var form = layui.form;
        });

        var url = window.location.href;
        if (url.indexOf("share") > 0) {
            $(".toper-nav ul li:nth-of-type(2)").addClass("now").siblings().removeClass("now");
        }
        var noclass;
        if ($(".share-list").hasClass("selected")){
            // return false
        } else {
            noclass=true;
        }
        if (noclass){
            $(".share-list:nth-of-type(1)").addClass("selected");
        }


        function updateShareId() {
            $(".share-list").each(function () {
                if ($(this).hasClass("selected"))  {
                    shareId = $(this).attr("data");
                }
            });
        }

        updateShareId();

        //点击所有分享
        $(".all-share h2").click(function (e) {
            $(".select-who-share").slideDown();
            e.stopPropagation()
        });
        $(".select-who-share ul:nth-of-type(1) li").click(function () {
            $(".all-share h2 span").text($(this).text());
            $(".select-who-share").slideUp();
        });
        $(".select-who-share .sorting-mode li").click(function () {
            $(".select-who-share .sorting-mode li i").hide();
            $(this).find("i").show();
            $(".select-who-share").slideUp();
        });
        //点击空白  所有 分享 下拉框 隐藏
        $(document).click(function(event){
            var _con = $('.select-who-share');  // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
                $('.select-who-share').slideUp();
            }
        });

        //点击添加分享 后面的下箭头
        $(".add-share h2 i").click(function (e) {
            $(".select-doc").slideDown();
            e.stopPropagation()
        });
        //点击空白
        $(document).click(function(event){
            var _con = $('.select-doc');  // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
                $('.select-doc').slideUp();
            }
        });

        //点击左侧 各个分享 内容
        $("html").on("click",".share-list",function () {
            var i=$(this).index();
            $(this).addClass("selected").siblings().removeClass("selected");
            $(".share-right").hide();
            $(".share-right").eq(i).show()
            updateShareId();
        });

        // 点击下箭头 ，出现 分享 菜单 弹框
        $("html").on("click",".show-share-menu",function () {
            var top=$(this).offset().top+25;
            var left=$(this).offset().left-120;
            var id = $(this).attr('data');
            shareMenu(top,left,id);
        });
        //添加 人员 弹框
        $("html").on("click",".add-work-people img",function () {
            var top=$(this).offset().top-50;
            var left=$(this).offset().left-120;
            addpeople(top,left)
        });

        //点击颜色，颜色出现对勾
        $(".color-pick li").click(function () {
            $(this).find("i").show();
            $(this).siblings().find("i").hide()
        });
        //点击空白区域 添加标签消失
        $(document).click(function (event) {
            var _con = $('.tags-search-build');   // 设置目标区域
            if (!_con.is(event.target) && _con.has(event.target).length === 0) { // Mark 1
                //$('#divTop').slideUp('slow');   //滑动消失
                $('.tags-search-build').hide(500);          //淡出消失
            }
        });

    });
   // 关闭 弹框
    $(".close-tk").click(function () {
        layer.closeAll('page');
    });
    //分享菜单 弹框
    function shareMenu(top,left,id) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false,
                offset:[top,left],
                area:['220px','254px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: $('div[datas-id="'+id+'"]'),
                success:function () {
                    $('.menu-box').each(function (data,item) {
                        $(item).attr('id',id);
                    });
                }
            });
        });
    }
    //添加人员 弹框
    function addpeople(top,left) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area:['252px','360px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: "/share/toSearchPeople?projectId=" + projectId + "&shareId=" + shareId
            });
        });
    }
    function addtag(top,left) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area:['250px','250px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: "tk-add-tag.html"
            });
        });
    }

    $('.edit_share').click(function () {

        parent.window.location.href = 'toAddShare.html?projectId='+projectId+"&shareId="+$('.edit_share').attr('id');
    });

    $('.delete_share').click(function () {
        $.post('/share/moveToRecycleBin',{"shareId":$('.delete_share').attr('id'),"projectId":projectId},function (data) {
            if(data.result != 1) {
                layer.msg("移除失败",{icon:1});
            }
        });
    });

    $('.share_copy').click(function () {
        var clipboard = new ClipboardJS('.share_copy');

        clipboard.on('success', function(e) {
            console.log(e);
        });
    });
    var shareId = [[${shareId}]];
    if(shareId != '' && shareId != null){
        $('.share-list').removeClass('selected');
        $('.share-list').each(function (i,n) {
            if($(n).attr('data') == shareId){

                $(n).addClass('selected');
                $(".share-right").hide();
                $(".share-right").eq(i).show()
                return false;
            }
        });
    }

    /**
     * 移除参与者
     */
    $('html').on('click','.remove-work-people',function () {
        var ids = [];
        $(this).parent().siblings('.one-work-people').each(function () {
            ids.push($(this).attr('data-id'));
        });
        var url = "/share/addAndRemoveShareMember";
        var args = {"addUserEntity":ids.toString(),"shareId":shareId};
        $.post(url,args,function (data) {
            if(data.result == 0){
                layer.msg("系统异常,操作失败!");
            }
        },"json");
    });

    $("body").on("click",".show-cancel-related",function (e) {
        $(this).parents("li").find(".related-menu").slideToggle();

        e.stopPropagation();
    });
    $("body").on("click",".close-related-menu",function () {
        $(this).parents(".related-menu").slideUp();
    });


    $('.add-guanlian').click(function (e) {
        var shareId = $(this).parents('.share-right').attr('data');
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            area:['800px','540px'],
            fixed: true,
            shadeClose: true,
            closeBtn: 0,
            shade:  [0.1, 'black'],
            anim: 1,  //动画 0-6
            content: ['/binding/relevance.html?shareId=' + shareId+'&projectId='+projectId,'no']
        });
    });

    /**
     * 点击关联的文件
     */
    $("html").on("click",'.related-wj li',function () {
        window.open("/file/fileDetail.html?fileId="+$(this).attr('data-id'),"在线预览文件");
    });

    /**
     * 点击关联的任务
     */
    $("html").on("click",'.related-rw .boxsizing .related-rw-info',function () {
        changeRenwu($(this).parent() .attr("data-id"),projectId);
    });

    /**
     * 点击关联的分享
     */
    $("html").on("click",'.related-fx li',function () {
        var shareId = $(this).attr('data-id');
        $('.share-list').each(function () {
           if($(this).attr('data') === shareId){
               $(this).trigger("click");
           }
        });
    });

    /**
     * 点击关联的日程
     */
    $("html").on("click",'.related-rc .boxsizing .related-rc-info',function () {
        changeRicheng($(this).parent().parent().attr("data-id"),projectId);
    });

    //修改任务 弹框界面
    function changeRenwu(taskId,projectId) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset: '20px',
                area:['600px','600px'],
                fixed: false,
                shadeClose: true, //点击遮罩关闭
                closeBtn: 0,
                anim: 1,  //动画 0-6
                content: "/task/initTask.html?taskId="+ taskId + "&projectId=" + projectId
            });
        });
    }
    /**
     * 取消关联 的单击事件
     */
    $("body").on("click",".cancle",function (e) {
        var id = $(this).attr("data-id");
        var bindId = $(this).attr("data-binding-id");
        var url = "/binding/deleteBinding";
        var args = {"publicId":id,"bindingId":bindId,"projectId":projectId};
        $.post(url,args,function (data) {
            if(data.result == 0){
                layer.msg(data.msg);
            }
        },"json");
        e.stopPropagation();
    });

    $(".add-fuhao").click(function (e) {
        var top=$(this).offset().top+20+'px';
        var left=$(this).offset().left-120+'px';
        layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            offset: [top,left],
            area: ['250px', '250px'],
            fixed: false,
            shadeClose: true, //点击遮罩关闭
            shade: [0.1, '#fff'],
            closeBtn: 0,
            anim: 1,  //动画 0-6
            content: ['/tag/tag.html?projectId='+projectId+"&publicId="+shareId+"&publicType="+'分享','no']
        });
        e.stopPropagation();
    });

    /**
     * 点击x 移除标签
     */
    $('html').on('click','.remove-tag',function () {
        var shareId = $(this).parents('.share-right').attr('data');
        var url = "/tag/removeTag";
        var args = {"publicId":shareId,"publicType":"分享","tagId":$(this).parent().attr('id')};
        $.post(url,args,function(data){
            if(data.result > 0){
                layer.msg(data.msg);
            }
        })
    });

    /**
     * 表情
     */
    $("#chat").emoji({
        button: ".bq",
        showTab: false,
        animation: 'slide',
        position: 'topRight',
        icons: [{
            name: "表情1",
            path: "/expression/dist/img/qq/",
            maxNum: 91,
            excludeNums: [41, 45, 54],
            file: ".gif"
        },{
            name: "表情2",
            path: "/expression/dist/img/tieba/",
            maxNum: 50,
            excludeNums: [41, 45, 54],
            file: ".jpg",
            placeholder: "#qq_{alias}#"
        }, {
            name: "表情3",
            path: "/expression/dist/img/emoji/",
            maxNum: 84,
            file: ".png",
            placeholder: "#emoji_{alias}#"
        }]
    });

    $('.emoji_container').css('width','278px');

</script>
</html>
