<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>分享</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-share.css}" href="../static/css/new-share.css">

</head>
<body>
<header th:include="common/header::frag (${user.userInfo.image},${user.id})"></header>

<div th:include="toper::toper (${project.projectName},${project.projectId})"></div>

<div class="share-wrap" style="margin-top: 100px">
    <!--左侧内容-->
    <div class="share-left">
        <div class="share-left-title boxsizing">
            <div class="all-share">
                <h2><span>所有分享</span> <i class="layui-icon layui-icon-down" style="font-size: 18px; color: #3da8f5;"></i>  </h2>
                <div class="select-who-share" style="display: none">
                    <ul>
                        <li>所有分享</li>
                        <li>我的分享</li>
                    </ul>
                    <div class="xian"></div>
                    <ul class="sorting-mode">
                        <li>安发布时间排序 <i class="layui-icon layui-icon-ok" style="font-size: 16px; color: gray;"></i> </li>
                        <li>按回复时间排序 <i class="layui-icon layui-icon-ok" style="font-size: 16px; color: gray;display: none"></i></li>
                    </ul>
                </div>
            </div>
            <div class="add-share">
                <h2><span>
                    <i class="layui-icon layui-icon-add-circle add-icon"></i>
                    <a th:href="@{/share/toAddShare.html(projectId=${project.projectId})}" style="color:#3da8f5;font-size: 14px;line-height: 43px;margin-left: 5px">添加分享</a></span>
                    <!--<i class="layui-icon layui-icon-down" style="font-size: 18px; color: gray;"></i>--></h2>
                <!--<div class="select-doc" style="display: none">-->
                    <!--<ul>-->
                        <!--<li>普通文档</li>-->
                        <!--<li>Markdown文档</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
        <div class="share-list-wrap">
            <ul>
                <li class="boxsizing share-list" th:each="share: ${shareList}" th:data="${share.id}">
                    <img th:src="#{IMAGE_SERVER}+${share.memberImg}"/>
                    <div class="share-people-time">
                        <h3 class="over-hidden" th:text="${share.title}"></h3>
                        <p><span th:text="${share.memberName}"></span> 发布于 <span th:text="${#dates.format(share.createTime,'yyyy-MM-dd HH:mm')}"></span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--右侧内容-->
    <div class="share-right-wrap">
        <div class="share-right" th:each="share: ${shareList}">
            <div class="share-right-scroll">
                <div class="white-box boxsizing">
                    <div class="share-right-title boxsizing clearfix">
                        <h3 th:text="${share.title}"></h3>
                        <i class="layui-icon layui-icon-down show-share-menu" style="font-size: 20px; color: #a6a6a6;" th:data="${share.id}"></i>
                        <!--<div class="zan">-->
                            <!--<img src="../static/image/zan.png" th:src="@{/image/zan.png}" />-->
                            <!--<span>+12</span>-->
                        <!--</div>-->
                    </div>
                    <div class="describtion" th:utext="${share.content}"></div>
                    <div class="heng-line"></div>
                    <div class="add-tag tag-box clearfix">
                        <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                        <span>标签</span>
                        <span class="no-tags">添加标签</span>
                        <div class="has-tags" th:id="${share.id}">
                            <span th:if="${share.tagList != null}" th:each="tag:${share.tagList}" class="tag" th:id="${share.id} + '_' + ${tag.tagId}" th:style="'background-color:'+${tag.bgColor}+''">
                                <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                                <i class="layui-icon layui-icon-close-fill deleteTag" th:data="${tag.tagId}" style="font-size: 14px; color: #1E9FFF;"></i>
                            </span>
                        </div>
                        <i class="layui-icon layui-icon-add-circle add-fuhao" style="font-size: 20px; color: #1E9FFF;cursor: pointer"></i>
                        <!--新建  搜索标签框-->
                        <div class="tags-search-build" style="display: none">
                            <!--搜索标签-->
                            <div class="tag-search" >
                                <div class="tag-search-title boxsizing">
                                    <input class="tag-search-input" type="text" placeholder="搜索标签">
                                    <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                                </div>
                                <ul class="tags-ul boxsizing" th:id = "'tag_' + ${share.id}">
                                    <!--这里是标签-->
                                    <li class="tags-list" th:each="tag:${tagList}" th:data="${tag.tagId}">
                                        <span class="dot" th:style="'background-color:' +  ${tag.bgColor}"></span>
                                        <span class="tag-font" th:text="${tag.tagName}">aaa</span>
                                    </li>
                                </ul>
                            </div>
                            <!--新建标签-->
                            <div class="build-tags" style="display: none">
                                <div class="build-tags-title boxsizing">
                                    <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                                    新建标签
                                    <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                                </div>
                                <div class="build-tags-con boxsizing">
                                    <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                                    <ul class="color-pick">
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                        <li>
                                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                        </li>
                                    </ul>
                                    <div class="tag-ok" disabled>创建</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="heng-line"></div>
                    <div class="guanlian combox">
                        <img src="../static/image/guanlian.png" th:src="@{/image/guanlian.png}" />
                        <span>关联内容</span>
                    </div>
                    <div class="add-guanlian combox">
                        <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                        <span>添加关联</span>
                    </div>
                </div>
                <div class="gray-box">
                    <div class="boxsizing">
                        <p class="cyz">参与者</p>
                        <div class="work-people boxsizing clearfix">
                            <div class="one-work-people">
                                <img src="../static/image/add.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}" />
                                <i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>
                            </div>
                            <div class="add-work-people">
                                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                            </div>
                        </div>
                        <div class="heng-line"></div>
                        <!--谁谁 干了 什么-->
                        <div class="state">
                            <ul id = "log">
                                <li class="combox">
                                    <img src="../static/image/dongtai.png" th:src="@{/image/dongtai.png}" />
                                    <span >aaa</span>
                                    <div class="in-what-time" >2018-10-1 12:00</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--发布消息 框-->
            <div class="publish boxsizing">
                <textarea name=""  placeholder="@快速提及他人，enter快速发布" class="layui-textarea publish-input" ></textarea>
                <div class="fenge-line"></div>
                <div class="publish-bottom">
                    <i class="layui-icon layui-icon-file upload-fujian" style="font-size: 20px; color: #B5B5B5;"></i>
                    <i class="layui-icon layui-icon-face-smile-fine" style="font-size: 20px; color: #B5B5B5;"></i>
                    <div class="publish-btn ">发布</div>
                </div>
                <!--上传文件框-->
                <div class="fujian-box boxsizing" style="display: none">
                    <div class="fujian-box-title boxsizing">
                        添加附件
                        <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                    </div>
                    <div class="zj-up">
                        <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>直接上传</span>
                    </div>
                    <div class="xian"></div>
                    <div class="select-up">
                        <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                        <span>从文件库选择</span>
                    </div>
                    <div class="xian"></div>
                    <div class="fujian-box-bottom boxsizing">
                        <input type="text"  placeholder="粘贴下载链接..." class="layui-input lianjie">
                        <div class="add-fujian">添加</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--分享菜单 弹框-->
<div class="scheduling-menu boxsizing layui-form" style="position: relative;top: 0;left: 0;display: none">
    <div class="scheduling-menu-title">分享菜单
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 16px; color: #a6a6a6;"></i>
    </div>
    <div class="menu-box edit-rc">
        <img th:src="@{/image/fzrc.png}" >
        <span>编辑分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img th:src="@{/image/fzrclj.png}" >
        <span>复制分享链接</span>
    </div>
    <div class="menu-box edit-rc">
        <img th:src="@{/image/gxrc.png}" >
        <span>共享分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img th:src="@{/image/scrc.png}" >
        <span>收藏分享</span>
    </div>
</div>

</body>
<script th:inline="javascript">
    layui.use('element', function(){
        var element = layui.element;
    });

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return "";
    }

    var shareId = "";
    var projectId = getQueryString("projectId");

    $(function () {
        $("html").on("click",".deleteTag",function () {
            $(this).parent("span").remove();
        });

        layui.use(['form', 'layer'], function() {
            var form = layui.form;

            // 移除标签
            $(".deleteTag").each(function () {
                $(this).click(function () {
                    var tagId = $(this).attr("data");
                    $(this).parent("span").remove();
                    $.post("/share/deleteTag", {shareId: shareId, tagId: tagId});
                });
            });

            form.render();
            addTag();

            //点击创建 按钮
            $(".tag-ok").click(function () {
                var tagName = $(".tag-name").val();
                if ('' === tagName){
                    return false
                } else {
                    var color='';
                    $(".color-pick li i").each(function () {
                        if ($(this).is(":visible")){
                            color=$(this).parent().css("background-color")
                        }
                    });

                    $.post("/tag/add", {tagName: tagName, bgColor: color, projectId: projectId}, function (data) {
                        if (data.result === 1) {
                            var tag = data.tag;
                            $("#tag_" + shareId).append(
                                '<li class="tags-list" data="' + tag.tagId + '">\n' +
                                '<span class="dot" style="background-color:' + tag.bgColor + '"></span>\n' +
                                '<span class="tag-font">' + tag.tagName + '</span>\n' +
                                '</li>'
                            );
                            layer.msg(data.msg, {icon: 1, time: 700});
                        } else {
                            layer.msg(data.msg, {icon: 2, time: 700});
                        }
                    });

                }
            });
        });

        var url = window.location.href;
        if (url.indexOf("share") > 0) {
            $(".toper-nav ul li:nth-of-type(2)").addClass("now").siblings().removeClass("now");
        }
        $(".share-list:nth-of-type(1)").addClass("selected");

        function updateShareId() {
            $(".share-list").each(function () {
                if ($(this).hasClass("selected"))  {
                    shareId = $(this).attr("data");
                }
            });
        }

        updateShareId();

        //点击所有分享
        $(".all-share h2").click(function (e) {
            $(".select-who-share").slideDown();
            e.stopPropagation()
        });
        $(".select-who-share ul:nth-of-type(1) li").click(function () {
            $(".all-share h2 span").text($(this).text());
            $(".select-who-share").slideUp();
        });
        $(".select-who-share .sorting-mode li").click(function () {
            $(".select-who-share .sorting-mode li i").hide();
            $(this).find("i").show();
            $(".select-who-share").slideUp();
        });
        //点击空白  所有 分享 下拉框 隐藏
        $(document).click(function(event){
            var _con = $('.select-who-share');  // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
                $('.select-who-share').slideUp();
            }
        });

        //点击添加分享 后面的下箭头
        $(".add-share h2 i").click(function (e) {
            $(".select-doc").slideDown();
            e.stopPropagation()
        });
        //点击空白
        $(document).click(function(event){
            var _con = $('.select-doc');  // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
                $('.select-doc').slideUp();
            }
        });

        //点击左侧 各个分享 内容
        $("html").on("click",".share-list",function () {
            var i=$(this).index();
            $(this).addClass("selected").siblings().removeClass("selected");
            $(".share-right").hide();
            $(".share-right").eq(i).show()
            updateShareId();
        });
        // 点击下箭头 ，出现 分享 菜单 弹框
        $("html").on("click",".show-share-menu",function () {
            var top=$(this).offset().top+25;
            var left=$(this).offset().left-120;
            var id = $(this).attr('data');
            shareMenu(top,left,id);
        });
        //添加 人员 弹框
        $("html").on("click",".add-work-people img",function () {
            var top=$(this).offset().top-50;
            var left=$(this).offset().left-120;
            addpeople(top,left)
        });
        //添加 标签 弹框
        $("html").on("click",".tags",function () {
            var top=$(this).offset().top+35;
            var left=$(this).offset().left-100;
            addtag(top,left)
        });


        // 点击添加标签
        if ($(".has-tags .tag").length==0){
            $(".no-tags").show();
            $(".has-tags").hide();
        } else {
            $(".no-tags").hide();
            $(".has-tags").show();
        }
        $(".no-tags").click(function (e) {
            var url = "/task/findAllTags";
            // var args = {"projectId":projectId};
            //异步请求获取项目下的所有标签
            // $.post(url,args,function(data){
            //     var tags = data.data;
            //     var content = "";
            //     for(var i = 0;i < tags.length; i++){
            //         content += "<li class='tags-list'>" +
            //             "<span class='dot' style='background-color: " + tags[i].bgColor + "'></span>" +
            //             "<span class='tag-font' value='"+ tags[i].tagId +"'>"+ tags[i].tagName +"</span>"+
            //             "</li>";
            //     }
            //     $('#tags').html(content);
            //     $(".tags-search-build").show();
            //     $(".tag-search").show();
            //     $(".no-tags").hide();
            // },"json");
            $(".tags-search-build").show()
            e.stopPropagation();

        });
        $(".tag-search-title img").click(function () {
            $(".tag-search").hide();
            $(".build-tags").show();
        });
        $(".go-return").click(function () {
            $(".tag-search").show();
            $(".build-tags").hide();
        });
        $(".close-tag").click(function () {
            $(".tags-search-build").slideUp();
            if ($(".has-tags .tag").length==0){
                $(".no-tags").show();
                $(".has-tags").hide();
            } else {
                $(".no-tags").hide();
                $(".has-tags").show();
            }

        });
        $(".has-tags>i").click(function (e) {
            $(".tags-search-build").show();
            $(".tag-search").show();

            e.stopPropagation();
        });

        // 创建 按钮 是否 能点击
        $(".tag-name").keyup(function () {
            if ($(this).val()==''){
                $(".tag-ok").css({"background-color":"#ccc","cursor":"not-allowed"})
            } else {
                $(".tag-ok").css({"background-color":"#1E9FFF","cursor":"pointer"})
            }
        });


        $(".add-fuhao").click(function (e) {
            $('.no-tags').trigger("click");
            e.stopPropagation();
        });

        //点击颜色，颜色出现对勾
        $(".color-pick li").click(function () {
            $(this).find("i").show();
            $(this).siblings().find("i").hide()
        });
        //点击空白区域 添加标签消失
        $(document).click(function (event) {
            var _con = $('.tags-search-build');   // 设置目标区域
            if (!_con.is(event.target) && _con.has(event.target).length === 0) { // Mark 1
                //$('#divTop').slideUp('slow');   //滑动消失
                $('.tags-search-build').hide(500);          //淡出消失
            }
        });

    });
   // 关闭 弹框
    $(".close-tk").click(function () {
        layer.closeAll('page');
    });
    //分享菜单 弹框
    function shareMenu(top,left,id) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false,
                offset:[top,left],
                area:['220px','254px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: $(".scheduling-menu")
            });
        });
    }
    //添加人员 弹框
    function addpeople(top,left) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area:['252px','360px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: "/share/toSearchPeople?projectId=" + projectId + "&shareId=" + shareId
            });
        });
    }
    function addtag(top,left) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area:['250px','250px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: "tk-add-tag.html"
            });
        });
    }

    function addTag() {
        // 添加标签
        $('.tags-list').each(function () {
            $(this).click(function () {
                var tagId = $(this).attr("data");
                $.post("/share/addTag", {shareId: shareId, tagId: tagId}, function (data) {
                    var result = data.result;
                    if (result === 1) { // 添加
                        var tag = data.data;
                        $("#" + shareId).append(
                            '<span class="tag" id="'+ shareId + '_' + tagId +'" id="' + tagId + '" style="background-color: ' + tag.bgColor + '">\n' +
                            '    <b style="font-weight: 400">' + tag.tagName + '</b>\n' +
                            '    <i class="layui-icon layui-icon-close-fill deleteTag" tdata="' + tag.tagId + '" style="font-size: 14px; color: #1E9FFF;"></i>\n' +
                            '</span>'
                        );
                    } else if (result === 2) { // 移除
                        console.log(tagId);
                        $("#" + shareId + "_" + tagId).remove();
                    }
                });
            });
        });
    }
</script>
</html>
