<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>选择文件</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
</head>
<body>
    <input th:value="${windowName}" type="hidden" class="windowName"/>

</body>
<script type="text/javascript" th:src="@{/js/lib/crypto1/crypto/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/hmac/hmac.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/sha1/sha1.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/plupload-2.1.2/js/plupload.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/upload.js}"></script>
</html>