<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}" href="../static/css/mainpage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
</head>
<body>
<!--待处理-->
<div class="model boxsizing">

    <div class="model-title">
        <span>待处理</span>
        <i class="layui-icon layui-icon-down add-new-model xjt" style="font-size: 15px; color: #B5B5B5;" title="添加或编辑任务列表"></i>
        <!--点击下箭头出现的内容-->
        <div class="lbmenu">
            <div class="lbmenu-title">
                <p>菜单列表</p>
                <i class="layui-icon layui-icon-close lbmenu-close" style="font-size: 16px; color: #A6A6A6;"></i>
            </div>
            <div class="lbmenu-add">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-add-1 " style="font-size: 16px; color: gray;"></i>
                    在此处添加新列表
                </div>
            </div>
            <div class="lbmenu-remove">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-delete " style="font-size: 16px; color: gray;"></i>
                    本列表所有任务移到回收站
                </div>
            </div>
        </div>
    </div>
    <!--任务列表-->
    <div class="ul-wrap layui-form">
        <ul id="list1">
            <li class="assignment ">
                <div class="tags boxsizing">
                    <span class="one-tag">112</span>
                </div>
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
            <li class="assignment">
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
            <li class="assignment">
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
            <li class="assignment">
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
        </ul>
    </div>
    <!--添加任务按钮-->
    <div class="add-assignment">
        <i class="layui-icon layui-icon-add-circle add-icon" style="font-size: 22px; color: #80BEE4;"></i>
        <span>添加任务</span>
    </div>
</div>
<!--进行中-->
<div class="model boxsizing">
    <div class="model-title">
        <span>进行中</span>
        <i class="layui-icon layui-icon-down add-new-model xjt" style="font-size: 15px; color: #B5B5B5;" title="添加或编辑任务列表"></i>
        <!--点击下箭头出现的内容-->
        <div class="lbmenu">
            <div class="lbmenu-title">
                <p>菜单列表</p>
                <i class="layui-icon layui-icon-close lbmenu-close" style="font-size: 16px; color: #A6A6A6;"></i>
            </div>
            <div class="lbmenu-add">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-add-1 " style="font-size: 16px; color: gray;"></i>
                    在此处添加新列表
                </div>
            </div>
            <div class="lbmenu-remove">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-delete " style="font-size: 16px; color: gray;"></i>
                    本列表所有任务移到回收站
                </div>
            </div>
        </div>
    </div>
    <!--任务列表-->
    <div class="ul-wrap layui-form">
        <ul id="list2">
            <li class="assignment">
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
        </ul>
    </div>
    <!--添加任务按钮-->
    <div class="add-assignment">
        <i class="layui-icon layui-icon-add-circle add-icon" style="font-size: 22px; color: #80BEE4;"></i>
        <span>添加任务</span>
    </div>

</div>
<!--已完成-->
<div class="model boxsizing">
    <div class="model-title">
        <span>已完成</span>
        <i class="layui-icon layui-icon-down add-new-model xjt" style="font-size: 15px; color: #B5B5B5;" title="添加或编辑任务列表"></i>
        <!--点击下箭头出现的内容-->
        <div class="lbmenu">
            <div class="lbmenu-title">
                <p>菜单列表</p>
                <i class="layui-icon layui-icon-close lbmenu-close" style="font-size: 16px; color: #A6A6A6;"></i>
            </div>
            <div class="lbmenu-add">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-add-1 " style="font-size: 16px; color: gray;"></i>
                    在此处添加新列表
                </div>
            </div>
            <div class="lbmenu-remove">
                <div class="lbmenu-add-content">
                    <i class="layui-icon layui-icon-delete " style="font-size: 16px; color: gray;"></i>
                    本列表所有任务移到回收站
                </div>
            </div>
        </div>
    </div>
    <!--任务列表-->
    <div class="ul-wrap layui-form">
        <ul id="list3">
            <li class="assignment">
                <div class="assignment-top-box boxsizing">
                    <input type="checkbox" name="" title="" lay-skin="primary" class="is-sure" >
                    <span class="assignment-title">设计修改任务界面</span>
                    <img class="assignment-tx" src="../static/image/add.png" >
                </div>
                <div class="assignment-bottom-box">
                    <span class="timer">今天9:00-明天</span>
                    <span class="dates">dt-12</span>
                </div>
                <!--//左边框线-->
                <div class="line"></div>
            </li>
        </ul>
    </div>
    <!--添加任务按钮-->
    <div class="add-assignment">
        <i class="layui-icon layui-icon-add-circle add-icon" style="font-size: 22px; color: #80BEE4;"></i>
        <span>添加任务</span>
    </div>

</div>

<!--新建任务列表-->
<div class="creat-model boxsizing">
    <div class="noclick-creat-model">
        <i class="layui-icon layui-icon-add-circle" style="font-size: 22px; color: #AEAEAE;"></i>
        <span>新建任务列表</span>
    </div>
    <div class="click-creat-model" style="display: none">
        <input type="text" name="title"  placeholder="新建任务列表..." autocomplete="off" class="layui-input creat-model-input">
        <div class="clearfix">
            <div class="creat-model-ok layui-btn layui-btn-normal">保存</div>
            <div class="creat-model-no">取消</div>
        </div>
    </div>
</div>

<!--<script  src="../static/js/jquery-2.2.4.min.js"></script>-->
<!--<script  src="../static/layui/layui.js"></script>-->

<script th:src="@{/jsSortable.min.js}"  src="../static/js/Sortable.min.js"></script>
<script th:src="@{/js/mainpage.js}" src="../static/js/mainpage.js"></script>
<script th:src="@{/js/headcommon.js}" src="../static/js/headcommon.js"></script>
</body>


</html>