<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonhead.css}" href="../static/css/commonhead.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/upload-file.css}" href="../static/css/upload-file.css">
</head>
<body>
<div class="model-file-up-box">
    <header class="boxsizing">
        <div>选择模型文件</div>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 18px; color: #A6A6A6;"></i>
    </header>
    <div id = "container">
        <div class="flex-content boxsizing">
            <div class="mx-box-wrap">
                <div class="mx-box boxsizing">
                    <input id="file" type="file" accept=".pln,.gsm,.skp,.mod" style="position: absolute;width: 150px;height: 150px;font-size: 0px;opacity: 0"/>
                    <div class="no-file">
                        <img th:src="@{/image/5dModel.png}" class="model" src="../static/image/model.png" style="display: none">
                        <i class="layui-icon layui-icon-upload model-icon" style="font-size: 80px; color: #3DA8F5;cursor: pointer"></i>
                    </div>
                    <div class="has-file" style="display: none">文件名文件名温家明.gks</div>
                </div>
                <div class="layui-progress upModel" lay-filter="upModel">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
                <p class="tips-p model-name over-hidden">请选择模型文件</p>
            </div>
            <div class="slt-box-wrap">
                <div class="slt-box boxsizing">
                    <div class="style-div" id = "upModel2">把上传插件绑定到这个盒子上,自己起个名字</div>
                    <div class="no-img">
                        <img th:src="@{/image/model.png}" class="suolue" src="" style="display: none">
                        <i class="layui-icon layui-icon-upload suolue-icon" style="font-size: 80px; color: #3DA8F5;cursor: pointer"></i>
                    </div>
                    <div class="has-img" style="display: none"></div>
                </div>
                <div class="layui-progress upMode2" lay-filter="upMode2">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
                <p class="tips-p model-name2 over-hidden">请上传模型文件缩略图</p>
            </div>

        </div>
        <div class="btn-box boxsizing">
            <div class="ok-btn model-ok-btn">确定</div>
            <!--<div class="up-btn" id = "postfiles">上传</div>-->
        </div>

    </div>

</div>

</body>
<script th:inline="javascript">
    var projectId = [[${projectId}]];
    var taskId = [[${taskId}]];
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    var g_dirname = 'upload/project/'+projectId+"/";
</script>
<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/crypto/crypto.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/hmac/hmac.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/crypto1/sha1/sha1.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/base64.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/plupload-2.1.2/js/plupload.full.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jszip.js}"></script>
<script type="text/javascript" th:src="@{/js/aliyun-oss-sdk.min.js}"></script>
<script type="text/javascript" th:src="@{/js/taskModelUpload.js}"></script>
</html>
