<!DOCTYPE html>
<html>

<head>
    <title>stomp</title>
    <script src="../static/js/vue.min.js"></script>
</head>

<body>

<ul class="ul-tmp">
    <li v-for="todo in todos">
        {{ todo.text }}
    </li>
</ul>

<script type="text/javascript">
    var app = new Vue({
        el: '.ul-tmp',
        data: {
            todos: [
                { text: 'javaScript' },
                { text: 'Vue' },
                { text: 'java' }
            ]
        }
    })
    app.todos.push({ text: 'c#' });
</script>

</body>

</html>

