<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/schedule_temp.css}" href="../static/css/schedule_temp.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_754098_2w226gygtpg.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recycle-bin.css}" href="../static/css/recycle-bin.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">

    <!-- 表情样式 -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/expression/css/jquery.mCustomScrollbar.min.css}" href="../static/expression/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/jquery.emoji.css}" href="../static/expression/dist/css/jquery.emoji.css"/>
    <link rel="stylesheet" th:href="@{/expression/css/railscasts.css}" href="../static/expression/css/railscasts.css"/>
    <link rel="stylesheet" th:href="@{/expression/dist/css/index.css}" href="../static/expression/dist/css/index.css"/>

</head>
<body>
    <input type="hidden" th:value="${schedule.isDel}" id = "isdel" />
    <div class="modal-detail layui-form">

    <section class="detail-content">
        <div  class="delete-box boxsizing" style="margin-bottom: 0;background-color: #53A9F8;padding: 0" th:data-ids="${schedule.isDel}">
            <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.2);;"></div>
            <div style="padding: 0 10px;color: white;z-index: 100;position: absolute;top: 0;left: 0;width: 100%" class="boxsizing">
                <p>
                    <i class="iconfont icon-lajixiang "></i>
                    <span>任务已在回收站中，不可修改</span>
                </p>
                <i class="layui-icon layui-icon-close " style="font-size: 18px; color: #a6a6a6;"></i>
                <div class="box delete-btn">
                    <i class="iconfont icon-lajixiang"></i>
                    <span>彻底删除</span>
                </div>
                <div class="box huifu-btn">
                    <i class="iconfont icon-iconhuifu"></i>
                    <span>恢复内容</span>
                </div>
            </div>



        </div>
        <div class="detail-header">
            <span class="project_name">管控平台xxxxxx</span>
            <div class="detail-coo">
                <i class="layui-icon layui-icon-down" style="color: #e5e5e5;"></i>
                <i class="layui-icon layui-icon-close" style="color: #e5e5e5;margin-left: 15px;"></i>
            </div>
            <div class="detail-title-wrap">
                <input type="text" class="detail-title-input attr-input scheduleName" data-attr="title" th:value="${schedule.scheduleName}">
            </div>
            <div class="detail-handler-set">
                <div class="starttime">
                    <h6 class="detail-handler-tips">开始时间</h6>
                    <input type="text" class="layui-input detail-handler-content" id="test1" th:placeholder="${#dates.format(schedule.startTime,'yyyy-MM-dd HH:mm:ss')}">
                </div>
                <div class="endtime">
                    <h6 class="detail-handler-tips">结束时间</h6>
                    <input type="text" class="layui-input detail-handler-content" id="test2" th:placeholder="${#dates.format(schedule.endTime,'yyyy-MM-dd HH:mm:ss')}">
                </div>
                <div class="isallday layui-form">
                    <h6 class="detail-handler-tips">全天</h6>
                    <input type="checkbox" name="" lay-skin="primary" lay-filter = "isAllday" class="detail-handler-content allday">
                </div>
                <div class="remind_repeat">
                    <div class="no-repeat">
                        <i class="iconfont icon-zhongfubofang"></i>
                        <select name="repeat" lay-verify="" lay-filter = "repeat">
                            <option value="不重复" th:selected="${schedule.repeat == '不重复'}" th:text="${schedule.repeat}">不重复</option>
                            <option value="每天重复" th:selected ="${schedule.repeat == '每天重复'}">每天重复</option>
                            <option value="每周重复" th:selected ="${schedule.repeat == '每周重复'}" >每周重复</option>
                            <option value="每月重复" th:selected="${schedule.repeat == '每月重复'}">每月重复</option>
                            <option value="每年重复" th:selected="${schedule.repeat == '每年重复'}" >每年重复</option>
                            <option value="工作日重复" th:selected="${schedule.repeat == '工作日重复'}" >工作日重复</option>
                        </select>
                    </div>
                    <div class="no-remand ">
                        <i class="iconfont icon-tixing"></i>
                        <select name="remand" lay-verify="" lay-filter = "remind">
                            <option value="不提醒" th:selected="${schedule.remind == '不提醒'}" >不提醒</option>
                            <option value="日程开始时提醒" th:selected="${schedule.remind == '日程开始时提醒'}">日程开始时提醒</option>
                            <option value="日程截止时提醒" th:selected="${schedule.remind == '日程截止时提醒'}" >日程截止时提醒</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-middle boxsizing">
            <div class="style-boxs boxsizing">
                <div class="left-boxs">
                    <i class="iconfont icon-didian"></i>
                    <span>地点</span>
                </div>
                <div class="right-boxs">
                    <div class="will-add boxsizing dd-will-add" th:text="${schedule.address}">待添加</div>
                    <div class="add-input-box" style="display: none">
                        <input class="boxsizing address" type="text" placeholder="待添加">
                        <div class="sure-btn">确定</div>
                        <div class="cancel-btn">取消</div>
                    </div>
                </div>
            </div>
            <div class="style-boxs boxsizing">
                <div class="left-boxs">
                    <img th:src="@{/image/huiyi.png}"></img>
                    <a href="https://zoom.us/start/videomeeting" style="color: #1E9FFF;text-decoration:underline;" target="_blank"><span>&nbsp;&nbsp;会议</span></a>
                </div>
                <div class="right-boxs">
                    <div class="will-add boxsizing dd-will-add" th:text="${schedule.address}">待添加</div>
                    <div class="add-input-box" style="display: none">
                        <input class="boxsizing address" type="text" placeholder="待添加">
                        <div class="sure-btn">确定</div>
                        <div class="cancel-btn">取消</div>
                    </div>
                </div>
            </div>
            <div class="style-boxs boxsizing">
                <div class="left-boxs">
                    <i class="iconfont icon-beizhu" style="font-size: 14px"></i>
                    <span>备注</span>
                </div>
                <div class="right-boxs">
                    <div class="will-add boxsizing">待添加</div>
                </div>
            </div>
            <div class="add-tag tag-box clearfix">
                <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                <span>标签</span>
                <div class="has-tags">
                    <span class="tag" th:each="tag:${schedule.tagList}" th:id = "${tag.tagId}" th:style="'background-color:'+${tag.bgColor}+''">
                        <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                        <i class="layui-icon layui-icon-close-fill remove-tag" style="font-size: 14px; color: #1E9FFF;"></i>
                    </span>
                </div>
                <i class="layui-icon layui-icon-add-circle no-tags" style="font-size: 20px; color: #1E9FFF;"></i>
            </div>
            <div class="a-line"></div>
            <div class="guanlian combox">
                <img src="../static/image/guanlian.png" th:src="@{/image/guanlian.png}" />
                <span>关联内容</span>
            </div>
            <div class="add-guanlian combox">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                <span>添加关联</span>
            </div>

            <div id = "bind">
                <!--关联 部分-->
                <div class="related-box">
                    <div class="flex-box related-rw-wrap" th:style="'display:' + @{(${bindingVo.taskList!=null} ? 'block':'none')}">任务 <span></span></div>
                    <ul class="related-rw">
                        <li class="boxsizing data-info"  th:each="task:${bindingVo.taskList}"  th:data-id="${task.taskId}">
                            <div class="check-box" th:value="${task.taskName}">
                                <input type="checkbox" disabled="disabled" th:value = "${task.taskId}" lay-filter="bindTask" name="" th:checked="${task.taskStatus == '完成'}" lay-skin="primary">
                            </div>
                            <div class="related-rw-info">
                                <img src="../static/image/begintime.png" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+ ${task.executorInfo.userInfo.image}">
                                <img th:if="${task.executor == ''}" th:src="@{/image/add.png}">
                                <span th:text="${task.taskName}"></span>
                            </div>
                            <div class="related-rw-describe over-hidden" th:text = "${task.project.projectName}"></div>
                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            <!--取消关联框-->
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${schedule.scheduleId}" th:data-binding-id="${task.taskId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!--文件-->
                    <div class="related-wj-wrap" th:style="'display:' + @{(${bindingVo.fileList != null} ? 'block':'none')}">
                        <div class="flex-box">文件 <span></span></div>
                        <ul class="related-wj">
                            <li class="boxsizing data-info" th:each="file:${bindingVo.fileList}" th:data-id = "${file.fileId}">
                                <div class="related-wj-info over-hidden">
                                    <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                    <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0}and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'})"/>
                                    <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '..doc'}"/>
                                    <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.docx'}"/>
                                    <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xls'}"/>
                                    <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xlsx'}"/>
                                    <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pptx'}"/>
                                    <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.ppt'}"/>
                                    <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                    <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                    <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                    <img class="folderFile" th:src="@{/image/defaultFile.png}" th:th:unless="${file.ext eq '.rar'} or ${file.ext eq '.png'} or ${file.ext eq '.jpg'} or ${file.ext eq '.jpeg'} or ${file.ext eq '..doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'} or ${file.ext eq '.xlsx'} or ${file.ext eq '.pptx'} or ${file.ext eq '.ppt'} or ${file.ext eq '.zip'} or ${file.ext eq '.rar'} or ${file.ext eq '.pdf'}"/>
                                    <span th:text = "${file.fileName}" ></span>
                                </div>
                                <div class="related-rw-describe over-hidden" th:text="${file.project.projectName}"></div>
                                <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                <!--取消关联框-->
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle" th:data-id="${schedule.scheduleId}" th:data-binding-id="${file.fileId}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--日程-->
                    <div class="related-rc-wrap" th:style="'display:' + @{(${bindingVo.scheduleList != null} ? 'block':'none')}">
                        <div class="flex-box">日程 <span></span></div>
                        <ul class="related-rc">
                            <li class="boxsizing data-info" th:data-id = "${schedule.scheduleId}"  th:each="schedule:${bindingVo.scheduleList}" >
                                <div class="related-rc-top">
                                    <div class="related-rc-info">
                                        <i class="layui-icon layui-icon-date img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                        <span th:text="${schedule.scheduleName}"></span>
                                    </div>
                                    <div class="related-rw-describe over-hidden" th:text="${schedule.project.projectName}"></div>
                                    <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                </div>
                                <div class="related-rc-down">
                                    <span th:text="${#dates.format(schedule.startTime,'yyyy-MM-dd')}"></span>
                                    <span>—</span>
                                    <span th:text="${#dates.format(schedule.endTime,'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle" th:data-id="${schedule.scheduleId}" th:data-binding-id="${schedule.scheduleId}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--分享-->
                    <div class="related-fx-wrap" th:style="'display:' + @{(${bindingVo.shareList != null} ? 'block':'none')}">
                        <div class="flex-box" >分享 <span></span></div>
                        <ul class="related-fx">
                            <li class="boxsizing data-info" th:each="share:${bindingVo.shareList}" th:data-id = "${share.id}">
                                <div class="related-rc-top">
                                    <div class="related-rc-info">
                                        <i class="layui-icon layui-icon-list img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                        <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}">
                                        <span th:text="${share.title}"></span>
                                    </div>
                                    <div class="related-rw-describe over-hidden" th:text="${share.project.projectName}"></div>
                                    <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                </div>
                                <!--<div class="related-rc-down">-->
                                <!--<span>2018-12-25 12:00</span>-->
                                <!--<span>—</span>-->
                                <!--<span>2018-12-25 12:00</span>-->
                                <!--</div>-->
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle" th:data-id="${schedule.scheduleId}" th:data-binding-id="${share.id}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="bj-box boxsizing">
            <p class="cyz">参与者</p>
            <div class="work-people boxsizing clearfix" id = "participate" >
                <!--<div class="one-work-people" th:if="${task.executor != ''}">-->
                <!--<img src="../static/image/add.png" th:value="${task.executor}"  th:src="#{IMAGE_SERVER}+${task.executorInfo.userInfo.image}" />-->
                <!--<i class="layui-icon layui-icon-close-fill remove-work-people " style="font-size: 15px; color: #3da8f5;"></i>-->
                <!--</div>-->
                <div class="one-work-people" th:each="joininfo:${schedule.joinInfo}" th:id="${joininfo.id}">
                    <img src="../static/image/add.png" th:value="${joininfo.id}" th:src="#{IMAGE_SERVER}+${joininfo.userInfo.image}" />
                    <i class="layui-icon layui-icon-close-fill remove-work-people " style="font-size: 15px; color: #3da8f5;"></i>
                </div>
                <div class="add-work-people">
                    <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                </div>
            </div>
            <div class="a-line"></div>
            <div class="state">
                <ul id = "log">
                    <li class="combox clearfix" th:each="log:${logs}">
                        <img src="../static/image/dongtai.png" th:src="#{IMAGE_SERVER}+${log.userEntity.userInfo.image}" />
                        <span th:utext="${log.content}">11</span>
                        <div class="in-what-time" th:text = "${#dates.format(log.createTime,'yyyy-MM-dd HH:mm')}">22</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
        <div class="publish boxsizing">
            <!--<textarea id="chat" name=""  placeholder="@快速提及他人，enter快速发布" class="layui-textarea publish-input" ></textarea>-->
            <div class="publish-input text-div" contenteditable="true" id = "chat"></div>
            <div class="fenge-line"></div>
            <div class="publish-bottom">
                <i class="layui-icon layui-icon-face-smile-fine bq" style="font-size: 20px; color: #B5B5B5;cursor: pointer;"></i>
                <div class="publish-btn">发布</div>
            </div>
            <!--上传文件框-->
            <div class="fujian-box boxsizing" style="display: none">
                <div class="fujian-box-title boxsizing">
                    添加附件
                    <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                </div>
                <div class="zj-up">
                    <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                    <span>直接上传</span>
                </div>
                <div class="xian"></div>
                <div class="select-up">
                    <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                    <span>从文件库选择</span>
                </div>
                <div class="xian"></div>
                <div class="fujian-box-bottom boxsizing">
                    <input type="text"  placeholder="粘贴下载链接..." class="layui-input lianjie">
                    <div class="add-fujian">添加</div>
                </div>
            </div>

        </div>
    </div>

    <!--人员 参与者 弹框-->
    <div class="people boxsizing" style="display: none">
        <input type="text" name="" placeholder="搜索" class="layui-input">
        <div class="peoples">
            <p id = "titles">参与者</p>
            <div id = "executor" class="special-executor">

            </div>
            <p>推荐</p>
            <div id = "noExecutor">

            </div>
            <!--<div class="add-new-people">-->
            <!--<img src="../static/image/adds.png" th:src="@{/image/adds.png}" />-->
            <!--<span>邀请新成员</span>-->
            <!--</div>-->
        </div>
        <div class="people-ok">确定</div>
    </div>

    <!--日程菜单 框-->
    <div style="position: absolute;right: 0;top: 50px;width: 200px;padding: 0 15px; background-color: white;z-index: 200;display: none" class="schedule-menu boxsizing layui-form" >
        <div class="scheduling-menu-title">日程菜单
            <img src="../static/image/close.png" th:src="@{/image/close.png}" />
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/fzrc.png" th:src="@{/image/fzrc.png}" />
            <span>复制日程</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/fzrclj.png" th:src="@{/image/fzrclj.png}" />
            <span>复制日程链接</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/ydrc.png" th:src="@{/image/ydrc.png}" />
            <span>移动日程</span>
        </div>
        <div class="menu-box edit-rc sc">
            <img src="../static/image/scrc.png" th:src="@{/image/scrc.png}" />
            <span th:if="${isCollect}">收藏日程</span>
            <span th:if="${!isCollect}">取消收藏</span>
        </div>
        <div class="menu-box edit-rc">
            <img src="../static/image/gxrc.png" th:src="@{/image/gxrc.png}" />
            <span>共享日程</span>
        </div>
        <div class="menu-box edit-rc to-bin">
            <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
            <span>移到回收站</span>
        </div>
        <div class="heng-line"></div>
        <div class="secret menu-box layui-form">
            <img src="../static/image/suo.png" th:src="@{/image/suo.png}" />
            <span>隐私模式</span>
            <div class="switch">
                <!--<input type="checkbox" name="" th:checked="${task.privacyPattern == '0'}" lay-skin="switch" lay-filter="switch-filter" />-->
            </div>
            <div class="who-can-see">所有成员可见</div>
        </div>
    </div>

    <!--彻底删除日程 框-->
    <div class="forever-delete delete-schedule boxsizing">
        <div class="recover-box-head">
            彻底删除
            <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
        </div>
        <p>确认彻底删除该日程吗？</p>
        <div class="forever-delete-btn">删除</div>
    </div>

    <!--恢复日程内容 框-->
    <div class="recover-box recover-schedule boxsizing">
        <div class="recover-box-head">
            恢复内容
            <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
        </div>
        <p class="font-p">确认恢复内容?</p>
        <div class="o-btn o-schedule-btn">确定</div>
    </div>
</body>
<script th:inline="javascript">
    //头像某模板
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    var scheduleId = [[${schedule.scheduleId}]];
    var projectId = [[${schedule.projectId}]];
</script>


<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/expression/js/jquery.mousewheel-3.0.6.min.js}" src="../static/expression/js/jquery.mousewheel-3.0.6.min.js"></script>
<script th:src="@{/expression/js/jquery.mCustomScrollbar.min.js}" src="../static/expression/js/jquery.mCustomScrollbar.min.js"></script>
<script th:src="@{/expression/js/jquery.emoji.js}" src="../static/expression/js/jquery.emoji.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/sockjs.js}"></script>
<script th:src="@{/js/stomp.js}"></script>
<script th:src="@{/js/schedule.js}" src="../static/js/schedule.js"></script>
<script>

    $(function () {
        if ($(".delete-box").attr("data-ids")==0){
        } else {
            $(".delete-box").show();
            $(".detail-header *").unbind();
            $(".detail-header *").css("cursor"," not-allowed");
            $(".detail-middle *").unbind();
            $(".detail-middle *").css("cursor"," not-allowed");
            $(".bj-box *").css("cursor"," not-allowed");
            $(".bj-box *").unbind();
            $(".left-boxs a").removeAttr("href");
            $("#test1").attr("disabled","disabled");
            $("#test2").attr("disabled","disabled");
            $(".allday").attr("disabled","disabled");
            $(".no-repeat").hide();
            $(".no-remand ").hide()
        }
    });

    $('#chat').focus(function () {
        $(this).removeClass('text-div');
    });
    $('#chat').blur(function () {
        $(this).addClass('text-div');
    });

    $(".dd-will-add").click(function () {
        var old = $('.dd-will-add').html();
        $('.address').val(old);
        $(".add-input-box").slideDown();
        $(this).hide();
    });
    $(".cancel-btn").click(function () {
        $(".add-input-box").slideUp(200,function () {
            $(".will-add").show();
        });

    });
</script>

<script th:inline="javascript">

    /**
     * 关联信息弹框
     */
    $('.add-guanlian').click(function (e) {
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            area:['800px','540px'],
            fixed: true,
            shadeClose: true,
            closeBtn: 0,
            shade:  [0.1, 'black'],
            anim: 1,  //动画 0-6
            content: ['/binding/relevance.html?scheduleId='+scheduleId,'no']
        });
    });

    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );

    //发送消息
    $('.publish-btn').click(function (e) {
        var chat = $('#chat').html();
        var args = {"publicId":scheduleId,"publicType":"日程","content":chat,"projectId":projectId};
        $.post("/public/chat",args,function (data) {
            if(data.result === 1){
                $('#chat').html('');
                $('#chat').focus();
            } else{
                layer.msg(data.msg);
            }
        },"json");
    });



    //订阅消息
    function subscribe() {
        stompClient.subscribe('/topic/'+scheduleId, function (response) {
            var returnData = JSON.parse(response.body);
            var schedule = JSON.parse(returnData.responseMessage);
            if(schedule.type === '发送消息'){
                getLog(schedule.object.scheduleLog);
            }

            if(schedule.type === '将日程移入了回收站'){
                $(".delete-box").show();
                $(".detail-header *").unbind();
                $(".detail-header *").css("cursor"," not-allowed");
                $(".detail-middle *").unbind();
                $(".detail-middle *").css("cursor"," not-allowed");
                $(".bj-box *").css("cursor"," not-allowed");
                $(".bj-box *").unbind();
                $(".left-boxs a").removeAttr("href");
                $("#test1").attr("disabled","disabled");
                $("#test2").attr("disabled","disabled");
                $(".allday").attr("disabled","disabled");
                $(".no-repeat").hide();
                $(".no-remand ").hide()
            }

            if(schedule.type === '关联'){
                addBindingStr(schedule.object.bindingInfo,schedule.object.publicType,schedule.object.bId);
            }
            //标题
            if(schedule.object.type === 4){
                getLog(schedule.object.scheduleLog);
                $('.scheduleName').val(schedule.object.name)
            }
            //开始时间
            if(schedule.object.type === 2){
                getLog(schedule.object.scheduleLog);
                $('#test1').val(schedule.object.startTime);
            }
            //结束时间
            if(schedule.object.type === 3){
                getLog(schedule.object.scheduleLog);
                $('#test2').val(schedule.object.endTime);
            }

            //重复规则
            if(schedule.object.type === 5){
                getLog(schedule.object.scheduleLog);
                var value = schedule.object.repeat;
                $(".layui-anim-upbit dd").each(function () {
                    if ($(this).attr("lay-value")==value) {
                        $(this).addClass("layui-this").siblings().removeClass("layui-this")
                    }
                });
            }

            //提醒模式
            if(schedule.object.type === 6){
                getLog(schedule.object.scheduleLog);
                var value = schedule.object.remind;
                $(".layui-anim-upbit dd").each(function () {
                    if ($(this).attr("lay-value")==value) {
                        $(this).addClass("layui-this").siblings().removeClass("layui-this")
                    }
                });
            }

            //更新地址
            if(schedule.object.type === 7){
                getLog(schedule.object.scheduleLog);
                $('.dd-will-add').html(schedule.object.address);
            }

            //是否是全天模式
            if(schedule.object.type === 11){
                getLog(schedule.object.scheduleLog);
                if(schedule.object.isAllday){
                    $(".layui-form-checkbox").addClass("layui-form-checked")

                } else{
                    $(".layui-form-checkbox").removeClass("layui-form-checked")
                }
            }

            //添加标签
            if(schedule.object.type === 12){
                var content = '<span class="tag" id="' + schedule.object.tag.tagId + '" style="background-color:'+ schedule.object.tag.bgColor +'">'+
                    '<b style="font-weight: 400">' + schedule.object.tag.tagName + '</b>'+
                    '<i class="layui-icon layui-icon-close-fill remove-tag" style="font-size: 14px; color:#1E9FFF;"></i>'+
                    '</span>';
                $('.has-tags').prepend(content);
            }

            //移除标签
            if(schedule.object.type === 13){
                $('.has-tags span').each(function () {
                   if($(this).attr('id') === schedule.object.tag){
                       $(this).remove();
                   }
                });
            }

            if(schedule.type === '更新了参与者'){
                getLog(schedule.object.log);
                if(schedule.object.reduce1 != ''){
                    for(var i = 0;i < schedule.object.reduce1.length;i++){
                        $('.one-work-people').each(function () {
                            if($(this).attr('id') == schedule.object.reduce1[i]){
                                $(this).remove();
                            }
                        });
                    }
                }
                if(schedule.object.adduser != ''){
                    var content = '';
                    for(var i = 0;i < schedule.object.adduser.length;i++){
                        content +=
                            '<div class="one-work-people" id = '+ schedule.object.adduser[i].id +'>'+
                            '<img src="'+IMAGE_SERVER + schedule.object.adduser[i].userInfo.image + '" data = ' + schedule.object.adduser[i].userName +'>'+
                            '<i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>'+
                            '</div>';
                    }
                    $('.add-work-people').before(content);
                }
            }

            if(schedule.type == '取消了关联'){
                $('#bind li.data-info ').each(function(){
                    if($(this).attr('data-id') == schedule.object.bId){
                        $(this).remove();
                        if($('.related-rw li.data-info').length == 0){
                            $('.related-rw-wrap').hide();
                        }
                        if($('.related-rc li.data-info').length == 0){
                            $('.related-rc-wrap').hide();
                        }
                        if($('.related-wj li.data-info').length == 0){
                            $('.related-wj-wrap').hide();
                        }
                        if($('.related-fx li.data-info').length == 0){
                            $('.related-fx-wrap').hide();
                        }
                    }
                });
            }
        });
    }

    /**
     * 删除按钮
     */
    $('.forever-delete-btn').click(function () {
        var url = '/schedule/deleteSchedule';
        var args = {"id":scheduleId,"projectId":projectId}
        $.post(url,args,function (data) {
            if(data.result == 0){
                layer.msg(data.msg);
            } else{
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        });
    });

    /**
     * 恢复日程的确定按钮
     */
    $('.o-schedule-btn').click(function () {
        var url = "/schedule/recoverySchedule";
        var args = {"projectId":projectId,"scheduleId":scheduleId};
        $.post(url,args,function (data) {
            if(data.result < 1){
                layer.msg("系统异常,操作失败!");
            } else{
                layer.close(layer.index);
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }
        });
    });

    //恢复按钮弹窗
    $("html").on("click",".huifu-btn",function (e) {
        var top=$(this).offset().top+50+'px';
        var left=$(this).offset().left-100+'px';
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: false,
                offset: [top, left],
                closeBtn: 0,
                shade: [0.1, '#fff'],
                // shade: 0,
                shadeClose:true,
                content: $('.recover-schedule')
            });
        });
    });

    /**
     * 点击彻底删除按钮
     */
    $("html").on("click",".delete-btn",function (e) {
        var top=$(this).offset().top+50+'px';
        var left=$(this).offset().left-180+'px';
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 1,
                title: false,
                offset: [top, left],
                closeBtn: 0,
                shade: [0.1, '#fff'],
                // shade: 0,
                shadeClose:true,
                content: $('.delete-schedule')

            });
        });
        e.stopPropagation();
    });



    $("body").on("click",".show-cancel-related",function (e) {
        $(this).parents("li").find(".related-menu").slideToggle();

        e.stopPropagation();
    });
    $("body").on("click",".close-related-menu",function () {
        $(this).parents(".related-menu").slideUp();
    });

    //添加人员 弹框
    function addpeople(top,left) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: false, //标题
                offset:[top,left],
                area:['252px','360px'],
                fixed: true,
                shadeClose: true,
                closeBtn: 0,
                shade: [0.1, '#fff'],
                anim: 1,  //动画 0-6
                content: "/schedule/findScheduleMemberInfo?projectId=" + projectId + "&scheduleId=" + scheduleId
            });
        });
    }

    /**
     * 表情
     */
    $("#chat").emoji({
        button: ".bq",
        showTab: false,
        animation: 'slide',
        position: 'topRight',
        icons: [{
            name: "表情1",
            path: "/expression/dist/img/qq/",
            maxNum: 91,
            excludeNums: [41, 45, 54],
            file: ".gif"
        },{
            name: "表情2",
            path: "/expression/dist/img/tieba/",
            maxNum: 50,
            excludeNums: [41, 45, 54],
            file: ".jpg",
            placeholder: "#qq_{alias}#"
        }, {
            name: "表情3",
            path: "/expression/dist/img/emoji/",
            maxNum: 84,
            file: ".png",
            placeholder: "#emoji_{alias}#"
        }]
    });
    $('.emoji_container').css('width','278px');
</script>
</html>