<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}" href="../static/css/share.css">
</head>
<body>
<!--文件菜单 弹框-->
<div class="scheduling-menu boxsizing layui-form" style="position: relative;top: 0;left: 0">
    <div class="scheduling-menu-title">分享菜单
        <img src="../static/image/close.png" >
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/bjrc.png" >
        <span>编辑分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/fzrc.png" >
        <span>复制分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/fzrclj.png" >
        <span>复制分享链接</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/gxrc.png" >
        <span>共享分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/scrc.png" >
        <span>收藏分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/ydrc.png" >
        <span>移动分享</span>
    </div>
    <div class="menu-box edit-rc">
        <img src="../static/image/hsz.png" >
        <span>移到回收站</span>
    </div>
    <div class="heng-line"></div>
    <div class="secret menu-box layui-form">
        <img src="../static/image/suo.png" >
        <span>隐私模式</span>
        <div class="switch">
            <input type="checkbox" name="" lay-skin="switch" lay-filter="switch-filter">
        </div>
        <div class="who-can-see">所有成员可见</div>
    </div>

</div>
</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        form.on('switch(switch-filter)', function(data){
            console.log(data.elem.checked); //开关是否开启，true或者false
            if (data.elem.checked) {
                $(".who-can-see").text("仅自己可见")
            }else {
                $(".who-can-see").text("所有成员可见")
            }
        });



    });
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#beginTime', //指定元素
            type:'datetime',
            format:'yyyy年MM月dd日 HH时mm分ss秒'
        });
        laydate.render({
            elem: '#overTime', //指定元素
            type:'datetime',
            format:'yyyy年MM月dd日 HH时mm分ss秒'
        });
    });
</script>
</html>