<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tk-download.css}" href="../static/css/tk-download.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revisetask.css}" href="../static/css/revisetask.css">
</head>
<body>
<!--下载文件 弹框-->
<div class="download-wrap">
    <input type="hidden" th:value="${projectId}" id="projectId">
    <!--顶部-->
    <div class="download-toper boxsizing">
        <input type="hidden" th:value="${file.fileId}" id="fileId">
        <span class="download-name" th:text="${file.fileName}">啥啥啥任务</span>
        <ul class="download-toper-ul">
            <!--<li>详情</li>-->
            <li id="uploadFile">版本更新</li>
            <li th:onclick="'download(\''+${file.fileId}+'\')'">下载</li>
            <!--<li>更多</li>-->
        </ul>
        <!--<img src="../static/image/close.png" th:src="@{/image/close.png}" id="close">-->
        <i class="layui-icon layui-icon-close" style="font-size: 20px;"></i>
    </div>
    <!--左侧-->
    <div class="download-left boxsizing">
        <!--<div class="download-left-box">-->
            <div class="download-left-name">
                <img id="bannerImage" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" alt="" style="width: 100%;" th:if="${file.catalog eq 0} and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'}or ${file.ext eq '.bmp'}or ${file.ext eq '.svg'})"/>
                <iframe th:src="#{OFFICE}+${file.fileUrlTemp}" th:if="${file.catalog eq 0} and (${file.ext eq '.doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'}or ${file.ext eq '.xlsx'}or ${file.ext eq '.ppt'}or ${file.ext eq '.pptx'})"></iframe>
                <iframe th:src="@{/file/viewer.html(fileId=${file.fileId})}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"></iframe>
                <iframe th:src="#{IMAGE_SERVER}+${file.fileUrl}" th:if="${file.catalog eq 0} and ${file.ext eq '.txt'}"></iframe>
            </div>
        <!--</div>-->
    </div>
    <!--右侧-->
    <div class="download-right boxsizing">
        <div class="scroll-box">
            <p class="fonts">版本信息</p>
            <div class="up-prople-info">
                <ul>
                    <li th:each="fileVersion:${fileVersionList}">
                        <div class="fileVersion" th:data="#{IMAGE_SERVER} + ${fileVersion.fileUrl}">
                            <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} +${file.memberImg}"/>
                            <span th:text="${fileVersion.info}"></span>
                            <span th:text="${fileVersion.fileSize}"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="add-tag tag-box clearfix">
                <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                <span>标签</span>
                <div class="has-tags">
                    <span class="tag" th:each="tag : ${tagList}" th:style="'background-color:'+${tag.bgColor}+''">
                        <b style="font-weight: 400" th:text="${tag.tagName}"></b>
                        <i class="layui-icon layui-icon-close-fill deleteTag" style="font-size: 14px; color: #1E9FFF;" th:id="${tag.tagId}"></i>
                    </span>
                </div>
                <i class="layui-icon layui-icon-add-circle add-fuhao" style="font-size: 20px; color: #1E9FFF;cursor: pointer"></i>
                <!--新建  搜索标签框-->
                <div class="tags-search-build" style="display: none;left: 0">
                    <!--搜索标签-->
                    <div class="tag-search" >
                        <div class="tag-search-title boxsizing">
                            <input class="tag-search-input" type="text" placeholder="搜索标签">
                            <img src="../static/image/adds.png" th:src="@{/image/adds.png}" />
                        </div>
                        <ul class="tags-ul boxsizing" id = "tags">
                            <!--这里是标签-->
                            <li class="tags-list" th:each="tag:${tags}" >
                                <i class="dot" th:style="'background-color:'+${tag.bgColor}+''"></i>
                                <span class="tag-font" th:text="${tag.tagName}" th:data="${tag.tagId}"></span>
                            </li>
                        </ul>
                    </div>

                    <!--新建标签-->
                    <div class="build-tags" style="display: none">
                        <div class="build-tags-title boxsizing">
                            <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                            新建标签
                            <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
                        </div>
                        <div class="build-tags-con boxsizing">
                            <input class="tag-name boxsizing" type="text" placeholder="标签名称">
                            <ul class="color-pick">
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                                </li>
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                </li>
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                </li>
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                </li>
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                </li>
                                <li>
                                    <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                                </li>
                            </ul>
                            <div class="tag-ok" disabled>创建</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="line"></div>
            <div class="add-guanlian combox">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}"/>
                <span>添加关联</span>
            </div>

            <div id = "bind">
                <!--关联 部分-->
                <div class="related-box">
                    <div class="flex-box related-rw-wrap" th:style="'display:' + @{(${bindingVo.taskList!=null} ? 'block':'none')}">任务 <span></span></div>
                    <ul class="related-rw">
                        <li class="boxsizing data-info"  th:each="task:${bindingVo.taskList}"  th:data-id="${task.taskId}">
                            <div class="check-box" th:value="${task.taskName}">
                                <input type="checkbox" disabled="disabled" th:value = "${task.taskId}" lay-filter="bindTask" name="" th:checked="${task.taskStatus == '完成'}" lay-skin="primary">
                            </div>
                            <div class="related-rw-info">
                                <img src="../static/image/begintime.png" th:if="${task.executorInfo != null}" th:src="#{IMAGE_SERVER}+ ${task.executorInfo.userInfo.image}">
                                <img th:if="${task.executor == ''}" th:src="@{/image/add.png}">
                                <span th:text="${task.taskName}"></span>
                            </div>
                            <div class="related-rw-describe over-hidden" th:text = "${task.project.projectName}"></div>
                            <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                            <!--取消关联框-->
                            <div class="related-menu" style="display: none">
                                <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                <div class="related-menu-title">关联菜单</div>
                                <ul>
                                    <!--<li class="boxsizing">-->
                                    <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                    <!--<span>复制链接</span>-->
                                    <!--</li>-->
                                    <li class="boxsizing cancle" th:data-id="${fileId}" th:data-binding-id="${task.taskId}">
                                        <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                        <span>取消关联</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!--文件-->
                    <div class="related-wj-wrap" th:style="'display:' + @{(${bindingVo.fileList != null} ? 'block':'none')}">
                        <div class="flex-box">文件 <span></span></div>
                        <ul class="related-wj">
                            <li class="boxsizing data-info" th:each="file:${bindingVo.fileList}" th:data-id = "${file.fileId}">
                                <div class="related-wj-info">
                                    <img class="folderFile" th:src="@{/image/nofile.png}" th:if="${file.catalog eq 1}">
                                    <img class="folderFile" th:src="#{IMAGE_SERVER} + ${file.fileUrl}" th:if="${file.catalog eq 0}and (${file.ext eq '.jpg'} or ${file.ext eq '.png'} or ${file.ext eq '.jpeg'})"/>
                                    <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '..doc'}"/>
                                    <img class="folderFile" th:src="@{/image/word_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.docx'}"/>
                                    <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xls'}"/>
                                    <img class="folderFile" th:src="@{/image/excel.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.xlsx'}"/>
                                    <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pptx'}"/>
                                    <img class="folderFile" th:src="@{/image/ppt.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.ppt'}"/>
                                    <img class="folderFile" th:src="@{/image/pdf_1.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.pdf'}"/>
                                    <img class="folderFile" th:src="@{/image/zip.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.zip'}"/>
                                    <img class="folderFile" th:src="@{/image/rar.png}" th:if="${file.catalog eq 0} and ${file.ext eq '.rar'}"/>
                                    <img class="folderFile" th:src="@{/image/defaultFile.png}" th:th:unless="${file.ext eq '.rar'} or ${file.ext eq '.png'} or ${file.ext eq '.jpg'} or ${file.ext eq '.jpeg'} or ${file.ext eq '..doc'} or ${file.ext eq '.docx'} or ${file.ext eq '.xls'} or ${file.ext eq '.xlsx'} or ${file.ext eq '.pptx'} or ${file.ext eq '.ppt'} or ${file.ext eq '.zip'} or ${file.ext eq '.rar'} or ${file.ext eq '.pdf'}"/>
                                    <span th:text = "${file.fileName}"></span>
                                </div>
                                <div class="related-rw-describe over-hidden" th:text="${file.project.projectName}"></div>
                                <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                <!--取消关联框-->
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle" th:data-id="${fileId}" th:data-binding-id="${file.fileId}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--日程-->
                    <div class="related-rc-wrap" th:style="'display:' + @{(${bindingVo.scheduleList != null} ? 'block':'none')}">
                        <div class="flex-box">日程 <span></span></div>
                        <ul class="related-rc">
                            <li class="boxsizing data-info"  th:each="schedule:${bindingVo.scheduleList}" th:data-id = "${schedule.scheduleId}">
                                <div class="related-rc-top">
                                    <div class="related-rc-info">
                                        <i class="layui-icon layui-icon-date img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                        <span th:text="${schedule.scheduleName}"></span>
                                    </div>
                                    <div class="related-rw-describe over-hidden" th:text="${schedule.project.projectName}"></div>
                                    <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                </div>
                                <div class="related-rc-down">
                                    <span th:text="${#dates.format(schedule.startTime,'yyyy-MM-dd')}"></span>
                                    <span>—</span>
                                    <span th:text="${#dates.format(schedule.endTime,'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle" th:data-id="${fileId}" th:data-binding-id="${schedule.scheduleId}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--分享-->
                    <div class="related-fx-wrap" th:style="'display:' + @{(${bindingVo.shareList != null} ? 'block':'none')}">
                        <div class="flex-box" >分享 <span></span></div>
                        <ul class="related-fx">
                            <li class="boxsizing data-info"  th:each="share:${bindingVo.shareList}" th:data-id="${share.id}">
                                <div class="related-rc-top">
                                    <div class="related-rc-info">
                                        <i class="layui-icon layui-icon-list img-i" style="font-size: 16px; color: #a6a6a6;"></i>
                                        <img src="../static/image/begintime.png" th:src="#{IMAGE_SERVER} + ${share.memberImg}">
                                        <span th:text="${share.title}"></span>
                                    </div>
                                    <div class="related-rw-describe over-hidden" th:text="${share.project.projectName}"></div>
                                    <i class="layui-icon layui-icon-down show-cancel-related" style="font-size: 16px; color: #a6a6a6;"></i>
                                </div>
                                <!--<div class="related-rc-down">-->
                                <!--<span>2018-12-25 12:00</span>-->
                                <!--<span>—</span>-->
                                <!--<span>2018-12-25 12:00</span>-->
                                <!--</div>-->
                                <div class="related-menu" style="display: none">
                                    <i class="layui-icon layui-icon-close close-related-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                                    <div class="related-menu-title">关联菜单</div>
                                    <ul>
                                        <!--<li class="boxsizing">-->
                                        <!--<i class="layui-icon layui-icon-link" style="font-size: 16px; color: gray;"></i>-->
                                        <!--<span>复制链接</span>-->
                                        <!--</li>-->
                                        <li class="boxsizing cancle"  th:data-id="${fileId}" th:data-binding-id="${share.id}">
                                            <i class="layui-icon layui-icon-about" style="font-size: 16px; color: gray;"></i>
                                            <span>取消关联</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <p class="cyz">参与者</p>
            <div class="work-people boxsizing clearfix">
                <div class="one-work-people" th:each="joinInfo:${joinInfos}" th:data-id="${joinInfo.id}">
                    <img src="../static/image/add.png" th:src="#{IMAGE_SERVER} + ${joinInfo.userInfo.image}" th:data="${joinInfo.userName}"/>
                    <i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>
                </div>
                <div class="add-work-people">
                    <img src="../static/image/adds.png" th:src="@{/image/adds.png}"/>
                </div>
            </div>
           <div class="heng-line"></div>
            <div class="state">
                <ul id = "log">
                    <li class="combox" th:each="log:${logs}">
                        <img src="../static/image/dongtai.png" th:src="#{IMAGE_SERVER}+${log.userEntity.userInfo.image}" />
                        <span th:text="${log.content}"></span>
                        <div class="in-what-time" th:text = "${#dates.format(log.createTime,'yyyy-MM-dd HH:mm')}"></div>
                    </li>
                </ul>
            </div>

            <!--人员 参与者 弹框-->
            <div class="people boxsizing" style="display: none;top: 20px;left: 10px">
                <input type="text" name="" placeholder="搜索" class="layui-input">
                <div class="peoples">
                    <p>参与者</p>
                    <div id = "joinInfo">

                    </div>
                    <p>推荐</p>
                    <div id = "Recommend">

                    </div>
                    <div class="add-new-people">
                        <img src="../static/image/adds.png" th:src="@{/image/adds.png}"/>
                        <span>邀请新成员</span>
                    </div>
                </div>
                <div class="people-ok">确定</div>


            </div>



        </div>
        <div style="background-color: #E5E5E5" class="publish boxsizing">
            <textarea id = "chat" style="background-color: #E5E5E5" name="" placeholder="@快速提及他人，enter快速发布"
                      class="layui-textarea publish-input"></textarea>
            <div class="fenge-line"></div>
            <div class="publish-bottom">
                <!--<img src="../static/image/fujian.png" th:src="@{/image/fujian.png}"/>-->
                <div class="publish-btn ">发布</div>
            </div>
            <!--上传文件框-->
            <div class="fujian-box boxsizing" style="display: none">
                <div class="fujian-box-title boxsizing">
                    添加附件
                    <i class="layui-icon layui-icon-close close-fujian" style="font-size: 18px; color: #a6a6a6;"></i>
                </div>
                <div class="zj-up">
                    <i class="layui-icon layui-icon-upload" style="font-size: 16px; color: #a6a6a6;"></i>
                    <span>直接上传</span>
                </div>
                <div class="xian"></div>
                <div class="select-up">
                    <i class="layui-icon layui-icon-file" style="font-size: 16px; color: #a6a6a6;"></i>
                    <span>从文件库选择</span>
                </div>
                <div class="xian"></div>
                <div class="fujian-box-bottom boxsizing">
                    <input type="text" placeholder="粘贴下载链接..." class="layui-input lianjie">
                    <div class="add-fujian">添加</div>
                </div>
            </div>

        </div>
    </div>



</div>
</body>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/sockjs.js}" src="../static/js/sockjs.js"></script>
<script th:src="@{/js/stomp.js}" src="../static/js/stomp.js"></script>
<script th:src="@{/js/filedownload.js}" src="../static/js/filedownload.js"></script>

<script th:inline="javascript">
    var fileId = [[${fileId}]];
    var fileUids = [[${file.fileUids}]];
    var projectId = [[${projectId}]]

    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );
    //发送消息
    $('.publish-btn').click(function (e) {
        var chat = $('#chat').val();
        var args = {"fileId":fileId,"content":chat}
        $.post("/file/chat",args,function (data) {
        },"json");
        $('#chat').val('');
        $('#chat').focus();

    });



    //订阅消息
    function subscribe() {
        stompClient.subscribe('/topic/'+fileId, function (response) {
            var returnData = JSON.parse(response.body);
            var file = JSON.parse(returnData.responseMessage);
            if(file.type == '关联'){
                addBindingStr(file.object.bindingInfo,file.object.publicType,file.object.bId);
            }
            if(file.type == "发送消息"){
                getLog(file.object.fileLog);
                var scrollHeight = $('.revise-task').prop("scrollHeight");
                $('.revise-task').animate({scrollTop:scrollHeight}, 400);
            }
            if(file.type == '更新了参与者'){
                getLog(file.object.log);
                if(file.object.reduce1 != ''){
                    for(var i = 0;i < file.object.reduce1.length;i++){
                        $('.one-work-people').each(function () {
                           if($(this).attr('data-id') == file.object.reduce1[i]){
                               $(this).remove();
                           }
                        });
                    }
                }
                if(file.object.adduser != ''){
                    var content = '';
                    for(var i = 0;i < file.object.adduser.length;i++){
                        content +=
                            '<div class="one-work-people" data-id = '+ file.object.adduser[i].id +'>'+
                                '<img src="'+IMAGE_SERVER + file.object.adduser[i].userInfo.image + '" data = ' + file.object.adduser[i].userName +'>'+
                                '<i class="layui-icon layui-icon-close-fill remove-work-people" style="font-size: 15px; color: #3da8f5;"></i>'+
                            '</div>';
                    }
                    $('.add-work-people').before(content);
                }
            }

            if(file.type == "取消了关联"){
                $('#bind li.data-info').each(function(){
                    if($(this).attr('data-id') == file.object.bId){
                        $(this).remove();
                        if($('.related-rw li').length == 0){
                            $('.related-rw-wrap').hide();
                        }
                        if($('.related-rc li').length == 0){
                            $('.related-rc-wrap').hide();
                        }
                        if($('.related-wj li').length == 0){
                            $('.related-wj-wrap').hide();
                        }
                        if($('.related-fx li').length == 0){
                            $('.related-fx-wrap').hide();
                        }
                    }
                });
            }
        });
    }

</script>
<script th:inline="javascript">
    var fileId = $("#fileId").val();
    var projectId = $("#projectId").val();
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];

    $(function () {
        $(".download-left").css("height",$(window).height()-1+'px');
        $(".download-right").css("height",$(window).height()-1+'px');
        $(".scroll-box").css("height",$(window).height()-200+'px');
        $("html").css("overflow","hidden");

        layui.use(['form', 'layer', 'upload'], function () {
            var form = layui.form
                , layer = layui.layer
                , upload = layui.upload;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });

            // 关闭
            $("#close").click(function () {
                var host = window.location.host;
                var parentId = [[${file.parentId}]];
                if (parentId == 0) {
                    window.location.href = host + "/file/list.html" + "?projectId=" + projectId
                } else {
                    window.location.href = host + "/file/list.html" + "?projectId=" + projectId + "&fileId=" + parentId
                }

            });

            /**
             * 文件上传
             */
            upload.render({
                elem: '#uploadFile' //绑定元素
                , url: '/file/updateUploadFile' //上传接口
                , method: 'post'
                , data: {fileId: fileId}
                , exts: '|' // 可上传所有类型的文件
                , done: function (data) {
                    //上传完毕回调
                    if (data.result === 1) {
                        parent.location.reload();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }
                , error: function () {
                    //请求异常回调
                    layer.msg('更新失败', {icon: 2});
                }
            });

            // 下载按钮
            $(".download-left-btn").click(function () {
                var fileId = $(this).attr("data");
                download(fileId);
            });

            // 添加标签
            $(".no-tagss").click(function () {
                var top= $(this).offset().top+40;
                var left=$(this).offset().left;
                addtag(top,left)
            });
            function addtag(top,left) {
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.open({
                        type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        title: false, //标题
                        offset:[top,left],
                        area:['250px','250px'],
                        fixed: true,
                        shadeClose: true,
                        closeBtn: 0,
                        shade: [0.1, '#fff'],
                        anim: 1,  //动画 0-6
                        content: "/tag/tag.html?projectId=" + projectId
                    });
                });
            }


            $(".fileVersion").each(function () {
                $(this).click(function () {
                    var fileUrl = $(this).attr("data");
                    $("#bannerImage").attr("src", fileUrl);
                });
            });

            $(".one-work-people").find("img").each(function () {
                $(this).mouseenter(function () {
                    var id = $(this).attr("id");
                    var memberName = $(this).attr("data");
                    layer.tips(memberName, '#' + id, {
                        tips: [1, '#555'] //还可配置颜色
                    });
                })
            });

            $(".add-work-people").mouseenter(function () {
                layer.tips('添加参与者', '.add-work-people', {
                    tips: [1, '#555'] //还可配置颜色
                });
            });

            $(".deleteFileTag").each(function () {
                $(this).click(function () {
                    var tagId = $(this).attr("data");
                    $(this).parent("li").remove();
                    $.post("/file/deleteFileTag", {fileId: fileId, tagId: tagId})
                });
            });

            // 添加标签
            $(".tags-list").each(function () {
                $(this).click(function () {
                    var tagId = $(this).find("span").attr("data");
                    $.post("/file/addTag", {fileId: fileId,tagId: tagId}, function (data) {
                        if (data.result === 1) {
                            var tag = data.data;
                            $(".has-tags").append(
                                '<span class="tag" style="background-color: ' + tag.bgColor + '">\n' +
                                '    <b style="font-weight: 400">'+ tag.tagName +'</b>\n' +
                                '    <i class="layui-icon layui-icon-close-fill deleteTag" style="font-size: 14px; color: #1E9FFF;" id="'+ tag.tagId +'"></i>\n' +
                                '</span>'
                            );
                        } else if (data.result === 2) {
                            $("#" + tagId).parent("span").remove();
                        } else {
                            layer.msg(data.msg, {icon: 2, time: 700});
                        }
                    })
                })
            });

            $('html').on('click','.deleteTag',function(){
                var tagId = $(this).attr("id");
                console.log(tagId);
                $.post("/file/deleteTag", {fileId: fileId, tagId: tagId}, function (data) {
                    if (data.result === 1) {
                        $("#" + tagId).parent("span").remove();
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 700});
                    }
                })
            });
            // // 移除标签
            // $(".deleteTag").each(function () {
            //     $(this).click(function () {
            //         var tagId = $(this).attr("id");
            //         console.log(tagId);
            //         $.post("/file/deleteTag", {fileId: fileId, tagId: tagId}, function (data) {
            //             if (data.result === 1) {
            //                 $("#" + tagId).parent("span").remove();
            //             } else {
            //                 layer.msg(data.msg, {icon: 2, time: 700});
            //             }
            //         })
            //     })
            // });

        });
    });

    layui.use('element', function () {
        var element = layui.element;

    });

    $(".edit-scheduling-title img").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    })

    function download(fileId) {
        window.location.href = "/file/downloadFile?fileId=" + fileId;
    }

    $("body").on("click",".show-cancel-related",function (e) {
        $(this).parents("li").find(".related-menu").slideToggle();
        e.stopPropagation();
    });
    $("body").on("click",".close-related-menu",function () {
        $(this).parents(".related-menu").slideUp();
    });

    $('.add-guanlian').click(function (e) {
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            area:['800px','540px'],
            fixed: true,
            shadeClose: true,
            closeBtn: 0,
            shade:  [0.1, 'black'],
            anim: 1,  //动画 0-6
            content: ['/binding/relevance.html?fileId=' + fileId,'no']
        });
    });
</script>
</html>