<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>添加标签</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/look-tag.css}" href="../static/css/look-tag.css">
</head>
<body>
<div class="look-tag-wrap">
    <div class="look-tag-title">
        <span>标签</span>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px;"></i>
    </div>
    <div class="content">
        <!--左侧 标签-->
        <div class="look-tag-left">
            <div class="left-head boxsizing">
                <div class="add-new-tag">
                    <i class="layui-icon layui-icon-add-circle" style="font-size: 16px;"></i>
                    <span>新标签</span>
                </div>
            </div>
            <ul class="all-tags">
                <li class="boxsizing tag-li" v-for="(tag, index) in tagList" :data-id="tag.tagId">
                    <span class="dot" :style="{'background-color':tag.bgColor}"></span>
                    <p class="tag-name over-hidden">{{tag.tagName}}</p>
                    <i class="layui-icon layui-icon-down down-jiantou" style="font-size: 14px;" :data="tag.tagId" :value="tag.tagName"></i>
                </li>
            </ul>
        </div>
        <!--右侧内容-->
        <div class="look-tag-right boxsizing" v-for="(tag, index) in tagList" :id="tag.tagId" :class="{show:index==0}">
            <div class="right-head boxsizing">
                <p>
                    <span class="tag">
                        <span class="dot" :style="{'background-color':tag.bgColor}"></span>
                        <span class="tag-name over-hidden">{{tag.tagName}}</span>
                    </span>
                    <span> <span>{{tag.taskList.length}}</span> 项任务，</span>
                    <span> <span>{{tag.scheduleList.length}}</span> 个日程，</span>
                    <span> <span>{{tag.shareList.length}}</span> 篇分享，</span>
                    <span> <span>{{tag.fileList.length}}</span> 个文件</span>
                </p>
            </div>
            <div class="scroll-box">
                <div v-if="tag.taskList.length!=0">
                    <h3 class="style-num">任务 ・ <span>{{tag.taskList.length}}</span></h3>
                    <ul class="task-ul layui-form">
                        <li class="boxsizing clearfix" v-for="task in tag.taskList">
                            <div class="check-box"><input type="checkbox" lay-skin="primary"/> </div>
                            <img src="/image/person.png" v-if="task.executor==null"/>
                            <img :src="image_url+task.executorInfo.userInfo.image" v-if="task.executor!=null"/>
                            <div class="style-box">
                                <span class="task-name">{{task.taskName}}</span>
                            </div>
                            <div>
                                {{task.startTime}}
                            </div>
                        </li>
                    </ul>
                </div>

                <div v-if="tag.scheduleList.length!=0">
                    <h3 class="style-num">日程 ・ <span>{{tag.scheduleList.length}}</span></h3>
                    <ul class="rc-ul">
                        <li class="boxsizing" v-for="schedule in tag.scheduleList">
                            <div class="rc-time">
                                <span>{{schedule.startTime}}</span>
                                <span>—</span>
                                <span>{{schedule.endTime}}</span>
                                <span>{{schedule.scheduleName}}</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div v-if="tag.shareList.length!=0">
                    <h3 class="style-num">分享 ・ <span>{{tag.shareList.length}}</span></h3>
                    <ul class="fx-ul" >
                        <li class="boxsizing clearfix" v-for="share in tag.shareList">
                            <p class="over-hidden">{{share.shareName}}</p>
                            <span class="fx-time">
                            <span>{{share.userEntity.userName}}</span> 发布于
                            <span>{{share.createTimeStr}}</span>
                        </span>
                        </li>
                    </ul>
                </div>

                <div v-if="tag.fileList.length!=0">
                    <h3 class="style-num">文件 ・ <span>{{tag.fileList.length}}</span></h3>
                    <ul class="wj-ul">
                        <li class="boxsizing clearfix" v-for="file in tag.fileList">
                            <img th:src="@{/image/defaultFile.png}">
                            <span class="wj-name over-hidden">{{file.fileName}}</span>
                            <span class="wj-time">
                            <span>{{file.userEntity.userName}}</span>上传于
                            <span>{{file.createTimeStr}}</span>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!--菜单标签 框-->
<div class="tag-menu" style="display: none">
    <div class="bqcd" >
        <div class="tag-menu-title">
            标签菜单
            <i class="layui-icon layui-icon-close close-tag-menu" style="font-size: 16px;"></i>
        </div>
        <ul>
            <li class="boxsizing edit_tag">
                <i class="layui-icon layui-icon-edit" style="font-size: 16px;"></i>
                <span>编辑标签</span>
            </li>
            <li class="boxsizing delete_tag" >
                <i class="layui-icon layui-icon-delete" style="font-size: 16px;"></i>
                <span>移动到回收站</span>
            </li>
        </ul>
    </div>
    <div class="bjbq" style="display: none">
        <div class="build-tags">
            <div class="build-tags-title boxsizing">
                <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
                编辑标签
                <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
            </div>
            <div class="build-tags-con boxsizing">
                <input class="tag-name-tk boxsizing" id="tag-name-edit" type="text" placeholder="标签名称">
                <ul class="color-pick edit_color_tag">
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                </ul>
                <button class="tag-save">保存</button>
            </div>
        </div>
    </div>

    <div class="cjbq" style="display: none">
        <div class="build-tags">
            <div class="build-tags-title boxsizing">
                添加标签
                <i class="layui-icon layui-icon-close close-tag add_close_tag" style="font-size: 15px; color: #a6a6a6;"></i>
            </div>
            <div class="build-tags-con boxsizing">
                <input class="tag-name-tk boxsizing" id="add_tag_input" type="text" placeholder="标签名称">
                <ul class="color-pick add_color_tag">
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;display: block"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok" style="font-size: 14px; color: #fff;"></i>
                    </li>
                </ul>
                <button class="tag-ok">创建</button>
            </div>
        </div>
    </div>

    <div style="display: none" class="boxsizing remove-to-trash">
        <div class="build-tags-title boxsizing">
            <i class="layui-icon layui-icon-left go-return" style="font-size: 15px; color: #a6a6a6;"></i>
            移动到回收站
            <i class="layui-icon layui-icon-close close-tag" style="font-size: 15px; color: #a6a6a6;"></i>
        </div>
        <p>您确定要把该标签移到回收站吗？</p>
        <div class="remove-to-trash-btn">移到回收站</div>
        <div class="zhanwei"></div>
    </div>

</div>
</body>
<script th:inline="javascript">
    var projectId = [[${projectId}]];
    var IMAGE_SERVER = [[#{IMAGE_SERVER}]];
    layui.use('form', function() {
        var form= layui.form;
    });
    var app = new Vue({
        el: '.look-tag-wrap',
        data: {
            tagList: [],
            projectId:'',
            image_url:IMAGE_SERVER
        },
        mounted:function () {
            this.getList();
        },
        updated:function(){
            layui.use('form', function () {
                var form = layui.form;
                form.render('checkbox');
            });
        },
        methods:{
            getList:function() {
                var that = this;
                this.$http.get('tag/tags/'+projectId).then(function(result){
                    that.tagList = result.data.tagList;
                    that.projectId = result.projectId;
                });
            }
        }
    });



    $(".close-tag-menu").click(function () {
        layer.closeAll('page');
    });

    $(".close-tk").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    });

    var index=0;
    var tagId="";
    $("html").on("click",".down-jiantou",function () {
        index = $(this).parent().index();
        tagId = $(this).attr('data');
        var tagName = $(this).attr('value');
        $('#tag-name-edit').val(tagName);
        var top=$(this).offset().top+20+'px';
        var left=$(this).offset().left-120+'px';
        layer.open({
            type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            offset:[top,left],
            fixed: false,
            shadeClose: true,
            closeBtn: 0,
            shade: 0,
            anim: 1,  //动画 0-6
            content: $(".tag-menu")
        });
        $('.tag-save').click(function () {
            var tagId = $('.edit_tag').attr('data-id');
            var tagName = $(this).siblings('#tag-name-edit').val();
            var bgColor="";
            $(this).siblings('.edit_color_tag').find('li').each(function () {
                if ($(this).find('i').is(":visible")) {
                    bgColor = $(this).css("background-color");
                }
            });
            $.post('/tag/updateTag',{"projectId":projectId,"tagId":tagId,"tagName":tagName,"bgColor":bgColor},function (data) {
                if(data.result===1){
                    $(".bqcd").show().siblings().hide();
                    layer.closeAll('page');
                }
            });
        });
    });


    $(".bqcd li:nth-of-type(1)").click(function () {
       $(".bjbq").show().siblings().hide()
    });
    $(".bqcd li:nth-of-type(2)").click(function () {
        $(".remove-to-trash").show().siblings().hide()
    });
    $(".go-return").click(function () {
        $(".bqcd").show().siblings().hide();
    });
    $(".close-tag").click(function () {
        $(".bqcd").show().siblings().hide();
        layer.closeAll('page');
    });
    $(".color-pick li").click(function () {
        $(this).find("i").show();
        $(this).siblings().find("i").hide()
    })



    $('.remove-to-trash-btn').click(function () {
        $.post('/tag/dropTag',{"projectId":projectId,"tagId":tagId,"isDel":1},function (data) {
            if(data.result===1){
                $(".bqcd").show().siblings().hide();
                layer.closeAll('page');
            }
        });
    });

    $('html').on('click','.tag-li',function () {
        var id =  $(this).attr('data-id');
        $('.look-tag-right').hide();
        $('#'+id).show();
    });


    $('.add-new-tag').click(function () {
        var top=$(this).offset().top+20+'px';
        var left=$(this).offset().left+20+'px';
        layer.open({
            type: 1,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: false, //标题
            offset:[top,left],
            fixed: false,
            shadeClose: true,
            closeBtn: 0,
            shade: 0,
            anim: 1,  //动画 0-6
            content: $(".cjbq").html()
        });

        $(".add_close_tag").click(function () {
            layer.closeAll('page');
        });
        $(".add_color_tag li").click(function () {
            $(this).find("i").show();
            $(this).siblings().find("i").hide()
        });

        $('.tag-ok').click(function () {
            var tagName = $(this).siblings('#add_tag_input').val();
            var bgColor="";
            $(this).siblings('.add_color_tag').find('li').each(function () {
                if ($(this).find('i').is(":visible")) {
                    bgColor = $(this).css("background-color");
                }
            });
            if(tagName==null||tagName===''){
                layer.msg("请输入标签名称",{icon:5});
            }else{
                $.post('/tag/add',{"projectId":projectId,"tagName":tagName,"bgColor":bgColor},function (data) {
                    if(data.result===1){
                        layer.closeAll('page');
                    }
                });
            }
        });
    });


    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );

    function subscribe() {
        stompClient.subscribe('/topic/tag/' + projectId, function (response) {
            var returnData = JSON.parse(response.body);
            var tag = JSON.parse(returnData.responseMessage);
            if(tag.type==="创建了标签"){
                app.tagList.push(tag.object.data);
            }else if(tag.type==="删除了标签"){
                app.tagList.splice(index, 1);
            }else if(tag.type==="更新标签"){
                app.tagList.splice(index, 1,tag.object.data);
            }
        });
    }
</script>
</html>