<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recycle-bin.css}" href="../static/css/recycle-bin.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_754098_buq96x2sqow.css">
</head>
<body>

<div class="recycle-bin-wrap">
    <header>
       <span> 查看回收站</span>
        <i class="layui-icon layui-icon-close" style="font-size: 20px; color: #a6a6a6;"></i>
    </header>
    <section class="main-content">
        <nav class="left-nav">
            <ul>
                <li class="boxsizing menu now">
                    <i class="iconfont icon-renwuwancheng "></i>
                    <span>任务</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-icon_share"></i>
                    <span>分享</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-wenjian" style="font-size: 20px"></i>
                    <span>文件</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-date"></i>
                    <span>日程</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-biaoqian1"></i>
                    <span>标签</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-78"></i>
                    <span>文件夹</span>
                </li>
                <li class="boxsizing menu">
                    <i class="iconfont icon-wenjian1"></i>
                    <span>任务分组</span>
                </li>
            </ul>
        </nav>
        <article class="right-content">
            <!--有内容-->
            <div class="have-content" th:style="'display:' + (${tasks.size() > 0} ? 'block' : 'none') + ''">
                <div class="top-div boxsizing">
                    <span>名称</span>
                    <span>修改时间</span>
                </div>
                <ul class="scroll-ul" id = "data">
                    <li class="boxsizing" th:each="task:${tasks}" th:data-id = "${task.id}" th:if="${tasks.size() > 0}">
                        <div class="name over-hidden" th:text="${task.name}"></div>
                        <div class="right-time">
                            <div class="time" th:text = "${#dates.format(task.updateTime,'M月-dd日 HH:mm')}">7月16日 12:00</div>
                            <div class="hover-show-box">
                                <div class="box huifu-btn">
                                    <i class="iconfont icon-iconhuifu"></i>
                                    <span>恢复内容</span>
                                </div>
                                <div class="box delete-btn">
                                    <i class="iconfont icon-lajixiang"></i>
                                    <span>彻底删除</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--无内容-->
           <div class="no-content" th:style="'display:' + (${tasks.size() == 0} ? 'flex' : 'none') + ''">
               <div>
                   <img src="../static/image/lajixiang.png" th:src="@{/image/lajixiang.png}">
                   <p>回收站暂无内容</p>
               </div>

           </div>
        </article>

    </section>
</div>
<!--恢复任务 框-->
<div class="recover-box recover-task boxsizing">
    <div class="recover-box-head">
        选择位置
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <div class="xm-lb-box boxsizing">
        <span>项目</span>
        <p class="xm-name" th:data-id = "${projectId}" th:text = "${project.projectName}"></p>
    </div>
    <div class="xm-lb-box lb-box boxsizing">
        <span>列表</span>
        <div class="xm-name layui-form">
            <select name="menu" lay-verify="">
                <option th:value="${menu.relationId}" th:each="menu:${menus}" th:text="${menu.relationName}"></option>
            </select>
        </div>
    </div>
    <p class="font-p">你可以在任务板中添加和修改任务分组及任务列表。</p>
    <div class="o-btn o-task-btn">确定</div>
</div>

<!--恢复分享 框-->
<div class="recover-box recover-share boxsizing">
    <div class="recover-box-head">
        恢复内容
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p class="font-p">确认恢复内容?</p>
    <div class="o-btn o-share-btn">确定</div>
</div>

<!--恢复日程内容 框-->
<div class="recover-box recover-schedule boxsizing">
    <div class="recover-box-head">
        恢复内容
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p class="font-p">确认恢复内容?</p>
    <div class="o-btn o-schedule-btn">确定</div>
</div>

<!--恢复文件内容 框-->
<div class="recover-box recover-file boxsizing">
    <div class="recover-box-head">
        恢复内容
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p class="font-p">恢复内容后将移动至根目录，确认恢复内容?</p>
    <div class="o-btn o-file-btn">确定</div>
</div>

<!--彻底删除任务 框-->
<div class="forever-delete delete-task boxsizing">
    <div class="recover-box-head">
        彻底删除
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p>彻底删除任务后，该任务及其子任务将会被永久被删除。</p>
    <div class="forever-delete-btn">删除</div>
</div>

<!--彻底删除日程 框-->
<div class="forever-delete delete-schedule boxsizing">
    <div class="recover-box-head">
        彻底删除
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p>确认彻底删除该日程吗？</p>
    <div class="forever-delete-btn">删除</div>
</div>

<!--彻底删除文件 框-->
<div class="forever-delete delete-file boxsizing">
    <div class="recover-box-head">
        彻底删除
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p>确认彻底删除该文件吗？</p>
    <div class="forever-delete-btn">删除</div>
</div>

<!--彻底删除分享 框-->
<div class="forever-delete delete-share boxsizing">
    <div class="recover-box-head">
        彻底删除
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <p>确认彻底删除该分享吗？</p>
    <div class="forever-delete-btn">删除</div>
</div>
</body>

<script th:src="@{/js/sockjs.js}" src="../static/js/sockjs.js"></script>
<script th:src="@{/js/stomp.js}" src="../static/js/stomp.js"></script>
<script th:inline="javascript">
    var projectId = [[${projectId}]];
    // 建立连接对象（还未发起连接）
    var socket = new SockJS('/webSocketServer');
    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect({},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            console.log("连接成功");
            subscribe();
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            console.log("连接失败");
        }
    );

    //订阅消息
    function subscribe() {
        stompClient.subscribe('/topic/'+projectId+"recycleBin", function (response) {
            var returnData = JSON.parse(response.body);
            var data = JSON.parse(returnData.responseMessage);
            if(data.type === '删除回收站信息'){
                $('#data li').each(function () {
                    if($(this).attr('data-id') === data.id){
                        $(this).remove();
                    }
                });
                if($('#data li').length == 0){
                    $('.have-content').hide();
                    $('.no-content').show();
                }
            }

            if(data.type === '恢复了信息'){
                $('#data li').each(function () {
                    if($(this).attr('data-id') === data.id){
                        $(this).remove();
                    }
                })
                if($('#data li').length == 0){
                    $('.have-content').hide();
                    $('.no-content').show();
                }
            }
        });
    }
</script>
<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/recycle-bin.js}" src="../static/js/recycle-bin.js"></script>


</html>