<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select-tpl.css}" href="../static/css/select-tpl.css">
</head>
<body>

<div class="select-tpl-box">

    <div class="select-tpl-con boxsizing">
        <div class="tpl-head">
            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; color: gray;"></i>
            <span>空白模板</span>
        </div>
        <ul class="flex-ul">
            <li class="kong">
                <div>
                    <i class="layui-icon layui-icon-add-circle" style="font-size: 14px"></i>
                    空白项目
                </div>
            </li>
        </ul>
        <div class="tpl-head">
            <i class="layui-icon layui-icon-website" style="font-size: 14px; color: gray;"></i>
            <span>家装协同模板</span>
        </div>
        <ul class="flex-ul">
            <li class="template">
                <div class="bgcolor-div">
                    <h3>模板项目</h3>
                    <p>适用于互联网家装</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>

    $(".close-tk").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    });

    $('.kong').click(function () {
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: ['创建项目','text-align:center;padding-left:90px'], //标题
            area:['400px','450px'],
            shadeClose: true, //点击遮罩关闭
            anim: 1,  //动画 0-6
            content: ['/project/createProject.html','no']
        });
    });

    $('.template').click(function () {
        parent.layer.open({
            type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            title: ['完善项目信息','text-align:center;padding-left:90px'], //标题
            area:['500px','450px'],
            shadeClose: true, //点击遮罩关闭
            anim: 1,  //动画 0-6
            content: ['/project/template.html','no']
        });
    });

</script>
</body>

</html>