<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>统计详细</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.circliful.css}" href="../static/css/jquery.circliful.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/statistics-details.css}" href="../static/css/statistics-details.css">
</head>
<body>
<div class="tj-details">
    <div class="tj-details-title">
        <div class="title-content">
            <span>已完成</span>
            <span>统计 > 总量概览</span>
        </div>
        <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
    </div>
    <div class="top-box layui-form">
        <div class="filter-box boxsizing">
            <div class="an-task-num">
                <select name="city" lay-verify="">
                    <option value="">按任务数</option>
                    <option value="">按工时</option>
                    <option value="">按 Story Points</option>
                </select>
            </div>
            <div class="an-member">
                <select name="" lay-verify="">
                    <option value="">所有成员</option>
                    <option value="">手动选择</option>
                </select>
            </div>
            <div class="an-task-group">
                <select name="" lay-verify="">
                    <option value="">所有任务分组</option>
                    <option value="">测试分组</option>
                    <option value="">开发分组</option>
                </select>
            </div>
            <div class="an-more-filter">
                <select name="" lay-verify="">
                    <option value="">仅看子任务</option>
                    <option value="">不看子任务</option>
                    <option value="">包含在回收站中的任务</option>
                </select>
            </div>
            <i class="layui-icon layui-icon-share share-it" style="font-size: 20px; color: #a6a6a6;"></i>
        </div>
        <div class="img-box boxsizing">
            <div class="circle" data-dimension="150" data-text="56" data-width="6" data-fontsize="20" data-percent="56" data-bgcolor="#DBE5EB" data-fgcolor="#4A90E2"></div>
            <p class="img-box-p">已完成</p>
        </div>
    </div>

    <div class="table-box boxsizing">
        <h3>详情表</h3>
        <div class="table-box-title">
            <div>截止时间</div> <div>任务</div> <div>执行者</div> <div>任务分组</div> <div>列表</div>
        </div>
        <ul class="table-content">
            <li class="table-row">
                <ul>
                    <li num="1">6yue2ri18:00</li> <li>啥啥啥任务</li> <li>某某某</li> <li>开发任务</li> <li>已完成</li>
                </ul>
            </li>
            <li class="table-row">
                <ul>
                    <li num="2">6yue2ri18:00</li> <li>啥啥啥任务</li> <li>某某某</li> <li>开发任务</li> <li>已完成</li>
                </ul>
            </li>
        </ul>

    </div>
</div>


<script th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/jquery.circliful.min.js}" src="../static/js/jquery.circliful.min.js"></script>
<script>


        layui.use('form', function() {
            var form = layui.form;
        });
        $('.circle').circliful();

$("html").on("click",".table-row",function () {
    changeRenwu()
});
        //修改任务 弹框界面
        function changeRenwu() {
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    title: false, //标题
                    offset: '20px',
                    area:['600px','600px'],
                    fixed: false,
                    shadeClose: true, //点击遮罩关闭
                    closeBtn: 0,
                    anim: 1,  //动画 0-6
                    content: "revisetask.html"
                });
            });
        }
</script>
</body>
</html>