<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="toper (project)">
        <div class="toper-wrap boxsizing">
            <div class="toper-left">
                <a href="/project/project.html">首页</a>
                <i class="layui-icon layui-icon-right" style="font-size: 16px; color: #C3C2C2;"></i>
                <a th:text="${project.projectName}">BIM5D过程管理平台</a>
                <i class="layui-icon layui-icon-down" style="font-size: 16px; color: #C3C2C2;"></i>
            </div>
            <div class="toper-nav">
                <ul>
                    <li class="now">
                        <a th:href="@{/project/task.html(projectId=${project.projectId})}">任务</a>
                    </li>
                    <li>
                        <a th:href="@{/share/share.html(projectId=${project.projectId})}">分享</a>
                    </li>
                    <li>
                        <a th:href="@{/file/list.html(projectId=${project.projectId})}">文件</a>
                    </li>
                    <li>
                        <a th:href="@{/schedule/schedule.html(projectId=${project.projectId})}">日程</a>
                    </li>
                    <li>
                        <a th:href="@{/chat/chat.html(projectId=${project.projectId})}">群聊</a>
                    </li>
                    <li>
                        <a th:href="@{/statistics/statistics.html(projectId=${project.projectId})}">统计</a>
                    </li>
                </ul>
            </div>
            <div class="toper-right">
                <i class="layui-icon layui-icon-user" style="font-size: 16px; color: #017ECA;"></i>
                <span class="team">成员</span>
                <i class="layui-icon layui-icon-app" style="font-size: 16px; color: #017ECA;"></i>
                <span class="menu">菜单</span>
            </div>
        </div>
        <!--点击群组 出现的弹框-->
        <aside class="group-box pushbar from_right" data-pushbar-id="projectMembers">
            <div class="group-title boxsizing">
                <h3>项目成员</h3>
                <i class="layui-icon layui-icon-close close_members" style="font-size: 20px; color: #a6a6a6;"></i>
            </div>
            <!--<div class="search-box">-->
            <!--<input class="boxsizing" type="text" placeholder="搜索成员，或输入邮箱直接邀请">-->
            <!--</div>-->
            <div class="add-new-member boxsizing" style="margin-top: 15px">
                <img src="../static/image/adds.png" th:src="@{/image/adds.png}">
                <span>邀请新成员</span>
            </div>
            <ul class="group-people">
                <li class="boxsizing" th:each="projectMember:${project.projectMemberList}">
                    <img th:src="#{IMAGE_SERVER}+${projectMember.memberImg}"/>
                    <div class="group-people-info">
                        <p class="people-info-name" th:text="${projectMember.memberName}">xxx</p>
                        <p class="people-info-email" th:text="${projectMember.memberEmail}">xxx</p>
                    </div>
                    <i class="layui-icon layui-icon-down" style="font-size: 20px; color: #a6a6a6;" th:if="${projectMember.memberLabel eq 0}" th:id="${projectMember.memberId}"></i>
                </li>
            </ul>
        </aside>
        <!--邀请新成员-->
        <div class="search_prople fuzhi-lianjie boxsizing" style="display: none">
            <input type="text" name="keyword"  placeholder="输入手机号/邮箱查找" autocomplete="off" class="layui-input keyword" style="float: left;width: 78%">
            <div class="layui-btn user_search" style="background-color: #017ECA;float: left">搜索</div>
            <div class="people-box" style="margin-top: 40px">
                <ul class="invitation">

                </ul>
            </div>
        </div>

        <!--点击菜单，出现 的项目菜单 区域-->
        <aside class="project-menu pushbar from_right" data-pushbar-id="projectMenu">
            <div class="project-menu-show boxsizing" >
                <div class="menu-title">项目菜单
                    <i class="layui-icon layui-icon-close close-menu" style="font-size: 20px; color: #a6a6a6;"></i>
                    <div class="menu-list menu-set" style="margin-top: 20px">
                        <img src="../static/image/setting.png" th:src="@{/image/setting.png}" />
                        <span class="project_setting" th:id="${project.projectId}">项目设置</span>
                    </div>
                    <div class="menu-list menu-tag" th:id="${project.projectId}">
                        <img src="../static/image/biaoqian.png" th:src="@{/image/biaoqian.png}" />
                        <span>标签</span>
                    </div>
                    <div class="menu-list menu-recycle-bin" th:data="${project.projectId}">
                        <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />
                        <span>查看回收站</span>
                    </div>
                    <!--<div class="menu-list menu-cj">-->
                    <!--<img src="../static/image/chajian.png" th:src="@{/image/chajian.png}" />-->
                    <!--<span>应用与插件</span>-->
                    <!--</div>-->
                    <!--<div class="menu-list menu-more">-->
                    <!--<img src="../static/image/gengduo.png" th:src="@{/image/gengduo.png}" />-->
                    <!--<span>查看更多</span>-->
                    <!--</div>-->
                    <!--<div class="heng-line"></div>-->
                    <!--<div class="menu-list menu-evolve" style="margin-top: 24px">-->
                    <!--<img src="../static/image/jinzhan.png" th:src="@{/image/jinzhan.png}" />-->
                    <!--<span>项目进展</span>-->
                    <!--</div>-->
                    <!--<img src="" class="pro-evolve">-->
                    <!--<div class="heng-line"></div>-->
                    <div class="menu-list menu-trends-title" style="margin-top: 24px">
                        <img src="../static/image/dongtai.png" th:src="@{/image/dongtai.png}" />
                        <span>项目动态</span>
                    </div>
                    <ul class="pro-trends boxsizing">
                        <li class="trends-list" th:each="log:${project.logList}">
                            <div class="trends-list-left">
                                <img class="who-trends-img" th:src="#{IMAGE_SERVER}+${log.userEntity.userInfo.image}" />
                            </div>
                            <div class="trends-list-right">
                                <span class="do-what" th:each="${log.content}">重做了任务：登录功能  DT-18</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--查看更多-->
                <div class="look-more-show" style="display: none">
                    <div class="look-more-title boxsizing">
                        <div class="look-more-title-line">
                            <div>
                                <i class="layui-icon layui-icon-left" style="font-size: 18px; color: #B4B4B4;"></i>
                                <span>返回</span>
                            </div>
                            <img class="close-menu" src="../static/image/close.png" th:src="@{/image/close.png}" />
                        </div>
                    </div>
                    <ul class="look-more-list">
                        <li class="boxsizing">
                            <img src="../static/image/hsz.png" th:src="@{/image/hsz.png}" />查看回收站
                        </li>

                        <li class="boxsizing">
                            <img src="../static/image/drrw.png" th:src="@{/image/drrw.png}" />导入任务至当前分组
                        </li>
                        <li class="boxsizing">
                            <img src="../static/image/drrw.png" th:src="@{/image/drrw.png}" />导出分组内所有任务
                        </li>
                        <li class="boxsizing">
                            <img src="../static/image/rwys.png" th:src="@{/image/rwys.png}" />任务演示模式
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
<script th:inline="javascript">
    var projectId = [[${project.projectId}]];

    $('.menu-recycle-bin').click(function () {
        recycleBinShow($(this).attr('data'));
    })

    function recycleBinShow() {
        function changeRenwu2(projectId) {
            layui.use('layer', function(){
                var layer = layui.layer;
                parent.layer.open({
                    type: 2,  //0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    title: false, //标题
                    offset: '20px',
                    area:['800px','600px'],
                    fixed: false,
                    shadeClose: true, //点击遮罩关闭
                    closeBtn: 0,
                    anim: 1,  //动画 0-6
                    content: "/project/viewRecycleBin.html?projectId="+ projectId
                });
            });
        }
    }

</script>
</html>
