<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="toper (projectName,projectId)">
    <div class="toper-wrap boxsizing">
        <div class="toper-left">
            <a href="/project/project.html">首页</a>
            <i class="layui-icon layui-icon-right" style="font-size: 16px; color: #C3C2C2;"></i>
            <a th:text="${projectName}">BIM5D过程管理平台</a>
            <i class="layui-icon layui-icon-down" style="font-size: 16px; color: #C3C2C2;"></i>
        </div>
        <div class="toper-nav">
            <ul>
                <li class="now">
                    <a th:href="@{/project/task.html(projectId=${projectId})}">任务</a>
                </li>
                <li>
                    <a th:href="@{/share/share.html(projectId=${projectId})}">分享</a>
                </li>
                <li>
                    <a th:href="@{/file/list.html(projectId=${projectId})}">文件</a>
                </li>
                <li>
                    <a th:href="@{/schedule/schedule.html(projectId=${projectId})}">日程</a>
                </li>
                <li>
                    <a th:href="@{/chat/chat.html(projectId=${projectId})}">群聊</a>
                </li>
                <li>
                    <a th:href="@{/statistics/statistics.html(projectId=${projectId})}">统计</a>
                </li>
            </ul>
        </div>
        <div class="toper-right">
            <i class="layui-icon layui-icon-user" style="font-size: 16px; color: #017ECA;"></i>
            <span class="team" th:id="${projectId}">成员</span>
            <i class="layui-icon layui-icon-app" style="font-size: 16px; color: #017ECA;"></i>
            <span class="menu" th:id="${projectId}">菜单</span>
        </div>
    </div>
    <!--点击群组 出现的弹框-->
    <div class="group-box">
        <div class="group-title boxsizing">
            <h3>项目成员</h3>
            <i class="layui-icon layui-icon-close close-tk" style="font-size: 20px; color: #a6a6a6;"></i>
        </div>
        <!--<div class="search-box">-->
        <!--<input class="boxsizing" type="text" placeholder="搜索成员，或输入邮箱直接邀请">-->
        <!--</div>-->
        <div class="add-new-member boxsizing" style="margin-top: 15px">
            <img src="../static/image/adds.png" th:src="@{/image/adds.png}">
            <span>邀请新成员</span>
        </div>
        <ul class="group-people">

        </ul>
    </div>
    <!--邀请新成员-->
    <div class="search_prople fuzhi-lianjie boxsizing" style="display: none">
        <input type="text" name="keyword"  placeholder="输入手机号/邮箱查找" autocomplete="off" class="layui-input keyword" style="float: left;width: 78%">
        <div class="layui-btn user_search" style="background-color: #017ECA;float: left">搜索</div>
        <div class="people-box" style="margin-top: 40px">
            <ul class="invitation"></ul>
        </div>
    </div>

</div>
</html>
