<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="toper (projectName,projectId)">
    <div class="toper-wrap boxsizing">
        <div class="toper-left">
            <a href="/project/project.html">首页</a>
            <i class="layui-icon layui-icon-right" style="font-size: 16px; color: #C3C2C2;"></i>
            <a th:text="${projectName}">BIM5D过程管理平台</a>
            <i class="layui-icon layui-icon-down" style="font-size: 16px; color: #C3C2C2;"></i>
        </div>
        <div class="toper-nav">
            <ul>
                <li class="now">
                    <a th:href="@{/project/task.html(projectId=${projectId})}">任务</a>
                </li>
                <li>
                    <a th:href="@{/share/share.html(projectId=${projectId})}">分享</a>
                </li>
                <li>
                    <a th:href="@{/file/list.html(projectId=${projectId})}">文件</a>
                </li>
                <li>
                    <a th:href="@{/schedule/schedule.html(projectId=${projectId})}">日程</a>
                </li>
                <li>
                    <a th:href="@{/chat/chat.html(projectId=${projectId})}">群聊</a>
                </li>
                <li>
                    <a th:href="@{/statistics/statistics.html(projectId=${projectId})}">统计</a>
                </li>
            </ul>
        </div>
        <div class="toper-right">
            <i class="layui-icon layui-icon-user" style="font-size: 16px; color: #017ECA;"></i>
            <span class="team">群组</span>
            <i class="layui-icon layui-icon-app" style="font-size: 16px; color: #017ECA;"></i>
            <span class="menu">菜单</span>
        </div>
    </div>
</div>
</html>
