<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.binding.BindingMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.binding.Binding">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="public_id" property="publicId" jdbcType="VARCHAR" />
		<result column="bind_id" property="bindId" jdbcType="VARCHAR" />
		<result column="public_type" property="publicType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="menuId" property="menu_id" jdbcType="VARCHAR" />
		<result column="bind_name" property="bindName" jdbcType="VARCHAR" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="task_status" property="taskStatus" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
				id,
				public_id,
				bind_id,
				bind_name,
				public_type,
				create_time,
				update_time,
				image,
			    public_id,
				group_id,
				menu_id,
				share_link
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
			</if>
		</where>
	</sql>
	
	<select id="findBindingPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">
		
		select * from prm_binding
		<include refid="whereStatement" />
		
		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>
		
	</select>
	
	<select id="findBindingAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.binding.Binding">
		SELECT
		<include refid="Base_Column_List" />
		from prm_binding
		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>
	</select>
	
	<select id="findBindingById" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_binding c where id = #{id}

	</select>
	
	<delete id="deleteBindingById" parameterType="java.lang.String">
		delete from
		prm_binding where id = #{id}
	</delete>
	
	<insert id="saveBinding" parameterType="com.art1001.supply.entity.binding.Binding">

		insert into prm_binding
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
			id,
			</if>
			<if test="publicId != null and publicId != ''">
			public_id,
			</if>
			<if test="bindId != null and bindId != ''">
			bind_id,
			</if>
			<if test="publicType != null and publicType != ''">
			public_type,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="projectId != null ">
				project_id,
			</if>
			<if test="groupId != null ">
				group_id,
			</if>
			<if test="menuId != null ">
				menu_id,
			</if>
			<if test="image != null ">
				image,
			</if>
			<if test="shareLink != null ">
				share_link,
			</if>

		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="publicId != null and publicId != ''">
				#{publicId},
			</if>
			<if test="bindId != null and bindId != ''">
				#{bindId},
			</if>
			<if test="publicType != null and publicType != ''">
				#{publicType},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="image != null ">
				#{image},
			</if>
			<if test="projectId != null ">
				#{projectId},
			</if>
			<if test="groupId != null ">
				#{groupId},
			</if>
			<if test="menuId != null ">
				#{menuId},
			</if>
			<if test="shareLink != null ">
				#{shareLink},
			</if>
		</trim>

	</insert>
	
	<update id="updateBinding" parameterType="com.art1001.supply.entity.binding.Binding">

		update prm_binding
		<set>
			<if test="publicId != null and publicId != ''">
				public_id = #{publicId},
			</if>
			<if test="bindId != null and bindId != ''">
				bind_id = #{bindId},
			</if>
			<if test="publicType != null and publicType != ''">
				public_type = #{publicType},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="image != null ">
				iamge = #{image},
			</if>
			<if test="projectId != null ">
				project_id = #{projectId},
			</if>
			<if test="groupId != null ">
				group_id = #{groupId},
			</if>
			<if test="menuId != null ">
				menu_id = #{menuId},
			</if>
			<if test="shareLink != null ">
				share_link = #{shareLink},
			</if>
		</set>
		WHERE id = #{id}
	</update>


	<select id="findBindingList" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		from prm_binding
        where public_id = #{publicId} and public_type = #{publicType}
	</select>

	<!--&lt;!&ndash; 查询出该目标的所有关联信息 &ndash;&gt;-->
	<!--<select id="listBindingInfoByPublicId" resultMap="BaseResultMap">-->
		  <!--select <include refid="Base_Column_List"></include>-->
		   <!--,project_name,relation_name,prm_task.task_status-->
		  <!--from prm_binding left join prm_project on prm_binding.project_id = prm_project.project_id left join prm_relation on prm_binding.group_id = prm_relation.relation_id left join prm_task on prm_binding.public_id = prm_task.task_id-->
		<!--where prm_binding.public_id = #{publicId} order by prm_binding.create_time desc-->
	<!--</select>-->

	<select id="listBindingInfoByPublicId" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"></include>
		from prm_binding where public_id = #{publicId} order by prm_binding.create_time desc
	</select>

	<!-- 查询出此条关联在库中的记录数 -->
	<select id="getBindingRecord" resultType="java.lang.Integer">
		select count(0) from prm_binding where public_id = #{publicId} and bind_id = #{bindId}
	</select>


</mapper>