<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.file.FileVersionMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.file.FileVersion">
		<result column="file_id" property="fileId" jdbcType="VARCHAR" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="is_master" property="isMaster" jdbcType="INTEGER" />
	</resultMap>
    
	<sql id="Base_Column_List">
		id,file_id,info,is_master
	</sql>

</mapper>