<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.user.LoginInfoMapper">
    <!--mybatis ehcache缓存配置,以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.log.LogExportRecord">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="commit_time" property="commitTime" jdbcType="VARCHAR"/>
        <result column="complete_time" property="completeTime" jdbcType="VARCHAR"/>
        <result column="commit_member_id" property="commitMemberId" jdbcType="VARCHAR"/>
        <result column="export_member_id" property="exportMemberId" jdbcType="VARCHAR"/>
        <result column="condition_start" property="conditionStart" jdbcType="VARCHAR"/>
        <result column="condition_end" property="conditionEnd" jdbcType="VARCHAR"/>
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        commit_time,
        complete_time,
        commit_member_id,
        export_member_id,
        condition_start,
        condition_end,
        status
    </sql>

</mapper>