<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.user.LoginInfoMapper">
	<!--mybatis ehcache缓存配置,以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->

	<sql id="loginInfoAttributes">
		l_id,
		u_id,
		u_account_name,
		l_ip,
		l_region,
		l_province,
		l_city,
		l_login_time
	</sql>

	<resultMap id="loginInfoMap" type="com.art1001.supply.entity.user.LoginInfoEntity">
		<id property="id" column="l_id"/>
		<result property="userId" column="u_id" />
		<result property="accountName" column="u_account_name"/>
		<result property="loginIp" column="l_ip"/>
		<result property="region" column="l_region"/>
		<result property="province" column="l_province"/>
		<result property="city" column="l_city"/>
		<result property="loginTime" column="l_login_time"/>
	</resultMap>

</mapper>