<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.project.OrganizationMemberMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.organization.OrganizationMember">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
		<result column="partment_id" property="partmentId" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="organization_lable" property="organizationLable" jdbcType="INTEGER" />
		<result column="partment_lable" property="partmentLable" jdbcType="INTEGER" />
		<result column="member_lock" property="memberLock" jdbcType="INTEGER" />
		<result column="other" property="other" jdbcType="INTEGER" />
		<association property="userEntity" column="member_id" javaType="com.art1001.supply.entity.user.UserEntity"
					 select="com.art1001.supply.mapper.user.UserMapper.findById"/>
		<association property="partment" column="partment_id" javaType="com.art1001.supply.entity.partment.Partment"
					 select="com.art1001.supply.mapper.partment.PartmentMapper.findPartmentByPartmentId"/>
	</resultMap>

	<resultMap id="BaseResultMap2" type="com.art1001.supply.entity.user.ProjectMemberInfo">
		<id column="user_id" property="userId" />
		<result column="user_img" property="memberImg"/>
		<result column="accountName" property="accountName"/>
		<result column="user_name" property="memberName"/>
		<result column="job" property="job"/>
	</resultMap>

	<sql id="Base_Column_List">
				id,
				organization_id,
				partment_id,
				member_id,
				create_time,
				update_time,
				organization_lable,
				partment_lable,
				member_lock
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition.partmentId != null and condition.partmentId != ''">
				AND partment_id != #{condition.partmentId}
			</if>

			<if test="condition.memberLock != null and condition.memberLock != ''">
				AND member_lock != #{condition.memberLock}
			</if>

		</where>
	</sql>
	
	<select id="findOrganizationMemberPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">
		select
		<include refid="Base_Column_List" />
		from prm_organization_member where organization_id = #{condition.organizationId}
		<if test="condition.createTime != null">
			and create_time BETWEEN (#{condition.createTime} - 60 * 1000 * 60 * 24 * 7) and #{condition.createTime}
		</if>

		<if test="condition.partmentId != null and condition.partmentId != ''">
			AND partment_id = #{condition.partmentId}
		</if>

		<if test="condition.memberLock != null">
			AND member_lock = #{condition.memberLock}
		</if>
		<if test="condition.other != null   or condition.other == 0">
			AND other = #{condition.other}
		</if>
		order by create_time asc
	</select>
	
	<select id="findOrganizationMemberAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.organization.OrganizationMember">
		SELECT
		<include refid="Base_Column_List" />
		from prm_organization_member
		where 1=1
		<if test="organizationId != null and organizationId != ''">
			AND organization_id = #{organizationId}
		</if>
	</select>
	
	<select id="findOrganizationMemberById" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_organization_member c where id = #{id}

	</select>
	
	<delete id="deleteOrganizationMemberById" parameterType="java.lang.String">
		delete from
		prm_organization_member where id = #{id}
	</delete>
	
	<insert id="saveOrganizationMember" parameterType="com.art1001.supply.entity.organization.OrganizationMember">

		insert into prm_organization_member
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
			id,
			</if>
			<if test="organizationId != null and organizationId != ''">
			organization_id,
			</if>
			<if test="partmentId != null and partmentId != ''">
			partment_id,
			</if>
			<if test="memberId != null and memberId != ''">
			member_id,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="organizationLable != null ">
			organization_lable,
			</if>
			<if test="partmentLable != null ">
			partment_lable,
			</if>
			<if test="memberLock != null ">
				member_lock,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="organizationId != null and organizationId != ''">
				#{organizationId},
			</if>
			<if test="partmentId != null and partmentId != ''">
				#{partmentId},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="organizationLable != null ">
				#{organizationLable},
			</if>
			<if test="partmentLable != null ">
				#{partmentLable},
			</if>
			<if test="memberLock != null ">
				#{memberLock},
			</if>
		</trim>

	</insert>
	
	<update id="updateOrganizationMember" parameterType="com.art1001.supply.entity.organization.OrganizationMember">

		update prm_organization_member
		<set>
			<if test="organizationId != null and organizationId != ''">
				organization_id = #{organizationId},
			</if>
			<if test="partmentId != null and partmentId != ''">
				partment_id = #{partmentId},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="organizationLable != null ">
				organization_lable = #{organizationLable},
			</if>
			<if test="partmentLable != null ">
				partment_lable = #{partmentLable},
			</if>
			<if test="memberLock != null ">
				member_lock = #{memberLock},
			</if>
		</set>

		WHERE id = #{id}

	</update>


	<select id="findOrgByMemberId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		m.create_time,
		m.organization_lable,
		m.partment_lable,
		m.member_lock,
		u.user_id,
		u.account_name,
		u.user_name,
		u.image
		from prm_organization_member as m left join tb_user u on m.member_id = u.user_id where m.member_id = #{memberId} and organization_id = #{orgId}

	</select>
	<select id="findOrgByUserId" resultType="java.lang.String">
		select organization_id from prm_organization_member where member_id = #{memberId} and user_default = 1
	</select>

    <select id="getUserList" resultType="com.art1001.supply.entity.user.UserEntity">
		select
		u.user_id,
		u.account_name,
		u.image,
		u.user_name
		from prm_organization_member om left join tb_user u on om.member_id = u.user_id where om.organization_id = #{orgId} and organization_lable = 0
	</select>


	<select id="findMemberCompanies" resultType="com.art1001.supply.entity.organization.OrganizationMember">
		select
		<include refid="Base_Column_List" />
		from prm_organization_member om  where om.organization_id = #{orgId}
	</select>


	<select id="getOrgMemberList" resultMap="BaseResultMap2">
		SELECT
			u.user_id,
			u.account_name AS accountName,
			u.image AS memberImg,
			u.user_name AS memberName,
			r.role_name AS job
		FROM
			prm_organization_member AS pm
			LEFT JOIN tb_user AS u ON pm.member_id = u.user_id
			LEFT JOIN sys_role_user AS su ON pm.organization_id = su.org_id
			AND su.u_id = pm.member_id
			LEFT JOIN sys_role AS r ON su.role_id = r.role_id
		WHERE
			pm.organization_id = #{orgId}
	</select>

	<!-- 移交企业权限 -->
	<update id="updateOwner" >
		update prm_organization_member
		set organization_lable = 0
		WHERE organization_id = #{orgId} and member_id = #{ownerId}
	</update>

	<!-- 移交企业权限 -->
	<update id="updateMember">
		update prm_organization_member
		set organization_lable = 1
		WHERE organization_id = #{orgId} and member_id = #{memberId}
	</update>




</mapper>