<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.partment.PartmentMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.partment.PartmentMember">
        <id column="id" property="id"/>
        <result column="partment_id" property="partmentId"/>
        <result column="member_id" property="memberId"/>
        <result column="is_master" property="isMaster"/>
        <result column="member_label" property="memberLabel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="member_type" property="memberType" jdbcType="VARCHAR"/>
        <association property="userEntity" javaType="com.art1001.supply.entity.user.UserEntity">
            <id column="user_id" property="userId"/>
            <result column="image" property="image"/>
            <result column="user_name" property="userName"/>
        </association>
    </resultMap>

    <!--修改部门负责人-->
    <update id="updatePartMentMaster">
        update prm_partment_member
        <set>
            is_master=1
        </set>
        where partment_id=#{partmentId}
        <if test="memberId != null">
            and member_id=#{memberId}
        </if>
    </update>


    <!-- 获取部门的某个成员信息 -->
    <select id="selectPartmentMemberInfo" resultMap="BaseResultMap">
        SELECT
            u.user_id,
            u.image,
            u.user_name,
            pm.is_master,
            pm.member_label
        FROM
            prm_partment_member AS pm
            LEFT JOIN tb_user AS u ON pm.member_id = u.user_id
            WHERE pm.partment_id = #{partmentId} AND pm.member_id = #{memberId}
    </select>
    <select id="getSimplePartmentMemberInfo" resultType="string">
         SELECT
         	u.user_name
         FROM
         	prm_partment_member pm
         	JOIN prm_partment p
         	JOIN tb_user u ON pm.partment_id = p.partment_id
         	AND pm.member_id = u.user_id
         	AND pm.member_label = 2
         WHERE
         	p.partment_id = #{partmentId}
    </select>

    <select id="getPartmentByOrgId" resultType="com.art1001.supply.entity.partment.PartmentMember">
        SELECT
        	*
        FROM
        	(
        	SELECT
        		p.partment_name AS partmentName,
        		p.parent_id AS parentId,
        		p.partment_id AS partmentId,
        		p.partment_logo AS partmentLogo,
        		pm.member_id AS memberId,
        		pm.is_master as isMaster
        	FROM
        		prm_partment p
        		JOIN prm_partment_member pm ON p.partment_id = pm.partment_id
        	WHERE
        		p.organization_id = "597176ae648841b688e2c7abe3aecdec"
        	ORDER BY
        		pm.is_master DESC
        	) a
        GROUP BY
        	a.partmentId
    </select>

    <select id="getpartmentMemberByOrgId" resultType="com.art1001.supply.entity.partment.PartmentMember">
SELECT
	pm.*
FROM
	prm_partment p
	JOIN prm_partment_member pm ON p.partment_id = pm.partment_id
WHERE
	p.organization_id = #{orgId}
	AND pm.member_id = #{memberId}
    </select>


    <select id="countPartMentMember" resultType="java.lang.Integer">
        SELECT
        COUNT( p.partment_id )
        FROM
        prm_partment_member pm
        JOIN prm_partment p ON p.partment_id = pm.partment_id
        WHERE
        p.organization_id = #{orgId} and
        pm.member_id in
        <foreach collection="ids" item="memberId" separator="," close=")" open="(">
            #{memberId}
        </foreach>
    </select>
</mapper>
