<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.project.ProjectMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.project.Project">
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="BIGINT" />
		<result column="end_time" property="endTime" jdbcType="BIGINT" />
		<result column="project_cover" property="projectCover" jdbcType="VARCHAR" />
		<result column="project_des" property="projectDes" jdbcType="VARCHAR" />
		<result column="project_del" property="projectDel" jdbcType="INTEGER" />
		<result column="project_status" property="projectStatus" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="is_public" property="isPublic" jdbcType="INTEGER" />
		<result column="project_remind" property="projectRemind" jdbcType="INTEGER" />
		<association property="funcList" column="project_id" javaType="ArrayList"
					 select="com.art1001.supply.mapper.project.ProjectFuncMapper.findProjectFuncList"/>
	</resultMap>
    
	<sql id="Base_Column_List">
		project_id,
		project_name,
		member_id,
		start_time,
		end_time,
		project_cover,
		project_des,
		project_del,
		project_status,
		create_time,
		update_time,
		is_public,
		project_remind
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
			</if>
		</where>
	</sql>
	
	<select id="findProjectPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">
		
		select <include refid="Base_Column_List" /> from prm_project
		<include refid="whereStatement" />
		
		<if test="orderBy == 0">
			order by project_id desc
		</if>
		<if test="orderBy == 1">
			order by project_id asc
		</if>
		
	</select>
	
	<select id="findProjectAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.project.Project">
		SELECT
		<include refid="Base_Column_List" />
		from prm_project
		<if test="orderBy == 0">
			order by project_id desc
		</if>
		<if test="orderBy == 1">
			order by project_id asc
		</if>
	</select>
	
	<select id="findProjectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_project c where project_id = #{projectId}

	</select>
	
	<delete id="deleteProjectByProjectId" parameterType="java.lang.String">
		delete from
		prm_project where project_id = #{projectId}
	</delete>
	
	<insert id="saveProject" parameterType="com.art1001.supply.entity.project.Project">

		insert into prm_project
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="projectId != null and projectId != ''">
			project_id,
			</if>
			<if test="projectName != null and projectName != ''">
			project_name,
			</if>
			<if test="memberId != null and memberId != ''">
			member_id,
			</if>
			<if test="startTime != null ">
			start_time,
			</if>
			<if test="endTime != null ">
			end_time,
			</if>
			<if test="projectCover != null and projectCover != ''">
			project_cover,
			</if>
			<if test="projectDes != null and projectDes != ''">
			project_des,
			</if>
			<if test="projectDel != null ">
			project_del,
			</if>
			<if test="projectStatus != null ">
			project_status,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="isPublic != null ">
				is_public,
			</if>
			<if test="projectRemind != null ">
				project_remind,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="projectId != null and projectId != ''">
				#{projectId},
			</if>
			<if test="projectName != null and projectName != ''">
				#{projectName},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="startTime != null ">
				#{startTime},
			</if>
			<if test="endTime != null ">
				#{endTime},
			</if>
			<if test="projectCover != null and projectCover != ''">
				#{projectCover},
			</if>
			<if test="projectDes != null and projectDes != ''">
				#{projectDes},
			</if>
			<if test="projectDel != null ">
				#{projectDel},
			</if>
			<if test="projectStatus != null ">
				#{projectStatus},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>

			<if test="isPublic != null ">
				#{isPublic},
			</if>

			<if test="projectRemind != null ">
				#{projectRemind},
			</if>
		</trim>

	</insert>
	
	<update id="updateProject" parameterType="com.art1001.supply.entity.project.Project">

		update prm_project
		<set>
			<if test="projectId != null and projectId != ''">
				project_id = #{projectId},
			</if>
			<if test="projectName != null and projectName != ''">
				project_name = #{projectName},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="startTime != null ">
				start_time = #{startTime},
			</if>
			<if test="endTime != null ">
				end_time = #{endTime},
			</if>
			<if test="projectCover != null and projectCover != ''">
				project_cover = #{projectCover},
			</if>
			<if test="projectDes != null and projectDes != ''">
				project_des = #{projectDes},
			</if>
			<if test="projectDel != null ">
				project_del = #{projectDel},
			</if>
			<if test="projectStatus != null ">
				project_status = #{projectStatus},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="isPublic != null ">
				is_public = #{isPublic},
			</if>

			<if test="projectRemind != null ">
				projecct_remind = #{projectRemind},
			</if>
		</set>

		WHERE project_id = #{projectId}

	</update>


	<select id="findProjectByMemberId" resultMap="BaseResultMap"
			parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		from prm_project where project_del = 0
		order by create_time asc
	</select>
</mapper>