<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.role.ProRoleUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.role.ProRoleUser">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="u_id" property="uId" />
        <result column="o_id" property="oId" />
        <result column="t_create_time" property="tCreateTime" />
    </resultMap>

    <select id="getManagersByProject" resultType="integer">
        SELECT
        	COUNT(1)
        FROM
        	sys_pro_role_user ru
	        JOIN sys_pro_role pr ON ru.role_id = pr.role_id
        WHERE
        	ru.project_id = #{projectId} and pr.role_name="拥有者";
    </select>

    <select id="findProRoleUser" resultType="com.art1001.supply.entity.role.ProRoleUser">
        SELECT
        	ru.id,
        	ru.project_id,
        	ru.role_id,
        	ru.u_id,
        	ru.t_create_time,
        	pr.role_name as roleName
        FROM
        	sys_pro_role_user ru
        	JOIN sys_pro_role pr ON ru.role_id = pr.role_id
        WHERE
        	ru.project_id = #{projectId}
        	AND ru.u_id = #{memberId}
    </select>

</mapper>
