<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.collect.PublicCollectMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.collect.PublicCollect">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="public_id" property="publicId" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="task_id" property="taskId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="member_img" property="memberImg" jdbcType="VARCHAR" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
		<result column="collect_type" property="collectType" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
				id,
		        collect_id,
				member_id,
				project_id,
				task_id,
				create_time,
				update_time,
				member_img,
				member_name,
				collect_type
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
			</if>
		</where>
	</sql>

	<select id="findPublicCollectPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">

		select * from prm_public_collect
		<include refid="whereStatement" />

		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>

	</select>

	<select id="findPublicCollectAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.collect.PublicCollect">
		SELECT
		<include refid="Base_Column_List" />
		from prm_public_collect
		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>
	</select>

	<select id="findPublicCollectById" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_public_collect where id = #{id}

	</select>

	<delete id="deletePublicCollectById" parameterType="java.lang.String">
		delete from
		prm_public_collect where id = #{id}
	</delete>

	<insert id="savePublicCollect" parameterType="com.art1001.supply.entity.collect.PublicCollect">

		insert into prm_public_collect
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
			id,
			</if>
			<if test="publicId != null and publicId != ''">
				public_id,
			</if>
			<if test="memberId != null and memberId != ''">
			member_id,
			</if>
			<if test="projectId != null and projectId != ''">
			project_id,
			</if>
			<if test="taskId != null and taskId != ''">
			task_id,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="memberImg != null and memberImg != ''">
			member_img,
			</if>
			<if test="memberName != null and memberName != ''">
			member_name,
			</if>
			<if test="collectType != null and collectType != ''">
				collect_type,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="publicId != null and publicId != ''">
				#{publicId},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="projectId != null and projectId != ''">
				#{projectId},
			</if>
			<if test="taskId != null and taskId != ''">
				#{taskId},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="memberImg != null and memberImg != ''">
				#{memberImg},
			</if>
			<if test="memberName != null and memberName != ''">
				#{memberName},
			</if>
			<if test="collectType != null and collectType != ''">
				#{collectType},
			</if>
		</trim>

	</insert>

	<update id="updatePublicCollect" parameterType="com.art1001.supply.entity.collect.PublicCollect">

		update prm_public_collect
		<set>
			<if test="publicId != null and publicId != ''">
				public_id = #{publicId},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="projectId != null and projectId != ''">
				project_id = #{projectId},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="memberImg != null and memberImg != ''">
				member_img = #{memberImg},
			</if>
			<if test="memberName != null and memberName != ''">
				member_name = #{memberName},
			</if>
		</set>

		WHERE id = #{id}

	</update>

	<!-- 判断当前用户有没有收藏该项目 -->
	<select id="judgeCollectPublic" resultType="java.lang.Integer">
		select count(0) from prm_public_collect where public_id = #{publicId} and member_id = #{memberId} and collect_type = #{collectType}
	</select>
	
</mapper>