<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.role.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.role.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="role_status" property="roleStatus"/>
        <result column="role_des" property="roleDes"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="organization_id" property="organizationId"/>
        <collection property="resources" ofType="com.art1001.supply.entity.resource.ResourceEntity">
            <id column="s_id" property="resourceId"/>
            <result column="s_source_key" property="resourceKey"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		role_id, role_name, role_key, role_status, role_des, create_time, update_time,organization_id
	</sql>

    <!-- 获取一个用户的所有角色以及角色下对应的权限信息 -->
    <select id="selectUserRole" resultMap="BaseResultMap">
		SELECT
			r.role_id,
			r.role_key,
			r.role_name,
			r.role_status,
			sr.s_id,
			sr.s_source_key
		FROM
			sys_role_user AS ru
			LEFT JOIN sys_role AS r ON ru.role_id = r.role_id
			LEFT JOIN sys_resources_role AS rr ON r.role_id = rr.r_id
			LEFT JOIN sys_resources AS sr ON rr.s_id = sr.s_id
		WHERE
			ru.u_id = #{userId}
	</select>

    <!-- 根据角色id获取到该角色信息以及角色下的权限信息 -->
    <select id="selectRoleAndResrouceInfo" resultMap="BaseResultMap">
		SELECT
			s_id,
			s_source_key,
			r.role_id,
			r.role_name,
			r.role_des,
			r.role_key,
			r.create_time,
			r.role_status
		FROM
			sys_resources,
			sys_role AS r
		WHERE
			FIND_IN_SET( s_id, ( SELECT s_id FROM sys_resources_role WHERE r_id = #{roleId} ) )
			AND r.role_id = #{roleId}
	</select>
    <select id="checkRole" resultType="com.art1001.supply.entity.role.Role">
        select
        r.role_id,
        r.role_name,
        r.role_key,
        r.role_status,
        r.role_des,
        r.create_time,
        r.update_time,organization_id
        from sys_role r
        join sys_role_user u
        on r.role_id=u.role_id
        where r.organization_id=#{orgId} and
        u.u_id=#{memberId}
    </select>

    <select id="getRoleName" resultType="java.lang.String">
        select r.role_name from sys_role_user s
        join sys_role r on s.role_id=r.role_id
        where s.org_id=#{organizationId} and s.u_id=#{memberId}
    </select>
</mapper>