<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.role.Role">
		<id column="r_id" property="id" />
		<result column="r_name" property="roleName" />
		<result column="r_key" property="roleKey" />
		<result column="r_status" property="roleStatus" />
		<result column="r_description" property="roleDes" />
		<result column="r_create_time" property="createTime" />
		<result column="r_update_time" property="updateTime" />
		<result column="organization_id" property="organizationId" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		r_id, r_name, r_key, r_status, r_description, r_create_time, r_update_time,organization_id
	</sql>

</mapper>