<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.share.ShareMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.share.Share">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
		<result column="member_img" property="memberImg" jdbcType="VARCHAR" />
		<result column="is_privacy" property="isPrivacy" jdbcType="INTEGER" />
		<result column="is_del" property="isDel" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="uids" property="uids" jdbcType="CLOB" />
        <collection property="logs" javaType="java.util.ArrayList" column="id"
                    select="com.art1001.supply.mapper.log.LogMapper.initLog"/>
        
        <!--查询标签-->
        <collection property="tagList" column="tag_id" ofType="com.art1001.supply.entity.tag.Tag">
            <id property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
            <result property="bgColor" column="bg_color"/>
        </collection>
        <!--查询参与者-->
        <collection property="joinInfo" column="{memberIds=uids}" javaType="java.util.ArrayList"
                    select="com.art1001.supply.mapper.user.UserMapper.findManyUserById"/>
	</resultMap>

    <!-- 映射回收站数据 -->
    <resultMap id="BaseResultMap2" type="com.art1001.supply.entity.base.RecycleBinVO">
        <id column="id" property="id"/>
        <result column="title" property="name" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <!-- 用于关联、收藏的数据 -->
    <resultMap id="ShareApiBean" type="com.art1001.supply.entity.share.ShareApiBean">
        <id column="id" property="shareId" />
        <result column="title" property="shareName" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="u_image" property="userImage" jdbcType="VARCHAR"/>
    </resultMap>
    
	<sql id="Base_Column_List">
		id,
		title,
		content,
		project_id,
		member_id,
		member_name,
		member_img,
		is_privacy,
		is_del,
		create_time,
		update_time,
		uids
	</sql>

    <sql id="Base_Column_List2">
		s.id,
		s.title,
		s.content,
		s.project_id,
		s.member_id,
		u.user_name as member_name,
		u.image as member_img,
		s.is_privacy,
		s.is_del,
		s.create_time,
		s.update_time,
		s.uids,
		tg.tag_id,
		tg.tag_name,
		tg.bg_color
	</sql>

    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            s.id,
            title,
            content,
            s.project_id,
            s.member_id,
            member_name,
            member_img,
            is_privacy,
            s.is_del,
            s.create_time,
            s.update_time,
            uids,
            t.tag_id,
            t.tag_name,
            t.bg_color
        FROM
            prm_share AS s
            LEFT JOIN prm_tag_relation AS tr ON s.id = tr.share_id
            LEFT JOIN prm_tag AS t ON t.tag_id = tr.tag_id
        WHERE
            s.id = #{id}
    </select>

    <!-- 查询项目的分享 -->
    <select id="findByProjectId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2" />
        FROM
            prm_share s
        left join prm_tag_relation tr on s.id = tr.share_id
        left join prm_tag tg on tr.tag_id = tg.tag_id
        left join tb_user u on s.member_id = u.user_id
        WHERE
            s.project_id = #{projectId}
        AND s.is_del = #{isDel} order by create_time Desc
    </select>

    <select id="shareByProjectId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from prm_share where project_id = #{projectId}
    </select>

    <!-- 查询出在此项目回收站中的所有分享 -->
    <select id="findRecycleBin" parameterType="java.lang.String" resultMap="BaseResultMap2">
        select id,title,update_time
        from prm_share where is_del = 1 and project_id = #{projectId}
    </select>

    <!-- 查询分享部分信息 (项目名称,分享名称,执行者头像,标题,内容) -->
    <select id="selectShareApiBean" resultMap="ShareApiBean">
        SELECT id,`title`,`content`,u.image,project_name FROM prm_share s LEFT JOIN tb_user u on s.member_id = u.user_id LEFT JOIN prm_project p ON s.project_id = p.project_id
        where id = #{id}
    </select>

    <!-- 获取绑定的分享信息 -->
    <select id="getBindInfo" resultType="com.art1001.supply.entity.share.Share">
        select id,title from prm_share where project_id = #{projectId} and is_Del = 0
    </select>

    <!-- 获取所有绑定到该标签的分享信息 -->
    <select id="selectBindTagInfo" resultType="com.art1001.supply.entity.share.Share">
        SELECT
            s.id,
            s.title,
            s.create_time,
            u.user_name
        FROM
            prm_share s
            LEFT JOIN prm_tag_relation AS tr ON tr.share_id = s.id
            LEFT JOIN prm_tag AS t ON tr.tag_id = t.tag_id
            LEFT JOIN tb_user AS u ON u.user_id = s.member_id
            AND s.is_del = '0'
        WHERE
            t.tag_id = #{tagId}
    </select>

</mapper>
