<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.statistics.StaticInfoMapper" >

    <resultMap id="resultPie" type="com.art1001.supply.entity.statistics.StatisticsPie">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="y" property="y" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="resultHistograms" type="com.art1001.supply.entity.statistics.StatisticsHistogram">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="data" property="data" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 统计页面数据 ResultMap -->
    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.statistics.StatisticsResultVO">
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="finish_time" property="finishTime" jdbcType="VARCHAR" />
        <result column="task_case" property="taskCase" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="task_group" property="taskGroup" jdbcType="VARCHAR" />
        <result column="list_view" property="listView" jdbcType="VARCHAR" />
        <result column="overdue_num" property="overdueNum" jdbcType="VARCHAR" />
        <result column="dynamic_num" property="dynamicNum" jdbcType="VARCHAR" />
        <result column="change_type" property="changeType" jdbcType="VARCHAR" />
        <result column="task_count" property="taskCountString" jdbcType="VARCHAR" />
        <result column="task_count" property="taskCountInt" jdbcType="INTEGER" />
        <result column="task_num" property="taskDayNum" jdbcType="VARCHAR" />
        <result column="task_gross" property="taskDayGross" jdbcType="VARCHAR" />
        <result column="task_unfinish" property="unfinishTaskNum" jdbcType="INTEGER" />
        <result column="task_finish" property="finishTaskNum" jdbcType="INTEGER" />
        <result column="task_precedence" property="taskPrecedence" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="u_name" property="executor" jdbcType="VARCHAR" />
        <result column="task_group" property="taskGroup" jdbcType="VARCHAR" />
        <result column="relation_name" property="listView" jdbcType="VARCHAR" />
        <result column="end_time_isupdate" property="endTimeUpdate" jdbcType="VARCHAR" />
    </resultMap>


    <select id="getPieDate" parameterType="java.lang.String"  resultMap="resultPie" >
         SELECT tu.user_name as name ,COUNT(1) as y FROM prm_task pt LEFT JOIN tb_user tu ON  tu.user_id=pt.executor   WHERE  pt.project_id=#{projectId} GROUP BY pt.executor
    </select>

    <select id="getHistogramsDate"  resultMap="resultHistograms">
         SELECT tu.user_name AS name , COUNT(1) AS data FROM prm_task pt LEFT JOIN tb_user tu ON tu.user_id=pt.executor
         WHERE pt.task_status='完成' AND  project_id = #{projectId}
         AND FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d %T')
         BETWEEN  DATE_SUB(NOW(),INTERVAL 7 DAY) AND FROM_UNIXTIME(#{currentDate}, '%Y-%m-%d %T')
		 GROUP BY pt.executor
    </select>

    <!-- 项目进展走势 总累计数据 -->
    <select id="taskOfProgress" resultMap="BaseResultMap">
		SELECT FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d') AS create_time,COUNT(1) AS task_count
		FROM  prm_task pt
		WHERE project_id = #{projectId}
		AND FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d %T') BETWEEN  DATE_SUB(NOW(),INTERVAL 7 DAY)
		AND FROM_UNIXTIME(#{currDate}, '%Y-%m-%d %T')
		GROUP BY FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d')
    </select>

    <!-- 每日完成任务数  每日数据 -->
    <select id="taskOfFinishProgress" resultMap="BaseResultMap">
		SELECT FROM_UNIXTIME(pt.update_time/1000,'%Y-%m-%d') AS finish_time,COUNT(1) AS task_count
		FROM  prm_task pt
		WHERE pt.task_status='完成'
		AND project_id = #{projectId}
        AND FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d %T')  BETWEEN  DATE_SUB(NOW(),INTERVAL 7 DAY)
        AND FROM_UNIXTIME(#{currDate}, '%Y-%m-%d %T')
		GROUP BY FROM_UNIXTIME(pt.create_time/1000,'%Y-%m-%d')
	</select>

</mapper>