<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.collect.TaskCollectMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.collect.TaskCollect">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="task_id" property="taskId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="member_img" property="memberImg" jdbcType="VARCHAR" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
	</resultMap>
    
	<sql id="Base_Column_List">
						id,
				member_id,
				project_id,
				task_id,
				create_time,
				update_time,
				member_img,
				member_name
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
			</if>
		</where>
	</sql>
	
	<select id="findTaskCollectPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">
		
		select * from prm_task_collect
		<include refid="whereStatement" />
		
		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>
		
	</select>
	
	<select id="findTaskCollectAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.collect.TaskCollect">
		SELECT
		<include refid="Base_Column_List" />
		from prm_task_collect
		<if test="orderBy == 0">
			order by id desc
		</if>
		<if test="orderBy == 1">
			order by id asc
		</if>
	</select>
	
	<select id="findTaskCollectById" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_task_collect c where id = #{id}

	</select>
	
	<delete id="deleteTaskCollectById" parameterType="java.lang.String">
		delete from
		prm_task_collect where member_id = #{memberId} and task_id = #{taskId}
	</delete>
	
	<insert id="saveTaskCollect" parameterType="com.art1001.supply.entity.collect.TaskCollect">

		insert into prm_task_collect
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
			id,
			</if>
			<if test="memberId != null and memberId != ''">
			member_id,
			</if>
			<if test="projectId != null and projectId != ''">
			project_id,
			</if>
			<if test="taskId != null and taskId != ''">
			task_id,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="memberImg != null and memberImg != ''">
			member_img,
			</if>
			<if test="memberName != null and memberName != ''">
			member_name,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="projectId != null and projectId != ''">
				#{projectId},
			</if>
			<if test="taskId != null and taskId != ''">
				#{taskId},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="memberImg != null and memberImg != ''">
				#{memberImg},
			</if>
			<if test="memberName != null and memberName != ''">
				#{memberName},
			</if>
		</trim>

	</insert>
	
	<update id="updateTaskCollect" parameterType="com.art1001.supply.entity.collect.TaskCollect">

		update prm_task_collect
		<set>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="projectId != null and projectId != ''">
				project_id = #{projectId},
			</if>
			<if test="taskId != null and taskId != ''">
				task_id = #{taskId},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="memberImg != null and memberImg != ''">
				member_img = #{memberImg},
			</if>
			<if test="memberName != null and memberName != ''">
				member_name = #{memberName},
			</if>
		</set>

		WHERE id = #{id}

	</update>

	<select id="judgeCollectTask" resultType="java.lang.Integer">
		select count(0) from prm_task_collect where task_id = #{taskId} and member_id = #{memberId}
	</select>
	
</mapper>