<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.task.TaskMapper">
	
	<resultMap id="BaseResultMap" type="com.art1001.supply.entity.task.Task">
		<result column="task_id" property="taskId" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="task_name" property="taskName" jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="BIGINT" />
		<result column="end_time" property="endTime" jdbcType="BIGINT" />
		<result column="repeat" property="repeat" jdbcType="VARCHAR" />
		<result column="remind" property="remind" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="VARCHAR" />
		<result column="tag_id" property="tagId" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="parent_id" property="parent.id" jdbcType="VARCHAR" />
		<result column="member_id" property="memberId" jdbcType="VARCHAR" />
		<result column="executor" property="executor" jdbcType="VARCHAR" />
		<result column="task_type" property="taskType" jdbcType="VARCHAR" />
		<result column="task_menu_id" property="taskMenuId" jdbcType="VARCHAR" />
		<result column="task_status" property="taskStatus" jdbcType="VARCHAR" />
		<result column="task_code" property="taskCode" jdbcType="VARCHAR" />
		<result column="task_del" property="taskDel" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="remind_time" property="remindTime" jdbcType="BIGINT"/>
		<result column="repetition_time" property="repetitionTime" jdbcType="BIGINT"/>
	</resultMap>
    
	<sql id="Base_Column_List">
						task_id,
				project_id,
				task_name,
				start_time,
				end_time,
				`repeat`,
				remind,
				remarks,
				priority,
				tag_id,
				`level`,
				parent_id,
				member_id,
				executor,
				task_type,
				task_menu_id,
				task_status,
				task_code,
				task_del,
				create_time,
				update_time,
				remind_time,
				repetition_time
	</sql>

	<sql id="whereStatement">
		<where>
			1 = 1
			<if test="condition !=null">
			</if>
		</where>
	</sql>
	
	<select id="findTaskPagerList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.base.Pager">
		
		select * from prm_task
		<include refid="whereStatement" />
		
		<if test="orderBy == 0">
			order by task_id desc
		</if>
		<if test="orderBy == 1">
			order by task_id asc
		</if>
		
	</select>
	
	<select id="findTaskAllList" resultMap="BaseResultMap"
		parameterType="com.art1001.supply.entity.task.Task">
		SELECT
		<include refid="Base_Column_List" />
		from prm_task
		<if test="orderBy == 0">
			order by task_id desc
		</if>
		<if test="orderBy == 1">
			order by task_id asc
		</if>
	</select>
	
	<select id="findTaskByTaskId" resultMap="BaseResultMap" parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from prm_task c where task_id = #{taskId}

	</select>
	
	<delete id="deleteTaskByTaskId" parameterType="java.lang.String">
		delete from
		prm_task where task_id = #{taskId}
	</delete>
	
	<insert id="saveTask" parameterType="com.art1001.supply.entity.task.Task">

		insert into prm_task
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="taskId != null and taskId != ''">
			task_id,
			</if>
			<if test="projectId != null and projectId != ''">
			project_id,
			</if>
			<if test="taskName != null and taskName != ''">
			task_name,
			</if>
			<if test="startTime != null ">
			start_time,
			</if>
			<if test="endTime != null ">
			end_time,
			</if>
			<if test="repeat != null and repeat != ''">
			repeat,
			</if>
			<if test="remind != null and remind != ''">
			remind,
			</if>
			<if test="remarks != null and remarks != ''">
			remarks,
			</if>
			<if test="priority != null and priority != ''">
			priority,
			</if>
			<if test="tagId != null and tagId != ''">
			tag_id,
			</if>
			<if test="level != null ">
			`level`,
			</if>
			<if test="parentId != null and parentId != ''">
			parent_id,
			</if>
			<if test="memberId != null and memberId != ''">
			member_id,
			</if>
			<if test="executor != null and executor != ''">
			executor,
			</if>
			<if test="taskType != null and taskType != ''">
			task_type,
			</if>
			<if test="taskMenuId != null and taskMenuId != ''">
			task_menu_id,
			</if>
			<if test="taskStatus != null and taskStatus != ''">
			task_status,
			</if>
			<if test="taskCode != null and taskCode != ''">
			task_code,
			</if>
			<if test="taskDel != null ">
			task_del,
			</if>
			<if test="createTime != null ">
			create_time,
			</if>
			<if test="updateTime != null ">
			update_time,
			</if>
			<if test="remindTime != null">
			remind_time,
			</if>
			<if test="repetitionTime != null">
			repetition_Time,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="taskId != null and taskId != ''">
				#{taskId},
			</if>
			<if test="projectId != null and projectId != ''">
				#{projectId},
			</if>
			<if test="taskName != null and taskName != ''">
				#{taskName},
			</if>
			<if test="startTime != null ">
				#{startTime},
			</if>
			<if test="endTime != null ">
				#{endTime},
			</if>
			<if test="repeat != null and repeat != ''">
				${repeat},
			</if>
			<if test="remind != null and remind != ''">
				${remind},
			</if>
			<if test="remarks != null and remarks != ''">
				#{remarks},
			</if>
			<if test="priority != null and priority != ''">
				${priority},
			</if>
			<if test="tagId != null and tagId != ''">
				#{tagId},
			</if>
			<if test="level != null ">
				#{level},
			</if>
			<if test="parentId != null and parentId != ''">
				#{parentId},
			</if>
			<if test="memberId != null and memberId != ''">
				#{memberId},
			</if>
			<if test="executor != null and executor != ''">
				#{executor},
			</if>
			<if test="taskType != null and taskType != ''">
				#{taskType},
			</if>
			<if test="taskMenuId != null and taskMenuId != ''">
				#{taskMenuId},
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				${taskStatus},
			</if>
			<if test="taskCode != null and taskCode != ''">
				#{taskCode},
			</if>
			<if test="taskDel != null ">
				#{taskDel},
			</if>
			<if test="createTime != null ">
				#{createTime},
			</if>
			<if test="updateTime != null ">
				#{updateTime},
			</if>
			<if test="remindTime != null">
				#{remindTime},
			</if>
			<if test="repetitionTime != null">
				#{repetitionTime},
			</if>
		</trim>

	</insert>
	
	<update id="updateTask" parameterType="com.art1001.supply.entity.task.Task">

		update prm_task
		<set>
			<if test="taskId != null and taskId != ''">
				task_id = #{taskId},
			</if>
			<if test="projectId != null and projectId != ''">
				project_id = #{projectId},
			</if>
			<if test="taskName != null and taskName != ''">
				task_name = #{taskName},
			</if>
			<if test="startTime != null ">
				start_time = #{startTime},
			</if>
			<if test="endTime != null ">
				end_time = #{endTime},
			</if>
			<if test="repeat != null and repeat != ''">
				`repeat` = #{repeat},
			</if>
			<if test="remind != null and remind != ''">
				`remind` = #{remind},
			</if>
			<if test="remarks != null and remarks != ''">
				`remarks` = #{remarks},
			</if>
			<if test="priority != null and priority != ''">
				`priority` = #{priority},
			</if>
			<if test="tagId != null and tagId != ''">
				tag_id = #{tagId},
			</if>
			<if test="level != null ">
				`level` = #{level},
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id = #{parentId},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="executor != null and executor != ''">
				executor = #{executor},
			</if>
			<if test="taskType != null and taskType != ''">
				task_type = #{taskType},
			</if>
			<if test="taskMenuId != null and taskMenuId != ''">
				task_menu_id = #{taskMenuId},
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				task_status = #{taskStatus},
			</if>
			<if test="taskCode != null and taskCode != ''">
				task_code = #{taskCode},
			</if>
			<if test="taskDel != null ">
				task_del = #{taskDel},
			</if>
			<if test="createTime != null ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null ">
				update_time = #{updateTime},
			</if>
			<if test="remindTime != null">
				remind_time = #{remindTime},
			</if>
			<if test="repetitionTime != null">
				repetitionTime = #{repetition_Time},
			</if>
		</set>

		WHERE task_id = #{taskId}

	</update>

	<!-- 此条sql 用来处理任务 移入回收站/恢复任务的功能 -->
	<update id="moveToRecycleBin">
		update prm_task
		<set>
			<if test="taskDel != null and taskDel != '' ">
				<if test="taskDel == 1">
					task_del = 0,
				</if>
				<if test="taskDel == 0">
					task_del = 1,
				</if>
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		<where>
			task_id = #{taskId}
		</where>
	</update>

	<!-- 修改某个任务的状态 -->
	<update id="changeTaskStatus">
		update prm_task
		<set>
			<if test="taskStatus != '' and taskStatus != null">
				<if test="taskStatus == 1">
					task_status = '2',
				</if>
				<if test="taskStatus == 2">
					task_status = '1',
				</if>
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		<where>
			task_id = #{taskId}
		</where>
	</update>

	<!-- 判断当前菜单有没有任务 -->
	<select id="findTaskByMenuId">
		select count(task_id) from prm_task where task_menu_id = #{taskMenuId}
	</select>

	<!-- 根据任务id数组查找出任务 -->
	<select id="findManyTask" resultMap="BaseResultMap">
		select
	  	<include refid="Base_Column_List"></include>
		from prm_task where task_id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>

</mapper>