<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art1001.supply.mapper.task.TaskInfoMapper">

    <resultMap id="BaseResultMap" type="com.art1001.supply.entity.statistics.TotalOverView">
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="u_name" property="executor" jdbcType="VARCHAR" />
        <result column="task_group" property="taskGroup" jdbcType="VARCHAR" />
        <result column="relation_name" property="listView" jdbcType="VARCHAR" />
    </resultMap>


    <!--<select id="" parameterType="" resultMap="">-->
       <!--SELECT pt.end_time,pt.task_name,tu.u_name,-->
       <!--(SELECT relation_name FROM prm_relation pr1 WHERE pr1.relation_id=pr.parent_id) AS task_group,pr.relation_name-->
       <!--FROM prm_task pt-->
       <!--LEFT JOIN prm_relation pr ON pt.task_menu_id = pr.relation_id-->
       <!--LEFT JOIN tb_user tu ON pt.executor=tu.u_name-->
       <!--WHERE pt.task_status='未完成'-->
       <!--AND (SELECT pr1.relation_name FROM prm_relation pr1 WHERE pr1.relation_id=pr.parent_id) IN ('任务3','任务5')  &#45;&#45; 按分组查询-->
       <!--AND tu.u_name IN ()            &#45;&#45; 按成员查询  可以是 u_id 也可以是 u_name-->
       <!--AND  pt.parent_id!='0'            &#45;&#45; 按是否是子任务查询-->
       <!--AND pt.task_del = 0-->
    <!--</select>-->




</mapper>